
				
							
							
					<div id="left_block"  class="form_page">
							<form method="post" id="edit_form" action="<?=$this->currentModule?>/edit/<?=$this->item->id ? 'id/'.$this->item->id.'/' : ''?><?=$this->peoples_id ? 'peoples_id/'.$this->peoples_id.'/' : ''?>" enctype="multipart/form-data"  >
							<?if ($this->ok==1) {?>
								<p align="center"><font color="green"><b>Данные сохранены</b></font></p>
							<?} ?>							
							<?if ($this->err==1) {?>
								<p align="center"><font color="red"><b>Необходимо заполнить поля помеченные звёздочкой</b></font></p>
							<?} ?>	
							
							<div class="content_block">
						       	<p class="form_name">Номер <p>
								<?=$this->formText('edit[number]', $this->item->number) ?>							
						        <p class="form_name">Имя, город <p>
								
								<?=$this->formText('edit[name]', $this->item->name);	?>
                                                        <p class="form_name">Дата <p>
                                                        <?=$this->formText('edit[created_at]', $this->item->created_at, array('class'=>'text', 'id' => 'datepicker')) ?>
                                                        <p class="form_name">Вопрос* <p>

								<?$this->fck_q->Value = $this->item->question;
													$this->fck_q->Create();	?>

								<p class="form_name">Ответ</p>
								<?$this->fck_a->Value = $this->item->answer;
													$this->fck_a->Create();	?>
								
								
								<p class="form_name">Активный <span class="ser_text size11">(На сайте отображаются только активные элементы)</span></p>
								<?=$this->formCheckbox('edit[active]', null, array('class'=>'checkbox', 'checked'=>$this->item->active)) ?> Да
								
								<input type="hidden" name="id" value="<?=$this->item->id ?>">	
						      </div>
						      <div class="right">
						        <button class="orange" type="button" onclick="location.href='<?=$this->currentModule?>'"><span><em>Отменить</em></span></button>
						        <button  type="submit"><span><em>Сохранить</em></span></button>
						      </div>
														
													
														
							</form>
</div>
<div id="right_block">
      <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
          <li><a href="<?=$this->currentModule?>/edit/">Создать новый элемент</a></li>
          <li><a href="<?=$this->currentModule?>">Вернуться к списку вопросов</a></li>
        </ul>        
      </div>      
  </div>							
							