.overflow { zoom:1;}
.width {
width: expression( ( document.getElementById('minmax') && document.getElementById('minmax').clientWidth < 1000 ) ? '1000px' :	( document.getElementById('minmax') && document.getElementById('minmax').clientWidth < 1400 ) ? '100%' :	'1400px' );
}
.left_menu .lm_bottom {height:180px;}
