.jcarousel-skin-tango .jcarousel-container {

}

.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 1147px;
    padding: 5px 25px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  1146px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 177px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 15px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 70px;
    right: 5px;
    width: 15px;
    height: 30px;
    cursor: pointer;
    background: transparent url(/img/arrow_right.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/img/arrow_right.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 70px;
    left: 5px;
    width: 15px;
    height: 30px;
    cursor: pointer;
    background: transparent url(/img/arrow_left.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/img/arrow_left.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}


.jcarousel-skin-item .jcarousel-container {

}

.jcarousel-skin-item .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-item .jcarousel-container-horizontal {
    width: 300px;
    padding: 20px 35px;
}

.jcarousel-skin-item .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-item .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-item .jcarousel-clip-horizontal {
    width:315px;
    height: 77px;
}

.jcarousel-skin-item .jcarousel-clip-vertical {
    width:  77px;
    height: 245px;
}

.jcarousel-skin-item .jcarousel-item {
    width: 100px;
    height: 77px;
}

.jcarousel-skin-item .jcarousel-item:hover,
.jcarousel-skin-item .jcarousel-item:focus {
}

.jcarousel-skin-item .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right:5px;
}

.jcarousel-skin-item .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 7px;
    margin-right: 0;
}

.jcarousel-skin-item .jcarousel-item-vertical {
    margin-bottom: 7px;
}

.jcarousel-skin-item .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-item .jcarousel-next-horizontal {
    position: absolute;
    top: 22px;
    right: -5px;
    width: 24px;
    height: 58px;
    cursor: pointer;
    background: transparent url(/img/right_arrow.png) no-repeat 0 0;
}

.jcarousel-skin-item .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/img/right_arrow.png);
}

.jcarousel-skin-item .jcarousel-next-horizontal:hover,
.jcarousel-skin-item .jcarousel-next-horizontal:focus {
}

.jcarousel-skin-item .jcarousel-next-horizontal:active {
}

.jcarousel-skin-item .jcarousel-next-disabled-horizontal,
.jcarousel-skin-item .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-item .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-item .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}

.jcarousel-skin-item .jcarousel-prev-horizontal {
    position: absolute;
    top: 22px;
    left: 5px;
    width: 24px;
    height: 58px;
    cursor: pointer;
    background: transparent url(/img/left_arrow.png) no-repeat 0 0;
}

.jcarousel-skin-item .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/img/left_arrow.png);
}

.jcarousel-skin-item .jcarousel-prev-horizontal:hover,
.jcarousel-skin-item .jcarousel-prev-horizontal:focus {
}

.jcarousel-skin-item .jcarousel-prev-horizontal:active {
}

.jcarousel-skin-item .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-item .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-item .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-item .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-item .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.gif) no-repeat 0 0;
}

.jcarousel-skin-item .jcarousel-next-vertical:hover,
.jcarousel-skin-item .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-item .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-item .jcarousel-next-disabled-vertical,
.jcarousel-skin-item .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-item .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-item .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-item .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.gif) no-repeat 0 0;
}

.jcarousel-skin-item .jcarousel-prev-vertical:hover,
.jcarousel-skin-item .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-item .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-item .jcarousel-prev-disabled-vertical,
.jcarousel-skin-item .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-item .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-item .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}







.jcarousel-skin-div {
	padding-bottom: 15px;
}

.jcarousel-skin-div .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-div .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-div .jcarousel-item {
    width: 189px;
    padding-top: 15px;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-div .jcarousel-next-horizontal {
    position: absolute;
    top: 70px;
    right: -20px;
    width: 15px;
    height: 30px;
    cursor: pointer;
    background: transparent url(/img/arrow_right.png) no-repeat 0 0;
}

.jcarousel-skin-div .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/img/arrow_right.png);
}

.jcarousel-skin-div .jcarousel-next-disabled-horizontal,
.jcarousel-skin-div .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-div .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-div .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}

.jcarousel-skin-div .jcarousel-prev-horizontal {
    position: absolute;
    top: 70px;
    left: -20px;
    width: 15px;
    height: 30px;
    cursor: pointer;
    background: transparent url(/img/arrow_left.png) no-repeat 0 0;
}

.jcarousel-skin-div .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/img/arrow_left.png);
}

.jcarousel-skin-div .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-div .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-div .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-div .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}




.jcarousel-skin-ie7 .jcarousel-container {

}

.jcarousel-skin-ie7 .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
    width: 555px;
    padding: 20px 40px;
}

.jcarousel-skin-ie7 .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-ie7 .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    width:566px;
    height: 148px;
}

.jcarousel-skin-ie7 .jcarousel-clip-vertical {
    width:  77px;
    height: 245px;
}

.jcarousel-skin-ie7 .jcarousel-item {
    width: 177px;
    height: 148px;
}

.jcarousel-skin-ie7 .jcarousel-item:hover,
.jcarousel-skin-ie7 .jcarousel-item:focus {
}

.jcarousel-skin-ie7 .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right:14px;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 7px;
    margin-right: 0;
}

.jcarousel-skin-ie7 .jcarousel-item-vertical {
    margin-bottom: 7px;
}

.jcarousel-skin-ie7 .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
    position: absolute;
    top: 54px;
    right: -5px;
    width: 24px;
    height: 58px;
    cursor: pointer;
    background: transparent url(/img/right_arrow.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/img/right_arrow.png);
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-horizontal:focus {
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:active {
}

.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
    position: absolute;
    top: 54px;
    left: 5px;
    width: 24px;
    height: 58px;
    cursor: pointer;
    background: transparent url(/img/left_arrow.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/img/left_arrow.png);
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-horizontal:focus {
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:active {
}

.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.gif) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-next-vertical:hover,
.jcarousel-skin-ie7 .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-ie7 .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-ie7 .jcarousel-next-disabled-vertical,
.jcarousel-skin-ie7 .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-ie7 .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-ie7 .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-ie7 .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.gif) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-vertical:hover,
.jcarousel-skin-ie7 .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-ie7 .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-ie7 .jcarousel-prev-disabled-vertical,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
