@media screen and (max-width: 1240px) {
    .social_icons > div{
        margin: 0!important;
        text-align: center;
    }
    .social_icons img{
        float: none;
    }
    .phones_title {
        width: 155px;
        height: 32px;
        margin-bottom: 13px;
        margin-left: -4px;
        overflow: hidden;
    }
    .header_right{
        margin-left: 0;
    }
    .horizontal_menu li:nth-child(13) {
        width: 143px;
        font-size: 12px;
    }
    .menu_top {
        width: 917px;
    }
    .gallery_main .slick-prev {
        right: 75%;
    }
    .gallery_main .slick-next {
        left: 75%;
    }
    .gallery_main_title {
        margin-right: 0;
        right: 24%;
        top: 64%;
    }
    .slick-dots{
        margin-left: 0;
    }
    .additional_photos{
        margin-left: 0;
    }
    .feedback_sub{
        margin-top: 90px;
    }
    .complect{
        padding: 10px 0 0 0;
    }
    .complect_option{
        padding: 0 0 10px 0;
        width: 100%;
        float: none;
    }
    .content_top_right_side{
        width: 840px;
        padding-left: 10px;
    }
    .content_top_right_side_sub{
        width: 790px;
    }
    .input_big {
        width: 730px;
    }
    .footer_right_side {
        width: 255px;
        float: right;
    }
    .footer_info{
        padding: 10px 0 0 0;
    }
    .footer_center {
        width: 570px;
    }
    .tovar_right_side {
        margin-right: 0;
        width: 70%;
    }
    .tovar_image_big {
        width: 480px;
    }
    .additional_tovar_block{
        margin-left: 10px;
    }
    .option_information {
        margin-left: 5px;
    }
    .tovar_image {
        margin-left: 0;
    }
    .dd{
        width: 80%!important;
    }
    .tovar_left_side{
        width: 25%;
        padding-top: 44px;
        margin-right: 0;
    }
    .additional_tovar_block form .one_option {
        padding: 10px;
    }
    .tovar_info {
        margin-left: 3px;
        width: 220px;
        margin-top: -7px;
    }
    .fingers .arrowRight2 {
        left: 69px;
        margin-left: 0;
        margin-top: 0;
        top: -25px;
    }

    .fingers .arrowLeft2 {
        left: 21px;
        margin-left: 0;
        margin-top: 0;
        top: -25px;
    }
    .footer_form {
        width: 250px;
        height: auto;
        padding-bottom: 10px;
        margin: 55px auto 0;
    }
    .footer_form form {
        margin:0 0 0 5px;
        width: 235px;
    }
    .footer_form p {
        padding: 5px;
    }
    .footer_form form .footer_form_mail {
        font-size: 15px;
        width: 120px;
    }

    .footer_form form .footer_form_btn {
        font-size: 11px;
        width: 95px;
    }
}
@media screen and (max-width: 1200px) {
    .footer_left_side {
        width: 313px;
        padding: 10px 0 10px 0;
    }
    .small_review {
        width: 27%;
        height: auto;
        margin: 0 1%;
    }
    .small_review_image{
        padding: 10px;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    }
    .menu_li a.url_top {
        font-weight: normal;
        padding: 20px 10px;
    }
    .small_review_image img {
        margin-top: 0;
        margin-bottom: 0;
        height: auto!important;
        width: 100%!important;
    }
    .small_review_title {
        background: none;
        display: inline-block;
        margin-top: 0;
        padding-top: 10px;
        text-align: center;
        width: 100%;
    }
    .menu_top {
        width: 828px;
    }
    .h1 {
        width: 65%;
    }
    .order_wrapper {
        padding: 30px 40px 10px 40px;
    }
    .korz4 {
        width: 100px;
    }
    .basket_forth{
        width: 98px;
    }
    .korz3 {
        width: 110px;
    }
    .basket_third{
        width: 112px;
    }
    .footer_left_side {
        width: 320px;
    }
    .footer_right_side {
        width: 240px;
    }
    .social_icons > div{
        margin: 0!important;
    }
}
@media screen and (max-width: 1160px) {
    .footer_left_side {
        width: 292px;
    }
}
@media screen and (max-width: 1130px) {
    .footer_form form .footer_form_mail {
        font-size: 15px;
        width: 111px;
    }
    .content_top_right_side {
        width: 754px;
    }
    .input_big {
        width: 730px;
    }
    .social_icons img {
        max-width: 30px;
    }
    .menu_left ul li a,
    .menu_right ul li a,
    .menu_center ul li a{
        line-height: 1.2;
    }
    .footer_left_side {
        width: 285px;
    }
    .footer_right_side {
        width: 205px;
    }
    .footer {
        background: url("../img/footer_midle.png") 56% 0 no-repeat;
    }
    .footer_form {
        width: 225px;
        height: auto;
        padding-bottom: 10px;
        margin: 50px auto 0;
    }
    .footer_form form {
        width: 208px;
    }
    .footer_form form .footer_form_btn {
        font-size: 9px;
        width: 77px;
    }
    .footer_form form .footer_form_mail {
        padding: 8px 0;
    }
}
@media screen and (max-width: 1080px) {
    .footer_right_side {
        width: 190px;
    }
    .footer {
        background: url("../img/footer_midle.png") 57% 0 no-repeat;
    }
    .menu_li a.url_top {
        font-size: 14px;
    }
    .menu_top {
        width: 762px;
    }
    .contacts_form,
    .order_form{
        background: none;
    }
    .fast_buy_form .order_form{
        background: #f0eae7;
    }
    .footer_left_side {
        width: 260px;
        padding-right: 0;
    }
    .order_wrapper{
        padding: 30px 0 10px!important;
    }
    .fast_buy_form .order_wrapper{
        padding: 0!important;
    }
    .row_title{
        width: 200px;
    }
    .korzina_img{
        width: 240px;
    }
    .korz1,
    .basket_first{
        width: 456px;
    }
}
@media screen and (max-width: 1060px) {
    .footer_left_side {
        width: 249px;
    }
}
@media screen and (max-width: 1024px) {

    .basket_sub:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2091c+0,ff5b58+100 */
        background: rgba(0, 0, 0, 0) url("../img/basket_ico1.png") no-repeat 6px 50%;

    }
    .one_option ul li img {
        height: 40px;
        width: 30px;
    }
    #color_msdd .ddChild li .ddlabel,
    #clr_msdd .ddChild li .ddlabel{
        display: block;
        margin-left: 35px;
    }
    .phones_phones p span {
        font-size: 12px;
    }
    .gallery_main .slick-prev {
        display: none!important;
    }
    .gallery_main .slick-next {
        display: none!important;
    }
    .gallery_main_title {
        display: none!important;
    }
    .slick-dots{
        display: none!important;
    }
    .history_img{
        background: url("../img/hist.png") no-repeat;
        width: 39px;
        height: 173px;
    }
    .history{
        right: -5px;
    }
    .history_img img{
        display: none;
    }
    .division_one_small{
        padding: 10px 6px;
        /*width: 169px;*/
    }
    .header_image{
        display: none;
    }
    .submenu_li{
        line-height: 1.6;
    }
    .menu_catalog{
        padding-right: 0;
    }
    .menu_li a.url_top{
        padding: 0;
    }
    /*.news_title{*/
        /*margin-top: -15px;*/
    /*}*/
    .phones_block{
        padding: 10px;
    }
    .phones_block .phones_title{
        margin-left: -29px;
        margin-top: -20px;
    }
    .additional_div_block .division_title_middle,
    .tips{
        margin-left: -15px;
    }
    .division_title,
    .related_tovars .division,
    .related_tovars .division_title{
        margin: 0 0 25px 0!important;
    }
    .division_title{
        padding-top: 25px;
    }
    .division_title_middle{
        display: inline-block;
        float: none;
        padding: 0 20px;
        width: auto;
        height: 35px;
        border-radius: 0 12px 12px 0;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fea161+0,da6a1b+100 */
        background: #fea161; /* Old browsers */
        background: -moz-linear-gradient(top,  #fea161 0%, #da6a1b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fea161), color-stop(100%,#da6a1b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fea161 0%,#da6a1b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea161', endColorstr='#da6a1b',GradientType=0 ); /* IE6-9 */
    }
    .content_top_left_side{
        z-index: 5;
    }
    .division_title_right,
    .division_title_left{
        display: none;
    }
    .big_review{
        padding-top: 15px;
    }
    .review_title,
    .main_division_title_spec{
        border-radius: 0 12px 12px 0;
        margin: 0;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fea161+0,da6a1b+100 */
        background: #fea161; /* Old browsers */
        background: -moz-linear-gradient(top,  #fea161 0%, #da6a1b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fea161), color-stop(100%,#da6a1b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fea161 0%,#da6a1b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea161', endColorstr='#da6a1b',GradientType=0 ); /* IE6-9 */
    }
    .review_title{
        margin-top: -15px;
        height: 30px;
    }
    .review_title:hover{
        text-decoration: none;
    }
    .content_top_right_side_sub,
    .content_top_right_side{
        width: 100%;
    }
    .basket_sub a:hover{
        text-decoration: none;
    }
    .h_mob_bg{
        display: block;
        z-index: 1000;
    }
    .basket_sub{
        border-radius: 0;
        text-align: left;
        z-index: 10000;
    }
    .mob_menu{
        display: block;
        z-index: 9999;
    }
    .feedback{
        top: 210px;
        left: 20px;
    }
    .phones_block{
        background: none;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    .search_form{
        margin: 0;
    }
    .logo_opasity,
    .input_search,
    #search{
        display: none;
    }
    .main_search_button{
        top: 0;
        position: static;
    }
    .breadcrumbs {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    .tovar_content_dostavka{
        background: none;
        margin: 0;
    }
    .footer_right_side {
        float: right;
        width: 60%;
    }
    .social_icons {
        float: right;
        margin: 60px 0 0 0;
    }
    .footer_info{
        float: left;
    }
    .toggle-search-btn{
        display: block;
    }
    .toggle-menu-btn{
        display: block;
        z-index: 1001;
    }
    .toggle-menu-btn.active{
        background-color: #d7c7bf;
    }
    .menu_top{
        display: none;
        position: fixed;
        top: 50px;
        right: 0;
        left: 0;
        background: #dacac2;
        z-index:1000;
        height: auto;
        width: auto;
        max-height: 330px;
    }
    .menu_top .mob_menu_close_1{
        display: block;
    }
    .horizontal_menu{
        overflow-y: auto;
        max-height: 290px;
    }
    .menu_li{
        float: none;
        height: auto;
        text-align: center!important;
        line-height: 1.8!important;
        width: 100%!important;
        border-bottom: 1px solid #9a7d6f;
        padding: 0!important;
        font-size: 16px!important;
        margin: 0;
    }
    .submenu_li{
        display: block;
        text-align: center;
        background: none;
    }
    .menu_li a.url_top{
        color: #453731;
        font-weight: normal;
        text-transform: none;
    }
    .menu_catalog a.url_low{
        color: #453731;
        font-weight: normal;
        text-transform: none;
    }
    .menu_catalog{
        float: none;
        margin: 0;
    }
    .menu_li:hover{
        background-color: #cd9376;
    }
    .menu_li:nth-child(2n){
        display: none;
    }
    .menu_li.more_menu{
       background: url("../img/more_menu.png") 95% 5px no-repeat;
    }
    .submenu{
        position: static;
        list-style: none;
        border-radius: 0;
    }
    .search_form{
        display: none;
    }
    .niceCheck.search_form{
        display: block;
    }
    .search_form.opened{
        display: block;
    }
    .phones_block {
        margin: 75px 0 0 22px;
        background: #f0eae7;
        height: 150px;
    }
    .home_banner_slider{
        display: none;
    }
    .header_left{
        float: none;
        padding-top: 50px;
    }
    .header{
        padding-top: 0;
    }
    .basket_sub a{}
    .basket_sub span{
        display: none;
        text-indent: -1000px;
    }
    .basket_sub{
        background: url("../img/basket_ico1.png") 6px 50% no-repeat;
        border-left: 1px solid #d7c7bf;
        margin: 0;
        padding-left: 27px;
        position: fixed;
        right: 0;
        top: 0;
        width: 30px;
        height: 50px;
    }
    .basket_sub a span{
        text-indent: -1000px;
    }
    .basket_sub a{
        text-decoration: none;

    }
    .basket_sub i {
        display: block;
        color: #9f8477;
        font-weight: bold;
        border-radius: 15px;
        padding: 0 0 0 8px;
        font-size: 15px;
        line-height: 50px;
    }
    .footer_center{
        display: none;
    }
    .ya_share{
        display: none;
    }
    .tovar_right_side{
        margin-right: 5px;
        width: 710px;
    }
    .additional_tovar_block{
        margin-left: 5px;
    }
    .tovar_image{
        margin: 0;
    }
    .additional_tovar_block form .one_option {
        padding: 10px 8px 0 8px;
    }
    .option_information{
        display: none;
    }
    .tovar_info{
        width: 200px;
    }
    .phones_title {
        margin-left: -36px;
    }
    .tovar_delivery{
        width: 165px;
    }
    .feedback_sub {
        left: auto;
        margin: 0;
        right: 0;
        top: 106px;
    }
    .phones_block_sub{
        background: #f0eae7;
        padding-left: 17px;
        height: 173px;
    }
    .content_wrapper_sub{
        margin-top: 0;
    }
    .content_top_left_side_sub {
        float: none;
        right: 78px;
        position: absolute;
        top: 65px;
        width: 180px;
    }
    .phones_works{
        margin: 0;
    }
    .ddlabel,
    .additional_tovar_block .tovar_info_title p,
    .one_option label{
        font-size: 12px;
    }
    .top_tovar_block .tovar_h1{
        padding: 10px 0 0 0;
        overflow: hidden;
        height: 42px;
    }
    .tovar_h1 h1 {
         font-size: 14px;
    }
    .tovar_price{
        font-size: 16px;
    }
    .right_links p a,
    .guarantee{
        font-size: 12px;
    }
    .tovar_info_availability{
        padding: 10px 15px 0 15px;
    }
    .complect_option img{
        display: none;
    }
    .sub_content .complect_option p{
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
    .tovar_info,
    .additional_tovar_block{
        background: #fff;
    }
    .view_more a{
        padding: 15px 0;
    }
    .action_tovar{
        margin-top: -7px!important;
    }
    .h_search{
        display: block;
        z-index: 10000;
    }
    .divisions.related_divs{
        padding: 0 8px!important;
    }
    .simple_reviews .big_review_img img{
        margin-left: 0;
    }
    .simple_reviews .big_review_img{
        float: left;
    }
    .sub_content {
        padding: 15px;
    }
    .arrow_image{
        display: none!important;
    }
    .phones_phones p{
        font-size: 16px;
        margin: 0;
        line-height: 1;
    }
    .phones_phones p:nth-child(even) span{
        text-align: left;
        font-size: 13px;
        margin: 4px 0;
    }
    .main_content_text{
        padding: 15px 15px 25px 15px;
    }
    .main_soft_divisions{
        padding: 20px 0 10px 0;
    }
    .sub_content .fast_buy:before,
    .sub_content .button_buy_right a:before{
        display: none;
    }
    .sub_content .fast_buy,
    .sub_content .button_buy_right a{
        padding-left: 0;
    }
    .footer{
        background: none;
    }
    .logo_f{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .footer_form,
    .social_icons,
    .footer_info{
        margin-top: 10px;
    }
    /*spam*/
    .lt-label-event,
    .lt-label-touch,
    .lt-invite-popup-inner,
    .lt-xbutton-main-wrapper,
    .lt-label,
    .lt-widget-wrap{
        display: none!important;
    }
    /*end*/
}
@media screen and (max-width: 980px) {
    .division_one_small {
        width: 30%;
    }
    .contacts_item {
        width: 80%;
        margin: auto;
        display: block;
        float: none!important;
    }
    .small_review_image {
        padding: 5px;
    }
    .h1 {
        width: 100%;
        box-sizing: border-box;
    }
    .phones_phones span {
       margin: 0;
        color: #000;
    }
    .phones_phones p{
        color: #000;
    }
    .phones_block_sub .phones_phones {
        margin-top: -5px;
    }
    .phones_phones {
        margin-top: 7px;
    }
    .gallery_main_wrap{
        display: none;
    }
    .product_table table th{
        font-size: 13px;
    }
    .photo img,
    .photo{
        width: 90px;
        height: 60px;
    }
    .footer_left_side{
        margin-left: 20px;
    }
    .phones_block_sub{
        background: transparent;
    }
    .phones_title,
    .body_bg,
    .titles{
        display: none;
    }
    .logo{
        width: 65%;
        padding: 35px;
        box-sizing: border-box;
    }
    .logo img{
        display: none;
    }
    .logo img.logo_h_mob{
        display: block;
        max-width: 100%;
    }
    .phones_block{
        float: right;
        height: 90px;
        background: transparent;
        margin-top: -154px;
        width: 30%;
    }
    .phones_phones span{
        text-align: left;
    }
    .phones_works {
        margin: 4px 0 0 0;
    }
    .old_price span{
        display: block;
    }

    .korzina_top{
        font-size: 14px;
    }
    .korz4 {
        width: 105px;
    }
    .basket_forth {
        width: 60px;
    }
    .basket_second{
        width: 130px;
    }
    .korz2{
        width: 120px;
    }
    .korz1, .basket_first {
        width: 330px;
    }
    .korzina_img img{
        margin: 24px 0 0 0;
    }
    .korzina_img{
        background: none;
        width: 40%;
        height: auto;
    }
    .korzina_img img {
        margin-top: 12px;
        margin-left: 0;
        max-width: 100%;
    }
    .row_title{
        width: 58%;
        margin-left: 2%;
    }
    .old_price{
        font-size: 10px;
        padding: 0;
        margin: 0;
        width: 80%;
    }
    .tovar_left_side{
        padding-top: 52px;
    }
    .tovar_right_side{
        width: 75%;
        margin-right: 0;
    }
    .review_description{
        margin: 0;
    }
    .dd{
        width: 100%!important;
    }
    .big_review_img{
        float: none;
    }
    .tovar_image{
        width: 65%;
        padding-bottom: 15px;
    }
    .tovar_info{
        width: 35%;
        margin: 0;
    }
    .right_links,
    .guarantee{
        display: none;
    }
    .tovar_image_big {
        background: none;
        border: 5px solid #f0eae7;
        height: auto;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }
    .tovar_image_big img{
        margin: 0;
        max-width: 100%;
        height: auto;
    }
    .tovar_info_title p{
        text-indent: 0;
    }
    .tovar_delivery {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        height: auto;
        width: auto;
    }
    .tovar_delivery p span {
        color: #000;
        line-height: 1.2;
    }
    .fingers .arrowRight2 {
        background-color: #f0eae7;
        background-position: 50% 50%;
        height: 50px;
        left: 120px;
        top: -50px;
        width: 50px;
    }
    .fingers .arrowLeft2 {
        background-color: #f0eae7;
        background-position: 50% 50%;
        height: 50px;
        width: 50px;
        left: 20px;
        top: -50px;
    }
    .fingers .arrowRight2:hover,
    .fingers .arrowLeft2:hover{
        background-color: #F7F3F2;
    }
    .sort a{
        margin-left: 10px;
        padding-right: 10px;
    }
    .breadcrumbs span{
        padding-left: 7px;
        padding-right: 10px;
        line-height: 1.8;
    }
    /*.main_block_descr img{*/
        /*width: 100%;*/
        /*height: auto;*/
    /*}*/
    /*.division_tovar_one{*/
        /*background: none;*/
        /*padding: 10px 0;*/
        /*width: 350px;*/
    /*}*/
    /*.division_tovar_one:hover{*/
        /*background: none;*/
    /*}*/
    .order_wrapper .order_option textarea{
        float: none;
    }
}
@media screen and (max-width: 750px) {
    .row_title{
        text-align: center;
    }
    .one_option ul li img {
        height: 40px;
        width: 60px;
    }
    .dd .ddChild li .ddlabel {
        display: block;
    }
    #color_msdd .ddChild li .ddlabel,
    #clr_msdd .ddChild li .ddlabel{
        margin-left: 65px;
    }
    .sort{
        padding-bottom: 20px;
    }
    .basket_ok_info_item{
        width: 100%;
        padding-bottom: 6px;
    }
    .basket_ok_info_item p{
        font-size: 14px;
    }
    .logo img{
        display: block;
        max-width: 100%;
    }
    .logo img.logo_h_mob{
        display: none;
    }
    .logo, .phones_block{
        width: 30%;
    }
    .logo {
        padding: 0 0 0 10px;
        min-height: 105px;
        float: left;
    }
    .fast_buy_form .order_wrapper {
        width: 610px;
    }
    .fast_buy_form .fast_buy_options{
        width: 250px;
    }
    .fast_buy_form .fast_buy_options .w_320 {
        width: 200px;
    }
    .fast_buy_close{
        margin-left: 580px;
    }
    #send_fast_zakaz{
        margin-left: 469px!important;
    }
    .korzina_top,
    .korzina_body{
        padding: 10px;
    }
    .korzina_img{
        width: 100%;
    }
    .row_title{
        width: 100%;
        margin: 0;
    }
    .korz4{
        display: none;
    }
    .basket_forth{
        width: 30px;
    }
    .basket_row_info .basket_third{
        display: none;
    }
    .history{
        display: none;
    }
    .division_tovar_one,
    .main_spec .main_division_one_picture_main{
        background: none;
        width: 45%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        background: #eee;
        margin: 5px 2%;
    }
    .feedback_sub {
        top: 78px;
    }
    .main_soft_divisions_new{
        text-align: center;
    }
    .main_spec .division_one_name_small{
        width: 100%;
        padding: 0;
        overflow: visible;
        height: auto;
    }
    .division_tovar_one_name,
    .division_one_name_small_title{
        margin-bottom: 5px;
        height: auto;
    }
    .division_tovar_one_name,
    .division_one_name_small_title a {
        font-size: 13px;
    }
    .division_tovar_one_price,
    .main_spec .division_one_price_small span{
        font-size: 12px;
    }
    .main_spec .division_one_price_small{
        height: auto;
        font-size: 12px;
    }
    .main_spec .spec_img{
        padding: 0;
    }
    .action_ico{
        left: -10px;
        top: -8px;
    }
    .division_tovar_one_photo img,
    .main_spec .spec_img img{
        max-width: 100%!important;
        padding: 0;
        height: auto!important;
    }
    .header_image{
        display: none;
    }
    .content_top_left_side_sub {
        left: auto;
        top: 88px;
        width: 165px;
        height: auto;
    }
    .division_tovar_one_photo{
        margin: 0;
        width: 100%;
    }
    .content_wrapper_sub{
        margin-top: 0;
    }
    /*.division_tovar_one:hover{*/
        /*height: auto;*/
        /*box-shadow: 1px 1px 4px rgba(0,0,0,0.4);*/
        /*background: none;*/
    /*}*/
    .main_spec .picture_main_new:hover {
        height: auto;
        margin-top: 5px;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    }
    .phones_block{
        margin: 20px 0 0 0;
    }
}
@media screen and (max-width: 700px) {
    .calc_select {
        width: 100%;
    }
    .search_form input[type="checkbox"] + label {
        padding-left: 20px;
    }
    .main_block_descr img{
        height: auto!important;
    }
    .phones_phones p span{
        font-weight: bold;
    }
    .see_more_table,
    .product_table{
        display: none;
    }
    .phones_block{
        height: 100px;
    }
    .page_action_left{
        width: 35%;
    }
    .page_action_image img{
        width: 100%;
        height: auto;
    }
    .page_action_right {
        margin-left: 37%;
    }
    .sub_content .page_action_intro p{
        font-size: 14px;
    }
    .contentTextBlock{
        display: none;
    }

    .contacts_bth {
        float: none;
        margin: 20px 0 -20px 0;
    }
    .tovar_right_side .top_tovar_block{
        float: none;
    }
    .sort {
        padding-left: 20px;
    }
    #price{
        margin-left: 0;
    }
    .sort span{
        display: block;
        padding-bottom: 10px;
    }
    .sort a span {
        display: inline;
        font-size: 16px;
        padding: 0;
    }
    .division_tovar_one{
        /*margin: 15px auto 0;*/
        float: none;
    }
    /*.sort .price{*/
        /*text-align: center;*/
        /*padding: 0;*/
    /*}*/
    .sub_content p{
        text-indent: 0;
        font: 12px/24px Arial;
    }
    .sub_content .review_title p{
        margin-left: 35px;
    }
    .simple_reviews .big_review_img{
        float: none;
        margin: auto;
    }
    .simple_reviews_descr{
        margin-left: 0;
    }
    .tovar_right_side {
        float: none;
        width: 95%;
        margin: auto;
    }
    .additional_photos{
        display: none;
    }
    .tovar_left_side{
        margin: auto;
        width: 95%;
        padding: 0;
        float: none;
    }
    .additional_tovar_block{
        width: 100%;
        max-width: 100%;
    }
    .dd{
        max-width: 95%;
    }
    .additional_tovar_block form .one_option{
        padding: 10px 0;
    }
    .tovar_image{
        width: 100%;
        float: none;
        padding-bottom: 20px;
    }
    .tovar_info{
        float: none;
        width: 100%;
    }
    .tovar_h1 h1 {
        font-size: 19px;
    }
    .top_tovar_block .tovar_h1{
        height: auto;
        padding: 15px 0;
    }
    .sub_content p{
        font-size: 18px;
    }
    .fast_buy{
        display: none!important;
    }
    .right_links p a, .guarantee {
        font-size: 18px;
    }
    .ddlabel, .additional_tovar_block .tovar_info_title p, .one_option label {
        font-size: 18px;
    }
    .tovar_content_dostavka{
        padding: 10px 0 15px 0;
        width: 90%;
        margin: auto;
    }
    .footer_left_side,
    .social_icons{
        display: none;
    }
    .footer_info{
        float: none;
        width: 100%;
    }
    .footer_right_side{
        float: none;
        width: 90%;
        text-align: center;
        margin: auto;
    }
    .complect_option{
        float: none;
        width: 100%;
    }
    .complect{
        box-shadow: none;
    }
    .complect_option a{
        font-size: 16px;
    }
    .sub_content {
        min-height: auto;
    }
}
@media screen and (max-width: 650px) {
    .content_top_left_side_sub {
        top: 76px;
    }
    .arrow_box{
        display: none!important;
    }

    .sort {
        padding-left: 0;
    }

    .listing_divisions .tips{
        margin: 0;
        width: auto!important;
        height: auto!important;
    }
    .listing_divisions .division_title_middle{
        background: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        height: auto;
    }
    .listing_divisions .view_more a > span{
        display: none;
    }
    .listing_divisions .view_more span,
    .listing_divisions .view_more a{
        color: #896054;
        font-style: normal;
        text-decoration: none;
        font-weight: normal;
    }
    .listing_divisions .division_title{
        padding: 0;
        margin: 0!important;
    }
    .listing_divisions .tip_p{
        padding: 0;
    }
    .listing_divisions p a{
        color: #896054;
    }
    .main_block_descr object embed,
    .main_block_descr object{
        max-width: 100%!important;
    }
    .item_proizv img,
    .main_block_descr img{
        max-width: 100%!important;
        height: auto!important;
        width: auto!important;
        margin: 10px auto 10px!important;
        float: none!important;
        display: block!important;
        border: 0!important;
    }
    .korz1, .basket_first {
        width: 200px;
    }
    .korzina_action{
        margin-left: 15px;
    }
    .breadcrumbs{
        display: none;
    }
    .main_search{
        padding-top: 20px;
    }
}
@media screen and (max-width: 590px) {
    .action_product > div{
        width: 44%;
        margin: 0 2% 20px 2%;
    }
    .sort a span {
        font-size: 14px;
    }
    .division_one_small {
        width: 45%;
    }
    .division_tovars{
        text-align: center;
    }
    .division_tovar_one{
        width: 90%;
        margin: 20px 0;
    }
    .contacts_item {
        width: 90%;
    }
    .phones_works p {
        padding-bottom: 0;
    }
    .news_title p{
        text-align: left;
        margin-left: 30px;
    }
    .main_content_bottom_left_side .review_title {
         margin-left: 0;
    }
    /*.content_top_left_side_sub {*/
        /*top: 53px;*/
    /*}*/
    .phones_phones {
        margin-top: -5px;
    }
    .slick-arrow {
        width: 25px;
        height: 40px;
    }
    .main_division_title_spec{
        /*margin: 15px 0 30px 0;*/
        font-size: 18px;
    }
    .slick-next {
        right: -35px;
    }
    .slick-prev {
        left: -35px;
    }
    .phones_phones p,
    .phones_works{
        text-align: left;
    }
    .content_top_left_side_sub {
        left: auto;
        top: 63px;
        right: 0;
        width: 165px;
        height: auto;
    }
    .phones_block{
        margin: 4px 0 0 0;
    }
    .cities_left_side{
        background: none;
        width: 100%;
    }
    .cities_left_side img{
        margin: 0;
    }
    .news_title{
        height: 30px;
        float: left;
        border-radius: 0 12px 12px 0;
        margin: 0;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fea161+0,da6a1b+100 */
        background: #fea161; /* Old browsers */
        background: -moz-linear-gradient(top,  #fea161 0%, #da6a1b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fea161), color-stop(100%,#da6a1b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fea161 0%,#da6a1b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea161', endColorstr='#da6a1b',GradientType=0 ); /* IE6-9 */
    }
    .h_search {
        right: 115px;
    }
    .korz1, .basket_first {
        width: 150px;
    }
    .sort #name,
    .sort .price,
    .sort .title,
    .sort a{
        font-weight: normal;
        width: auto;
        /*padding: 0 10px;*/
    }
    .main_content_bottom_right_side,
    .main_content_bottom_left_side{
        width: 100%;
    }
    .big_review_img{
        margin: auto;
    }
    .all_news{
        max-width: 100%;
        box-sizing: border-box;
    }
    .big_review{
        margin: 0;
    }
    .all_news{
        padding: 40px 15px 0 15px;
    }
    .main_content_bottom_right_side{
        padding-bottom: 0;
    }
    .phones_block_sub{
        height: 130px;
    }
    .h1{
        padding: 20px 15px 5px 15px;
    }
    .table_overflow{
        overflow-x: scroll;
    }
}
@media screen and (max-width: 510px) {
    .sort a {
        margin-left: 8px;
        padding-right: 8px;
    }
}
@media screen and (max-width: 470px) {
    .action_product{
        text-align: center;
    }
    .action_product > div{
        width: 90%;
        margin: 0 auto 20px;
    }
    .main_spec {
        margin-top: -30px;
    }
    .sort a{
        border: 0;
    }
    .listing_divisions .slider_item{
        display: none;
    }
    .sub_content .listing_divisions_mob{
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .listing_divisions{
        position: relative;
        background: #F2ECE9;
        padding: 20px;
        margin-bottom: 20px;
    }
    .small_review {
        width: 70%;
        height: auto;
        margin: 0 0 30px 0;
    }
    .main_search{
        display: none;
    }
    .phones_phones p{
        font-weight: normal;
    }
    .phones_phones span {
        font-size: 14px;
    }
    .phones_works .bold {
        font-weight: normal;
        font-size: 12px;
    }
    .phones_phones p:nth-child(even) span {
        font-size: 12px;
        margin: 2px 0 4px 0;
    }
    .additional_div_block {
        margin-top: 0;
    }
    .division{
        /*display: none;*/
    }
    .phones_works p {
        padding-bottom: 0;
        line-height: 1.2;
    }
    .phones_phones p {
        font-size: 12px;
        line-height: 1;

    }
    .calc_select label {
        display: block;
    }
    .arrow_box{
        display: none;
    }
    .basket_ok .basket_ok_table table {
        font-size: 13px;
    }
    .basket_ok{
        padding: 20px 10px;
    }
    .division_mob_none{
        display: none;
    }
    .contacts_map_margin{
        width: 100%;
        position: static;
    }
    .content_top_left_side_sub {
        height: 130px;
        /*top: 55px;*/
    }
    .page_action_left{
        width: 100%;
    }
    .page_action_right{
        margin-left: 0;
    }
    .contacts_item{
        float: none;
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
    .contacts_map {
        width: 100%;
         margin-top: 0;
         padding-left: 0;
        background: none;
    }
    .contentTextBlock .division,
    .tovar_content_dostavka{
        display: none;
    }
    .divisions{
        min-height: 0;
    }
    #search_sm{
        background: #fff;
    }
    .h_mob_search{
        display: block;
        z-index: 5;
    }
    .h_mob_search.active{
        background: url("../img/close_search.png") 50% 50% no-repeat;
    }
    .h_search{
        display: none;
        top: 50px;
        padding: 10px 0;
        right: 0;
        width: auto;
        left: 0;
        background: #fff;
        text-align: center;
    }
    #search_sm{
        width: 80%;
        box-sizing: border-box;
    }
    .korzina_action{
        margin-left: 0;
    }
    .korz1, .basket_first {
        width: 100px;
    }
    .order_option textarea{
        width: 90%;
    }
    .order_wrapper .order_option input{
        width: 90%;
    }
    .division_one_small{
        /*float: none;*/
        /*margin: 0 auto 10px;*/
    }
    .product_slider_cell .division_one_small{
        float: left;
    }
    .sub_content {
        padding: 15px;
    }
    .sub_content p{
        text-indent: 0;
    }
    .simple_reviews_title{
        padding: 0;
    }
    .big_review_img{
        width: 100%;
        background: none;
    }
    .sort #name,
    .sort .price,
    .sort .title,
    .sort a{
        display: block;
        width: 100%;
        padding: 0;
        margin: 10px 0;
    }
    .feedback{
        right: 0;
        top: 5px;
        left: auto;
    }
    .division_tovar_one_photo img.action{
        width: 30%;
    }
    .product_order{
        width: 300px;
        margin-left: -230px;
    }
    .basket_third {
        width: 100px;
    }
    .product_order_name_l{
        font-size: 14px;
    }
    .product_order{
        padding: 0;
    }
    .product_order_button_1{
        float: left;
        margin: 0 auto 0;
    }
    .product_order_inner{
        width: 300px;
        margin-left: 80px;
    }
    .product_order_button{
        width: auto;
    }
    .sub_content .calc_cargo p {
        font-size: 12px;
    }
    .listing_slider_cell{
        display: none!important;
    }
    .divisions .division_one_small{
        display: block;
        margin: 0 auto 15px;
    }

}
@media screen and (max-width: 408px) {
    .main_spec {
        margin-top: -10px;
    }
    .additional_div_block{
        text-align: center;
    }
    .additional_div_block .division_title_middle a{
        color: #5b1300;
    }
    .additional_div_block .division_title_middle{
        margin-left: 0;
        box-shadow: none;
        color: #000;
        background: transparent;
    }
    .division_one_small {
        width: 80%;
        margin: 15px 0;
    }
    .content_top_left_side_sub {
        right: 40px;
    }
    .phones_block_sub .phones_phones {
        margin-top: -11px;
    }
    .main_division_spec{
        padding-top: 20px;
        background: #f8f8f8;
    }


    .main_division_title_spec{
        background: none;
        color: #5b1300;
        text-align: center;
        width: 100%;
        line-height: 1.2;
        height: auto;
        box-shadow: none;

    }
    .main_soft_divisions_new{
        padding-top:10px;
    }
    .niceCheck label {
        font-size: 14px;
    }

    .calc_select .select {
        width: 200px!important;
        /*margin: auto;*/
        /*float: none!important;*/
    }
    .pageTovarBlock_all .calc_select .select {
        width: 100%!important;
    }
    .main_division .slick-slider{
        display: block!important;
    }
    .main_division_one_picture a{
        display: block;
        text-align: center;
    }
    .main_division_one_picture  .action{
        margin-left: 24px!important;
    }
    .main_division_one_picture{
        margin: auto;
    }
    .logo{
        padding-top: 12px;
    }
    .h_mob_search{
        right: 75px;
    }
    .body_bg{
        display: none;
    }
    .phones_block_sub .phones_phones p{
        line-height: 0.8;
    }
    .phones_block_sub,
    .phones_block{
        background: transparent;
    }
    .content_top_left_side_sub{
        top: 72px;
    }
    /*.logo,*/
    .phones_block{
        width: 60%;
        margin: 15px 0 0 0;
        padding: 0;
    }
    .logo{
        /*padding: 35px 15px;*/
    }
    .product_order_name{
        width: 200px;
    }
    .korz2 {
        width: 94px;
    }
    .korz3 {
        width: 95px;
    }
    .basket_second {
        width: 83px;
    }
    .division_tovar_one,
    .main_spec .main_division_one_picture_main{
        width: 92%;
        margin: 0 auto 30px;
    }
    .basket_price {
        font-size: 14px;
    }
    .basket_third {
        width: 66px;
    }
    /*.logo {*/
        /*padding: 15px 15px 25px 15px;*/
        /*min-height: 90px;*/
        /*float: left;*/
    /*}*/

    .phones_block_sub{
        padding: 0 10px 0 0;
        text-align: center;
        margin: auto;
        height: 100px;
        box-sizing: border-box;
    }
    .divisions.related_divs .division_one_small{
        float: none;
        margin: 0 auto 20px;
    }
    .logo a{
        display: block;
        text-align: center;
    }
    .phones_title{
        display: none;
    }
    .listing_slider_cell{
        display: none!important;
    }
}

@media print,(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi) {
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}