@import url('reset.css');
table{
    border-collapse: collapse;
}
a {
    color: #F87F3D;
    text-decoration:underline;
}

article a {
    font-weight: bold;
}

a:hover {
    text-decoration: none; 
}

article h3 {
    padding-bottom: 5px;
}

.main_soft_text h2 {
    padding: 15px 0;
    font-size: 18px;
}


.main_soft_text h3 {
    padding-bottom: 5px;
    font-size: 16px;
}
p{
    font: 12px/14px Arial;
}
h2 {
padding: 15px;
color: #5b1300;
font-size: 18px;
}

h3 {
padding: 15px;
color: #5b1300;
font-size: 18px;
text-align: center;
}


body {
    color:#000;
    font-family: Arial,'Istok Web', sans-serif;
    /*min-width: 1280px;*/
    background: url("/img/bodyBg_03.png") repeat;
    min-width: 320px;
}

.horizontal_menu {
    font-family: 'Times';
    list-style: none outside none;
    padding-left: 0;
}

.all_wrapper {
    overflow:hidden;
}

.body_bg {
    position: absolute;
    z-index: 1;
    width: 1600px;
    margin:auto;
    height: 1268px;
    /*min-width: 1280px;*/
    overflow:hidden;
}

.wrapper {
    position: relative;
    z-index: 2;
    margin: auto;
    max-width: 1210px;
}

.header {
    padding-top: 45px;
}

.clear {
    clear:both;
}

.header_left {
    float:left;
    position: relative;
}

.header_right {
    position: relative;
    float: left;
    margin-left: 42px;
}

.phones_title {
    width: 155px;
    height: 40px;
    margin-left: -20px;
}

.phones_title img {
    margin-top: -2px;
}

.phones_title p {
    font-family: Tahoma;
    font-size: 13px;
    padding-top: 8px;
    padding-left: 12px;
    color: #fff;
}

.phones_title p a{
    color: #fff;
    text-decoration: none;
}

.phones_title p a:hover {
    text-decoration: underline;
}

.phones_block {
    margin-top: 110px;
    background: url(/img/clocks.png) no-repeat left bottom #f0eae7;
    width: 215px;
    height: 180px;
    border-radius: 15px 15px 0 0;
    -webkit-box-shadow: 0px -5px 20px rgba(50, 50, 50, 0.78);
    -moz-box-shadow:    0px -5px 20px rgba(50, 50, 50, 0.78);
    box-shadow: 0px -3px 20px rgba(50, 50, 50, 0.78);
    behavior: url(/css/PIE.htc);
}

.phones_block_sub {
    background: url(/img/clocks.png) no-repeat left bottom #f0eae7;
    width: 215px;
    /*height: 240px;*/
    height: 250px
}

.phones_phones p{
    color: #555556;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    margin: 3px 0 3px 9px;
}
.phones_phones p:nth-child(even) span {
    font-size: 13px;
    color: #D66E25;
    font-weight: bold;
    margin: 0 20px 0 0;
    text-align: right;
    display: block;
}
.phones_phones p span{
    font-weight: bold;
    font-size: 14px;
    display: inline;
    margin: 0;
}
.phones_works {
    color: #454545;
    font-size: 13px;
    line-height: 4px;
    margin-left: 76px;
    margin-top: 10px;
}

.phones_works .bold {
    font-weight: bolder;
    font-size: 18px;
}

.menu_top_divider {
    
}

.menu_top {
    height: 54px;
    background: url('/img/menu_bg.jpg') repeat-x;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.75);
    width: 947px;
    behavior: url(/PIE.htc);
}
.content_top_block {
    background: #f0eae7;
    border-bottom: 0;
    position: relative;
    /*z-index: 3;*/
    border-radius: 0 10px 0 0;
    behavior: url(/PIE.htc);
}

.content_top_block_sub {
    border-bottom: 0;
    background: #f0eae7;
    border-radius: 0 10px 0 0;
    behavior: url(/PIE.htc);
}

.content_top_left_side {
    width: 220px;
    float: left;
}

.content_top_left_side_sub {
    width: 215px;
    float: left;
}

.content_top_right_side {
    float: left;
    width: 970px;
}

.content_top_right_side_sub {
    float:left;
    padding-left: 10px;
    width: 960px;
}

.basket_sub {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6a27f+0,a96240+100 */
    background: #d6a27f; /* Old browsers */
    background: -moz-linear-gradient(top,  #d6a27f 0%, #a96240 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d6a27f 0%,#a96240 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d6a27f 0%,#a96240 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6a27f', endColorstr='#a96240',GradientType=0 ); /* IE6-9 */


    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    font-weight: bold;
    height: 32px;
    /*line-height: 32px;*/
    margin-bottom: 4px;
    margin-left: 30px;
    margin-top: -30px;
    text-align: center;
    width: 170px;
}

.basket_sub:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a96240+0,d7a27e+100 */
    background: #a96240; /* Old browsers */
    background: -moz-linear-gradient(top,  #a96240 0%, #d7a27e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a96240 0%,#d7a27e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a96240 0%,#d7a27e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a96240', endColorstr='#d7a27e',GradientType=0 ); /* IE6-9 */


}
.basket_sub a {
    display: block;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.basket_sub a:hover {
    text-decoration: none;
}
.basket_sub span{
    line-height: 32px;
    height: 32px;
    position: relative;
    padding-left: 32px;
}
.basket_sub i{
    font-style: normal;
    line-height: 32px;
}
.basket_sub span:before{
    background: url("../img/cart.png") 0 50% no-repeat;
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    top: -2px;
    left: 0;
    bottom: 0;
}
.basket {
    margin: 4px auto 4px;
}
.left_banner img{
    width: 200px;
    padding: 5px 7px;
}

.bread {
    padding: 0px 3px 2px 3px;
}

.breadcrumbs {
    margin-top: 12px;
    max-width: 970px;
    font-family: 'Times';
}

.breadcrumbs a {
    color: #727272;
    text-decoration: none;
    font-weight: normal;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.search_form {
    margin-top: 5px;
    position: relative;
}

.input_big {
    height: 28px;
    padding: 0 10px;
    width: 843px;
    border: 1px solid #cabfbb;
}

.main_inputs {
    /*background: url("/img/main_inputs_button.jpg") no-repeat;*/
    border: medium none;
    color: #000000;
    font: 14px/30px Arial,Tahoma,sans-serif;
    height: 28px;
    padding: 0 10px;
    position: relative;
    top: 2px;
    width: 78px;
    border: 1px solid #CABFBB;
}
.search_image {
    position: absolute;
    margin-top: -18px;
    margin-left:864px;
}

.search_image_sub {
    position: absolute;
    margin-top: -18px;
    margin-left:858px;
}

.selects {
    padding: 10px 10px 10px 0px;
}

.checkboxes {
    padding: 10px 10px 10px 0px;
}

.checkboxes p {
    padding: 0px 20px 8px 0px;
    color: #000;
}

.search_form input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    padding: 10px;
}

.search_form input[type="checkbox"] + label {
    background: url(/img/search_buttons1.png) no-repeat;
    background-position: 0 0px;
    padding-left: 25px;
    cursor:pointer;
}

.search_form input[type="checkbox"]:checked + label {
    background-position: 0 -23px;
}

.search_form label {
    height: 19px;
    display: block;
    padding-top: 3px;
    text-transform: lowercase;
}
.big_img_tovar > a{
    display: block;
}
.main_search_button {
    position: absolute;
    right: -36px;
    top: 120px;
}
.main_content_blocks {
    background: #fff;
}

.main_divisions {
    padding: 15px 15px 0 20px;
    margin-left: 0;
}

.main_division_bg {
    margin-top: -5px;
    padding-bottom: 5px;
}


.main_content_text {
    background-color: #f0eae7;
    padding: 15px 50px 25px 50px;
    text-align: justify;
    font-size: 15px;
}

.main_content_text h1 {
    color: #5B1300;
    font-size: 22px;
    padding: 0 0 15px;
    text-align: center;
}

.main_content_text p {
    margin-top: 0;
    padding-bottom: 5px;
    text-indent: 25px;
}

.main_division {
    background: none repeat scroll 0 0 #f8f8f8;
    padding-bottom: 25px;
    padding-top: 30px;
}

.main_division_title {
    margin-top: -42px;
}

.main_soft_text {
    padding: 0px 50px 10px 50px;
    text-align: justify;
    font-family: 'Istok Web', sans-serif;
}

.main_soft_text h1 {
    font-weight: bold;
    color: #000;
    padding: 5px 0px;
    font-size: 22px;
}

.main_soft_text p {
    padding-bottom: 5px;
}

.main_division_one {
    float:left;
    padding: 15px 5px;
    width: 180px;
}
.main_division_one_shadow {
    margin-top: -3px;
}

.main_soft_divisions {
    padding: 0px 5px;
}
.main_soft_divisions_new{
    overflow: hidden;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
}
.main_spec .picture_main_new{
    display: inline-block;
    vertical-align: top;
    height: 356px;
    transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
}
.main_spec .picture_main_new:hover{
    height: 356px;
    margin-top: -10px;
}
.main_content_bottom {
    background: #f0eae7;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 40px;
}

.main_content_bottom_left_side {
    float: left;
    width: 60%;
    position: relative;
}
.main_content_bottom_left_side:before{
    content: "";
    width: 1px;
    position: absolute;
    right: 0;
    top: 60px;
    bottom: 0;
    border-right: 1px dotted #5b1300;
}
.review_title {
    width: 130px;
    height: 40px;
    /*margin-top: 15px;*/
    background: url(/img/phones_title.png) no-repeat;
    /*margin-left: -17px;*/

    left: -16px;
    position: absolute;
    top: 18px;
}

.review_title p {
    font-family: Tahoma;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 30px;
    color: #fff;
}

.review_title p a{
    color: #fff;
    text-decoration: none;
}

.review_title p a:hover {
    text-decoration: underline;
}

.big_review {
    /*max-width: 680px;*/
    margin-left: 20px;
    margin-top: 15px;
    /*border-right: 1px dotted #5B1300;*/
}
.big_review_img a{
    display: block;
    text-align: center;
}
.big_review_img {
    float:left;
    background: url(/img/review_bg.png) no-repeat center;
    width: 310px;
    /*height: 235px;*/
}

.big_review_img img {
    margin: 9px auto 14px;
    /*margin-top: 15px;*/
    /*margin-left: 20px;*/
}

.big_review_title {
    padding: 10px;
}

.big_review_title a{
    color: #5b1300;
    text-decoration: none;
    font-size: 18px;
}

.big_review_title a:hover {
    text-decoration: underline;
}

.big_review_description {
    padding: 10px;
    color: #000;
    font-size: 14px;
    line-height: 16px;
}

.review_description {
    margin-left: 320px;
}

.big_review_more p {
    text-align: right;
}

.big_review_more a{
    padding: 10px;
    color: #000;
    font-size: 18px;
}

.big_review_more a:hover {
    text-decoration: underline;
}

.small_reviews {
    padding-top: 30px;
    text-align: center;
    /*border-right: 1px dotted #5B1300;*/
}

.small_review {
    display: inline-block;
    vertical-align: top;
    width:210px;
    /*height:159px;*/
    margin: 0 6px;
    text-align: center;
}

.small_review_image img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.small_review_image{
    background-color: #f8f8f8;
    text-align: center;
}
.small_review_image a{
    text-align: center;
}
.small_review_title {
    background: url("/img/review_bg_b.png") no-repeat 0 -4px;
    display: inline-block;
    margin-top: 0px;
    padding-top: 10px;
    text-align: center;
    width: 182px;
}

.small_review_title p {
    padding: 5px 1px;
}

.small_review_title a {
    color: #4d4d4d;
    text-decoration: none;
}

.small_review_title a:hover {
    text-decoration: underline;
}

.main_content_bottom_right_side {
    float:left;
    width: 40%;
    text-align: right;
    padding-bottom: 30px;
}

.content_wrapper {
    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.78);
    -moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.78);
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.78);
    border-radius: 0 15px 15px 15px;
    position: relative;
    behavior: url(css/PIE.htc);
}

.content_wrapper_sub {
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.78);
    -moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.78);
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.78);
    border-radius: 0 15px 15px 15px;
    behavior: url(css/PIE.htc);
}

.all_news {
    margin-top: 15px;
    max-width: 465px;
    text-align: left;
    padding: 0px 15px 15px 15px;

}

.news_title {
    background: url(/img/news_title.png) no-repeat;
    display: inline-block;
    height: 40px;
    margin-right: -16px;
    margin-top: 15px;
    vertical-align: top;
    width: 130px;
    text-align: center;
}

.news_title p {
    font-family: Tahoma;
    font-size: 18px;
    padding-top: 5px;
    /*padding-left: 35px;*/
    color: #fff;
}

.news_title p a{
    color: #fff;
    text-decoration: none;
}

.news_title p a:hover {
    text-decoration: underline;
}

.news {
    padding-bottom: 20px;
}

.news_one_title a{
    color: #5B1300;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
}

.news_one_title a:hover {
    text-decoration: underline;
}

.news_one_more p {
    text-align: right;
}

.news_one_more a{
    color: #000;
    font-size: 18px;
}

.news_one_more a:hover {
    text-decoration: underline;
}

.news_one_descr {
    padding: 5px 0px;
    text-align: justify;
    font-size: 14px;
    line-height: 16px;
}

.footer_left_side {
    padding: 10px 20px 10px 0;
    float:left;
    width: 310px;
}

.footer_right_side {
    float: left;
    width: 290px;
}

.footer_info {
    padding: 10px 25px 0;
    margin-top: 40px;
    line-height: 18px;
}

.footer_info p {
    font-size: 12px;
}

.social_icons {
}

.social_icons img{
    float: left;
    margin: 5px 5px;
}

.social_icons {
    text-align: center;
    font-weight: bold;
}

.social_icons_title {
    width: 280px;
    height: 40px;
    background-color:#00a332
}

.social_icons_title p{
    padding: 13px 10px 13px 20px;
    color: #fff;
}

.icon_first {
    position: absolute;
    margin-top: 20px;
}

.icon_second {
    position: absolute;
    margin-top: 75px;
}

.icon_third {
    position: absolute;
    margin-top: 75px;
    margin-left: 55px;
}

.icon_forth {
    position: absolute;
    margin-top: 20px;
    margin-left: 105px;
}

.footer_center {
    width: 588px;
    float:left;
    padding-bottom: 10px;
}

.footer_menu {
    width: 588px;
    min-height: 223px;
    padding-bottom: 10px;
    font-family: 'Times';
}

.main_content_div {
    background: #fff;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 45px;
    position: relative;
}

.division_title_left {
    width: 64px;
    height: 45px;
    background: url(/img/title_left.png) no-repeat;
    float:left;
}

.division_title_middle {
    height: 45px;
    background: url(/img/title_mid.png) repeat-x;
    float:left;
}

.division_title_right {
    width: 118px;
    height: 45px;
    background: url(/img/title_right.png) no-repeat;
    float:left;
}

.division_title_middle p {
    font-family: Tahoma;
    font: 14px/22px Arial !important;
    font-weight: bold !important;
    padding-top: 5px;
    color: #fff;
}

.division_title_middle p a{
    color: #fff;
    text-decoration: none;
    font: 14px/22px Arial;
    font-weight: bold;
    text-transform: uppercase
}

.division_title_middle p a:hover {
    text-decoration: underline;
}

.division_title {
    margin-left: -59px;
}

.division {
    /*padding-top:15px;*/
}

.division_one {
    float: left;
    padding: 10px 7px;
    width: 175px;
}

.division_one_small {
    display: inline-block;
    vertical-align: top;
    padding: 10px 7px;
    box-sizing: border-box;
    /*background: url(/img/div_small_bg_new.png) no-repeat center;*/
    margin: 15px 1%;
    width: 17%;
    background: #f0eae7;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4)
}

.division_one_small:hover {
    /*background: url(/img/div_small_bg_h_new.png) no-repeat center;*/
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5)
}

.division_one_shadow {
    background: url(/img/div_title.png) no-repeat;
    width: 171px;
    height: 14px;
    margin-top: -2px;
}

.division_one_photo_small img {
    max-width: 158px;
    margin: auto;
}
.division_one_photo_small_a{
    display: block;
    position: relative;
}
.division_one_description {
    color: #858585;
    text-align: center;
}

.division_one_description_small {
    color: #858585;
    text-align: center;
}
.division_tovar_one_photo img {
    max-width: 100%;
    max-height: 198px;
    width: auto;
    height: auto!important;
}
.division_one_photo_small img{
    max-width: 100%;
    max-height: 103px;
    height: auto!important;
}
.division_one_photo_small > a{
    display: block;
    text-align: center;
}
.table_cell_1 img{
    max-height: 66px;
}
.division_one_name_small {
    /*font-size: 13px;*/
    /*height: 35px;*/
    font-size: 16px;
    /*height: 33px;*/
    height: 51px;
    /*margin-bottom: 18px;*/
    overflow: hidden;
    padding: 0 8px;
    /*width: 158px;*/
    margin: auto;
}
.additional_div_block .division_one_name_small {
    height: auto;
    width: auto;
    font-size: 16px;
    padding: 5px 8px 1px;
}
.division_one_description_small a{
    font-style: italic;
    color: #858585!important;
    text-decoration: none;
}

.division_one_description_small a:hover{
    color: #858585;
    text-decoration: underline;
}

.division_one_price_small {
    /*change*/
    height: 35px;
}

.division_one_price_small span {
    font-weight: bold;
    color:#5b1300;
    font-size: 16px;
}


.division_tovar_one {
    display: inline-block;
    vertical-align: top;
    background: #f0eae7 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    height: auto;
    margin: 0 2% 40px;
    padding: 0 1% 20px;
    width: 26%;


    /*margin-left: 0px;*/
    /*margin-top: 15px;*/
    /*padding: 10px 5px;*/
    /*width: 360px;*/
    /*height: 330px;*/
    /*background: url(/img/div_one_bg_2.png) no-repeat center;*/
}



.division_tovar_one_photo {
    margin-top: 13px;
    /*width: 100%;*/
}

.division_tovar_one:hover {
    background: #F0F0F0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    /*background: url(/img/div_one_bg_2_h.png) no-repeat center;*/
}

.division_tovar_one_shadow {
    background: url(/img/tovar_title.png) no-repeat;
    width: 356px;
    position: absolute;
    height: 29px;
    margin-top: 11px;
    margin-left: -9px;
}

.division_tovar_one_photo img {
    /*border: 10px solid #e8e8e8;
    -webkit-box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 0.5);*/
}

.division_tovar_one_description {
    color: #858585;
    text-align: center;
}

.division_tovar_one_name {
    font-size: 18px;
    height: 36px;
}

.division_tovar_one_description a{
    font-style: italic;
    color: #858585;
    text-decoration: none;
}

.division_tovar_one_description a:hover{
    color: #858585;
    text-decoration: underline;
}

.division_tovar_one_price span {
    font-weight: bold;
    color:#F87F3D;
}

.h1 {
    padding: 20px 20px 5px 40px;
    float:left;
}

.ya_share {
    float:right;
    padding: 20px 20px 5px 40px;
}

.h1 h1{
    color: #5b1300;
    font-size: 24px;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.tovar_left_side {
    float:left;
    padding-top: 50px;
    padding-bottom: 20px;
}

.tovar_right_side {
    float: right;
    margin-right: 25px;
    max-width: 800px;
}
.tovar_right_side .top_tovar_block{
    float: right;
    width: 100%;
}
.additional_tovar_block {
    background: #f0eae7;
    max-width: 340px;
    /*min-height: 400px;*/
    margin-left: 45px;
}

.one_option {
    padding: 10px;
}

.one_option label {
    color: #5b1300;
    font-weight: bold;
}

.option_information img {
    margin-top:8px;
}

.get_info {
    margin-left: -19px;
    margin-top: 10px;
    bottom: 0px;
}

.tovar_h1 {
    padding: 15px;
    float: left;
}

.tovar_h1 h1 {
    font-style: italic;
    font-size: 22px;
    height: 44px;
}

.tovar_price {
    padding: 8px!important;
    color: #5b1300;
    font-weight: bold;
    font-size: 22px;
}

.tovar_image_big {
    width: 508px;
    height: 394px;
    /*background: url(/img/huge_product.png) no-repeat center;*/
    background: url(/img/bg_img_product.png) no-repeat center;
    margin-top: -22px;
}

.tovar_image_big img {
    max-width: 440px;
    margin-top:35px;
    margin-left: 2px;
    max-height: 310px;
}

.button_buy {
    position: absolute;
    margin-left:358px;
    margin-top: 16px;
}

.tovar_info {
    float: left;
    background: #f0eae7;
    width: 240px;
    margin-left: 17px;
    margin-top: -2px;
    text-align: center;
}

.tovar_info p {
    text-indent: 0px !important;
}

.tovar_image {
    float:left;
    margin-left: 14px;
}

.tovar_info_left {
    float: left;
    width: 189px;
}

.tovar_info_divider {
    float: left;
    width: 1px;
}

.tovar_info_right {
    float: left;
    width: 190px;
}

.tovar_info_title {
    font-weight: bold;
    padding-left: 4px;
}

.tovar_description {
    color: #737373;
    padding: 5px 10px;
    font-size: 14px;
}

.tovar_info_bottom {
    padding: 10px 30px;
}

.tovar_delivery {
    background: url(/img/tovar_delivery_img.png) no-repeat;
    height: 26px;
    width: 195px;
    margin: 0 auto;
}

.tovar_delivery p {
    text-align: center;
}

.tovar_delivery p:first-child {
    font-weight: bold;
}

.tovar_delivery p span {
    color: #fff;
    line-height: 26px;
}
.h_search{
    display: none;
    width: 150px;
    position: fixed;
    right: 150px;
    top: 10px;
}
#search_btn_sm{
    background: url("../img/icon-search.png") 50% 50% no-repeat;
    width: 30px;
    outline: 0;
    border: 0;
    height: 30px;
    position: absolute;
}
#search_sm{
    height: 24px;
    outline: 0;
    border: 0;
    width: 105px;
    text-align: left;
    border-bottom: 1px solid #9a7d6f;
    color: #9a7d6f;
    padding: 0 10px;
    font-size: 14px;
    background: transparent;
}
.photo {
    /*float: left;*/
    /*background: url(/img/small_product.png) no-repeat center;*/
    display: inline-block;
    vertical-align: top;
    height: auto;
    width: 118px;
    margin: 3px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.photo:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.photo img {
    /*margin-top: 9px;*/
    /*margin-left: 1px;*/
    max-width: 100%;
    display: block;
    margin: auto;
}


.photo_shadow {
    background: url(/img/tovar_shadows.png) no-repeat center;
    width: 172px;
    height: 15px;
    margin-top: -5px;
}

.tovar_bottom_left {
    padding: 30px 20px 30px 50px;
    width: 700px;
    text-align: justify;
    float: left;
}

.tovar_bottom_right {
    float: left;
}

.construct {
    padding: 20px;
    width: 360px;
    height: 330px;
    background: url(/img/div_one_bg_2.png) no-repeat center;
}

.construct:hover {
    background: url(/img/div_one_bg_2_h.png) no-repeat center;
}

.construct img {
    margin-left: 22px;
    margin-top: 17px;
}

.related_tovars .division {
    margin-left: 40px;
}

.related_tovars .division_title {
    margin-left: -59px;
}

.related_tovars {
    /*background: #ededed;*/
}

.sub_content {
    padding: 40px 40px;
    min-height: 500px;
}

.sub_content a {
    color: #F87F3D;
    position: relative;
    text-decoration:underline;
    text-align: center;
    /*display: block;*/
}

.sub_content a:hover {
    text-decoration: none;
}

.sub_content p {
    font: 14px/17px Arial;
    margin: 0;
    padding: 5px 0;
    text-indent: 25px;
}

.tovar_delivery p {
    padding: 0px 0px !important;
}

.sub_content ul {
    font: 14px/17px Arial;
    padding-left: 20px;
}

.logo_proizv {
    float:left;
}

.logo_company {
    padding: 10px;
}

.footer {
    background: url(/img/footer.png) no-repeat center top;
}

.main_division_one_title {
    text-align: center;
}

.main_division_one_title a {
    color: #000000;
    text-decoration: none;
    margin-top: 16px;
    display: block;
}

.main_division_one_title a:hover {
    text-decoration: underline;
}
.main_division_one_picture{
    background: url("/img/main_division_one_pic.png") no-repeat;
    height: 131px;
    width: 180px;
    margin: auto;
}
.main_division_one_picture a{
    display: block;
    position: relative;
}
.main_division_one_picture_main{
    background: url("/img/main_division_one_pic.png") no-repeat;
    height: 131px;
    width: 180px;
}
    
.main_division_one_picture:hover{

}

.small_review_image img:hover {

}

.big_review_img img:hover {
}

.division_one_photo img:hover {
    margin-top: -10px;
}

.kwicks {
    width: 1175px;
    height: 256px;
    overflow: hidden;
}
.kwicks li {
    width: 174px;
    height: 256px;
    float: left;
}

.header_image {
    position: absolute;
    right: 0px;
    margin-top: -75px;
}

.divisions {
    min-height: 300px;
}

.menu_left {
    width: 195px;
    height: 225px;
    overflow: hidden;
    float:left;
}

.menu_left ul {
    padding: 10px;
}

.menu_left ul li a {
    color: #292929;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    font-weight:normal;
}

.menu_left ul li a:hover {
    color: #f87f3d;
}

.menu_center ul {
    padding: 10px;
}

.menu_center ul li a {
    color: #292929;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    font-weight:normal;
}

.menu_center ul li a:hover {
    color: #f87f3d;
}

.menu_right ul {
    padding: 10px;
}

.menu_right ul li a {
    color: #292929;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    font-weight:normal;
}

.menu_right ul li a:hover {
    color: #f87f3d;
}

.menu_center {
    width: 195px;
    height: 225px;
    overflow: hidden;
    float:left;
}

.menu_right {
    width: 195px;
    height: 240px;
    overflow: hidden;
    float:left;
}

.simple_news {
    padding: 15px 0px;
}

.simple_reviews {
    padding: 15px 0px;
}

.news_date {
    float:left;
    font-weight: bold;
    padding-top: 2px;
}

.simple_news_title {
    float:left;
    padding-left: 15px;
}

.simple_news_title a {
    color: #5B1300;
    font-size: 18px;
    text-decoration: underline;
}

.simple_news_title a:hover {
    color: #5B1300;
    text-decoration:none;
}

.simple_reviews_title {
    padding-left: 15px;
}

.simple_reviews_title a {
    color: #5B1300;
    font-size: 18px;
    text-decoration: underline;
}

.simple_reviews_title a:hover {
    color: #5B1300;
    text-decoration:none;
}

.simple_reviews_descr {
    margin-top: 5px;
    margin-left: 325px;
}

.text_top_block {
    padding-bottom: 15px;
}

.single_news .big_review_img {
    padding: 10px;
}

.contacts_left_side {
    width: 670px;
    float:left;
}

.contacts_right_side {
    width: 400px;
    height: 340px;
    float:left;
}

.contacts_map {
    margin-top: 20px;
    padding-left: 30px;
    width: 360px;
    height: 335px;
    background: url(/img/div_one_bg_2.png) no-repeat center;
}

.contacts_divider_horizontal {
    clear:both;
    height: 40px;
    background: url(/img/divider_horizontal.jpg) no-repeat center;
}

#gallery {
    width: 1200px;
    height: 300px;
    overflow:hidden;
    margin-left: 30px;
}

.main_soft_divisions .arrowLeft {
    position: absolute;
    margin-top: 65px;
    margin-left: 10px;
    width: 21px;
    height: 24px;
    cursor: pointer;
    background: transparent url(/img/arrow_left.png) no-repeat 0 0;
}

.main_soft_divisions .arrowRight {
    position: absolute;
    margin-top: 65px;
    margin-left: 1173px;
    width: 21px;
    height: 24px;
    cursor: pointer;
    background: transparent url(/img/arrow_right.png) no-repeat 0 0;
}
.related_divs .arrowLeft {
    position: absolute;
    margin-top: 65px;
    margin-left: -15px;
    width: 15px;
    height: 30px;
    cursor: pointer;
    background: transparent url(/img/arrow_left.png) no-repeat 0 0;
}

.related_divs .arrowRight {
    position: absolute;
    margin-top: 65px;
    margin-left: 1143px;
    width: 15px;
    height: 30px;
    cursor: pointer;
    background: transparent url(/img/arrow_right.png) no-repeat 0 0;
}

.home_ban1, .home_ban2, .home_ban3 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.home_ban_link {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 175px;
    z-index: 2;
}

.home_banner_slider {
    width: 200px;
    height: 175px;
    position: relative;
    float: left;
    margin: 5px 7px;
}

.images img {
    position: absolute;
}

.squares {
    position: absolute;
    margin-left: 660px;
    margin-top: 242px;
    display: none;
}

.titles {
    position: absolute;
    right: 0;
    margin-top: 210px;
    width: 514px;
    height: 89px;
}

.titles img {
    position: absolute;
    right: 0;
}

.s_first {
    position: absolute;
}

.s_second {
    position: absolute;
    margin-left: 14px;
    margin-top: 15px;
}

.s_third {
    position: absolute;
    margin-left: 35px;
    margin-top: -11px;
}

.s_forth {
    position: absolute;
    margin-left: 64px;
    margin-top: 13px;
}

.s_fifth {
    position: absolute;
    margin-left: 96px;
    margin-top: 13px;
}

.s_six {
    position: absolute;
    margin-left: 96px;
    margin-top: -18px;
}

.sh_first {
    position: absolute;
}

.sh_second {
    position: absolute;
    margin-left: 14px;
    margin-top: 15px;
}

.sh_third {
    position: absolute;
    margin-left: 35px;
    margin-top: -11px;
}

.sh_forth {
    position: absolute;
    margin-left: 64px;
    margin-top: 13px;
}

.sh_fifth {
    position: absolute;
    margin-left: 96px;
    margin-top: 13px;
}

.sh_six {
    position: absolute;
    margin-left: 96px;
    margin-top: -18px;
}

.feedback {
position: absolute; 
/*margin-top: 60px; */
margin-top: 109px;
z-index: 1000;
width: 237px; 
background: rgb(229,229,229); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(212,210,210,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(40%,rgba(255,255,255,1)), color-stop(60%,rgba(255,255,255,1)), color-stop(100%,rgba(212,210,210,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(212,210,210,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(212,210,210,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(212,210,210,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 60%,rgba(212,210,210,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d4d2d2',GradientType=0 ); /* IE6-9 */

}
.feedback_form {padding: 50px 10px 10px 10px;}

.feedback_sub {position: absolute; 
margin-top: 30px; 
z-index: 999; 
width: 237px; 
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #fbf9f8 30%, #fbf9f8 70%, #f0eae7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#fbf9f8), color-stop(70%,#fbf9f8), color-stop(100%,#f0eae7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#fbf9f8 30%,#fbf9f8 70%,#f0eae7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#fbf9f8 30%,#fbf9f8 70%,#f0eae7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#fbf9f8 30%,#fbf9f8 70%,#f0eae7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#fbf9f8 30%,#fbf9f8 70%,#f0eae7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0eae7',GradientType=0 ); /* IE6-9 */

}


.item_f {
    margin-top: 10px;
}

.item_f input{
    width: 208px;
    border:none;
    padding: 2px;
    border: 1px solid #d28307;
}

.item_f label {
    font-weight: bold;
    color: #5b1300;
}

.item_f textarea {
    width: 208px;
    resize: none;
    border: 1px solid #d28307;
    padding: 2px;
}

.item_f span {
    padding-right: 5px;
    font-weight: bold;
    color: #5b1300;
}

.button_f {
    margin-top: 10px;
    margin-left: 22px;
}

.related_gal ul li div:first-child {
    /*margin-top: 5px;*/
}

.callback_call {
    position: absolute;
    margin-left: -30px;
    margin-top: -52px;
}

.squares img {
    cursor: pointer;
}

.option_information {
    float: left;
    margin-left: 29px;
}

.complect {
    background: #fff;
    margin-top: 10px;
    -webkit-box-shadow: inset 1px 1px 3px 1px rgba(00, 00, 00, 0.2);
box-shadow: inset 1px 1px 3px 1px rgba(00, 00, 00, 0.2);
}

.complect_option {
    float:left;
    width: 140px;
    padding: 10px;
}

.complect_option img {
    max-width: 140px;
}

.division_two {
    width: 360px;
    float:left;
    padding: 5px;
}

.division_two p {
    text-indent: 0px;
    padding: 0px;
}

.division_two_left {
    width: 190px;
    float: left;
}

.division_two_right {
    width: 168px;
    float:left;
}

.division_two_right img {
    border: 5px solid #e8e8e8;
    -webkit-box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 0.5);
}

.division_two_title {
    font-weight: bold;
    padding-right: 10px;
    font-size: 15px;
}

.division_two_descr {
    font-size: 14px;
    padding-right: 10px;
}

.contacts_divider {
    width: 11px;
    height: 150px;
    float:left;
    background: url('/img/contacts_divider.jpg') no-repeat center;
    padding: 0px 5px;
}

.information_block {
    position: absolute;
    margin-top: -28px;
    margin-left: 25px;
}

.tooltip {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #E8E8E8;
    max-width: 490px;
    text-align: justify;
    position: relative;
    z-index: 10;
}

.tooltip p {
    text-indent: 0px;
}

.input_search {
    position: absolute;
    right: -25px;
    top: -15px;
}
.input_search_main{

}
.additional_div_block {
    margin-top: 30px;
}

article {  
    -webkit-column-count:2;  
    -moz-column-count:2;  
    column-count:2;  
    -webkit-column-gap: 30px;  
    -moz-column-gap: 30px;  
    column-gap: 30px;  
    -moz-column-width: 520px;  
    -webkit-column-width: 520px;   
    column-width: 520px;
}  

article h1 {  
    -webkit-column-span: all;  
    column-span:all; 
    text-align: center; 
    padding-bottom: 10px;
}  

.contentTextBlock {
    padding-bottom: 20px;
    line-height: 21px;
}

.fingers .arrowLeft2 {
    position: absolute;
    margin-top: 47px;
    margin-left: -15px;
    width: 15px;
    height: 30px;
    cursor: pointer;
    background: transparent url(/img/arrow_left.png) no-repeat 0 0;
}

.fingers .arrowRight2 {
    position: absolute;
    margin-top: 47px;
    margin-left: 758px;
    width: 15px;
    height: 30px;
    cursor: pointer;
    background: transparent url(/img/arrow_right.png) no-repeat 0 0;
}

.item_proizv {
    padding: 20px 0px;
}

.korzina_top {
    padding: 20px 20px 10px 40px;
    color: #5B1300;
    font-weight: bold;
    font-size: 16px;
}

.korz1 {
    float:left;
    width: 575px;
}

.korz2 {
    float:left;
    width: 180px;
    text-align: center;
}

.korz3 {
    float:left;
    width: 155px;
    text-align: center;
}

.korz4 {
    float: left;
    width: 200px;
    text-align: center;
}

.korzina_body {
    padding: 10px 40px;
    background: #F0EAE7;
}

.basket_first {
    width: 573px;
    float:left;
    min-height: 40px;
}

.basket_second {
    float: left;
    width: 176px;
    text-align: center;
    min-height: 40px;

}

.basket_third {
    float: left;
    width: 151px;
    min-height: 40px;

}

.basket_forth {
    float:left;
    width: 198px;
    min-height: 40px;

}

.basket_div_vertical {
    width: 4px;
    background: url(/img/basket_divider.png) no-repeat center;
    height: 180px;
    float:left;
}

.basket_row {
}

.korzina_img {
    background: url(/img/basket_bg.png) no-repeat center;
    width: 256px;
    height: 201px;
    float: left;
}

.korzina_img img {
    margin-top: 26px;
    margin-left: -2px;
}

.row_title {
    font-size: 16px;
    float: left;
    margin-top: 18px;
    margin-left: 5px;
    width: 295px;
}

.basket_price {
    margin-top: 18px;
    font-weight: bold;
    color: #F87F3D;
    font-size: 18px;
}

.basket_input {
    margin-top: 10px;
    margin-left: 50px;
}
.basket_input{
    text-align: center;
    margin-left: 0;
}
.basket_input input{
    text-align: center;
    width: 30px;
    height: 28px;
    border:none;
    font: 14px/30px Arial, Tahoma, sans-serif;
    color: #000;
    background: #fff;
    position: relative;
    top: 2px;
    padding: 0px 10px;
    -webkit-box-shadow: inset 1px 1px 3px 1px rgba(00, 00, 00, 0.2);
    box-shadow: inset 1px 1px 3px 1px rgba(00, 00, 00, 0.2);
    /*float:left;*/
}

.korzina_action {
    /*margin-left: 85px;*/
    margin-top: 13px;
    text-align: center;
}

.basket_div_hor {
    background: #d1d0d0;
    height: 2px;
}

.basket_options {
    text-align: center;
    margin-left: 25px;
    margin-top: 9px;
}

.order_wrapper {
    padding: 30px 500px 10px 40px;

}

.order_form {
    background: #f0eae7;
}

.order_form h1 {
    padding: 20px;
    color: #5b1300;
    font-size: 18px;
}

.contacts_form_wrapper {
    padding: 0px 20px 20px 20px;
}

.contacts_form {
    background: #f0eae7;
    padding: 10px;
    color: #616161;
}

.order_option label {
    display: block;
    margin-top: 9px;
    width: 120px;
    float:left;
    color: #616161;
}

.order_option {
    padding: 5px 0px;;
}

.order_option input {
    border: 1px solid #D3850B;
    color: #000000;
    font: 14px/30px Arial,Tahoma,sans-serif;
    height: 26px;
    padding: 0 10px;
    position: relative;
    top: 2px;
    width: 198px;
}

.order_option textarea {
    width: 348px;
    resize: none;
    height: 98px;
    border: 1px solid #D3850B;
    font: 14px/30px Arial, Tahoma, sans-serif;
    color: #000;
    position: relative;
    top: 2px;
    padding: 0px 10px;
}

.error {
    color: #F87F3D;
    float:left;
    width: 245px;
    padding-left: 10px;
    padding-top: 7px;
}


.submenu {
    display: none;
    position: absolute;
    padding: 8px 15px;
    /*top: 99px;*/
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.6);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.6);
    z-index:9999;
    background: -moz-linear-gradient(top,  rgba(229,229,229,0.9) 0%, rgba(242,242,242,0.9) 45%, rgba(255,255,255,0.9) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.9)), color-stop(45%,rgba(242,242,242,0.9)), color-stop(100%,rgba(255,255,255,0.9))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,229,229,0.9) 0%,rgba(242,242,242,0.9) 45%,rgba(255,255,255,0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,229,229,0.9) 0%,rgba(242,242,242,0.9) 45%,rgba(255,255,255,0.9) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,229,229,0.9) 0%,rgba(242,242,242,0.9) 45%,rgba(255,255,255,0.9) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,229,229,0.9) 0%,rgba(242,242,242,0.9) 45%,rgba(255,255,255,0.9) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce5e5e5', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */
    behavior: url(/css/PIE.htc);
}

a.url_low {
    margin-left: 10px;
    color: #292929!important;
    font-size: 16px;
    text-decoration: none;
}

.submenu_li {
    background: url(/img/submenu_in.png) no-repeat left;
    padding: 3px 3px;
    line-height: 15px;
}

.submenu_li:hover {
    background: url(/img/submenu_act.png) no-repeat left;
}


.menu_li{
    float:left;
    height: 54px;
    line-height: 54px;

}

.menu_li a.url_top {
    color: #292929;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 14px;
}

.horizontal_menu li:nth-child(13) {
    width: 170px;
    padding-top: 7px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
}

.menu_li a[href="/nedobrosovestnye_prodavcy"].url_top {
    padding: 0;
}

.menu_li a.url_top:hover {
    color: #884b2b;
    text-decoration: none;
}

.basket_ok {
    padding: 20px 40px;
}
.basket_ok .basket_ok_table table td{
    border: 1px solid #000;
    padding: 5px;
}
.basket_ok .basket_ok_table table{
    margin-bottom: 8px;
}
.basket_ok p {
    text-indent:0;
}
.basket_ok_info{
    border-top: 2px solid #e7dbd5;
}
.basket_ok_info_item{
    display: inline-block;
    vertical-align: top;
    width: 32%;
    padding: 0 5px 0 40px;
    box-sizing: border-box;
}
.basket_info_item_ico1{
    background: url("../img/order_ico1.png") 0 50% no-repeat;
}
.basket_info_item_ico2{
    background: url("../img/order_ico2.png") 0 50% no-repeat;
}
.basket_info_item_ico3{
    background: url("../img/order_ico3.png") 0 50% no-repeat;
}
.menu_catalog {
    float:left;
    padding-right: 40px;
}

#callb #error_message {
    padding: 0 0 5px 0;
    font-weight: bold;
}


.content_table {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;
    
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}

.content_table table{
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}

.content_table tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}

.content_table table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.content_table table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}

.content_table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}

.content_table tr:hover td{
     
}

.content_table tr:nth-child(odd){ background-color:#ffffff; }

.content_table tr:nth-child(even)    { background-color:#ffffff; }

.content_table td{
    vertical-align:middle;
    
    
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:14px;
    font-family:Times New Roman;
    font-weight:normal;
    color:#000000;
}

.content_table tr:last-child td{
    border-width:0px 1px 0px 0px;
}

.content_table tr td:last-child{
    border-width:0px 0px 1px 0px;
}

.content_table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}

.content_table tr:first-child td{
        background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");  background: -o-linear-gradient(top,#ffffff,ffffff);

    background-color:#ffffff;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Times New Roman;
    font-weight:bold;
    color:#000000;
}
.content_table tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");  background: -o-linear-gradient(top,#ffffff,ffffff);

    background-color:#ffffff;
}
.content_table tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.content_table tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

.photo3d img {
    padding: 10px;
}

.content .action {
    position: absolute;
    left: 0px;
    margin-top: -7px;
    z-index: 1;
    width: auto;
}

.action_tovar {
    position: absolute;
    margin-left: 5px;
    margin-top: -7px;
}

.page_action_left {
    float:left;
    width: 320px;
}

.page_action_right {
    margin-left: 330px;
}

.page_action {
    padding: 20px 0px;
    overflow: hidden;
}
 
 
.product_option_left {
    float:left;
    width: 90px;
}

.product_option_right {
    float:left;
    padding-left: 20px;
}

.product_option_title a {
    text-decoration: none;
    font-style: italic;
    color: #454545;
    font-weight: bold;
    font-size: 15px;
}

.product_option_price {
    font-size: 15px;
    padding-top: 5px;
}

.product_option_price span{
    color: #F87F3D;
    font-weight: bold;
}

.ac_results {
    z-index: 999;
}

.product_option {
    position:relative;
}

.history {
    position: fixed;
    right:0px;
    z-index:999;
    top:15%;
}

.history_content {
    position: absolute;
    width: 350px;
    right: 0;
    padding: 15px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: -3px 4px 5px 1px rgba(00, 00, 00, 0.5);
    box-shadow: -3px 4px 5px 1px rgba(00, 00, 00, 0.5);
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 60%, #e4e4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(60%,#f1f1f1), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 60%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 60%,#e4e4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 60%,#e4e4e4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 60%,#e4e4e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */

}

.history_content_title {
    text-align: center;
    font-size:18px;
    font-weight: bold;
}

.history_content_ul {
    padding-top: 10px;
}

.history_content_ul li{
    padding: 5px 0px;
}

.history_content_ul li a{
    cursor:pointer;
    text-decoration: none;
    color:#454545;
}

.history_content_ul li a:hover{
    text-decoration: underline;
}

.history_img img {
    cursor:pointer;
}

.main_soft_divisions {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select:none;
}

.divisions {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select:none;
}

.additional_photos {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select:none;
    position: relative;
    margin-left: 20px;
}

.option_information a {
    cursor:pointer;
}

.selectbox {
    z-index:1;
}

.history_left {
    float:left;
    width: 90px;
}

.history_right {
    float:left;
    width: 260px;
}

.history_right span {
    color: #F87F3D;
    font-weight: bold;
}

.cities_name {
    padding: 10px;
}

.cities_left_side {
    float:left;
    background: url(/img/review_bg.png) no-repeat center;
    width: 310px;
    height: 235px;
}

.cities_left_side img {
    margin-top: 15px;
    margin-left: 20px;
}

.cities_center {
    float:left;
    max-width: 400px;
}

.cities_right_side {
    float: left;
    width: 400px;
}

.all_cities {
    display: none;
}

.city_title {
    font-weight: bold;
}

.singe_city p {
    text-indent: 0px;
    padding: 5px 10px 5px 15px;
}

.tovar_content_dostavka {
    margin: 5px 35px;
    padding: 10px 20px;
    text-align: justify;
    background: #eeeeee;
}

.tovar_content_dostavka a {
    color: #F87F3D;
}



.division_types {
    float:left;
    position: relative;
    z-index: 999;
    padding-top: 2px;
}

.division_materials {
    float:left;
}

.division_colors {
    float:left;
}

.division_inputs {
    float:left;
}

.main_block_descr ul{
    padding-left: 45px;
    list-style-type: disc;
}

.division_one_name_small a {
    text-decoration: none;
}

.division_one_name_small a:hover {
    text-decoration: underline;
}

.division_tovar_one_name a {
    text-decoration: none;
}

.division_tovar_one_name a:hover {
    text-decoration: underline;
}

.contacts_map_margin {
    position: absolute;
    margin-top: 15px;
    width: 325px;
}


.arrow_box {
    position: absolute;
    background: #ffffff;
    border: 3px solid #d86d22;
    z-index: 999;
    margin-top: -75px;
    border-radius: 7px;
    display: none;

}

.arrow_box p {
    color: #454545;
    text-align: center;
    text-indent: 0px;
    padding: 5px 5px;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(123, 190, 61, 0);
    border-top-color: #d86d22;
    border-width: 14px;
    left: 50%;
    margin-left: -14px;
}

.tip_p {
    text-indent: 0px;
}


.arrow_image {
    position: absolute;
    margin-top: -60px;
    margin-left: 38px;
    display: none;
}

.additional_tovar_block form .one_option {
    padding: 10px 28px;
}


.view_more a{
    display: inline;
    color: #5b1300;
    font-style: italic;
    font-size: 14px;
    text-decoration: underline;
}

.view_more > span {
    color: #F87F3D;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
}

.view_more {
    margin-top: 10px;
}


.fast_buy_options {
    float:left;
}

.fast_buy_info {
    float:left;
    margin-left: 10px;

}

.fast_buy_img {
    margin-top: 5px;
    max-width: 290px;
}

.fast_buy_close {
    position: absolute!important;
    margin-left: 680px;
    margin-top: -40px;
}

.fast_buy_info {
    float:left;
    width: 288px;
}

.fast_buy_form{
    position: absolute;
    display: none;
    border: 1px solid #d3850b;
    z-index: 9999;
    top: 0;
    margin-left: -350px;
    left: 50%;
}
.fast_buy_form .order_wrapper {
    width: 710px;
}

.fast_buy_plus {
    float:right;
    margin-top: -3px;
    padding: 0px 3px;
    cursor:pointer;

}

.count_products {
    float:right;
}

.fast_buy_count {
    padding: 5px 0px;
}

.fast_buy_count img{
    width: 19px;
    height: 19px;
}

.fast_buy_minus {
    float:right;
    margin-top: -3px;
    padding: 0px 3px;
    cursor: pointer;
}

.fast_buy_title {
    font-size: 19px;
    font-style: italic;
    padding:  5px 0px;
}

.count_title {
    float:right;
    font-size: 17px;
    padding-right: 10px;

}

.fast_buy_total_price {
    float:right;
    font-size: 18px;
    color: #f87f3d;
    font-weight: bold;
}

.fast_buy_prices {
    padding: 5px 0;
}

.fast_buy_prices_title {
    float:right;
    font-size: 17px;
    padding-right: 10px;
}

.fast_buy img {
    cursor:pointer;
    }
    
.fast_buy_close img {
    cursor:pointer;
}

#send_fast_zakaz {
    cursor:pointer;
}

.fast_buy_form .fast_buy_options{
    width: 350px;
}
.fast_buy_form .fast_buy_options .w_320{
    width: 198px;
}
.fast_buy_form #form-captcha{
    width: 198px;
}
.guarantee {
    color: #454545;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.right_links p a {
    font-style: italic;
}

.old_price {
    color: #454545;
    font-size: 16px;
}

.old_price span {
    color: #f87f3d;
    text-decoration: line-through;
}

.new_price {
    color: #454545;
    font-size: 19px;
}

/*-------------new_styles---------------*/

.ov{
    display: none;
    height: 4000px;
    left: 50%;
    margin-left: -960px;
    opacity: 0.5;
    position: absolute;
    top: 30px;
    width: 1920px;
    z-index: 2147483647;
}

.logo_opasity{
    background: url("/img/logo_opacity.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 26px;
    position: absolute;
    right: 135px;
    top: 130px;
    width: 202px;
}
.h1_cat {
    padding-top: 10px;
    padding-bottom: 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.main_division_title img{
    margin-top: -12px;
}
.main_content_text h3{
    margin: 0;
    padding-bottom: 25px;
}
.main_content_text_p{
    margin-bottom: 0;
    text-align: center;
}
.phones_works p{
    padding-bottom: 5px;
}
.hover_picture{
    padding-top: 3px;
}
.tovar_info_title p{
    color: #5b1300;
    font-weight: bold;
    font-size: 18px;
}


/*--------product_order---------*/
.product_order{
    position: absolute;
    display: none;
    z-index: 9999;
    width: 404px;
    padding: 25px;
    left: 50%;
    margin-left: -202px;
}
.product_order_inner{
    width: 402px;
    position: relative;
    background-color: #f0eae7;
    border: 1px solid #d3850b;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.38);
    behavior: url(PIE.htc);
}
.product_order_inner p{
    color: #616161;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0 18px 32px;
}
.product_order_name{
    background-color: #FBF9F8;
    margin: auto;
    padding: 5px 0 5px 13px;
    width: 321px;
}
.product_order_name_l{
    color: #5B1300;
    float: left;
    font-size: 18px;
    font-style: italic;
    line-height: 23px;
    width: 190px;
    padding-left: 6px;
}
.product_order_name_r {
    color: #010000;
    float: right;
    line-height: 28px;
    text-align: center;
    width: 100px;
}
.product_order_button{
    padding: 18px 27px;
    width: 402px;
}
.order_button{
    height: 32px;
    float: left;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
}
.product_order_button_1{
    background: url("../img/order_bt.png") no-repeat;
    width: 161px;
    margin-right: 17px;
}

.product_order_button_1 a{
    display: block;
    color: #ffffff;
    text-decoration: none;
}
.product_order_button_2{
    background: url("../img/order_bt1.png") no-repeat;
    width: 175px;
    cursor: pointer;
}
.product_order_button_1:hover{
    background: url("../img/order_bt_h.png") no-repeat;
}
.product_order_button_2:hover{
    background: url("../img/order_bt1_h.png") no-repeat;
}
.close{
    background: url("../img/close.png") no-repeat;
    height: 30px;
    position: absolute;
    right: -14px;
    top: -13px;
    width: 30px;
    cursor: pointer;
}

.main_division_spec{
    background-color: #f0eae7;
/*    margin-bottom: 10px;*/
}
.main_division_title_spec{
    background: url("../img/spec.png") no-repeat;
    width: 200px;
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 26px;
}
.main_spec{
    margin-top: -20px;
    background-color: #f8f8f8;
    /*height: 760px;*/
    position: relative;
    /*overflow: hidden;*/
}
.spec_img{
    display: block;
    text-align: center;
    padding-top: 25px;
    position: relative;
}
.action_ico{
    background: url("../img/action.png") no-repeat;
    height: 139px;
    left: -9px;
    position: absolute;
    top: 20px;
    width: 147px;
}
.main_spec .main_division_one_picture{
    background: url("../img/main_division_one_pic_big.png") no-repeat;
    height: 356px;
    width: 380px;
/*    float: left;*/
    margin-right: 4px;
}
.spec_img img{
    width: 100%;
}
.main_spec .main_division_one_picture_main{
    background: #F0EAE7;
    height: auto;
    width: 26%;
    padding: 0 1% 20px 1%;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    margin:0 2% 40px 2%;
    border-radius: 6px;
}
.main_spec .main_division_one_picture_main:hover{
    height: auto;
    padding: 0 1% 30px 1%;
}
.main_division_one_picture_2{
    display: inline-block;
    vertical-align: top;
}
.main_spec .division_one_name_small{
    /*width: 340px;*/
    margin: auto;
    text-align: center;
}
.division_one_name_small_title{
    height: 33px;
    overflow: hidden;
    margin-top: 3px;
}
.division_one_name_small_title a{
    color: #454545;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
}
.main_spec .division_one_price_small{
    color: #858585;
    font-size: 14px;
}
.main_spec .division_one_price_small span{
    color: #f87f3d;
    font-size: 16px;
    font-weight: bold;
}
#gallery_spec{
    /*overflow: hidden;*/
    /*width: 1155px;*/
    margin: auto;
    padding-top: 20px;
}
#gallery_spec li{
    display: inline-block;
    vertical-align: top;
    /*width: 380px;*/
    /*height: 356px;*/
    /*margin-right: 5px;*/
}
.arrowLeft_s {
    background: url("../img/arrow_left.png") no-repeat;
    cursor: pointer;
    height: 30px;
    left: 12px;
    top: 44%;
    position: absolute;
    width: 15px;
}
.arrowRight_s {
    background: url("../img/arrow_right.png") no-repeat;
    cursor: pointer;
    height: 30px;
    right: 12px;
    top: 44%;
    position: absolute;
    width: 15px;
}
.level1{
    margin-top: 0px;
    height: 356px;
   -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.level2{
    margin-top: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.level1:hover{
    margin-top: -10px;
    height: 366px;    
}
.level2:hover{
    margin-top: -10px;
}
/*contacts*/
.contacts_cell{
    overflow: hidden;
}
.sub_content .contacts_cell p{
    text-indent: 0;
}
.contacts_item{
    float: none!important;
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 0 1px;
}
/*.related_gal,*/
#first-carousel li{
    height: 233px!important;
}
.text_news img{
    margin: 0 16px 10px 0;
}
.tovar_3d{
    margin: auto;
    padding: 30px 0 0;
    text-align: center;
}
.tovar_3d > div{
    margin: auto;
}
.bt3d{
    position: relative;
}
.bt3d_ico{
    background: url("/img/360_ico.png") no-repeat;
    content: "";
    display: block;
    position: absolute;
    width: 70px;
    left: 50%;
    margin-left: -35px;
    top: 50%;
    margin-top: -30px;
    height: 63px;
}
.sub_content .btn_akcii{
    background: url("/img/basket_sub_button.jpg") no-repeat;
    display: block;
    color: #fff;
    margin: 10px auto 0;
    border-radius: 6px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
    width: 194px;
    text-indent: 0;
}
.car .arrowLeft1,
.car .arrowRight1,
.car .arrowLeft2,
.car .arrowRight2,
.car .arrowLeft3,
.car .arrowRight3,
.car .arrowLeft4,
.car .arrowRight4,
.car .arrowLeft5,
.car .arrowRight5,
.car .arrowLeft6,
.car .arrowRight6,
.car .arrowLeft7,
.car .arrowRight7,
.car .arrowLeft8,
.car .arrowRight8,
.car .arrowLeft9,
.car .arrowRight9,
.car .arrowLeft10,
.car .arrowRight10,
.car .arrowLeft11,
.car .arrowRight11,
.car .arrowLeft12,
.car .arrowRight12,
.car .arrowLeft13,
.car .arrowRight13,
.car .arrowLeft14,
.car .arrowRight14,
.car .arrowLeft15,
.car .arrowRight15{
    margin-top: 100px!important;
}
.float_block{
    float: right;
}
/*.product_video h1,*/
/*.product_video ul,*/
/*.product_video p{*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*width: 520px;*/
    /**zoom: 1;*/
    /**display: inline;*/
/*}*/
.additional_div_block .division_one_small {
    margin-bottom: 14px;
    /*background: url(/img/div_small_bg_new2.png) no-repeat center;*/
}
.additional_div_block .division_one_description_small {
  height: 42px;
}
.sort {
    font-size: 0;
    padding-bottom: 28px;
}
.sort span{
  font-size: 16px;
    display: inline-block;
    vertical-align: top;
    line-height: 1.2;
  color: #5b1300;
 }
.sort a {
    border-right: 1px solid #5b1300;
    box-sizing: border-box;
    color: #5b1300;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 0;
    line-height: 1.2;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    padding-right: 20px;
}
.sort a span:hover {
    border-bottom: 1px dashed #5b1300;
    display: inline;
}
.sort a span{
    font-size: 16px;
    display: inline;
}
/*#name{*/
    /*width: 140px;*/
/*}*/
/*.sort .price {*/
  /*color: #5b1300;*/
  /*text-align: left;*/
  /*padding-left: 29px;*/
  /*box-sizing: border-box;*/
/*}*/
/*.sort .title {*/
  /*width: 135px;*/
  /*height: 29px;*/
    /*cursor: pointer;*/
  /*color: #5b1300;*/
/*}*/
/*.sort .stock {*/
  /*color: #ff0101;*/
/*}*/
.sort .icon-up, .sort .icon-down {
  display: inline-block;
  border: 9px solid;
  border-color: #580024 transparent;
  margin-left: 8px;
    font-size: 16px;
    margin-top: 5px;
}
.sort .reset_filter{
    border: 0;
}
.sort .icon-up {
  border-top: 0;
}
.sort .icon-down {
  border-bottom: 0;
}
.footer_form {
    margin-top:55px;
  border-radius: 10px;
  background-color: rgb(240, 234, 231);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
  width: 312px;
  height: 162px;
}
.footer_form p {
  font-size: 19px;
  color: rgb(138, 47, 0);
  line-height: 1.2;
  text-align: center;
  padding: 20px 17px;
}
.footer_form form {
    margin-left:10px;
  border: 1px solid rgb(190, 175, 167);
  border-radius: 10px;
  width: 290px;
  height: 35px;
  background-color: rgb(255, 255, 255);
}
.footer_form form .footer_form_mail {
    font-size:16px;
    border:0;
    outline:0;
    padding:5px 0;
    float:left;
    width:158px;
    margin:0 10px;
    
}
.footer_form form .footer_form_btn {
  background-image: linear-gradient( 90deg, rgb(219,120,47) 0%, rgb(255,169,106) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(219,120,47) 0%, rgb(255,169,106) 100%);
  width: 112px;
  height: 35px;
  border: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
    font-size: 14px;
  color: rgb(254, 254, 254);
  font-weight: bold;
  cursor: pointer;
}

.footer_form form .footer_form_mail:focus::-webkit-input-placeholder {color: transparent}
.footer_form form .footer_form_mail:focus::-moz-placeholder          {color: transparent}
.footer_form form .footer_form_mail:focus:-moz-placeholder           {color: transparent}
.footer_form form .footer_form_mail:focus:-ms-input-placeholder      {color: transparent}
.btn_1{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fea161+0,da6a1b+100 */
    background: #fea161; /* Old browsers */
    background: -moz-linear-gradient(top,  #fea161 0%, #da6a1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fea161), color-stop(100%,#da6a1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fea161 0%,#da6a1b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea161', endColorstr='#da6a1b',GradientType=0 ); /* IE6-9 */
    border: 0 none;
    border-radius: 8px;
    color: #000!important;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 5px;
    outline: 0 none;
    padding: 1px 12px 3px;
    text-align: center;
    text-decoration: none!important;
    text-indent: 0;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    *display: inline;
    *zoom: 1;}

.btn_1:hover{
    outline:0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#da6a1b+0,fea362+100 */
    background: #da6a1b; /* Old browsers */
    background: -moz-linear-gradient(top,  #da6a1b 0%, #fea362 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da6a1b), color-stop(100%,#fea362)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #da6a1b 0%,#fea362 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da6a1b', endColorstr='#fea362',GradientType=0 ); /* IE6-9 */
    text-decoration: none!important;
}
/*adaptiv*/
.toggle-menu-btn {
    opacity: 0.8;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    border-right: 1px solid #d7c7bf;
}
.toggle-menu-btn:before {
    background: transparent url("../img/phone_menu.png") no-repeat scroll 50% 50%;
    content: "";
    display: block;
    height: 50px;
    width: 50px;
}
.toggle-search-btn{
    cursor: pointer;
    border-radius: 8px;
    display: none;
    line-height: 30px;
    text-align: center;
    width: 200px;
    margin: 0 auto 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7a37e+0,a96140+100 */
    background: #d7a37e; /* Old browsers */
    background: -moz-linear-gradient(top,  #d7a37e 0%, #a96140 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7a37e), color-stop(100%,#a96140)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d7a37e 0%,#a96140 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d7a37e 0%,#a96140 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d7a37e 0%,#a96140 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d7a37e 0%,#a96140 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7a37e', endColorstr='#a96140',GradientType=0 ); /* IE6-9 */

    box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
}
.contacts_bth{
    margin: 15px 0 0 0;
}
.tovar_info_availability{
    padding: 10px 15px;
}
.slider_item{
    /*float: left;*/
    display: inline-block;
    vertical-align: top;
    padding: 18px 6px;
    background: url(/img/div_small_bg_new.png) no-repeat center;
    width: 174px;
}
.slider_item:hover {
    background: rgba(0, 0, 0, 0) url("/img/div_small_bg_h_new.png") no-repeat scroll center center;
}
.slick-arrow{
    position: absolute;
    width: 15px;
    border: 0;
    height: 30px;
    text-indent: -100000px;
    cursor: pointer;
    overflow: hidden;
    top: 40%;
}
.slick-prev{
    background: url(/img/arrow_left.png) no-repeat;
    left: -18px;
}
.slick-next{
    background: url(/img/arrow_right.png) no-repeat;
    right: -18px;
}
.button_buy_right #zakaz_button span{
    display: none;
}
.sub_content .fast_buy:before{
    content: "";
    display: inline-block;
    background: url("../img/ico_fast.png") 0 50%no-repeat;
    width: 22px;
    vertical-align: top;
    height: 40px;
    left: 10%;
    position: absolute;
    top: 0;
}
.sub_content .button_buy_right a:before{
    content: "";
    background: url("../img/ico_basket.png") 0 50%no-repeat;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    left: 10%;
    position: absolute;
    top: 0;
    width: 21px;
}
.sub_content .fast_buy,
.sub_content .button_buy_right a{
    background: #fea161; /* Old browsers */
    background: -moz-linear-gradient(top,  #fea161 0%, #da6a1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fea161), color-stop(100%,#da6a1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fea161 0%,#da6a1b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea161', endColorstr='#da6a1b',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    position: relative;
    display: block;
    font-size: 12px;
    padding-left: 24px;
    text-decoration: none;
    color: #fff;
    margin: 15px;
    text-align: center;
    border-radius: 16px;
    line-height: 40px;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
}
.sub_content .fast_buy:hover,
.sub_content .button_buy_right a:hover{
    background: #da6a1b; /* Old browsers */
    background: -moz-linear-gradient(top,  #da6a1b 0%, #fea362 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da6a1b), color-stop(100%,#fea362)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #da6a1b 0%,#fea362 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da6a1b', endColorstr='#fea362',GradientType=0 ); /* IE6-9 */
}
.division_one_small{
    margin-bottom: 20px;
}
.division_tovars{
    /*overflow: hidden;*/
    /*display: inline-flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    width: 100%;
    /*padding-top: 40px;*/
}
.division_tovar_one{
    display: inline-block;
    vertical-align: top;
    transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
}
.order_wrapper .order_option input{
    width: 350px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.mob_menu{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fea161+0,da6a1b+100 */
    background: #fea161; /* Old browsers */
    background: -moz-linear-gradient(top,  #fea161 0%, #da6a1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fea161), color-stop(100%,#da6a1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fea161 0%,#da6a1b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea161', endColorstr='#da6a1b',GradientType=0 ); /* IE6-9 */

    cursor: pointer;
    display: none;
    position: fixed;
    top: 10px;
    left: 80px;
    font-size: 14px;
    color: #fff;
    width: 100px;
    text-align: center;
    border-radius: 8px;
    line-height: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
}
.mob_menu:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#da6a1b+0,fea362+100 */
    background: #da6a1b; /* Old browsers */
    background: -moz-linear-gradient(top,  #da6a1b 0%, #fea362 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da6a1b), color-stop(100%,#fea362)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #da6a1b 0%,#fea362 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da6a1b', endColorstr='#fea362',GradientType=0 ); /* IE6-9 */
}

.mob_menu_inner{
    display: none;
    padding-top: 5px;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    background: #dacac2;
    z-index: 1000;
    max-height: 330px;
}
.mob_menu_item a{
    color: #453731;
    line-height: 1.2;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}
.mob_menu_item a:hover{
    background: #cd9376;
}
.mob_menu_block{
    max-height: 290px;
    overflow-y: auto;
}
.mob_menu_close_1,
.mob_menu_close{
    background: url("../img/mob_menu_close.png") 50% 50% no-repeat;
    cursor: pointer;
    height: 40px;
}
.mob_menu_item{
    background: url("../img/more_menu.png") 95% 5px no-repeat;
    text-align: center;
    border-bottom: 1px solid #9a7d6f;
}
.h_mob_search{
    background: url("../img/icon-search.png") 50% 50% no-repeat;
    display: none;
    position: fixed;
    top: 10px;
    right: 115px;
    height: 30px;
    width: 30px;
}
.h_mob_bg{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background: #f0eae7;
}
.h_mob_bg:before{
    position: fixed;
    content: "";
    top: 50px;
    right: 0;
    left: 0;
    height: 7px;
    background: url("../img/h_mob_bg.png") repeat-x;
}
#back-top {
    background: url("../img/up.png") no-repeat scroll 50% 50%;
    bottom: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 35px;
    outline: medium none;
    overflow: hidden;
    position: fixed;
    right: 12px;
    text-align: center;
    text-decoration: none;
    width: 35px;
    z-index: 200;
}
.menu_top .mob_menu_close_1{
    display: none;
}
.subscription_content{
    background-color: #f0eae7;
    border: 1px solid #d3850b;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.38);
    /*position: relative;*/
    position: fixed;
    padding: 25px;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 40%;
    display: none;
    z-index: 10;
}

.subscription_content p {
    background: #fff;
    padding: 10px;
    font-size: 14px;
}
.subscription_close{
    background:url("../img/close.png") no-repeat;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -40px;
    top: -40px;
    width: 30px;
}
.subscription_content_inner{
    position: relative;
}
.logo_f{
    display: none;
}
.logo_h_mob{
    display: none;
}
.product_slider_cell,
.main_slider_cell{
    margin: 0 40px;
}
.hover_picture{
    margin: auto;
}
.product_table{
    max-height: 514px;
    overflow: hidden;
    text-align: center;
    margin: 15px 35px;
}
.product_table .table_cell_2{
    width: 20%;
}
.product_table .table_cell_by,
.product_table .table_price_product {
    width: 20%;
}
.product_table.see_all{
    height: auto;
    overflow: visible;
    max-height: 100%;
}
.product_table table{
    width: 100%;
}
.product_table table th{
    background: #F0EAE7;
    border-bottom: 1px dotted #534525;
    font-size: 14px;
    padding: 5px;
    color: #5c4027;
    height: 35px;
    vertical-align: middle;
    box-sizing: border-box;
}
.product_table table td{
    border-bottom: 1px dotted #534525;
    font-size: 14px;
    padding: 5px;
    color: #5c4027;
    vertical-align: middle;
    box-sizing: border-box;
    height: 65px;
}
.btn_by{
    /*display: inline-block;*/
    vertical-align: top;
    border: 1px solid #5c4027;
    font-size: 13px;
    padding: 0 3px;
    color: #5c4027;
    line-height: 1.5;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    display: none;
}
.btn_by:hover{
    color: #fff;
    background: #5c4027;
}
.table_cell_by,
.table_price_product{
    width: 15%;
}
.see_more_table{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fea161+0,da6a1b+100 */
    background: #fea161; /* Old browsers */
    background: -moz-linear-gradient(top,  #fea161 0%, #da6a1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fea161), color-stop(100%,#da6a1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fea161 0%,#da6a1b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea161', endColorstr='#da6a1b',GradientType=0 ); /* IE6-9 */

    cursor: pointer;
    margin: 25px 0;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
}
.see_more_table:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#da6a1b+0,fea362+100 */
    background: #da6a1b; /* Old browsers */
    background: -moz-linear-gradient(top,  #da6a1b 0%, #fea362 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da6a1b), color-stop(100%,#fea362)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #da6a1b 0%,#fea362 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da6a1b', endColorstr='#fea362',GradientType=0 ); /* IE6-9 */
}
/*.table_cell_1{*/
    /*width: 20%;*/
/*}*/
.table_cell_2{
    width: 26%;
}
.more_table{
    display: none;
}
.align-centr{
    text-align: center;
}
.no_wrap{
    white-space: nowrap;
}
.save_ico{
    background: url("../img/save_ico.png") no-repeat 0 50%;
}
.print_ico{
    background: url("../img/print_ico.png") no-repeat 0 50%;
}
.basket_print a{
    padding-left: 26px;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
}
.basket_print{
    text-align: left;
}
.calc_select .select{
    width: 100%!important;
}
.calc_select label{
    line-height: 43px;
}
.calc_select ul{
    margin: 0;
    padding: 0;
}
.calc_price{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fea161+0,da6a1b+100 */
    background: #fea161; /* Old browsers */
    background: -moz-linear-gradient(top,  #fea161 0%, #da6a1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fea161), color-stop(100%,#da6a1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fea161 0%,#da6a1b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fea161 0%,#da6a1b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea161', endColorstr='#da6a1b',GradientType=0 ); /* IE6-9 */

    cursor: pointer;
    margin: 25px 0;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    border: 0;
    outline: 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
}
.calc_price:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#da6a1b+0,fea362+100 */
    background: #da6a1b; /* Old browsers */
    background: -moz-linear-gradient(top,  #da6a1b 0%, #fea362 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da6a1b), color-stop(100%,#fea362)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #da6a1b 0%,#fea362 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #da6a1b 0%,#fea362 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da6a1b', endColorstr='#fea362',GradientType=0 ); /* IE6-9 */
}
.niceCheck  label{
    font-size: 16px;
    font-weight: bold;
}
.chec_calc{
    margin: 10px 0;
}
.calc_cargo h2{
    text-align: center;
    font-size: 20px;
}
.sub_content .calc_cargo p{
    text-indent: 0;
}
.calc_table{
    width: 100%;
    margin: 0 0 30px 0px;
}
.calc_table th{
    background: #F0EAE7;
    border-bottom: 1px solid #cabfbb;
    border-top: 1px solid #cabfbb;
    color: #414141;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: left;
    vertical-align: middle;
}
.calc_table td{
    border-bottom: 1px solid #cabfbb;
    height: 44px;
    line-height: 22px;
    margin: auto;
    vertical-align: middle;
    text-align: left;
}
.calc_table td input {
    background-color: #fff;
    border: 1px solid #cabfbb;
    color: #414141;
    font-size: 12px;
    height: 19px;
    line-height: 1.2;
    margin: auto;
    padding: 0 3px;
    width: 53px;
}
.calc_table .table_a {
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
p.error {
    width: 100%;
}
.calc-result{
    margin: auto;
}
.calc-result th {
    background-color: #f2f1e3;
    color: #414141;
    border-bottom: 1px solid #c0c0bf;
    border-top: 1px solid #c0c0bf;
}

.calc-result td {
    padding: 5px;
}

.calc-result label > input {
    margin-right: 4px;
}

.calc-result small {
    font-size: 12px;
}

.calc-result h4 {
    color: #7b4209;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 8px;
    text-align: center;
}
.calc_select {
    width: 560px;
    margin: 0 auto 24px;
}
.calc_content {
    padding: 0 30px 0px 30px;
    text-align: center;
}
#span-total-weight {
    position: relative;
    bottom: 90%;
    padding-left: 44px;
}
#result-wrap > div > h4{
    color: #7b4209;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 8px;
    text-align: center;
}
.listing_divisions_mob{
    display: none;
}
#promotion,
#newone{
    display: none;
}
.double_cell{
    line-height: 1.8;

}
.double_cell_wrap{
    width: 200px;
}
.double_cell:first-child{
    border-bottom: 1px dotted #534525;
}
.gallery_main .slick-next{
    right: auto;
    left: 85%;
    background: #fba364 url("../img/main_arr_next.png") 50% 50% no-repeat;
    z-index: 2;
    box-shadow: inset 0 0 10px rgba(214,110,37,0.8);
    border-radius: 0 20px 20px 0;
    border: 1px solid #bb540c;
    height: 50px;
    width: 50px;
    padding: 0;
    overflow: visible;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gallery_main .slick-next:hover{
    background-position: 70% 50%;
    width: 70px;
}
.gallery_main .slick-prev {
    background: #fba364 url("../img/main_arr_prev.png") 50% 50% no-repeat;
    left: auto;
    right: 85%;
    z-index: 2;
    box-shadow: inset 0 0 10px rgba(214,110,37,0.8);
    border-radius: 20px 0 0 20px;
    border: 1px solid #bb540c;
    height: 50px;
    width: 50px;
    padding: 0;
    overflow: visible;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gallery_main .slick-prev:hover{
    background-position: 30% 50%;
    width: 70px;
}
.gallery_main .slick-next:before{
    background: url("../img/next_btn_bg.png") no-repeat;
    content: "";
    position: absolute;
    width: 11px;
    height: 95px;
    left: -1px;
    top: -23px;
}
.gallery_main .slick-prev:before {
    background: url("../img/prev_btn_bg.png") no-repeat;
    content: "";
    position: absolute;
    width: 11px;
    height: 95px;
    right: -1px;
    top: -23px;
}
.slick-dots li button{
    padding: 0;
    font-size: 0;
    border: 0;
    outline: 0;
    display: none;
}
.slick-dots li{
    cursor: pointer;
    background: #fff;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.7);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gallery_main_title{
    background: rgba(123,67,70,0.8);
    border-radius: 10px 0 0 10px;
    color: #fff;
    font-family: Georgia;
    font-size: 36px;
    font-style: italic;
    height: 60px;
    line-height: 57px;
    margin-right: -604px;
    padding: 0 20px;
    position: absolute;
    right: 50%;
    text-align: center;
    top: 68%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gallery_main_title:hover{
    color: #f0d4c9;
}
.slick-dots li:hover{
    background: #f87717;
}
.slick-dots li.slick-active{
    background: #f87717;
}
.gallery_main_item{
    position: relative;
}
.slick-dots{
    display: block;
    left: 50%;
    margin-left: -366px;
    position: absolute;
    top: 530px;
}
.gallery_main_wrap{
    position: absolute;
    top: 0;
    width: 1600px;
    left: 50%;
    margin-left: -800px;
}
/*slider*/
/*.titles,*/
/*.body_bg,*/
/*.slider_none{*/
    /*display: none;*/
/*}*/
/*end*/
.phones_phones{
    margin-top: -5px;
}
.gallery_main_item {
    height: 700px;
}
.dd .ddChild li .ddlabel {
    display: block;
}
.main_content_bottom_left_side .review_title{
    margin-left: -17px;
    margin-top: 15px;
    position: static;
}
#color_msdd .ddChild li .ddlabel,
#clr_msdd .ddChild li .ddlabel{
    margin-left: 75px;
}
.main_block_descr img{
    max-width: 100%!important;
}
.division_tovar_one_photo .action{
    margin-left: -9px!important;
}
.division_tovar_one_photo > a{
    display: block;
}
.listing_divisions .slider_item{
    margin-bottom: 10px;
}
.product_slider_cell .division_one_small{
    width: 180px;
    margin: 0 10px 10px 10px;
}
.pageTovarBlock_all .selectbox{
    width: 100%;
}
.pageTovarBlock_all .selectbox .select{
    box-sizing: border-box;
}
.action_product{
    text-align: left;
}
.action_product > div{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 1% 20px 1%;
}
.action_product img{
    max-width: 100%!important;
    height: auto!important;
    max-height: 195px!important;
    width: auto!important;
}
.menu_li:nth-child(5) a{
    color: #F87F3D;
}
.menu_li:nth-child(5) a:hover{
    color: #F87F3D;
}
#fancybox-title-inside{
    background: rgba(255,255,255,0.8);
    padding: 6px 0;
}
.price_from{
    padding: 8px!important;
    color: #5b1300;
    font-weight: bold;
    font-size: 20px;
}
#give_me_coupon{
    cursor: pointer;
}