<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/messages_ru.js"></script>
<style>.sub_content {padding: 0px;}</style>


<div class="korzina">
<?$uri = $_SERVER['REQUEST_URI'];?>
<?if (isset($this->ok)){?>
<div class="basket_ok">
<p>
<?=$this->getBlockContent('basket_text')?>
</p>

<p>
Номер Вашего заказа <b><?=$this->zakaz?>e</b>. Для упрощения дальнейшей работы и избежания недоразумений запишите этот номер и храните его до выполнения заказа.
</p>
    <div class="basket_ok_table">

    <?=$this->content?>

    <?=$this->zakaz_row->content?>
    <?
    if ($uri != '/cart/fast_complete') {
    ?>


    </div>
    <div class="basket_print">
        <a class="save_ico" href="/cart/savetxt" target="_blank">Сохранить заказ</a>
    </div>
    <div class="basket_print">
        <a class="print_ico" href="/cart/print" target="_blank">Распечатать заказ</a>
    </div>

    <div class="basket_ok_info">
        <div class="basket_ok_info_item basket_info_item_ico1">
            <p>
                Если у Вас остались вопросы вы можете связаться с менеджером: <span class="no_wrap">+7 (495) 740 05 85</span>
                Звоните ежедневно <span class="no_wrap">с 09.00 до 21.00.</span>
            </p>
        </div>
        <div class="basket_ok_info_item basket_info_item_ico2">
            <p>
                Вопросы по стоимости доставки можно уточнить по тел: <span class="no_wrap">+7 (910) 604 82 02</span> или
                <a href="http://pinskdrev.msk.ru/dostavka_mebeli_po_rossii">посмотреть</a> на нашем сайте
            </p>
        </div>
        <div class="basket_ok_info_item basket_info_item_ico3">
            <p>
                Вопросы по сборке мебели можно уточнить по телефону: <span class="no_wrap">+7 (910) 604 82 02</span> или
                <a href="http://pinskdrev.msk.ru/mebel_ot_proizvoditelya/item/17">ознакомится с ценами</a> на нашем сайте
            </p>
        </div>
    </div>
    <!--<table style="background-color: #f3ece8; border-radius: 10px;" cellpadding="0" cellspacing="0" border="0" valign="top">-->
        <!--<tr>-->
            <!--<td >-->
                <!--<p   style="padding: 5px;">-->
                    <!--Если у Вас остались вопросы вы можете связаться с менеджером: +7 (495) 740 05 85<br>-->
                    <!--Звоните ежедневно с 09.00 до 21.00.-->
                <!--</p>-->
            <!--</td>-->
            <!--<td >-->
                <!--<p   style="padding: 5px;">-->
                    <!--Вопросы по стоимости доставки можно уточнить по тел: +7 (910) 604 82 02 или-->
                    <!--<a href="http://pinskdrev.msk.ru/dostavka_mebeli_po_rossii">посмотреть</a> на нашем сайте-->
                <!--</p>-->
            <!--</td>-->
            <!--<td >-->
                <!--<p   style="padding: 5px;">-->
                    <!--Вопросы по сборке мебели можно уточнить по телефону: +7 (910) 604 82 02 или-->
                    <!--<a href="http://pinskdrev.msk.ru/mebel_ot_proizvoditelya/item/17">ознакомится с ценами</a> на нашем сайте-->
                <!--</p>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
    <!--<table width=100% cellpadding="0" cellspacing="0" border="0" valign="top">-->
        <!--<tr>-->
            <!--<td>-->
                <!--<p style="text-align: center; font-size: 18px; color: #884B2B;">Спасибо, что выбрали нашу компанию!</p>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
<?}?>
</div>
    <?}?>
<?if ($uri != '/cart/fast_complete') {?>
<?if (count($this->products)){?>
<script type="text/javascript">
    function total_price(){
        var total = 0;
        $("span[cost]").each(function(){
            total  = total+ $(this).text()*1;
        });
        $("#total").text(total);
        //$("#rassr_total").val(total);
        calculate ();
        changelink(total)
    }
    $(document).ready(function(){
        $('#zakaz').validate({
            errorElement : 'Div',
            rules: {
                'form[rassr_fam]': {
                    required: function(element) {
                        return $('input[name="form[payment]"]:checked').val() == 'В рассрочку';
                    }
                },
                'form[rassr_name]': {
                    required: function(element) {
                        return $('input[name="form[payment]"]:checked').val() == 'В рассрочку';
                    }
                },
                'form[rassr_otch]': {
                    required: function(element) {
                        return $('input[name="form[payment]"]:checked').val() == 'В рассрочку';
                    }
                },
                'form[rassr_birth]': {
                    required: function(element) {
                        return $('input[name="form[payment]"]:checked').val() == 'В рассрочку';
                    }
                },
                'form[rassr_f_seria]': {
                    required: function(element) {
                        return $('input[name="form[payment]"]:checked').val() == 'В рассрочку';
                    }
                },
                'form[rassr_f_number]': {
                    required: function(element) {
                        return $('input[name="form[payment]"]:checked').val() == 'В рассрочку';
                    }
                },
                'form[rassr_f_kem]': {
                    required: function(element) {
                        return $('input[name="form[payment]"]:checked').val() == 'В рассрочку';
                    }
                },
                'form[rassr_f_kogda]': {
                    required: function(element) {
                        return $('input[name="form[payment]"]:checked').val() == 'В рассрочку';
                    }
                },
                'form[rassr_mob]': {
                    required: function(element) {
                        return $('input[name="form[payment]"]:checked').val() == 'В рассрочку';
                    }
                }
            }
        });

        //$("#zakaz").validate();
        //total_price();
        checkprice();
        checkmonth();
        calculate ();
        $("input[price]").change(function(){
            var count = $(this).val();
            var price = $(this).attr("price");
            var id = $(this).attr('id');
            $("#pen_"+id).text(count*price);
            change(id,count);
            total_price();
            checkprice();
        });

        $("#send_zakaz").click(function(){
            checkprice();
            if($('input[name="form[payment]"]:checked').val() == 'В рассрочку'){
                calculate();
                var total_rassr = $("#rassr_price").val();
                var srok = $('select[name="form[rassr_srok]"]').val();
                if(total_rassr <15000 && srok >=6) {alert ('К сожалению, рассрочка на срок от 6 месяцев предоставляется только на суммы от 15000 руб'); return false;}
                if(total_rassr <8000){ alert ('К сожалению, рассрочка предоставляется только на суммы от 8 000 руб'); return false;}
            }
            $("#zakaz").submit();
            //$("#zakaz").valid();
        });

        $('input[name="form[payment]"]').click(function(){
            var total_rassr = $("#rassr_price").val();
            if($('input[name="form[payment]"]:checked').val() == 'В рассрочку'){
                if(total_rassr <8000){ alert ('К сожалению, рассрочка предоставляется только на суммы от 8 000 руб'); return false;}
                $("#rassrochka").show("slow");
                checkprice();
            }else{
                $("#rassrochka").hide("fast");
            }
        });

        $("#vznos").change(function(){
            checkmonth()
            calculate ();
        });

        $("#srok").change(function(){
            calculate()
        });
    });

    function checkprice(){
        if($('input[name="form[payment]"]:checked').val()=='В рассрочку') $("#rassrochka").show("slow");
        var total_rassr = $("#rassr_price").val();
        if(total_rassr > 100000 && ($('input[name="form[payment]"]:checked').val() == 'В рассрочку')){
            $(".second_document").show("slow");
            $("#s_kem").addClass("required");
            $("#s_kogda").addClass("required");
            $("#s_seria").addClass("required");
            $("#s_number").addClass("required");
        }else{
            $(".second_document").hide("fast");
            $("#s_kem").removeClass("required");
            $("#s_kogda").removeClass("required");
            $("#s_seria").removeClass("required");
            $("#s_number").removeClass("required");
        }
    }

    function checkmonth(){
        var n = $('select[name="form[rassr_vznos]"]').val();
        $('select[name="form[rassr_srok]"] option').remove();
        for(var i=0; i<p[n].length; i++) {
            $('select[name="form[rassr_srok]"]').append('<option value="'+p[n][i]+'">'+month[p[n][i]]+'</option>');
        }
    }

    function calculate (){
        var sum = $('#rassr_price').val();
        var vznos = $('select[name="form[rassr_vznos]"]').val()/10;
        var srok = $('select[name="form[rassr_srok]"]').val();
        var platezh = Math.round(sum*(1-vznos)/srok);
        $('#platezh').text(platezh+' руб');
    }

    function changelink(value){
        $("a[calc]").attr({
            href: "/kalkulyator_kredita/sum/"+value
        });
    }

    var month = new Object();
    month['3'] = "3 месяца";
    month['4'] = "4 месяца";
    month['5'] = "5 месяцев";
    month['6'] = "6 месяцев";
    month['7'] = "7 месяцев";
    month['8'] = "8 месяцев";
    month['9'] = "9 месяцев";
    month['10'] = "10 месяцев";
    month['11'] = "11 месяцев";
    month['12'] = "12 месяцев";
    month['18'] = "18 месяцев";
    var p = new Array();
    p[0] = ["6"];
    p[1] = ["3","4","7"];
    p[2] = ["8"];
    p[3] = ["5","9","10"];
    p[4] = ["11","12"];
    p[6] = ["18"];
</script>
<div class="korzina_top">
    <div class="korz1">Товары в корзине, готовые к заказу</div>
    <div class="korz2">Цена (за 1 шт.)</div>
    <div class="korz3">Количество</div>
    <div class="korz4">Действия</div>
    <div class="clear"></div>
</div>
<div class="korzina_body">

    <?
    $index = 1;
    $total = 0;
    foreach ($this->products as $id_unit => $product){
        $href = "/cat/".$product['division_url']."/".$product['product_url'];
        if (isset($this->order_params[$id_unit]['order_id']))
            $href.='/order/'.$this->order_params[$id_unit]['order_id'];
        ?>
        <div class="basket_row">
            <div class="basket_first">
                <div class="korzina_img">
                    <?if($product['img']){?>
                    <center><a href="<?=$href?>">
                        <img style="max-height: 241px" src="<?=$this->thumb('/pics/catalog/product/img/'.$product['img'], 170, 135, 1)?>" alt="" />
                    </a></center>
                    <?}?>
                </div>
                <div class="row_title">
                    <a href="<?=$href?>">
                        <?=$product['title']?>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="basket_div_vertical"></div>
            <div class="basket_second">
                <div class="basket_price">
                    <?=number_format($product['price'],0,',',' ')?> руб.
                    <input type="hidden" class="pr_price" value="<?=$product['price']?>" />
                </div>
            </div>
            <div class="basket_div_vertical"></div>
            <div class="basket_third">
                <div class="basket_input">
                    <input align="center" name="count[<?=$id_unit?>]" type="text" class="pr_count" size="1" id_unit="<?=$id_unit?>" value="<?=$product['count']?>" />
                </div>
            </div>
            <div class="basket_div_vertical"></div>
            <div class="basket_forth">
                <div class="korzina_action">
                    <a href="#" delete="<?=$id_unit?>" row="row_<?=$index?>" class="del"><img src="/img/backet_del.png" alt=""/></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="basket_div_hor"></div>
        <?
        $index++;
        $total = $total+$product['total_price'];
    }?>



    <div class="basket_row basket_row_info">
        <div class="basket_first">
            <div style="color: #494949;font-weight: bold; margin-top: 17px;">Общая стоимость заказа</div>
        </div>
        <div class="basket_second">
            <div class="basket_price">
                <?=number_format($total,0,',',' ')?> руб.
            </div>
        </div>
        <div class="basket_third">

        </div>
        <div class="basket_forth">
            <div class="basket_options">
                <a id="recalc" href="/cart" class="button">Пересчитать</a><br />
                <a onclick="location.href='/cart/act/clear';return false;" href="#" class="button">Очистить</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="order_wrapper">
    <div class="order_form">
    <?$order = $this->order;?>
    <h1>Оформление заказа:</h1>
    <?if (isset($this->err)){?>
        <div class="errors">
            <p>Ошибка</p>
            <?
            if ($this->err == 1) $error = 'Заполните поля отмеченные звёздочкой';
            if ($this->err == 2) $error = 'Не верно подсчитано выражение'
            ?>
            <p><strong><?=$error?></strong></p>
        </div>
        <?}?>



<div class="contacts_form_wrapper">
<div class="contacts_form">
    Символом * отмечены поля, обязательные для заполнения
    <form action="" method="post" id="zakaz" name="zakaz">
        <div class="order_option">
            <label>Ваше имя *</label>
            <input maxlength="200" name="form[user_name]" value="<?=(isset($order['user_name']))? $order['user_name']:''?>" type="text" class="w_320 required" />
            <div class="clear"></div>

        </div>
        <div class="order_option">

            <label>Город</label>
            <input maxlength="200" name="form[user_city]" type="text" value="<?=(isset($order['user_city']))? $order['user_city']:''?>" class="w_320" />
            <div class="clear"></div>

        </div>
        <div class="order_option">

            <label>Улица</label>
            <input maxlength="200" name="form[user_street]" type="text" value="<?=(isset($order['user_street']))? $order['user_street']:''?>" class="w_320" />
            <div class="clear"></div>

        </div>
        <div class="order_option">

            <label>Дом </label>
            <input maxlength="200" name="form[user_house]" type="text" value="<?=(isset($order['user_house']))? $order['user_house']: '' ?>" class="w_320" />
            <div class="clear"></div>

        </div>
        <div class="order_option">

            <label>Корпус</label>
            <input maxlength="200" name="form[user_block]" type="text" value="<?=(isset($order['user_block']))? $order['user_block']:''?>" class="w_320" />
            <div class="clear"></div>

        </div>
        <div class="order_option">

            <label>Квартира</label>
            <input maxlength="200" name="form[user_flat]" type="text" value="<?=(isset($order['user_flat']))? $order['user_flat']: ''?>" class="w_320" />
            <div class="clear"></div>

        </div>
        <div class="order_option">

            <label>Телефон *</label>
            <input maxlength="200" name="form[user_phone]" type="text" value="<?=(isset($order['user_phone']))? $order['user_phone']:''?>" class="w_320 required" />
            <div class="clear"></div>
        </div>
        <div class="order_option">

            <label>E-mail *</label>
            <input maxlength="200" name="form[user_email]" type="text" value="<?=(isset($order['user_email']))? $order['user_email']:'' ?>" class="w_320 required email" />
            <div class="clear"></div>
        </div>

        <div class="order_option">

            <label>Промокод</label>
            <input name="form[promokod]" maxlength="200" type="text" value="<?=(isset($order['promokod']))? $order['promokod']: ''?>" class="w_320" />
            <div class="clear"></div>

        </div>

        <div class="order_option">

            <label>Коментарий</label>
            <textarea maxlength="1000" name="form[user_comment]" cols="45" rows="5" class="width_320"><?=(isset($order['user_comment']))? $order['user_comment']: ''?></textarea>
            <div class="clear"></div>
        </div>
        <!-- <div class="form_bl w_320">
	  			<strong>Способы оплаты:</strong>
	    		<label class="overflow">
	        		<input type="radio" name="form[payment]" value="Наличными" <?=(!isset($order['payment']) || $order['payment']=='Наличными')? 'checked="true"':''?> />
	    			<i class="overflow">Наличными</i>
	    		</label>
	    		<label class="overflow">
	      			<input type="radio" name="form[payment]" value="Через Сбербанк" <?=(isset($order['payment']) && $order['payment']=='Через Сбербанк')? 'checked="true"':''?> />
	      			<i class="overflow">Через Сбербанк</i>
	      		</label>
	    		<label class="overflow">
	      			<input type="radio" name="form[payment]" value="Безналичный расчет" <?=(isset($order['payment']) && $order['payment']=='Безналичный расчет')? 'checked="true"':''?> />
	      			<i class="overflow">Безналичный расчет</i>
	      		</label>
	      		<label class="overflow">
	      			<input type="radio" name="form[payment]" value="В рассрочку" id="rassr" <?=(isset($order['payment']) && $order['payment']=='В рассрочку')? 'checked="true"':''?> />
	      			<i class="overflow"><b>В рассрочку</b></i>
	      		</label>
	  		</div>
	  		<br />
	  		<div class="form_bl w_245">
	  			<strong>Способы доставки:</strong>
	    		<label class="overflow">
	        		<input type="radio" name="form[shipment]" value="Самовывоз" checked="true"  <?=(!isset($order['shipment']) || $order['shipment']=='Самовывоз')? 'checked="true"':''?> />
	    			<i class="overflow">Самовывоз</i>
	    		</label>
	    		<label class="overflow">
	      			<input type="radio" name="form[shipment]" value="Курьером" <?=(isset($order['shipment']) && $order['shipment']=='Курьером')? 'checked="true"':''?> />
	      			<i class="overflow">Курьером </i>
	      		</label>
			</div>
			<br /> -->
        <div class="rassrochka" id="rassrochka" style="display:none">
            <strong>Калькулятор рассрочки:</strong><br />
            <label>Стоимость:</label><br />
            <input readonly="true" name="form[rassr_total]" type="text" id="rassr_price" class="w_125" value="<?=$total?>" /><br />
            <label>Первоначальный взнос:</label><br />
            <select name="form[rassr_vznos]" id="vznos" class="w_130">
                <option value="0">0%</option>
                <option value="1">10%</option>
                <option value="2">20%</option>
                <option value="3">30%</option>
                <option value="4">40%</option>
                <option value="6">60%</option>
            </select><br />
            <label>Срок рассрочки:</label><br />
            <select name="form[rassr_srok]" id="srok"  class="w_130"></select><br />
            <label>Ежемесячный платёж</label><br />
            <span id="platezh" type="text" style="font-color: red"></span><br />
            <strong class="p_l_120">Персональные Данные:</strong><br />
            <label>	Фамилия<em>*</em>:</label><br />
            <input name="form[rassr_fam]" value="<?=(isset($order['rassr_fam']))? $order['rassr_fam']:'' ?>" type="text" class=" w_320" /><br />
            <label>Имя<em>*</em>:</label><br />
            <input name="form[rassr_name]" value="<?=(isset($order['rassr_name']))? $order['rassr_name']:'' ?>" type="text" class=" w_320" /><br />
            <label>Отчество<em>*</em>:</label><br />
            <input name="form[rassr_otch]" value="<?=(isset($order['rassr_otch']))? $order['rassr_otch']:'' ?>" type="text" class=" w_320" /><br />
            <label>Дата рождения<em>*</em>:</label><br />
            <input name="form[rassr_birth]" value="<?=(isset($order['rassr_birth']))? $order['rassr_birth']:'' ?>" type="text" class=" w_320" /><br />
            <strong class="p_l_120">Паспорт:</strong><br />
            <label>Серия<em>*</em>:</label><br />
            <input name="form[rassr_f_seria]" value="<?=(isset($order['rassr_f_seria']))? $order['rassr_f_seria']:'' ?>" type="text" class="w_105" /><br />
            <label>Номер<em>*</em>:</label><br />
            <input name="form[rassr_f_number]" value="<?=(isset($order['rassr_f_number']))? $order['rassr_f_number']:'' ?>" type="text" class="w_105 number"/><br />
            <label>Кем выдан<em>*</em>:</label><br />
            <input name="form[rassr_f_kem]" value="<?=(isset($order['rassr_f_kem']))? $order['rassr_f_kem']:'' ?>" type="text" class="w_320" /><br />
            <label>Когда выдан<em>*</em>:</label><br />
            <input name="form[rassr_f_kogda]" value="<?=(isset($order['rassr_f_kogda']))? $order['rassr_f_kogda']:'' ?>" type="text" class="w_320" /><br />
            <div class="second_document" style="display:none">
                <strong class="p_l_120">Второй документ:</strong><br />
                <label>Серия<em>*</em>:</label><br />
                <input name="form[rassr_s_seria]" value="<?=(isset($order['rassr_s_seria']))? $order['rassr_s_seria']:'' ?>" type="text" class=" w_105" id="s_seria" /><br />
                <label>Номер<em>*</em>:</label><br />
                <input name="form[rassr_s_number]" value="<?=(isset($order['rassr_s_number']))? $order['rassr_s_number']:'' ?>" type="text" class="w_105 number" id="s_number" /><br />
                <label>Кем выдан<em>*</em>:</label><br />
                <input name="form[rassr_s_kem]" value="<?=(isset($order['rassr_s_kem']))? $order['rassr_s_kem']:'' ?>" type="text" class="w_320" id="s_kem"/><br />
                <label>Когда выдан<em>*</em>:</label><br />
                <input name="form[rassr_s_kogda]" value="<?=(isset($order['rassr_s_kogda']))? $order['rassr_s_kogda']:'' ?>" type="text" class="w_320" id="s_kogda"/><br />
            </div>
            <br />
            <label>Место рождения (по паспорту):</label><br />
            <input name="form[birthplace]" value="<?=(isset($order['birthplace']))? $order['birthplace']:'' ?>" type="text" class="w_320" /><br />
            <label>Место работы:</label><br />
            <input name="form[rassr_work]" value="<?=(isset($order['rassr_work']))? $order['rassr_work']:'' ?>" type="text" class="w_320" /><br />
            <label>Адрес работы:</label><br />
            <input name="form[rassr_work_place]" value="<?=(isset($order['rassr_work_place']))? $order['rassr_work_place']:'' ?>" type="text" class="w_320" /><br />
            <label>Должность:</label><br />
            <input name="form[rassr_dol]" value="<?=(isset($order['rassr_dol']))? $order['rassr_dol']:'' ?>" type="text" class="w_320" /><br />
            <label>Период работы в организации:</label><br />
            <input name="form[worktime]" value="<?=(isset($order['worktime']))? $order['worktime']:'' ?>" type="text" class="w_320" /><br />
            <label>Адрес регистрации по месту жительства (прописка):</label><br />
            <input name="form[rassr_prop]" value="<?=(isset($order['rassr_prop']))? $order['rassr_prop']:'' ?>" type="text" class="w_320" /><br />
            <label>Дата регистрации:</label><br />
            <input name="form[data_registr]" value="<?=(isset($order['data_registr']))? $order['data_registr']:'' ?>" type="text" class="w_320" /><br />
            <label>Адрес проживания:</label><br />
            <input name="form[rassr_prozh]" value="<?=(isset($order['rassr_prozh']))? $order['rassr_prozh']:'' ?>" type="text" class="w_320" /><br />

            <strong class="p_l_120">Контактные телефоны:</strong><br />
            <label>мобильный<em>*</em>:</label><br />
            <input name="form[rassr_mob]" value="<?=(isset($order['rassr_mob']))? $order['rassr_mob']:'' ?>" type="text" class="w_320"/><br />
            <label>рабочий:</label><br />
            <input name="form[rassr_rab]" value="<?=(isset($order['rassr_rab']))? $order['rassr_rab']:'' ?>" type="text" class="w_320" /><br />
            <label>домашний:</label><br />
            <input name="form[rassr_dom]" value="<?=(isset($order['rassr_dom']))? $order['rassr_dom']:'' ?>" type="text" class="w_320" /><br />
            <label>Телефон контактного лица (любой городской номер знакомого лица не проживающего с лицом оформляющим рассрочку)</label><br />
            <input name="form[friend]" value="<?=(isset($order['friend']))? $order['friend']:'' ?>" type="text" class="w_320" /><br />
        </div>
        <div class="order_option">
            Для защиты от спама посчитайте, пожалуйста:</label>
        </div>
        <div class="order_option">
            <label> <?=$this->captcha?> =</label>
            <input name="form[captcha]" type="text" class="input" id="form-captcha"/>
	    <?$captcha_value = ($_SESSION['answer'])*2;?>
	    <input type="hidden" name="form[captch_res]" value="<?=$captcha_value?>"/>
            <div class="clear"></div>
        </div>
        <input class="contacts_bth"  type="image" name="submit" src="/img/send.png" value="Заказать" id="send_zakaz" onclick="" />
    </form>
</div>
</div>
</div>
</div>
    <?} elseif(!isset($this->ok)) {?>
    <p style="margin-left: 17px;">Ваша корзина пуста</p>
    <?}?>
    <?}?>
</div>

