<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>pinskrev.msk.ru - Заказ № <?=$this->zakaz?></title>

    </head>
    <body>
        <p>pinskdrev.msk.ru</p>
        <p>Номер заказа <?=$this->zakaz?>e</p>
		<?=$this->zakaz_row->content?>
    </body>
</html>

