<div id="left_block">
	<div class="prava_dostupa">
	<table id="news_table" cellspacing="0" cellpadding="0" border="0">
		<tr class="head">
			<th>Название элемента</th>
			<th>Несоответствие</th>
		</tr>
		<?foreach ($this->all as $data){?>
        <?if ($data['img'] == '' || $data['img_big'] == '') {?>
        <?if ($data['img'] == '') {$check_small = 'маленькое изображение';} else {$check_small = '';}?>
        <?if ($data['img_big'] == '') {$check_big = 'большое изображение';} else {$check_big = '';}?>
            <tr>
			<td>
				<a href ="/catalog/ru/admin_product_units/edit/id_product/<?=$data['id_product']?>/id/<?=$data['id']?>/" title="редактировать"><strong><?=$data['title']?></strong></a>
			</td>
			<td class="options" style="color:#b81900">
                <?=$check_small?>
                <?=$check_big?>
			</td>
		</tr>
		<?}}?>
	</table>
	</div>					
	<div style="padding-left: 20px;padding-top: 10px;" >								
		<?=$this->Pagination($this->currentModule.'/index/', (int)$this->total, (int)$this->onpage, $this->current_page);?>
	</div>
</div>
