 <div class="footer">
    <div class="footer_left">
      <div class="footer_right">
        <div class="footer_text">Copyright © <?=date('Y')?> <a href="#"></a> <br />
          Copyright © <?=date('Y')?> <a href="#">CMS</a></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>