<div id="left_block">
    <div class="prava_dostupa">
        <table id="news_table" cellspacing="0" cellpadding="0" border="0">
            <tr class="head">
                <th>Название</th>
                <th>Операции</th>
            </tr>
            <?php
            foreach ($this->cities as $key => $data){

                ?>
                <tr>
                    <td >
                        <a  href ="/contactstemplates/ru/admin_cities/index/id/<?=$data->id?>/" title="редактировать"><strong><?=$data->name?></strong></a>

                    </td >
                    <td class="options">
                        <a href = '<?=$this->currentModule?>/active/id/<?=$data->id?>'><img src="/img/admin/active_<?=$data->active ?>.gif" /></a>
                        <a href = '<?=$this->currentModule?>/edit/id/<?=$data->id?>'><img src="/img/admin/redact.gif" /></a>
                        <a href = '<?=$this->currentModule?>/delete/id/<?=$data->id?>'><img src="/img/admin/delete.gif" onclick="return confirm('Вы уверены?');"></a>
                    </td>
                </tr>
                <?php
            }
            ?>
        </table>
    </div>
</div>

<div id="right_block">
    <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
            <li><a href="<?=$this->currentModule?>/add/">Создать элемент</a></li>
        </ul>
    </div>
</div>



