<?=$this->layout()->render('front/parts/headersub');?>
<!--Top content-->
<div class="top_content">

    <!--Icons-->
    <div class="icons">
    	<a href="/" title="На главную"><img src="/img/ico_home.gif" alt="на главную"  /></a> 
    	<a href="/sitemap" title="Карта сайта"><img src="/img/ico_sitemap.gif" alt="карта сайта" /></a> 
    	<a href="/contacts" title="Контакты"><img src="/img/ico_mail.gif" alt="" /></a> 
    	<a href="/cart"><img src="/img/ico_cart.gif" alt="" /></a>
    </div>
    <!--End icons-->
    <?=$this->UserArea();?>
    <div class="contact">
        <p><?=$this->getBlockContent('header_work_time')?></p>
        <p class="phone"><?=$this->getBlockContent('header_contacts')?></p>
    </div>

    <div class="constructor"><a href="/dishmake">Наш конструктор</a></div>

    <?
    $bread_items =array();
    if (isset($this->layout()->bread_items)) {
        $bread_items = $this->layout()->bread_items;
    }
    if ($this->layout()->no_bread==0) {?>
    <div class="breadcrumb">
            <?=$this->breadCumbs($this->layout()->page->id, $bread_items);?>
    </div>
        <?}?>
</div>
<!--End top content-->

</div>

<div class="width content overflow <?=isset($this->layout()->id_product) ? 'v_korzine' : ''?>">
    <div class="left_col"><div class="inner">

            <img src="/img/text_menu.gif" alt="Меню" />
            <?=$this->MenuDate();?>
            <div class="menu">
            <?=$this->CatalogMenu($this->layout()->id_division)?>
            </div>
            <div class="search">
                <div class="inner">
                    <form action="/search">
                        <h4>Лень лазить по меню?</h4>
                        <div class="item">
                            <input name="keywords" type="text" class="input" />
                            <button type="submit" src="/img/ico_search.gif" class="button"></button>
                        </div>
                    </form> 
                </div>
            </div>
        </div></div>
    <div class="head_col">
        <h1><?=$this->placeholder('h1')?></h1>
    </div>
     <?=$this->layout()->content;?>
   


</div>
<?=$this->layout()->render('front/parts/footer');?>

</div>
</body>
</html>
