<?=$this->layout()->render('front/parts/headersub');?>
<link rel="stylesheet" type="text/css"  href="/css/admin/autocomplete.css" />
<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/js/select_search.js"></script>
<?if (isset($_GET['name'])) {?><?$title_g = $_GET['name'];?><?} else { $title_g = 'Поиск'; }?>
<?if (isset($_GET['type'])) {?>
<?$type_g = $_GET['type'];?>
    <script type="text/javascript" src="/js/search_params.js"></script>

<?} else { $type_g = '';}?>
<?if (isset($_GET['material'])) {?><?$material_g = $_GET['material'];?><?} else { $material_g = ''; }?>
<?if (isset($_GET['color'])) {?><?$color_g = $_GET['color'];?><?} else { $color_g = ''; }?>
<?if (isset($_GET['width']) && $_GET['width'] !='') {?><?$width = $_GET['width'];?><?} else { $width = 'Ширина до'; }?>
<?if (isset($_GET['price_from']) && $_GET['price_from'] !='') {?><?$price_from = $_GET['price_from'];?><?} else { $price_from = 'Цена от'; }?>
<?if (isset($_GET['price_to']) && $_GET['price_to'] !='') {?><?$price_to = $_GET['price_to'];?><?} else { $price_to = 'Цена до'; }?>
<?//Zend_Debug::dump($price_to); exit();?>
<div class="content_wrapper_sub">
<div class="content">
<div class="content_top_block_sub">
    <div class="content_top_left_side_sub">
        <div class="phones_block_sub">
            <div class="phones_title">
                    <a class="feedback_click" onclick="showOZ()" style="cursor:pointer;"><img src="/img/callus.png" alt="" /></a>
                </div>
            <div class="phones_phones">
                <?=$this->getBlockContent('header_phones')?>
            </div>
            <div class="phones_works">
                <p>Время работы</p>
                <p>ежедневно</p>
                <p class="bold">10:00 - 20:00</p>
            </div>
        </div>
        <div class="basket_sub">
		 <?
            $_cart = new Zend_Session_Namespace('cart');
            $_products_count = '';
            if (isset($_cart->products) && count($_cart->products)>0) {
                $_products_count = '(товаров: '.count($_cart->products).')';
                echo '<a href="/cart" title="Корзина"><span>Корзина :</span> <i>'.count($_cart->products).'</i></a>';
            }
            else {
                echo '<a title="Корзина"><span>Корзина: пусто </span></a>';
            }
            ?>
        </div>
    </div>
    <div class="content_top_right_side_sub">
        <?
		$bread_items =array();
		if (isset($this->layout()->bread_items)) {
			$bread_items = $this->layout()->bread_items;
		}
		if ($this->layout()->no_bread==0) {?>
			<div class="breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">                               
				<?if($this->layout()->page){echo($this->breadCumbs($this->layout()->page->id, $bread_items));}?>
			</div>
        <?}?>
        <div class="main_search">
            <div class="toggle-search-btn">Подбор мебели</div>
            <div class="search_form">
                <div class="logo_opasity"></div>
                <form action="/search">
                    <input class="input_big" type="text" id="search" name="name" value="<?if ($title_g == 'Поиск') { echo 'Поиск';} else { echo $title_g; }?>" onFocus="if(this.value=='Поиск'){this.value=''}" onBlur="if(this.value==''){this.value='Поиск'}">
                    <div class="selects">
                        <?$types = Catalog_Product_Mebeltype::getInstance()->getAllActive();?>
                        <?php echo $this->partial('/front/selects.phtml', array(
                        'types' => $types
                        )); ?>
                    </div>
                    <div class="checkboxes">
                        <table>
                            <?$i=0;?>
                            <?$checks = Catalog_Product_Default::getInstance()->getCheck();?>
                            <?foreach ($checks as $check) { $i++;?>
                            <?if (($i== 1) || ($i== 5) ||($i== 9)) {?><tr><?}?>
                            <td>
                                <p><input type="checkbox" name="<?=$check['system_name']?>" id="<?=$check['system_name']?>" <?if (isset($_GET[$check['system_name']])) {?> checked<?}?>><label for="<?=$check['system_name']?>"><?=$check['title']?></label></p>
                            </td>
                            <?if (($i== 4) || ($i== 8) ||($i== 12)) {?></tr><?}?>
                            <?}?>
                        </table>
                    </div>
		    <input class="input_search" type="image" src="/img/lupa.png" alt="" style="margin-left: 858px">
                    <div class="main_search_button" style="right: -10px">
			<div class="arrow_image"><img src="/img/arrow_search.png" alt=""/></div>
                        <input type="image" src="/img/search.png">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="background_line"></div>
<div class="main_content_div">
    <div class="h1">
	<?//Zend_Debug::dump($this->page);exit();?>
        <h1><?=$this->placeholder('h1');?></h1>
    </div>
    <!--div class="ya_share">
	<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki"></div>
    </div-->
    <script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
    <div class="ya_share">
        <div class="pluso" data-background="#ebebeb" data-options="small,square,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,google,email,print"></div>
    </div>
    <div class="clear"></div>
    <div class="sub_content">
        <?=$this->layout()->content?>
    </div>
</div>
</div>
</div>
<?=$this->layout()->render('front/parts/footer');?>
