<?=$this->layout()->render('front/parts/header');?>
<link rel="stylesheet" type="text/css"  href="/css/admin/autocomplete.css" />
<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/js/select_search.js"></script>
<div class="content_wrapper">
<div class="content">
<div class="content_top_block">
    <div class="content_top_left_side">
        <div class="basket basket_sub">
            <?
            $_cart = new Zend_Session_Namespace('cart');
            $_products_count = '';
            if (isset($_cart->products) && count($_cart->products)>0) {
                $_products_count = '(товаров: '.count($_cart->products).')';
                echo '<a href="/cart" title="Корзина">Корзина('.count($_cart->products).')</a>';
            }
            else {
                echo '<a title="Корзина"> Корзина: пусто </a>';
            }
            ?>
        </div>

      <!--  <script type="text/javascript">
            $(document).ready(function () {

                setInterval(slide, 9000);
                slide();
                function slide() {
                    setTimeout(function () {
                        $('.home_ban1').fadeOut(1000);
                        $('.home_ban2').fadeIn(1000);
                    },3000);
                    setTimeout(function () {
                        $('.home_ban2').fadeOut(1000);
                        $('.home_ban3').fadeIn(1000);
                    },6000);

                    setTimeout(function () {
                        $('.home_ban3').fadeOut(1000);
                        $('.home_ban1').fadeIn(1000);
                    },9000);
                    /*
                    setTimeout(function () {
                        $('.home_ban4').fadeOut(100);
                        $('.home_ban1').fadeIn(100);
                    },1200);*/
                }
            });
        </script>
-->
        <div class="home_banner_slider">
        <a style="position: absolute; width: 100%; height: 176px; left: 0; top: 0; background: url(gif.gif) left top no-repeat;" href="http://pinskdrev.msk.ru/vsem_pokupatelyam_darim_2000_rublej" target="_blank"></a>
            <!--object type="application/x-shockwave-flash" data="/banbanban.swf" width="200" height="175">
                <param name="movie" value="/banbanban.swf" />
                <param name="wmode" value="transparent" />
                <param name="FlashVars" value="link1=#" />
            </object--gif.gif>

            <!--<a href="/skachaj_skidku" class="home_ban_link"></a>
      <img class="home_ban1" src="/img/bn.gif" alt="" />
      <img style="display: none;" class="home_ban2" src="/img/bn_img2.jpg" alt="" />
      <img style="display: none;" class="home_ban3" src="/img/bn_img3.jpg" alt="" />-->
  <!--          <a href="/cat/3_mestnye_kombinirovannye_divany/trehmestnyj_kombinirovannyj_divan_manchester"> <img class="home_ban1" src="/img/banner-man-1.jpg" alt="" /></a>
            <a href="/cat/3_mestnye_kombinirovannye_divany/trehmestnyj_kombinirovannyj_divan_manchester"> <img style="display: none;"  class="home_ban2" src="/img/banner-man-2.jpg" alt="" /></a>
            <a href="/cat/3_mestnye_kombinirovannye_divany/trehmestnyj_kombinirovannyj_divan_manchester"> <img style="display: none;"  class="home_ban3" src="/img/banner-man-3.jpg" alt="" /></a>
-->
        </div>
    </div>
    <div class="content_top_right_side">
        <div class="breadcrumbs">
            <a>Главная</a>
        </div>
        <div class="main_search">
            <div class="toggle-search-btn">Подбор мебели</div>
            <div class="search_form">
                <div class="logo_opasity"></div>

                <form action="/search">
                    <input class="input_big" type="text" id="search" name="name" value="Поиск" onFocus="if(this.value=='Поиск'){this.value=''}" onBlur="if(this.value==''){this.value='Поиск'}">
                    <div class="selects">
                        <?$types = Catalog_Product_Mebeltype::getInstance()->getAllActive();?>
                        <?php echo $this->partial('/front/selects.phtml', array(
                        'types' => $types
                    )); ?>
                    </div>
                    <div class="checkboxes">
                        <table>
                            <?$i=0;?>
                            <?foreach ($this->layout()->checks as $check) { $i++;?>

                            <?if (($i== 1) || ($i== 5) ||($i== 9)) {?><tr><?}?>
                            <td>
                                <p><input type="checkbox" name="<?=$check['system_name']?>" id="<?=$check['system_name']?>"><label for="<?=$check['system_name']?>"><?=$check['title']?></label></p>
                            </td>
                            <?if (($i== 4) || ($i== 8) ||($i== 12)) {?></tr><?}?>
                            <?}?>
                        </table>

                    </div>
                    <input class="input_search" type="image" src="/img/lupa.png" alt="">
                    <div class="main_search_button">
                        <div class="arrow_image"><img src="/img/arrow_search.png" alt=""/></div>
                        <input type="image" src="/img/search.png">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="background_line"></div>
<?if (count($this->layout()->special_main) > 0) {?>
<div class="main_division_spec" >
    <a class="main_division_title_spec" href="/cat/mebel_so_sklada">В наличии</a>
    <div class="main_spec">
        <div class="main_soft_divisions">


            <!--new item-->
            <div class="main_soft_divisions_new">

            <?
            $i=1;
            $j=1;
            $slideCount = count($this->layout()->special_main);
            ?>
            <?foreach ($this->layout()->special_main as $item) {?>
            <?$division_path = $item->getDivisionUrl();
            $division = ($division_path) ? "/cat/$division_path" : "/product";
            $img = $item->getImageNovinka();
            $options = $item->getDefaultOptions();?>
                <div class="main_division_one_picture_main picture_main_new">
                    <a class="spec_img" href="<?=$division?>/<?=$item->url?>">
                        <?if ($options['akciya']->value){?>
                            <div class="action_ico"></div>
                        <?}?>
                        <img alt="" style="max-width: 330px; max-height: 232px" src="<?=$this->thumb('/pics/catalog/product/img/'.$img, 330, 232)?>" class="hover_picture">
                    </a>
                    <div class="division_one_name_small">
                        <div class="division_one_name_small_title"><a href="<?=$division?>/<?=$item->url?>"><?=$item->title_short?></a></div>
                        <div class="division_one_price_small">
                            <?if ($item->price > 0) {?>
                                Цена от: <span><?=number_format($item->price,0,',',' ')?> руб.</span>
                            <?} else {?>
                                <?if ($item->price_with_tr > 0) {?>
                                    Цена от: <span><?=number_format($item->price_with_tr,0,',',' ')?> руб.</span>
                                <?} else {?>
                                    <span>Изучение спроса</span>
                                <?}?>
                            <?}?>
                        </div>
                    </div>
                </div>
            <?}?>              

            </div>
            
        </div>
    </div>
</div>
<?}?>
<div class="main_content_blocks">
    <!--<div class="main_divisions">
        <ul class='kwicks kwicks-horizontal'>
                        <li id='panel-1'><a href="/cat/mebel_dlya_spalni"><img src="/img/1.png" alt=""/></a></li>
                        <li id='panel-2'><a href="/cat/mebel_dlya_gostinoj"><img src="/img/2.png" alt=""/></a></li>
                        <li id='panel-3'><a href="/cat/mebel_dlya_detskoj"><img src="/img/3.png" alt=""/></a></li>
                        <li id='panel-4'><a href="/cat/mebel_dlya_kuhni"><img src="/img/4.png" alt=""/></a></li>
                        <li id='panel-5'><a href="/cat/mebel_dlya_prihozhej"><img src="/img/5.png" alt=""/></a></li>
                        <li id='panel-6'><a href="/cat/mebel_dlya_kabineta_i_biblioteki"><img src="/img/6.png" alt=""/></a></li>
                    </ul>
                    <div class="clear"></div>
    </div>
    <div class="main_division_bg">
        <img src="/img/mk_shadow.jpg" alt=""/>
    </div>-->
    <div class="main_content_text">        
        <article><?=$this->layout()->content?></article>
    </div>
</div>
<!--div class="main_division">
    <div class="main_division_title">
        <a class="main_division_title_spec" href="/cat/myagkaya_mebel_spec">Спецпредложение</a>
    </div>      
    <div class="listing_slider_cell main_slider_cell">
        <?
        $i=1;
        $j=1;
        $slideCount = count($this->layout()->softs_main);
        ?>
        <?foreach ($this->layout()->softs_main as $item) {?>
        <?$division_path = $item->getDivisionUrl();
        $division = ($division_path) ? "/cat/$division_path" : "/product";
        $img = $item->getImageNovinka();
        $options = $item->getDefaultOptions();?>

        <div class="main_division_one">
            <div class="main_division_one_picture">
                <a href="<?=$division?>/<?=$item->url?>">
                    <?if ($options['akciya']->value){?>
                            <img class="action" src="/img/action_small.png" style="border:none; margin-left: -4px; margin-top: -4px;" alt="Акция"/>
                            <?}?>
                    <img class="hover_picture" height="113" alt="" style="max-width: 170px; max-height: 113px" src="<?=$this->thumb('/pics/catalog/product/img/'.$img, 170, 113)?>">
                </a>
            </div>
            <div class="main_division_one_title">
                <a href="<?=$division?>/<?=$item->url?>"><?=$item->title_short?></a>
            </div>
        </div>
        <?}?> 
    </div>    
</div-->
<div class="main_content_bottom clearfix">
    <div class="main_content_bottom_left_side">
        <div class="review_title">
            <p><a href="/obzori">Обзоры</a></p>
        </div>
        <?foreach ($this->layout()->main_reviews_big as $reviews_big) {?>
        <div class="big_review">
            <div class="big_review_img">
                <a href="/obzori/item/<?=$reviews_big['id']?>"><img src="/pics/reviews/<?=$reviews_big['big_img']?>" alt="" width="272" height="188"/></a>
            </div>
            <div class="review_description">
                <div class="big_review_title">
                    <p><a href="/obzori/item/<?=$reviews_big['id']?>"><?=$reviews_big['name']?></a></p>
                </div>
                <div class="big_review_description">
                    <?=$reviews_big['intro']?>
                </div>
                <div class="big_review_more">
                    <p><a href="/obzori/item/<?=$reviews_big['id']?>">Подробнее</a></p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <?}?>
        <div class="small_reviews">
            <?foreach ($this->layout()->main_reviews as $reviews) {?>
            <div class="small_review">
                <div class="small_review_image">
                    <a href="/obzori/item/<?=$reviews['id']?>"><img src="/pics/reviews/<?=$reviews['big_img']?>" width="185" height="126" alt=""/></a>
                </div>
                <div class="small_review_title">
                    <p><a href="/obzori/item/<?=$reviews['id']?>"><?=$reviews['name']?></a></p>
                </div>
            </div>
            <?}?>
            <div class="clear"></div>
        </div>
    </div>
    <!--<div class="content_bottom_divider"></div>-->
    <div class="main_content_bottom_right_side">
        <div class="news_title">
            <p><a href="/novosti">Новости</a></p>
        </div>
        <div class="all_news">
            <?foreach ($this->layout()->main_news as $news) {?>
            <div class="news">
                <div class="news_one_title">
                    <p><a href="novosti/item/<?=$news['id']?>" title="<?=$news['name']?>"><?=$news['name']?></a></p>
                </div>
                <div class="news_one_descr">
                    <?=$news['intro'];?>
                </div>
                <div class="news_one_more">
                    <p><a href="novosti/item/<?=$news['id']?>" title="<?=$news['name']?>">Подробнее</a></p>
                </div>
            </div>
            <?}?>
        </div>
    </div>
    <div class="clear"></div>
</div>
</div>
</div>
<?=$this->layout()->render('front/parts/footer');?>
<?=$this->layout()->render('profiler');?>
