<?if (isset($_GET['type'])) {?><?$type_g = $_GET['type'];?><?} else { $type_g = '';}?>
<div class="count_tovars"></div>
<div class="division_types">
    <select name="type" class="mebel_type">
        <option value="0">Тип мебели</option>
        <?foreach ($this->types as $type) {?>
        <option value="<?=$type['id']?>"  <?if ($type_g == $type['id']) {echo 'selected';}?>><?=$type['title'];?></option>
        <?}?>
    </select>
</div>
<div class="division_materials">
    <select name="materials" class="materials">
    </select>
</div>
<div class="division_colors">
    <select name="colors" class="colors">
    </select>
</div>
    <div class="division_inputs">
<input class="main_inputs width_before" type="text" name="width" value="Ширина до" onFocus="if(this.value=='Ширина до'){this.value=''}" onBlur="if(this.value==''){this.value='Ширина до'}">
<input class="main_inputs price_low" type="text" name="price_from" value="Цена от" onFocus="if(this.value=='Цена от'){this.value=''}" onBlur="if(this.value==''){this.value='Цена от'}">
<input class="main_inputs price_to" type="text" name="price_to" value="Цена до" onFocus="if(this.value=='Цена до'){this.value=''}" onBlur="if(this.value==''){this.value='Цена до'}">
    </div>
<div class="clear"></div>
