<div id="left_block">
    <div class="block_r ser content_blocks">
        <h3><b>Управление сайтом</b></h3>
        <ul>
            <li><a href="/pages/<?=$this->layout()->lang;?>/admin_pages/">Структура</a></li>
            <li><a href="/blocks/<?=$this->layout()->lang;?>/admin_blocks/">Блоки</a></li>
            <li><a href="/feedbacktemplates/<?=$this->layout()->lang;?>/admin_feedbacktemplates/">Шаблоны писем обратной связи</a></li>
            <li><a href="/news/<?=$this->layout()->lang;?>/admin_news/">Новости</a> </li>
            <li><a href="/reviews/<?=$this->layout()->lang;?>/admin_reviews/">Обзоры</a> </li>
        </ul>
    </div>
    <div class="block_r orange content_blocks">
        <h3><b>Каталог товаров</b></h3>
        <!--  <p class="info_block">Ниже указаны действия</p> -->
        <ul>
            <!--<li><a href="/catalog/admin_division/">Список Разделов</a></li>
          <li><a href="/catalog/admin_product/index/clear/1">Список Товаров</a></li>
          <li><a href="/catalog/admin_product_default/">Список Параметров</a></li>-->
            <li><a href="/catalog/ru/admin_product_mebeltype/">Типы мебели</a></li>
            <li><a href="/catalog/ru/admin_product_material/">Материалы изготовления/обивки</a></li>
            <li><a href="/catalog/ru/admin_bitmaps_groups/">Цвет кожи</a></li>
            <li><a href="/catalog/ru/admin_fabrics_groups/">Цвет тканей</a></li>
            <li><a href="/catalog/ru/admin_product_decor/">Варианты декоративных накладок</a></li>
            <li><a href="/catalog/ru/admin_product_color/">Варианты крашения</a></li>
            <li><a href="/catalog/ru/admin_product_transformer/">Механизмы трансформации</a></li>
            <li><a href="/catalog/ru/admin_product_availability/">Наличие товара</a></li>
            <li><a href="/catalog/ru/admin_product_maketerm/">Сроки изготовления</a></li>
            <li><a href="/catalog/ru/admin_product_contacts/">Контакты в товарах</a></li>
            <li><a href="/collections/ru/admin_collections/">Коллекции в товарах</a></li>
        </ul>
    </div>
</div>

<div id="right_block">

    <div class="block_r blue">
        <h3><b>Дополнительно</b></h3>

        <ul>
	    <li><a href="/export/<?=$this->layout()->lang;?>/admin_export/index/export/">Экспорт</a></li>
	    <li><a href="/catalog/<?=$this->layout()->lang;?>/admin_product/index/recount/1">Пересчитать цены на комплекты</a></li>
	    <li><a href="/catalog/<?=$this->layout()->lang;?>/admin_product_actions/">Модуль акций</a></li>
	    <li><a href="/catalog/<?=$this->layout()->lang;?>/admin_product_check/">Проверка изображений</a></li>
	    <li><a href="/contactstemplates/<?=$this->layout()->lang;?>/admin_contacts/">Где купить</a></li>
	    <li><a href="/catalog/<?=$this->layout()->lang;?>/admin_product_collection/">Массовая привязка коллекций</a></li>
        <li><a href="/catalog/<?=$this->layout()->lang;?>/admin_division/export/id/0">Экспорт/Импорт (Excel)</a></li>
            <!--<li><a href="/quest/admin_faq/">Вопрос-ответ</a></li>
            <li><a href="/makers/admin_makers/">Производители</a></li>

            <li  ><a href="/blocks/admin_blocks/">Блоки</a></li>-->

            <!-- <li  ><a href="/admin/divtype/">Типы разделов</a></li>
           <li  ><a href="/feedbacktemplates/admin_feedbacktemplates/">Шаблоны писем</a></li>
           <li  ><a href="/orders/admin_orders/">Заказы</a></li>-->
            <!-- <li ><a href="/newsletter/admin_newsletter/">Рассылка</a></li>
	        <li  ><a href="/newsletter/admin_boxes/">Подписчики</a></li> -->
        </ul>
    </div>
</div>
