<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>AWAGRO CMS login</title>

<link rel="stylesheet" href="/css/admin/setup.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/admin/style.css" type="text/css" media="screen">

<style>

</style>
</head>
<body><div id="minmax"></div>
<div id="width">
<div class="top"><div class="top_left"><div class="top_right"></div></div></div>
<form class="intro_form" action="" method="POST">					
<table class="login">
	<tr>
		<td align="center" valign="middle">			
			<div class="login1"></div>
			<div class="login2">
				<p><?=$this->escape($this->error);?>&nbsp;</p>
				Логин <input type="text" class="txt loginInp" name="login" id="login" /><br>
				Пароль <input type="password" class="txt loginInp" name="pwd" id="pwd" /><br>
				<input type="image" class="btn" src="/img/admin/dut-login.gif" name="enter" style="width:96px; height:21px; margin-top:5px" />
			</div>
			<div class="login1"></div>
			<p class="loginCop">Copyright © <?=date('Y');?> <a href="http://awagro.by">awagro.by</a></p>
		
	</td>
	</tr>
</table>
</form>
</div>
</body>
</html>