<script>
function delstr (id)
{
	if (confirm('Вы уверены, что хотите удалить эту страницу?'))
	{  
		 window.location='/admin/index/delete-page/id/' + id + '/'; 
	}
	
	else return false;
}
</script>

<html>
	<head>
		<meta http-equiv=content-type content="text/html; charset=UTF-8">
		<title>CMS</title>
	</head>
	<body>
		<table>
			<?php
				foreach ($this->pages as $key => $data){
					?><tr><td><?php
					for($i = 0; $i < $data -> level; $i++){
						?>
							<span style="margin-left: 20px"></span>
						<?php
					}
					?><?php
					echo $this->escape($data->id . ': ' . $data->pageTitle);
					
					?>
						</td><td><span style="margin-left: 20px"></span>
						<a href="#" onclick = 'delstr(<?=$data -> id?>)' title = 'Удалить'>-</a></td>
						<td><span style="margin-left: 10px"></span>
						<a href="/admin/index/add-page/parent-id/<?=$this->escape($data -> id);?>/" title = 'Добавить'>+</a>
						</td>
					</tr>
					<?php
				}
			?>
		</table>		
	</body>
</html>		
<br /><a href="/admin/index/logout/">Logout</a>