

<script>
    var delid;
    var pageid

    function go(id,page){

        delid=id;
        pageid = page;

        var sure = confirm("Вы действительно хотите удалить страницу?");
        if (sure) {
            window.location = "<?=$this->currentModul?>/delete/id/"+delid+"/id_page/"+"<?=$this->id_page?>";
            alert("Страница удалена");
        }
    }
</script>


<div id="company_main_head">    
    <div class="clear"><!-- --></div>
    <div id="content">

        <div class="clear"><!-- --></div>
        <div id="left_block">
            <div class="prava_dostupa">
                <table style="margin-top: 0px; width: 750;" border="0" cellspacing="0" cellpadding="0">
                    <tr class="head">
                        <th>
                            <b>Название</b>
                        </th>
			<th>
			    <b>Дата</b>
			</th>
                        <th style="width:150px;">
                            <b>Операции:</b>
                        </th>
                    </tr>

                    <? foreach($this->reviews as $item) {?>
                    <tr align="left">
                            <?$pub='unpub';
                            $title="заблокировать";
                            $main='unsetmain' ;
                            $main_tit="Убрать с главной";
                            if ($item['pub']==0) {
                                $pub="pub";
                                $title="Разблокировать";
                            }
                            if ($item['main']==0) {
                                $main="setmain";
                                $main_tit="Поместить на главную";
                            }?>

                        <td>
                            <a href="<?=$this->currentModul?>/edit/id/<?echo ($item['id'] )?>/id_page/<?=$this->id_page?>" title="редактировать">
                                <strong>
                                    <?=$item['name']?>
                                </strong>
                            </a>
                        </td>
			<td>
                            <?$arr = explode("-",$item['created_at']);?>
                            <?=$arr[2].'.'.$arr[1].'.'.$arr[0];?>
                        </td>
                        <td>
                            &nbsp;<a href="<?=$this->currentModul?>/edit/id/<?echo ($item['id'] )?>/id_page/<?=$this->id_page?>" title="редактировать"><img src="/img/admin/redact.gif"></a>&nbsp;
                            <a href="<?=$this->currentModul?>/<?=$pub?>/id/<?=$item['id']?>/id_page/<?=$this->id_page?>" title="<?=$title?>"><img src="/img/admin/active_<?=$item['pub']?>.gif" />&nbsp;
                                <a href="<?=$this->currentModul?>/<?=$main?>/id/<?=$item['id']?>/id_page/<?=$this->id_page?>" title="<?=$main_tit?>"><img src="/img/admin/main_<?=$item['main']?>.gif" />&nbsp;
                                    <a href="#" onclick="go(<?=$item['id']?>)" title="Удалить"><img src="/img/admin/delete.gif"></a>
                                    &nbsp;</td>
                                    </tr>
                                        <?}?>

                                    </table>
                                    </div>
                                    <div>Всего <?=$this->total?></div>
									<?=$this->pagination($this->currentModul.'/index/id_page/'.$this->id_page.'/', (int)$this->total, (int)$this->onpage, $this->current_page); ?>
                                    
                                    <!-- / Навигация по страницам -->
                                    </div>
                                    <div id="right_block">
                                        <div class="block_r gray">
                                            <h3><b>Действия</b></h3>
                                            <ul>
                                                <li class="active">Обзоры</li>
                                                <li><a href="<?=$this->currentModul?>/add/id_page/<?=$this->id_page?>">Добавить</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>

                                    </div>
