<script language="javascript">
    $(document).ready(function(){
        $('#bitmap').change(function(){
            var $id_bitmap = $('select#bitmap option:selected').val();
            $.get("/catalog/ru/admin_product_units/bitmaps/id/"+$id_bitmap, {},
                    function(data){
                        if(data != '' && data != 'false'){
                            $('.bitmaps_checks').html(data);
                        }
                    });
        });
    });
</script>

<div class="content">
<div id="left_block" class="form_page">
<?php if ($this->error) { ?>
<span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
    <?php } ?>
<form class="user_form" id="editform" method="post" action="<?=$this->currentModule?>/edit/id_product/<?=$this->id_product?>/<?=$this->item->id ? 'id/'.$this->item->id.'/' : ''?>" enctype="multipart/form-data"  >
<?if ($this->ok==1) {?>
<p align="center"><font color="green"><b>Данные сохранены</b></font></p>
    <?} ?>
<?if ($this->err==1) {?>
<p align="center"><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
    <?} ?>
<?$item = $this->item;?>
<div class="content_block">
    <p class="form_name">Название</p>
    <p>
        <?=$this->formText('title', $item->title, array('class'=>'text')) ?>
    </p>
    <div>
        <div class="form-input-div">
            <p class="form_name">Уникальный ID</p>
            <p>
            <?=$this->formText('uniq_id', $item->uniq_id, array('style' => 'width:200px;'))?>
            </p>
        </div>
        <?if($this->product->product_type == 2):?>
            <div class="form-input-div">
                <p class="form_name">Уникальный ID *механизм трансформации</p>
                <p>
                <?=$this->formText('uniq_id_tr', $item->uniq_id_tr, array('style' => 'width:200px;'))?>
                </p>
            </div>
        <?php endif ?>
    </div>    
    <?if($this->product->product_type == 1){?>
    <p class="form_name">Изделие (код,наименование)</p>
    <p>
        <?=$this->formText('product_cod',$item->product_cod, array( 'style' => 'width:200px;')) ?>
    </p>    
    <p class="form_name">Облицовка (код,наименование)</p>
    <p>
        <?=$this->formText('facing_cod', $item->facing_cod, array('style' => 'width:200px;')) ?>
    </p>    
    <p class="form_name">Крашение(код,наименование)</p>
    <p>
        <?=$this->formText('dyeing_cod', $item->dyeing_cod, array('style' => 'width:200px;')) ?>
    </p>
    <?}?>
    <?if($this->product->product_type == 2){?>
    <p class="form_name">Модель (код,наименование)</p>
    <p>
        <?=$this->formText('model_cod', $item->model_cod, array('style' => 'width:200px;')) ?>
    </p>
    <p class="form_name">Вид ткани(наименование)</p>
    <p>
        <?=$this->formText('fabric_name', $item->fabric_name, array('style' => 'width:200px;')) ?>
    </p>
    <p class="form_name">Группа ткани(наименование)</p>
    <p>
        <?=$this->formText('fabric_name_group', $item->fabric_name_group, array('style' => 'width:200px;')) ?>
    </p>
    <div>
        <div class="form-input-div">
            <p class="form_name">Комплектация (наименование)</p>
            <p>
            <?=$this->formText('completing_code', $item->completing_code, array('style' => 'width:200px;'));?>
            </p>
        </div>
        <div class="form-input-div" style="width:400px">
            <p class="form_name">Комплектация (наименование)*механизм трансформации</p>
            <p>
                <?=$this->formText('completing_code_tr', $item->completing_code_tr, array('style' => 'width:200px;'));?>
            </p>
        </div>
    </div>
    <?}?>
    <p class="form_name">Приоритет</p>
    <p>
        <?=$this->formText('priority', $item->priority, array('style'=>'width:100px;')) ?>
    </p>
    <p class="form_name">Цена</p>
    <p>
    <?= $this->formText('price', $item->price, array('style' => 'width:80px;'))?>
    </p>
    <?php if($item->nomenclature != "K"):?>
        <p class="form_name">Цена с механизмом трансформации</p>
        <p>
            <?=$this->formText('price_with_tr', $item->price_with_tr, array('style' => 'width:80px;'))?>
        </p>
    <?php endif?>
    <p class="form_name">Старая цена</p>
    <p>
        <?=$this->formText('price_old', $item->price_old, array('style' => 'width:80px;'))?>
    </p>
    <p class="form_name">Надпись для цены</p>
    <p>
        <?=$this->formText('price_description', $item->price_description, array('class'=>'text')) ?>
    </p>
</div>
<div class="content_block">
    <p class="form_name">Срок изготовления (рабочих дней)</p>
    <p>
        <?=$this->formSelect('id_maketerm', $item->id_maketerm, null, $this->maketerm_options)?>
    </p>

    <!--p class="form_name">Наличие</p>
    <p>
        <?=$this->formSelect('id_availability', $item->id_availability, null, $this->availability_options)?>
    </p-->
</div>

<div class="content_block">
    <p class="form_name">Материал - варианты изготовления/обивки</p>
    <p>
        <?$material_ids = explode(',', $item->material_ids);?>
        <?foreach($this->material_options as $material_key => $material_name){?>
        <?
        if ($material_key == 0)
            continue;
        $checked = in_array($material_key, $material_ids) ? 'checked="checked"' : '';
        ?>
        <input type="checkbox" class="checkbox" name="materials[]" value="<?=$material_key?>" <?=$checked?> /><label><?=$material_name?></label><br />
        <?}?>
    </p>
</div>

<div class="content_block">
    <p class="form_name">Раздел кожи</p>
    <?$bitmap_check = 0;?>
    <p>
        <select id="bitmap" name="bitmap_id">
            <?foreach($this->bitmaps as $bitmap){?>
            <option value="<?=$bitmap['0']?>" <?if ($item->bitmap_id == $bitmap['0']) {?>
                    selected="selected"
                <?$bitmap_check = 1;?>
                <?}?>
                    >
                <?=$bitmap['1']?></option>
            <?}?>
        </select>
    </p>
    <div class="bitmaps_checks">
        <?if ($bitmap_check == 1) {?>
        <?$bitmaps_ids = explode(',', $item->bitmaps_ids);?>
	<?if (isset($this->bitmaps_ids) && $this->bitmaps_ids != null) {?>
        <?foreach($this->bitmaps_options as $bitmap_key => $bitmap_name){?>
            <?
            if ($bitmap_key == 0)
                continue;
            $checked = in_array($bitmap_key, $bitmaps_ids) ? 'checked="checked"' : '';
            ?>
            <input type="checkbox" class="checkbox" name="fabrics[]" value="<?=$bitmap_key?>" <?=$checked?> /><label><?=$bitmap_name?></label><br />
            <?}?>
	<?}?>
        <?}?>
    </div>
</div>

<div class="content_block">
    <p class="form_name">Гаммы тканей</p>
    <p>
        <?$fabrics_ids = explode(',', $item->fabrics_ids);?>
        <?foreach($this->fabrics_options as $fabrics_key => $fabrics_name){?>
        <?
        if ($fabrics_key == 0)
            continue;
        $checked = in_array($fabrics_key, $fabrics_ids) ? 'checked="checked"' : '';
        ?>
        <input type="checkbox" class="checkbox" name="fabrics[]" value="<?=$fabrics_key?>" <?=$checked?> /><label><?=$fabrics_name?></label><br />
        <?}?>
    </p>
</div>
<div class="content_block">
    <p class="form_name">Варианты декоративных накладок</p>
    <p>
        <?$decor_ids = explode(',', $item->decor_ids);?>
        <?foreach($this->decor_options as $decor_key => $decor_name){?>
        <?
        if ($decor_key == 0)
            continue;
        $checked = in_array($decor_key, $decor_ids) ? 'checked="checked"' : '';
        ?>
        <input type="checkbox" class="checkbox" name="decors[]" value="<?=$decor_key?>" <?=$checked?> /><label><?=$decor_name?></label><br />
        <?}?>
    </p>
</div>
<div class="content_block">
    <p class="form_name">Только с механизмом трансформации</p>
    <p>
        <?=$this->formCheckbox('only_transform', null, array('checked'=>$item->only_transform), array(1,0)) ?>
        <label for="only_transform">Да</label>
    </p>
    <p class="form_name">Варианты изготовления с механизмом трансформации</p>
    <p>
        <?$transformer_ids = explode(',', $item->transformer_ids);?>
        <?foreach($this->transformer_options as $transformer_key => $transformer_name){?>
        <?
        if ($transformer_key == 0)
            continue;
        $checked = in_array($transformer_key, $transformer_ids) ? 'checked="checked"' : '';
        ?>
        <input type="checkbox" class="checkbox" name="transformers[]" value="<?=$transformer_key?>" <?=$checked?> /><label><?=$transformer_name?></label><br />
        <?}?>
    </p>
</div>
<div class="content_block">
    <p class="form_name">Варианты крашения</p>
    <?$color_ids = explode(',', $item->color_ids)?>
    <?foreach ($this->color_options as $color_key => $color_name) {?>
    <?
    if ($color_key == 0)
        continue;
    $checked = in_array($color_key, $color_ids) ? 'checked="checked"' : '';
    ?>
    <input type="checkbox" class="checkbox" name="colors[]" value="<?=$color_key?>" <?=$checked?> /><label><?=$color_name?></label><br />
    <?}?>
    </p>
</div>
<div class="content_block">
    <p class="form_name">Опубликовать на сайте</p>
    <p>
        <?=$this->formCheckbox('active', null, array('checked'=>$item->active), array(1,0)) ?>
        <label for="active">Да</label>
    </p>
    <p class="form_name">Главная</p>
    <p>
        <?=$this->formCheckbox('main', null, array('checked'=>(int)$item->main), array(1,0)) ?>
        <label for="main">Да</label>
    </p>
    <p class="form_name">Главная в новинках</p>
    <p>
        <?=$this->formCheckbox('is_new', null, array('checked'=>(int)$item->is_new), array(1,0)) ?>
        <label for="is_new">Да</label>
    </p>
    <p class="form_name">Главная в популярных</p>
    <p>
        <?=$this->formCheckbox('is_popular', null, array('checked'=>(int)$item->is_popular), array(1,0)) ?>
        <label for="is_popular">Да</label>
    </p>
    <p class="form_name">Главная в акциях</p>
    <p>
        <?=$this->formCheckbox('is_action', null, array('checked'=>(int)$item->is_action), array(1,0)) ?>
        <label for="is_action">Да</label>
    </p>
    <p class="form_name">Фото</p>

    <?if ($this->item->img!='') { ?>
    <p align="center">
        <img src="/thumb_admin.php?img=/pics/catalog/product/img/<?=$this->item->img ?>"><br>
        <input type="checkbox" name="delete_img" value="1">удалить изображение
    </p>
    <br>
    <?} ?>
    <?=$this->formFile('img') ?>
    <p class="form_name">Большое фото</p>

    <?if ($this->item->img_big!='') { ?>
    <p align="center">
        <a href="/thumb_admin.php?img=/pics/catalog/product/big/<?=$this->item->img_big ?>" target="_blank">Просмотр</a>
        <br>
        <input type="checkbox" name="delete_img_big" value="1">удалить изображение
    </p>
    <br>
    <?} ?>
    <?=$this->formFile('img_big') ?>

</div>
<?php if ($this->item->id){?>
            	<input style="display: none;" "type="hidden" name="id" value="<?=$this->item->id ?>">
            <?php }?>

<div class="right">
    <button onclick="location.href='<?=$this->currentModule?>/edit/id_product/<?=$this->id_product?>'; return false;" class="orange"><span><em>Отменить</em></span></button>
    <button id="catalog-product-submit"><span><em>Сохранить</em></span></button>
</div>
</form>
</div>
<div id="right_block">
    <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
            <li><a href="<?=$this->currentModule?>/index/id_product/<?=$this->id_product?>">Элементы</a></li>
            <li><a href="<?=$this->currentModule?>/complect/id/<?=$this->item->id?>/id_product/<?=$this->id_product?>"><strong>Комплектация</strong></a></li>
            <li><?if ($this->item->id) {
                echo 'Редактировать';
            } else echo 'Добавить';?></li>
            <li><a href="/catalog/<?=$this->lang?>/admin_product/edit/id/<?=$this->id_product?>/id_division/<?=$this->id_division?>">Вернуться к товару</a></li>
        </ul>
    </div>
</div>
</div>
<br class="clear"/>

