<script>
    $("a#recount").live('click', function(){
        var product = <?=$this->id_product;?>;
        //alert(product);
        $.get("/catalog/ru/admin_product_units/recount/id/"+product, {
                },
                function(data){
                    if(data != '' && data != 'false'){
                        $('.recount_text').html(data);
                    }
                });
    });
</script>
<div id="news_main_head">
<div class="news_head">
<div class="left_y"><!-- --></div>
<div class="news_headbg_longer"><!-- --></div>
<div class="right_y"><!-- --></div>
</div>
<div class="clear"><!-- --></div>
<div class="content">
<div class="prava_dostupa">
<div class="clear"><!-- --></div>

<div id="left_block">
<form action="" method="post" enctype="multipart/form-data">
<table style="margin-top: 0px;" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th>Фото</th>
		<th width="30%">Название</th>
		<th width="5%">Цена</th>
		<th width="5%">Цена с механизмом</th>
		<th width="5%">Приоритет</th>
		<th width="20%">Параметры</th>
		<th><a href="" id="select_all"><small>все</small></a></th>
		<th>Операции</th>
	</tr>
	<?foreach ($this->all as $key => $data) {?>
	<tr>
		<td class="options">
			<?if ($data->img != '') {?>
				<a title="Редактировать" href="<?=$this->currentModule?>/edit/id_product/<?=$this->id_product?>/id/<?=$data->id?>/<?=$this->id_page ? 'id_page/' . $this->id_page . '/' : ''?>">
					<img src="/thumb_admin.php?img=/pics/catalog/product/img/<?=$data->img?>&w=120&h=120">
				</a>
			<?}?>
		</td>
		<td>													
			<?=$this->formText("title[$data->id]", $data->title, array('style' => 'width:98%'))?>
		</td>
		<td class="options">
			<?=$this->formText("price[$data->id]", $data->price, array('size' => 7))?>
		</td>
		<td class="options">
			<?=$this->formText("price_with_tr[$data->id]", $data->price_with_tr, array('size' => 7))?>
		</td>
		<td class="options">
			<?=$this->formText("priority[$data->id]", $data->priority, array('size' => 3))?>
		</td>
		<td style="white-space: nowrap;">
			<p><?=$this->formCheckbox("is_new[$data->id]", null, array('checked'=>(int)$data->is_new), array(1,0))?>Главная в новинках</p>
			<p><?=$this->formCheckbox("is_action[$data->id]", null, array('checked'=>(int)$data->is_action), array(1,0))?>Главная в акциях</p>
			<p><?=$this->formCheckbox("is_popular[$data->id]", null, array('checked'=>(int)$data->is_popular), array(1,0))?>Главная в популярных</p>
		</td>
		<td width="20" align="center" style="text-align: center;">													
			<?=$this->formCheckbox('images[]', $data->id, array('class' => 'check_item'))?>
		</td>
		<td class="options" style="white-space: nowrap;">
			<a title="Редактировать" href="<?=$this->currentModule?>/edit/id_product/<?=$this->id_product?>/id/<?=$data->id?>/<?=$this->id_page ? 'id_page/' . $this->id_page . '/' : ''?>"><img src="/img/admin/redact.gif" /></a>&nbsp;
			<?if ($data->main == 1){?>
				<img src="/img/admin/main_<?=$data->main?>.gif" />&nbsp;
			<?}  else {?>
			<a title="Главный элемент" href='<?=$this->currentModule?>/main/id_product/<?=$this->id_product?>/id/<?=$data->id?>/<?=$this->id_page ? 'id_page/' . $this->id_page . '/' : ''?>'><img src="/img/admin/main_<?=$data->main?>.gif" /></a>&nbsp;
			<?}?>
			<a href='<?=$this->currentModule?>/activate/id_product/<?=$this->id_product?>/id/<?=$data->id?>/<?=$this->id_page ? 'id_page/' . $this->id_page . '/' : ''?>'><img src="/img/admin/active_<?=$data->active?>.gif" /></a>&nbsp;
			<a onclick="return confirm('Вы уверены?');" href='<?=$this->currentModule?>/delete/id_product/<?=$this->id_product?>/id/<?=$data->id?>/<?=$this->id_page ? 'id_page/' . $this->id_page . '/' : ''?>'><img src="/img/admin/delete.gif"></a>
		</td>
	</tr>
	<?}?>
</table>
<div class="right">
	<strong>C отмеченными:</strong>
	<?=$this->formRadio('operation', null, null, $this->options, '&nbsp;');?>
	<button type="submit"><span><em>Отправить</em></span></button>
</div>
    <br />
<div class="right">
    <a id="recount" href="#">
        Пересчитать цены
    </a>
    <div class="recount_text"></div>
</div>
<!-- <div id="files_block">
	                <b>Фотографии:</b>
	                
	                <div class="file" id="file1">
	                    <input type="file" name="image1">
	                    <label>Название <input type="text" name="title_image1"></label>
	                    <input type="button" value="&nbsp;+&nbsp;"  id="add_btn">
	                </div>

            	</div>  --></form>
<div style="padding-left: 20px; padding-top: 10px;">
	<?$peoples = $this->id_page ? 'id_page/' . $this->id_page . '/' : ''?>
	<?=$this->Pagination($this->currentModule . '/index/id_product/' . $this->id_product . '/', (int)$this->total, (int)$this->onpage, $this->current_page);?>
</div>
</div>
<div id="right_block">
<div class="block_r gray">
<h3><b>Действия</b></h3>
<ul>
	<li>Элементы</li>
	<li><a href="<?=$this->currentModule?>/edit/id_product/<?=$this->id_product?>/">Добавить</a></li>
	<li><a href="/catalog/<?=$this->lang?>/admin_product/edit/id/<?=$this->id_product?>/id_division/<?=$this->id_division?>">Вернуться к товару</a></li>
	<li><a href="/catalog/<?=$this->lang?>/admin_product/index/id_division/<?=$this->id_division?><?//=$this->owner->id_division?>">Вернуться к списку товаров</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="clear"><!-- --></div>
<div class="redactor_footer">
<div class="left_y"><!-- --></div>
<div class="redactor_footerbg_longer"></div>
<div class="right_y"><!-- --></div>
</div>
</div>
