<div id="top_menu_z">
						<table cellspacing="0" cellpadding="0" border="0" class="head_change_table">
						<tr>
							<td class="active">Добавить</td>
						</tr>
					</table>
					</div>
					<div id="news_main_head">
						<div class="news_head">
							<div class="left_y"><!-- --></div>
							<div class="news_headbg_longer"><!-- --></div>
							<div class="right_y"><!-- --></div>
						</div>
						<div class="clear"><!-- --></div>
						<div id="redactor_content">
						<form action="/admin/all/pages/newlang/" method="POST">
							<div class="clear"><!-- --></div>
							<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<td>Название </td>
									<td>Описание версии</td>
								</tr>
								<tr>
									<td class="le_config">
										<input type="text" name="_name">
									</td>
									<td class="active_config">
										<input type="text" name="_title">
									</td>
								</tr>
							</table>
							<div class="btn_app">
								<input type="image" src="/images/news_app.gif" width="119px" height="25px" />
							</div>
						</div>
						</form>	
						<div class="clear"><!-- --></div>
						<div class="redactor_footer">
							<div class="left_y"><!-- --></div>
							<div class="redactor_footerbg_longer">
								
							</div>
							<div class="right_y"><!-- --></div>
						</div>
					</div>
				
<?php
	$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>";
	$this->child_name = "Языковые версии";
	$this->name = "Создание языковой версии";
?>
				