<script type="text/javascript">
    $(document).ready(function() {
        var id_product;
	var check;
	var show_in_collection;
	var disable_in_collection;
	var collection_array = '';
	var disable_array = '';
        $('#add_element').click(function(){
            $('.col').each(function(){
                id_product = $(this).attr('tovar_id');
		check = $(this).attr('check');
		if ($('.show_in_collection'+check).is(":checked"))
		{
		show_in_collection = 1;
		collection_array += id_product+',';
		}
		else { 
		show_in_collection = 0;
		}
		if ($('.disable_for_collection'+check).is(":checked"))
		{
		disable_in_collection = 1;
		disable_array += id_product+',';
		}
		else { 
		show_in_collection = 0;
		}
            });
		$.get("<?=$this->currentModule?>/savecollections/id_products/"+collection_array+"/id_disabled/"+disable_array, {},
                        function(data){
                            if(data != ''){	
				$('.show_ok_element').html('');
				$('.show_ok_element').html('Данные успешно сохранены!');
                            } else {
                                showAlertWindow('Ошибка','error');
                            }
                        }
                );
        });

});
</script>


<div id="left_block"  class="form_page">
    <div style="">
<div class="content_block">
<div>Добавление всех товаров по ключевому слову</div>
    <form method="post" action="" enctype="multipart/form-data" >
 	<input type="text" name="search_all_text" value="" style="width:200px">
        <input type="hidden" name="check" value="2">
	<input type="submit" id="add_tovar" style="width: 100px; padding: 0;" value="Поиск">
    </form>
</div>
</div>

<div class="content_block">
<div>Результат:</div>
<div class="prava_dostupa">
<?if (isset($this->collection) && count($this->collection) > 0) { $i=0?>
<table id="news_table" cellspacing="0" cellpadding="0" border="0">
	<tr class="head">
		<th width="70%">Наименование товара</th>
		<th width="15%">Добавить коллекции</th>
		<th width="15%">Исключить из добавления в коллекции</th>
	</tr>
	<?foreach ($this->collection as $collection) {?>
	<?$i++;?>
	<tr><td>
	<div class="col collection<?=$i?>" tovar_id="<?=$collection->id?>" check="<?=$i?>">
	<?=$collection->title;?>
	</div>
	</td>
	<td><center><input style="width: 16px;" type="checkbox" name="show_in_collection" class="show_in_collection<?=$i;?>" checked=checked></center></td>
	<td><center><input style="width: 16px;" type="checkbox" name="disable_for_collection" disable_id="<?=$collection->id?>" class="disable_for_collection<?=$i;?>"></center></td></tr>
	<?}?>
</table>
	<input type="submit" id="add_element" style="width: 100px; padding: 0;" value="Добавить">
<?}?>
<div class="show_ok_element" style="color:red"></div>
</div>
</div>
