
<span typeof="v:Breadcrumb"><a href="/">Главная</a></span>
<?if (isset($this->bread_cumbs) && sizeof($this->bread_cumbs)){?>
<?foreach ($this->bread_cumbs as $bread){?>

    <img class="bread" src="/img/bread_img.jpg" alt="">
    <?if (isset($bread['path'])){?>
            <?if ($bread['title'] == "Обзоры") {?>
            <span typeof="v:Breadcrumb"><a href="/obzori/"><?=$bread['title']?></a></span>
            <? } elseif ($bread['title'] == "Новости") {?>
            <span typeof="v:Breadcrumb"><a href="/novosti/"><?=$bread['title']?></a></span>
            <? } else {?>
        <span typeof="v:Breadcrumb"><a href="<?=$bread['path']?>"><?=$bread['title']?></a></span>
        <?}} else {?>
        <span typeof="v:Breadcrumb"><?=$bread['title']?></span>
        <?}?>
    <?}?>
<?}?>
