
<?if ($this->count_pages>1 || $this->onpage != 12){ ?>
<?
$url_search = 
	"?more_search[name]=".(isset($this->more_search['name']) ? $this->more_search['name'] : "").
	(isset($this->more_search['size_search_type']) ? "&more_search[size_search_type]=".$this->more_search['size_search_type'] : "").
	(isset($this->more_search['id_mebeltype']) ? "&more_search[id_mebeltype]=".$this->more_search['id_mebeltype'] : "").
	(isset($this->more_search['height']) ? "&more_search[height]=".$this->more_search['height'] : "").
	(isset($this->more_search['width']) ? "&more_search[width]=".$this->more_search['width'] : "").
	(isset($this->more_search['length']) ? "&more_search[length]=".$this->more_search['length'] : "").
	(isset($this->more_search['sl_length']) ? "&more_search[sl_length]=".$this->more_search['sl_length'] : "").
	(isset($this->more_search['sl_width']) ? "&more_search[sl_width]=".$this->more_search['sl_width'] : "").
	(isset($this->more_search['price_from']) ? "&more_search[price_from]=".$this->more_search['price_from'] : "").
	(isset($this->more_search['price_to']) ? "&more_search[price_to]=".$this->more_search['price_to'] : "");
	
	if(isset($this->more_search['id_material'])) $url_search.="&more_search[id_material]=".$this->more_search['id_material'];
	if(isset($this->more_search['id_transformer'])) $url_search.="&more_search[id_transformer]=".$this->more_search['id_transformer'];
	if(isset($this->more_search['size_search_type_sl'])) $url_search.="&more_search[size_search_type_sl]=".$this->more_search['size_search_type_sl'];
?>

		<div class="navigation bottom_navs">
              <div class="left">
                <div class="right">
                  <div class="top_nav overflow">
                      <span class=" count"><b><?=$this->first_item?> - <?=$this->last_item?></b> из <?=$this->total?> артикулов</span>
                      <?if(!$this->up){?>
                          <span class="sort overflow"><?if($this->total){?><i>Выводить по:</i>
                          <? $active = 'class="active"';?>
                          <a href="<?=$this->url ?><?=$url_search?>" <?=($this->onpage == 12)? $active : '';?>><span>12</span></a>
                          <a href="<?=$this->url ?><?=$url_search?>&onpage=24" <?=($this->onpage == 24)? $active : '';?>><span>24</span></a>
                          <a href="<?=$this->url ?><?=$url_search?>&onpage=0" <?=($this->onpage == 0)? $active : '';?>><span>Все</span></a>
                      <?}?>
                          </span>
                      <?}else{?>
                      <span class="top_page"><a href="#"><img height="23" width="23" alt="" src="/img/top.gif"></a></span>
                      <?}?>

                      <?if($this->onpage && $this->count_pages>1){?>
                      <span class="paging">
                          <?if($this->current>1){?>
                          <a href="<?=$this->url ?><?=$url_search?>&onpage=<?=$this->onpage?>&page=1" class="first" title="Первая"></a>
                          <a href="<?=$this->url ?><?=$url_search?>&onpage=<?=$this->onpage?>&page=<?=$this->current-1 ?>" class="prev" title="Предыдущая"></a>
                          <?}?>
                          <?$start = $this->first!=0 ? $this->first : 1;?>
                          <?php if ($start > 1){?>
                          <a href="<?=$this->url ?><?=$url_search?>&onpage=<?=$this->onpage?>&page=1"><span>1</span></a>
                          <i>...</i>
                          <?php }?>
                          <?for ($i=$start; $i<=min($this->end, $this->count_pages); $i++){ ?>

                                <?if ($i==$this->current){ ?>

                                    <a href="<?=$this->url ?><?=$url_search?>&onpage=<?=$this->onpage?>&page=<?=$i ?>" class="active" ><span> <?=$i ?> </span></a>

                                <?}else {?>
                                    <a href="<?=$this->url ?><?=$url_search?>&onpage=<?=$this->onpage?>&page=<?=$i ?>"><span> <?=$i ?> </span></a>
                                <?} ?>

                        <?} ?>
                          <?php if ($this->end<$this->count_pages){?>
                                <i>...</i>
                                <a href="<?=$this->url ?><?=$url_search?>&onpage=<?=$this->onpage?>&page=<?=$this->count_pages ?>"><span> <?=$this->count_pages ?> </span></a>
                          <?php }?>
                          <?if($this->current<$this->count_pages){?>
                                <a class="next" href="<?=$this->url ?><?=$url_search?>&onpage=<?=$this->onpage?>&page=<?=$this->current+1 ?>" title="Следующая"></a>
                                <a href="<?=$this->url ?><?=$url_search?>&onpage=<?=$this->onpage?>&page=<?=$this->count_pages ?>" class="last" title="Последняя"></a>
                          <?}?>

                      </span>
                      <?}?>
                  </div>

                </div>
              </div>
		</div>

<?} ?>
