
<?if ($this->count_pages>1 || $this->onpage != 12 || $this->maker || $this->type ||$this->category || $this->total==0 ){ ?>

<div class="navigation paginationful">
	<?
		$a_sort = array();
		$a_sort['sort'] = '';
		$a_sort['onpage'] = '';
		if ($this->sort!=0) $a_sort['sort'] = 'sort/'.$this->sort.'/';
		if ($this->onpage!=12) $a_sort['onpage'] = 'onpage/'.$this->onpage.'/';
		$ful_sort = $a_sort['sort'].$a_sort['onpage'];
		$ful_sort = trim($ful_sort, '/');
	?>
	<div class="left">
		<form id="form" name="form" enctype="multipart/form-data" action="<?=$this->url.$ful_sort?>" method="post">
		<div class="right">
			<div class="top_nav overflow">
				<span class="count"><?if($this->total){?>Показано на странице: <b><?=$this->first_item?> - <?=$this->last_item?></b> из <?=$this->total?> артикулов<?}else{?>По вашему запросу товаров не найдено<?}?></span>
				<div class="sort overflow">
			<?if($this->total){?><i>Выводить по:</i>
					<? $active = 'class="active"';?>
					<a href="<?=$this->url?><?=$a_sort['sort']?>" <?=($this->onpage == 12)? $active : '';?>><span>12</span></a>
					<a href="<?=$this->url?><?=$a_sort['sort']?>onpage/24" <?=($this->onpage == 24)? $active : '';?>><span>24</span></a>
					<a href="<?=$this->url?><?=$a_sort['sort']?>onpage/0" <?=($this->onpage == 0)? $active : '';?>><span>Все</span></a>
					
					<i style="padding-left:10px">Сортировать по:</i>
					<a href="<?=$this->url?>sort/1/<?=$a_sort['onpage']?>" <?=($this->sort == 1)? $active : '';?>><span>Цене</span></a>
					<a href="<?=$this->url?>sort/2/<?=$a_sort['onpage']?>" <?=($this->sort == 2)? $active : '';?>><span>Названию</span></a>
					<a href="<?=$this->url?>clearsort/1" <?=($this->sort == 0 && $this->onpage == 12 && $this->maker == 0 && $this->type == 0 && $this->category == 0)? $active : '';?>><span>Без сортировки</span></a>
			<?}?>
				</div>
			<?if($this->onpage && $this->count_pages>1){?>
				<span class="paging">
				Страница: 
				<?if ($this->current>1){?>
					<a href="<?=$this->url?><?=$ful_sort?>" class="first" title="Первая"></a>
				<?} elseif ($this->current>2){?>
					<a href="<?=$this->url?>page/<?=$this->current-1?>/<?=$ful_sort?>" class="prev" title="Предыдущая"></a>
				<?}?>
				<?$start = $this->first!=0 ? $this->first : 1;?>
				<?if ($start > 1){?>
					<a href="<?=$this->url?><?=$ful_sort?>"><span>1</span></a>
					<i>...</i>
				<?}?>
				<?for ($i=$start; $i<=min($this->end, $this->count_pages); $i++){
					$page_sort = $i > 1 ? 'page/'.$i.'/' : '';
				?>
					<?if ($i==$this->current){?>
						<a href="<?=$this->url?><?=$page_sort?><?=$ful_sort?>" class="active"><span><?=$i?></span></a>
					<?} else {?>
						<a href="<?=$this->url?><?=$page_sort?><?=$ful_sort?>"><span><?=$i?></span></a>
					<?}?>
				<?}?>
				<?if ($this->end<$this->count_pages){?>
					<i>...</i>
					<a href="<?=$this->url?>page/<?=$this->count_pages?>/<?=$ful_sort?>"><span> <?=$this->count_pages?> </span></a>
				<?}?>
				<?if ($this->current<$this->count_pages){?>
					<a class="next" href="<?=$this->url?>page/<?=$this->current+1?>/<?=$ful_sort?>" title="Следующая"></a>
					<a href="<?=$this->url?>page/<?=$this->count_pages?>/<?=$ful_sort?>" class="last" title="Последняя"></a>
				<?}?>
				</span>
			<?}?>
			</div>
			<div class="bottom_nav">
				<!-- <span>Производитель
				<?=$this->formSelect('maker', $this->maker, null, $this->makers) ?>
				</span> -->
				<span>Тип мебели
				<?=$this->formSelect('type', $this->type, null, $this->types) ?>
				</span>
				<label for="radio_0"><input type="radio" name="category" value="0" id="radio_0" <?=($this->category == 0)? 'checked' : ''?>/>Все</label>
				<label for="radio_1"><input type="radio" name="category" value="95" id="radio_1" <?=($this->category == 95)? 'checked' : ''?>/>Новинки</label>
				<label for="radio_2"><input type="radio" name="category" value="96" id="radio_2" <?=($this->category == 96)? 'checked' : ''?>/>Популярные</label>
				<label for="radio_3"><input type="radio" name="category" value="94" id="radio_3" <?=($this->category == 94)? 'checked' : ''?>/>Акции</label>
				<!--<div style="float: right" class="p_l_10"><a class="button" onclick="javascript:document.forms['form'].submit()" href="javascript:click()">Подобрать</a></div>-->
				<input type="submit" class="subm" value="Подобрать" name="">
			</div>
		</div>
		</form>
	</div>
</div>
<?} ?>
