
<?if ($this->count_pages>1 || $this->onpage != 12){?>

<div class="navigation bottom_navs">
              <div class="left">
                <div class="right">
                  <div class="top_nav overflow">
                  <?
                  	$a_sort = array();
                  	$a_sort['sort'] = '';
					$a_sort['onpage'] = '';
					if ($this->sort!=0) $a_sort['sort'] = 'sort/'.$this->sort.'/';
					if ($this->onpage!=12) $a_sort['onpage'] = 'onpage/'.$this->onpage.'/';
					$ful_sort = $a_sort['sort'].$a_sort['onpage'];
					$ful_sort = trim($ful_sort, '/');
                  ?>
                      <span class=" count">Показано на странице: <b><?=$this->first_item?> - <?=$this->last_item?></b> из <?=$this->total?> артикулов</span>
                      <!--<span class="top_page"><a href="#"><img height="23" width="23" alt="" src="/img/top.gif"></a></span>-->
                      <?if($this->onpage && $this->count_pages>1){?>
                      <br /><span class="paging">
			Страница:
                          <?if($this->current>1){?>
                          <a href="<?=$this->url?>page/1/<?=$ful_sort?>" class="first" title="Первая"></a>
                          <a href="<?=$this->url?>page/<?=$this->current-1?>/<?=$ful_sort?>" class="prev" title="Предыдущая"></a>
                          <?}?>
                          <?$start = $this->first!=0 ? $this->first : 1;?>
                          <?if ($start > 1){?>
                          <a href="<?=$this->url?>page/1/<?=$ful_sort?>"><span>1</span></a>
                          <i>...</i>
                          <?}?>
                          <?for ($i=$start; $i<=min($this->end, $this->count_pages); $i++){ ?>
                                <?if ($i==$this->current){ ?>
                                    <a href="<?=$this->url?>page/<?=$i?>/<?=$ful_sort?>" class="active" ><span><?=$i?></span></a>
                                <?}else {?>
                                    <a href="<?=$this->url?>page/<?=$i?>/<?=$ful_sort?>"><span><?=$i?></span></a>
                                <?} ?>
                          <?}?>
                          <?if ($this->end<$this->count_pages){?>
                                <i>...</i>
                                <a href="<?=$this->url?>page/<?=$this->count_pages?>/<?=$ful_sort?>"><span> <?=$this->count_pages?> </span></a>
                          <?}?>
                          <?if($this->current<$this->count_pages){?>
                                <a class="next" href="<?=$this->url?>page/<?=$this->current+1?>/<?=$ful_sort?>" title="Следующая"></a>
                                <a href="<?=$this->url?>page/<?=$this->count_pages?>/<?=$ful_sort?>" class="last" title="Последняя"></a>
                          <?}?>
                      </span>
                      <?}?>
                  </div>
                </div>
              </div>
</div>

<?}?>
