
<div id="left_block"  class="form_page">
    <?if ($this->ok==1){ ?>
        <div class="content_block">
            <p class="data_saved">Импорт данных успешно осуществлен</p>
        </div>
    <?} ?>
    <?if ($this->ok==2){ ?>
    <div class="content_block">
        <p class="data_saved"><a style="color:red" href="/files/export/export.xlsx">Скачать файл</a></p>
    </div>
    <?} ?>
    <?if (isset($this->err)){ ?>
        <div class="content_block">
            <p class="error">
                <?=$this->err ?>
            </p>
        </div>

    <?} ?>

    <form action="" method="POST" id="addPage" enctype="multipart/form-data" name="addPage">

        <div class="content_block">
            <input type="hidden" value="export" name="operation">
            <p class="form_name">Коллекции</p>
            <?=$this->formSelect('collection_id', null, null, $this->collections_options)?>
            <p class="form_name">Тип мебели</p>
            <?=$this->formSelect('id_mebeltype', null, null, $this->mebeltype_options)?>
            <p>            Скачать товары раздела <button  type="submit"><span><em>Скачать</em></span></button>
            </p>
        </div>

    </form>

    <form action="" method="POST" id="addPage" enctype="multipart/form-data" name="addPage">

        <div class="content_block">
            <input type="hidden" value="import" name="operation">

            <p>Загрузить информацию</p><p><?=$this->formFile('import_file') ?></p><button  type="submit"><span><em>Загрузить</em></span></button>

        </div>

    </form>

</div>
<div id="right_block">
    <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
            <li><a href="<?=$this->currentModule?>">Вернуться к списку</a></li>
        </ul>
    </div>
</div>
						