<script type="text/javascript" src="/js/jquery/ui.core.js"></script>
<script type="text/javascript" src="/js/jquery/ui.datepicker.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function()
    {
        $("#datepicker").datepicker({ dateFormat: 'dd.mm.yy' });
    });
</script>

<div class="description_page">
    <h2>Добавить</h2>
</div>

<div class="content">
    <div id="left_block" class="form_page">
        <form action="" id="editform" class="user_form" method="post" enctype="multipart/form-data">
            <div class="content_block">
                <p class="form_name">Название</p>
                <p>
                    <input type="text" id="new-name" name="new[name]" size="90" onblur="fill_seoBlock_news('name')" />
                </p>
                <p class="form_name">Дата:</p>
                <p>
                    <?=$this->formText('new[created_at]', '', array('class'=>'text', 'id' => 'datepicker')) ?>
                </p>
                <p class="form_name">Активна:</p>
                <p>
                <input type="checkbox" name="new[pub]" checked="checked" style="width: 30px;" /> Да
                </p>
                <div class ="hidden">
                <p class="form_name">Отображать на главной:
                <input type="checkbox" name="new[main]" <? (isset($this->new->main) && $this->new->main==1) ? 'checked="checked"' : '' ?> />
                </p>
                </div>
            </div>
            <div class="content_block">
                <h3><a href="#" title="Показать/Скрыть блок" class="show_hide" onclick="show_hide_block('seo_block', 'seo_block_img'); return false;"><span id="show-" ><img src="/img/admin/ico_show-.png" alt="" id="seo_block_img" /></span> Seo</a></h3>
                <div id="seo_block" style="display: none;">
                    <p class="form_name">Title<span class="ser_text size11">(seo)</span></p>
                    <?=$this->formText('new[seo_title]') ?>

                    <p class="form_name">Keywords<span class="ser_text size11">(seo)</span></p>
                    <?=$this->formText('new[seo_keywords]') ?>

                    <p class="form_name">Description <span class="ser_text size11">(seo)</span></p>
                    <?=$this->formText('new[seo_descriptions]') ?>
                </div>
            </div>
            <div class="content_block">
                <p class="form_name">Анонс:</p>
                <p>
                    <?php $this->fck_intro->Create();	?>
                </p>

                <p class="form_name">Тело:</p>
                <p>
                    <?php $this->fck_content->Create();	?>
                </p>
                <div class="hidden">
                <p class="form_name">Иконка</p>                
             
            
                <p><?=$this->formFile('image_small') ?>
                </p>
                <p class="form_name">Картинка</p>
                <p>                    
               
                  
                <?=$this->formFile('image_big') ?>
                </p>
                <input type="hidden" name="new[id_page]" value="<?=$this->id_page?>">
                </div>
            </div>

	
            <div class="right">
                <button onclick="location.href='<?=$this->currentModule ?>'; return false;" class="orange"><span><em>Отменить</em></span></button>
                <button onclick="getElementById('editform').submit()"><span><em>Сохранить</em></span></button>
            </div>
        </form>
    </div>
    <div id="right_block">
        <div class="block_r gray">
            <h3><b>Действия</b></h3>
            <ul>
                <li><a href="<?=$this->currentModul?>/index/id_page/<?=$this->id_page?>">Список элементов</a></li>                
            </ul>
        </div>
    </div>
</div>