
<div class="content">
    <div id="left_block" class="form_page">
        
        <form class="user_form" id="editform" method="post" action="" enctype="multipart/form-data">
            

            <div class="content_block">
            <? foreach ($this->content as $key=>$content){ ?>
            
                <p class="form_name"><?=$key?></p>
                <p>
                    <?=$this->formText("export[$key]", $content, array('class'=>'text')) ?>
                </p>
            <?}?>
                

            </div>
           
            <div class="right">
                <button onclick="location.href='<?=$this->currentModule ?>'; return false;" class="orange"><span><em>Отменить</em></span></button>
                <button onclick="getElementById('editform').submit()"><span><em>Сохранить</em></span></button>
            </div>
        </form>
    </div>
    <div id="right_block">
        <div class="block_r gray">
            <h3><b>Действия</b></h3>
            <ul>
                <li><a href="<?=$this->currentModul?>">Список элементов</a></li>               
            </ul>
        </div>
    </div>
</div>
<br class="clear"/>