<?if($this->export == 'ok'){?>
<script type="text/javascript">
$(window).load(function () {
alert("Экспорт успешно выполнен");
}
);
</script>
<?}?>
<div id="company_main_head">    
    <div class="clear"><!-- --></div>
    <div id="content">

        <div class="clear"><!-- --></div>
        <div id="left_block">
            <div class="prava_dostupa">
                <table style="margin-top: 0px; width: 750;" border="0" cellspacing="0" cellpadding="0">
                    <tr class="head">
                        <th>
                            <b>Название</b>
                        </th>
                        <th style="width:150px;">
                            <b>Операции:</b>
                        </th>
                    </tr>

                    
                    <tr align="left">
                            
                        <td>
                            <a href="<?=$this->currentModul?>/editm/" title="Редактировать параметры">
                                <strong>
                                    Mail.ru
                                </strong>
                            </a>
                        </td>
                        <td>
                            &nbsp;<a href="<?=$this->currentModul?>/editm/" title="Редактировать параметры"><img src="/img/admin/redact.gif"></a>&nbsp;
                            <a href="<?=$this->currentModul?>/export/id/mailru">Экспортировать</a>
                        </td>
                                    </tr>
                     <tr align="left">

                        <td>
                            <a href="<?=$this->currentModul?>/edity/" title="Редактировать параметры">
                                <strong>
                                    Yandex.ru
                                </strong>
                            </a>
                        </td>
                        <td>
                            &nbsp;<a href="<?=$this->currentModul?>/edity/" title="Редактировать параметры"><img src="/img/admin/redact.gif"></a>&nbsp;
                        <a href="<?=$this->currentModul?>/export/id/yandex">Экспортировать</a>
                        </td>
                                    </tr>

                                    </table>
                                    </div>
                                    
                                    </div>
                                    <div id="right_block">
                                        <div class="block_r gray">
                                            <h3><b>Действия</b></h3>
                                            <ul>
                                                <li class="active">Экспорт</li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    </div>

                                    </div>
