<?if(count($this->reviews)) {?>
        <?foreach($this->reviews as $review) {?>
    <div class="simple_reviews">
	<div class="big_review_img">
            <a href="/obzori/item/<?=$review['id']?>"><img src="/pics/reviews/<?=$review['big_img'];?>" alt="<?=$review['name']?>" width="272" height="188"></a>
        </div>
	<div class="simple_reviews_descr">
        <div class="simple_reviews_title">
            <a href="/obzori/item/<?=$review['id']?>"><?=$review['name']?></a>
        </div>
        <div class="reviews_content">
            <?=$review['intro']?>
        </div>
	</div>
	<div class="clear"></div>
    </div>
  <?}?>
<?}?>
