<?if(count($this->item)) {?>
<style>
.h1 {margin-top: 40px;}
.ya_share {margin-top: 40px;}
</style>
<div class="review_title">
            <p><a href="/obzori">Обзоры</a></p>
</div>
<div class="single_news">
	<div class="big_review_img">
		<img src="/pics/reviews/<?=$this->item['big_img'];?>" alt="<?=$this->item['name']?>" width="272" height="188" />
        </div>
        <div class="text_news overflow">
            <?=$this->item['content']?>
        </div>
</div>
<?}?>
