<div class="main_content">
    <div class="main_block_text">
        <div class="main_block_descr">
            <?=$this->layout()->page->content?>
        </div>
        <div style="margin-top: -31px;">
	    <h2 style="padding: 15px 0px; font-size: 20px;">Наши представительства:</h2>
            <?foreach($this->contacts as $key => $data) {?>
                <div class="city_title"><h2 class="h2_check" id="title_h2_<?=$data->id?>" show="false" id_city="<?=$data->id?>" style="font-size: 17px; cursor: pointer; padding-top: 5px;" onclick="show_city_contacts(<?=$data->id?>);"><?=$data->name?></h2></div>
                <?$contacts = Cities::getInstance()->getAllActive($data->id);?>
                <?if (count($contacts) > 0) {?>
                <div class="all_cities city<?=$data->id?>">
                    <?foreach ($contacts as $key2 => $item) {?>
                    <div class="singe_city">
                    <div class="cities_name">
                        <h3 style="font-size: 16px;"><?=$item->name?></h3>
                    </div>
                    <div class="cities_left_side">
			<?if ($item->image != '') {?>
                        <a class="zoom" href="/pics/catalog/contacts/<?=$item->image?>" title="<?=htmlspecialchars($item->name)?>">
                            <img width="272" height="188" src="/pics/catalog/contacts/<?=$item->image?>" alt="<?=$item->name?>"/>
                        </a>
			<?} else {?>
			     <img width="272" height="188" src="/img/contacts_zagl.jpg" alt="<?=$item->name?>"/>
			<?}?>
                    </div>
                    <div class="cities_center">
                        <p class="city_title">Адрес:</p>
                        <p>
                            <?=$item->adress?>
                        </p>
			<?if ($item->content != '') {?>
                        <p></p>
                        <p class="city_title">Время работы:</p>
                        <p>
                            <?=$item->content?>
                        </p>
			<?}?>
                    </div>
                    <div class="cities_right_side">
                        <p class="city_title">Контактная информация:</p>
                        <p>
                            <?=$item->phones?>
                        </p>
			<?if ($item->site != '') {?>
                        <p></p>
                        <p class="city_title">Сайт:</p>
                        <p>
                            <?=$item->site?>
                        </p>
			<?}?>
                    </div>
                    <div class="clear"></div>
                    </div>
                    <?}?>
                </div>
                <?}?>
            <?}?>
        </div>
    </div>
</div>
