

<div class="content">
    <div id="left_block" class="form_page">
        <?php if ($this->error) { ?>
        <span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
            <?php } ?>
        <form class="user_form" id="editform" method="post" action="<?=$this->currentModule?>/edit/id_product/<?=$this->id_product?>/<?=$this->item->id ? 'id/'.$this->item->id.'/' : ''?>" enctype="multipart/form-data"  >
            <?if ($this->ok==1) {?>
            <p align="center"><font color="green"><b>Данные сохранены</b></font></p>
                <?} ?>
            <?if ($this->err==1) {?>
            <p align="center"><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
                <?} ?>
            <?$item = $this->item; ?>
            <div class="content_block">
                <p class="form_name">Название</p>
                <p>
                    <?=$this->formText('title', $item->title, array('class'=>'text')) ?>
                </p>
                <p class="form_name">Приоритет</p>
                <p>
                    <?=$this->formText('priority', $item->priority, array('style'=>'width:100px;')) ?>
                </p>
                <p class="form_name">Опубликовать на сайте</p>
                <p>
                   <?=$this->formCheckbox('active', null, array('checked'=>$item->active), array(1,0)) ?>
                   <label for="active">Да</label>
                </p>
                <p class="form_name">Главная</p>
                <p>
                    <?=$this->formCheckbox('main', null, array('checked'=>(int)$item->main), array(1,0)) ?>
                    <label for="main">Да</label>
                </p>
                <p class="form_name">Главная в новинках</p>
                <p>
                    <?=$this->formCheckbox('is_new', null, array('checked'=>(int)$item->is_new), array(1,0)) ?>
                    <label for="is_new">Да</label>
                </p>
                <p class="form_name">Главная в популярных</p>
                <p>
                    <?=$this->formCheckbox('is_popular', null, array('checked'=>(int)$item->is_popular), array(1,0)) ?>
                    <label for="is_popular">Да</label>
                </p>
                <p class="form_name">Главная в акциях</p>
                <p>
                    <?=$this->formCheckbox('is_action', null, array('checked'=>(int)$item->is_action), array(1,0)) ?>
                    <label for="is_action">Да</label>
                </p>
                <p class="form_name">Фото</p>
                
                    <?if ($this->item->img!='') { ?>
                <p align="center">
                    <img src="/thumb_admin.php?img=/pics/catalog/product/img/<?=$this->item->img ?>"><br>
                    <input type="checkbox" name="delete_img" value="1">удалить изображение
                </p>
                <br>
                    <?} ?>
                <?=$this->formFile('img') ?>
                <p class="form_name">Большое фото</p>
                
                    <?if ($this->item->img_big!='') { ?>
                <p align="center">
                	<a href="/thumb_admin.php?img=/pics/catalog/product/big/<?=$this->item->img_big ?>" target="_blank">Просмотр</a>
                    <br>
                    <input type="checkbox" name="delete_img_big" value="1">удалить изображение
                </p>
                <br>
                    <?} ?>
                <?=$this->formFile('img_big') ?>
                
            </div>
            <?php if ($this->item->id){?>
            	<input style="display: none;" "type="hidden" name="id" value="<?=$this->item->id ?>">
            <?php }?>
                  
            <div class="right">
                <button onclick="location.href='<?=$this->currentModule?>/edit/id_product/<?=$this->id_product?>'; return false;" class="orange"><span><em>Отменить</em></span></button>
                <button onclick="getElementById('editform').submit()"><span><em>Сохранить</em></span></button>
            </div>
        </form>
    </div>
    <div id="right_block">
        <div class="block_r gray">
            <h3><b>Действия</b></h3>
            <ul>
                <li><a href="<?=$this->currentModule?>/index/id_product/<?=$this->id_product?>">Фотографии</a></li>
                <li><?if ($this->item->id) {
                        echo 'Редактировать';
                    } else echo 'Добавить';?></li>
					<li><a href="/catalog/<?=$this->lang?>/admin_product/edit/id/<?=$this->id_product?>/id_division/<?=$this->id_division?>">Вернуться к товару</a></li>
            </ul>
        </div>
    </div>
</div>
<br class="clear"/>