
<div id="news_main_head">
    <div class="news_head">
        <div class="left_y"><!-- --></div>
        <div class="news_headbg_longer"><!-- --></div>
        <div class="right_y"><!-- --></div>
    </div>
    <div class="clear"><!-- --></div>
    <div class="content">
        <div class="prava_dostupa">
            <div class="clear"><!-- --></div>
            
            <div id="left_block">
            	<form action="" method="post" enctype="multipart/form-data">
                <table style="margin-top: 0px;" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th>Фото</th>
                        <th>Название</th>
                        <th>Приоритет</th>
                        <th>Параметры</th>
                        <th><a href="" id="select_all"><small>все</small></a></th>
                        <th>Операции </th>
                    </tr>
                    <?php
                    foreach ($this->all as $key => $data) {
                        ?>
                    <tr>
                        <td class="options">
                                <?//=$data->name ?>
                                <?php if ($data->img!=''){?>
                                	<a title="Редактировать"  href="<?=$this->currentModule?>/edit/id_product/<?=$this->id_product?>/id/<?=$data->id?>/<?=$this->id_page ? 'id_page/'.$this->id_page.'/' : '' ?>" >
                                		<img  src="/thumb.php?img=/pics/catalog/product/img/<?=$data->img?>&w=120&h=120" >
                                	</a>
                                <?php }?>
                        </td>
                        <td  >													
							<?=$this->formText("title[$data->id]",$data->title, array('style'=>'width:98%') )?>
						</td>
                        <td class="options" >													
							<?=$this->formText("priority[$data->id]",$data->priority, array('size'=>5) )?>
						</td>
                        <td  >													
							Главная в новинках - <strong><?php echo $data->is_new ? 'да' : 'нет';?></strong><br>
							Главная в акциях - <strong><?php echo $data->is_action ? 'да' : 'нет';?></strong><br>
							Главная в популярных - <strong><?php echo $data->is_popular ? 'да' : 'нет';?></strong><br>
						</td>
						<td   width="20" align="center" style="text-align: center;">													
							<?=$this->formCheckbox('images[]',$data->id, array('class'=>'check_item'))?>
						</td>
                        <td class="options">
                        	<a title="Редактировать" href="<?=$this->currentModule?>/edit/id_product/<?=$this->id_product?>/id/<?=$data->id?>/<?=$this->id_page ? 'id_page/'.$this->id_page.'/' : '' ?>"><img src="/img/admin/redact.gif" /></a>
                            <a title="Главное фото" href = '<?=$this->currentModule?>/main/id_product/<?=$this->id_product?>/id/<?=$data->id?>/<?=$this->id_page ? 'id_page/'.$this->id_page.'/' : '' ?>'><img src="/img/admin/main_<?=$data->main ?>.gif" /></a>
                            <a href = '<?=$this->currentModule?>/activate/id_product/<?=$this->id_product?>/id/<?=$data->id?>/<?=$this->id_page ? 'id_page/'.$this->id_page.'/' : '' ?>'><img src="/img/admin/active_<?=$data->active ?>.gif" /></a>                            
                            <a onclick="return confirm('вы уверены?');"  href = '<?=$this->currentModule?>/delete/id_product/<?=$this->id_product?>/id/<?=$data->id?>/<?=$this->id_page ? 'id_page/'.$this->id_page.'/' : '' ?>'><img src="/img/admin/delete.gif"></a>
                        </td>
                    </tr>
                        <?php
                    }
                    ?>
                </table>  
                 <div class="right">
				   <strong>C отмеченными:</strong>
			        
			        <?=$this->formRadio('operation', null, null, $this->options , '&nbsp;');?>
			        <button  type="submit"><span><em>Отправить</em></span></button>
				</div>
				<!-- <div id="files_block">
	                <b>Фотографии:</b>
	                
	                <div class="file" id="file1">
	                    <input type="file" name="image1">
	                    <label>Название <input type="text" name="title_image1"></label>
	                    <input type="button" value="&nbsp;+&nbsp;"  id="add_btn">
	                </div>

            	</div>  -->
				</form>		      
                <div style="padding-left: 20px;padding-top: 10px;" >
                    <?$peoples = $this->id_page ? 'id_page/'.$this->id_page.'/' : ''?>
                    <?=$this->Pagination($this->currentModule.'/index/id_product/'.$this->id_product.'/', (int)$this->total, (int)$this->onpage, $this->current_page); ?>
                </div>
            </div>
            <div id="right_block">
                <div class="block_r gray">
                    <h3><b>Действия</b></h3>
                    <ul>
                        <li>Фотографии</li>
                        <li><a href="<?=$this->currentModule?>/edit/id_product/<?=$this->id_product?>/">Добавить</a></li>
                        <li><a href="/catalog/<?=$this->lang?>/admin_product/edit/id/<?=$this->id_product?>/id_division/<?=$this->id_division?>">Вернуться к товару</a></li>
                        <li><a href="/catalog/<?=$this->lang?>/admin_product/index/id_division/<?=$this->id_division?><?//=$this->owner->id_division?>">Вернуться к списку товаров</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"><!-- --></div>
    <div class="redactor_footer">
        <div class="left_y"><!-- --></div>
        <div class="redactor_footerbg_longer">

        </div>
        <div class="right_y"><!-- --></div>
    </div>
</div>