<div class="main_content">
	<div style="padding: 5px"></div>
	<div class="main_block_text">
		<?if ($this->items->count()){?>
			<?foreach ($this->items as $item){?>
				<div class="item_proizv">
					<a href="/<?=$this->layout()->page->path?>/item/<?=$item->url?>" class="title"><?=$item->title?></a> 
					<div style="text-align:justify"><?=$item->intro?></div>
					<div align="right"><a href="/<?=$this->layout()->page->path?>/item/<?=$item->url?>" class="title">Подробнее</a> </div>
				</div>
				<div style="clear:both"></div>
			<?}?>
		<?}?>
		<?=$this->layout()->page->content?>
	</div>
	<div style="padding: 5px"></div>
</div>
