
<div class="main_content">
	<div style="padding: 5px"></div>
	<div class="main_block_text">
		<?if (isset($this->item)){?>
			<?=$this->item->content?>
		<?}?>
	</div>
	<div style="padding: 5px"></div>
</div>
