<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/messages_ru.js"></script>
<script type="text/javascript">
$().ready(function(){
$("#form").validate({
errorElement: "div"
});
$("a[zoom]").fancybox({
				'titleShow' : true,
                                'titlePosition' : 'inside',
                                'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic',
                                'centerOnScroll' : true
			});
});
</script>
<div class="main_content">
	<div class="contacts">
		<?=$this->page->content?>
		<a name="send"></a>
<style>.order_option label {width: 150px;}</style>
<style>.order_option p {text-indent:0px;}</style>
<div class="order_wrapper" style="padding:30px 430px 10px 25px">
	<div class="order_form">
		<h1>Обратная связь:</h1>
		<div class="contacts_form_wrapper">
		<div class="contacts_form">
			Символом * отмечены поля, обязательные для заполнения
			<form id="form" method="post" action="#send" enctype="multipart/form-data">
				<?if ($this->ok==1) {?>
		<div class="order_option">
            <p><strong>Спасибо за обращение, с Вами свяжется наш специалист в ближайшее время! </strong></p>
		</div>
	<?}?>
	<?if($this->err){?>
		<div class="order_option">
       		<p>Ошибка</p>
	        <?
	        if ($this->err == 1) $error = 'Заполните поля отмеченные звёздочкой';
			if ($this->err == 2) $error = 'Не верно подсчитано выражение';
			?>
			<p><strong><?=$error?></strong></p>
    		</div>
	<?}?>
				<div class="order_option">
				<label>Имя *</label>
				<?=$this->formText('form[fio]', isset($this->form['fio']) ? $this->form['fio'] : '', array('class'=>'w_320 required')) ?></div>
				<div class="clear"></div>
				<div class="order_option">
				<label>Телефон*</label>
				<?=$this->formText('form[phone]', isset($this->form['phone']) ? $this->form['phone'] : '', array('class'=>'w_320 required')) ?>				</div>
				<div class="clear"></div>
				<div class="order_option">
				<label>Город</label>
				<?=$this->formText('form[city]', isset($this->form['city']) ? $this->form['city'] : '', array('class'=>'w_320')) ?>				</div>
				<div class="clear"></div>
				<div class="order_option">
				<label>E-mail</label>
				<?=$this->formText('form[email]', isset($this->form['email']) ? $this->form['email'] : '', array('class'=>'w_320 email')) ?>			</div>	
				<div class="clear"></div>
				<div class="order_option">
				<label>Текст сообщения</label>
				<?=$this->formTextarea('form[text]', isset($this->form['text']) ? $this->form['text'] : '', array('class'=>'width_320', 'cols' => '45', 'rows' => '5')) ?>			</div>	
				<div class="clear"></div>
				<div class="order_option">
				Для защиты от спама посчитайте пожалуйста *:
				</div>
				<div class="order_option">
				<label class="ot"> <?=$this->captcha?> =</label><?=$this->formText('form[captcha]', '', array('class'=>'w_65')) ?><br />
				<div class="clear"></div>
				</div>
                <input type="hidden" name="id" value="<?=$this->page->id;?>">
				<input type="image" name="submit" src="/img/send.png" value="Отправить" onclick="$('#form').submit();" class="contacts_bth"/>
			</form>
		</div>
		</div>
	</div>
</div>
	</div>
	<div style="padding: 5px"></div>
</div>
