<?
	$towns = $this->towns;
?>
<script>
$(document).ready(function(){
	var moskow_id = '-457';
	$("#town_0").change(function(){
		if ($(this).val() == moskow_id){
			$("#town_0_dop1").show();
			$("#town_0_dop2").show();
		} else {
			$("#town_0_dop1").hide();
			$("#town_0_dop2").hide();
		}
	});
	$("#town_1").change(function(){
		if ($(this).val() == moskow_id){
			$("#town_1_dop").show();
		} else {
			$("#town_1_dop").hide();
		}
	});
	$("#plombir").change(function(){
		if ($(this).attr("checked")){
			$("#plombir_span").show();
		} else {
			$("#plombir_span").hide();
			$("#plombir_val").val('');
		}
	});
	$("#strah").change(function(){
		if ($(this).attr("checked")){
			$("#strah_span").show();
		} else {
			$("#strah_span").hide();
			$("#strah_val").val('');
		}
	});
	$("#gruzcalc").click(function(e){e.preventDefault();
		var p = {};
		p.places = {};
		var i = 0;
		$(".gruz_row").each(function(){
			var gabarites = [];
			$(this).find('input').each(function(){
				if ($(this).attr("type") == "checkbox"){
					gabarites.push($(this).attr("checked") ? "1" : "0");
				} else {
					gabarites.push($(this).val());
				}
			});
			p.places[i] = gabarites;
			i = i + 1;
		});
		p.take = { 
			town: $("#town_0").val(),
			tent: $("#tent_0:checked").length,
			gidro: $("#gidro_0:checked").length,
			speed: $("#speed_0:checked").length,
			moscow: $(".moscow_0:checked").val()
		};
		p.deliver = { 
			town: $("#town_1").val(),
			tent: $("#tent_1:checked").length,
			gidro: $("#gidro_1:checked").length,
			speed: $("#speed_0:checked").length,
			moscow: $(".moscow_1:checked").val()
		};
		p.plombir = $("#plombir_val").val();
		p.strah = $("#strah_val").val();
		p.ashan = $("#ashan:checked").length;

		$('#result-wrap').html('Ожидайте загрузки данных...');
		
		$.get('/gruzcalc/p/' + $.param(p), function(data){
			var html = ''; 
			if (data=='') {
				html = '<p style="color:red;">Ошибка: проверьте правильно ли вы ввели параметры груза</p>';
			} else {
				eval('var res = ('+data+')');
				if (typeof(res['take']) != 'undefined' && res['take'][2] < 1000 && p.take['town'] == '-457') res['take'][2] = 1000;
				
				function render_all(a,name){
					if (typeof(res[a]) == 'undefined') return '';
					a = ['take',a,'deliver','ADD'];
					var sum = 0;
					var html = '<div><h4>'+name+'</h4><table class="calcSelect"><tr><th class=rez>Описание</th><th class=rez>Дополнительно</th><th class=rez>Стоимость</th></tr>';
					for (i in a) {
						res[a[i]][2] = Math.round(res[a[i]][2]*100)/100;
						var val = res[a[i]][2];
						if (val > 0){
							sum += val;
							html += render(res[a[i]]);
						}
					}
					html += '<tr><th colspan="2">ВСЕГО</th><td><b>'+Math.round(sum*100)/100+' руб.</b></td></tr></table></div>';
					return html;
				}
				
				function render(a){
					return '<tr><td>&nbsp;'+a[0]+'</td><td>&nbsp;'+a[1]+'</td><td>&nbsp;'+a[2]+' руб.</td></tr>';
				}
				
				var name = 'Перевозка';
				if (typeof(res.FAULT) != 'undefined') {
					html = '<p>'+res.FAULT+'</p>';
				} else {
					html = '';
					html += render_all('auto','Перевозка');
					html += res.periods;
					var avia = render_all('avia','Авиаперевозка');
					if (avia!='') {
						html += avia + '<a href="http://www.pecom.ru/ru/services/aviaterms/">Сроки авиаперевозки</a>';
					}
					html += '<p>&nbsp;</p>'
					for (i in res.error){
						html += '<p class="error">'+res.error[i]+'</p>';
					}
				}
				if (typeof(res.text)!='undefined')
				html += '<p>&nbsp;</p>'+res.text;
			}
			$('#result-wrap').html(html); 
		});
	});
});
</script>

<div class="contentLeft">
    <div class="pageblock">
        <div class="pageText">
            <div class="for_h1"><h1><?=$this->placeholder('h1');?></h1></div>
            <?$page = $this->layout()->page;
            if ($page->show_childs==1 && $page->issetChild()){?>
                <div class="sort" style="padding-top:0px; padding-bottom:10px;">
                    <?foreach ($page->getChild() as $child) {?>
                    <a href="/<?php echo $child->path?>"><?=$child->name?></a><br />
                    <?}?>
                </div>
                <div style="clear:both"></div>
                <?}?>
            <?=$this->layout()->page->content?>
            <div class="pageTovarBlock pageTovarBlock_all">
	            <table class="calcSelect">
					<tbody>
						<tr><td colspan="2"><h4>Отправка груза</h4></td></tr>
						<tr>
							<td>Город</td>
							<td>
								<select name="town_0" id="town_0" class="groupselect">
								<?/*foreach($towns as $regionKey => $regionData){?>
									<optgroup label="<?=$regionKey?>">
									<?foreach($regionData as $townKey => $townName){?>
										<option value="<?=$townKey?>"><?=$townName?></option>
									<?}?>
									</optgroup>
								<?}*/?>
								<?foreach($towns as $key => $data){?>
									<option value="<?=$key?>"><?=$data?></option>
								<?}?>
								</select>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<label><input type="checkbox" id="tent_0">Растентовка при заборе груза (кроме городов Золотого кольца)</label><br>
								<small>Тентованный вариант грузового отсека предполагает возможность растентоваться и получить открытый грузовой отсек. Автомобиль может быть оборудован крепежными ремнями и другим дополнительным оборудованием (лифтом, жесткими бортами). Растентовка облегчает погрузку груза. Поэтому осуществляют либо боковую растентовку или верхнюю Полная растентовка полуприцепа позволяет производить загрузку сверху и сбоку.</small><br>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<label><input type="checkbox" id="gidro_0">Использование гидролифта или другой спецтехники при заборе</label><br>
								<small>Вес груза не должен превышать 3000 кг, максимальный габарит не более 3 метров</small><br>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div id="town_0_dop1" style="display: none;">
									<label class=""><input type="checkbox" id="speed_0">Срочный забор груза</label><br>
									<small>
										Услуга «Забор груза по заявке день в день» позволяет забрать груз в день подачи заявки. Данная услуга предоставляется только в Москве. Для того, чтобы воспользоваться услугой «ЗАБОР/ДОСТАВКА: день в день» нужно: прислать заявку по электронной почте на адрес zdd@pecom.ru  до 12:00. <br>
										Забор будет произведен во второй половине дня. Услуга «Забор груза по заявке день в день» имеет ряд ограничений: <br>
										-размеры груза не должны превышать 1000 кг, 5м3 и 3 метра; <br>
										-адрес забора или доставки должен находиться в Москве в пределах МКАД; <br>
										-интервал подачи машины должен быть минимум 4 часа.
									</small>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div id="town_0_dop2" style="display: none;">
									Необходим ли въезд в ТТК, МОЖД или Садовое кольцо:<br>
									<label><input type="radio" checked="" name="inmsk0" value="0" class="msk moscow_0">Нет</label><br>
									<label><input type="radio" name="inmsk0" value="1" class="msk moscow_0">МОЖД</label><br>
									<label><input type="radio" name="inmsk0" value="2" class="msk moscow_0">ТТК</label><br>
									<label><input type="radio" name="inmsk0" value="3" class="msk moscow_0">Садовое кольцо</label>
								</div>
							</td>
						</tr>
						<tr><td colspan="2"><h4>Получение груза</h4></td></tr>
						<tr>
							<td>Город</td>
							<td>
								<select name="town_1" id="town_1" class="groupselect">
								<?/*foreach($towns as $regionKey => $regionData){?>
									<optgroup label="<?=$regionKey?>">
									<?foreach($regionData as $townKey => $townName){?>
										<option value="<?=$townKey?>"><?=$townName?></option>
									<?}?>
									</optgroup>
								<?}*/?>
								<?foreach($towns as $key => $data){?>
									<option value="<?=$key?>"><?=$data?></option>
								<?}?>
								</select>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<label><input type="checkbox" id="tent_1">Растентовка при доставке груза (кроме городов Золотого кольца)</label><br>
								<small>Тентованный вариант грузового отсека предполагает возможность растентоваться и получить открытый грузовой отсек. Автомобиль может быть оборудован крепежными ремнями и другим дополнительным оборудованием (лифтом, жесткими бортами). Растентовка облегчает погрузку груза. Поэтому осуществляют либо боковую растентовку или верхнюю Полная растентовка полуприцепа позволяет производить загрузку сверху и сбоку.</small>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<label><input type="checkbox" id="gidro_1">Использование гидролифта или другой спецтехники при доставке</label><br>
								<small>Вес груза не должен превышать 3000 кг, максимальный габарит не более 3 метров</small>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<label class="label"><input type="checkbox" id="ashan">Требуется доставка груза в один из гипермаркетов (Ашан, Лента, Леруа Марлен, Метро Кэш энд Керри, О`Кей, Перекрёсток, Детский мир, Бегемот, Эльдорадо, Медиа Маркт.)</label><br>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div id="town_1_dop" style="display: none;">
									Необходим ли въезд в ТТК, МОЖД или Садовое кольцо:<br>
									<label><input type="radio" checked="" name="inmsk1" value="0" class="msk moscow_1">Нет</label><br>
									<label><input type="radio" name="inmsk1" value="1" class="msk moscow_1">МОЖД</label><br>
									<label><input type="radio" name="inmsk1" value="2" class="msk moscow_1">ТТК</label><br>
									<label><input type="radio" name="inmsk1" value="3" class="msk moscow_1">Садовое кольцо</label>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="calcSelect small">
					<tbody>
					<tr>
						<td colspan="7"><h4>Груз</h4></td>
					</tr>
					<tr>
						<th>Длина(м)</th>
						<th>Ширина(м)</th>
						<th>Высота(м)</th>
						<th>Объем(м<sup>3</sup>)</th>
						<th>Вес(кг)</th>
						<th>Габаритный груз*</th>
						<th>Требуется Ж/У**</th>
						<th><a class="add" href="#">[+]</a></th>
					</tr>
					<tr class="gruz_row">
						<td style="text-align: center;"><input type="text" name="" value=""></td>
						<td style="text-align: center;"><input type="text" name="" value=""></td>
						<td style="text-align: center;"><input type="text" name="" value=""></td>
						<td style="text-align: center;"><input type="text" name="" value=""></td>
						<td style="text-align: center;"><input type="text" name="" value=""></td>
						<td style="text-align: center;"><input type="checkbox" name=""></td>
						<td style="text-align: center;"><input type="checkbox" name="" checked="checked"></td>
						<td><a class="del" href="#">[-]</a></td> 
					</tr>
					<tr>
						<td colspan="7">
							Если у груза не введены ширина, высота,длина и вес, то он не учитывается.
						</td>
					</tr>
					<tr>
						<td colspan="7">
							<small>* - Если Вы ввели общие параметры Вашего груза (вес,объем), при этом ни одно из мест не превышает по весу 1000кг, а по габаритам 5м. - пожалуйста, поставьте галочку.</small><br />
							<small>** - Есть целый перечень хрупких предметов, которые просто не выдержат перевозку, если не обеспечить им полноценную защиту. Также существуют такие виды грузов, которые не портятся сами, но могут нанести вред соседним грузам. В таких случаях мы рекомендуем нашим клиентам использовать жесткую упаковку. Она представляет собой деревянный ящик с крестообразными стенами. Стоимость изготовления жесткой упаковки составляет 600 руб/м3, минимальная сумма к оплате 150 руб.</small>
						</td>
					</tr>
					</tbody>
				</table>
				<script type="text/javascript"> 
					$('.calcSelect.small .del').live('click',function(){
						var tr;
						if ((tr = $(this).parents('tr:first')).parent().children().length>5) {
							tr.remove();
						}
						return false;
					});
					$('.calcSelect.small .add').click(function(e){e.preventDefault();
						var tr;
						(tr=$(this).parents('tr:first').next()).clone().insertAfter(tr).find('input').val('');
					});
				</script>
				<table>
					<tbody>
						<tr><td><h4>Дополнительные параметры <small>(Распространяются на весь груз)</small></h4></td></tr>
						<tr>
							<td>
								<label class="label"><input type="checkbox" id="plombir">Требуется пломбировка груза </label><span class="hidden" style="display: none;" id="plombir_span"><input type="text" id="plombir_val"> пломбами</span><br />
								<label class="label"><input type="checkbox" id="strah">Требуется страхование груза </label><span class="hidden" style="display: none;" id="strah_span">на сумму <input type="text" id="strah_val"> руб.</span><br />
								<small>Дополнительное страхование груза &ndash; это двойная защита Вашего груза. Данная услуга распространяется практически на все страховые случаи.</small>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="button send" style="height: 40px;"><button id="gruzcalc" type="submit">Рассчитать</button></div>
				<div id="result-wrap"></div>
			</div>
            
        </div>
    </div>
</div>
