<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/messages_ru.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	//$("#zakaz").validate();
	checkmonth();
	//calculate ();
	$('#zakaz').validate({errorElement : 'Div'});
	$('#calc').validate({errorElement : 'Div'});
	$("#vznos").change(function(){checkmonth();});
	$("#calculate").click(function(){
		if($('#calc').valid()){
       		var sum = $('#rassr_total').val();
       		var srok = $('select[name="rassr_srok"]').val();
       		if(sum <15000 && srok >=6) {alert ('К сожалению, рассрочка на срок от 6 месяцев предоставляется только на суммы от 15000 руб'); return false;}
       		if(sum < 8000){alert('К сожалению, рассрочка предоставляется на сумму от 8 000 руб'); return false}
       		calculate();
       		checkprice();
       	}
   	});
	$("#send").click(function(){
		if($('#calc').valid()){
			var sum = $('#rassr_total').val();
   			if(sum < 8000){alert('К сожалению, рассрочка предоставляется на сумму от 8 000 руб'); return false}
			/*
                var fam=$('input[name="form[rassr_fam]"]').val();
                var name=$('input[name="form[rassr_name]"]').val();
                var otch=$('input[name="form[rassr_otch]"]').val();
                var birth=$('input[name="form[rassr_birth]"]').val();
                var seria=$('input[name="form[rassr_f_seria]"]').val();
                var numb=$('input[name="form[rassr_f_number]"]').val();
                var kem=$('input[name="form[rassr_f_kem]"]').val();
                var kogda=$('input[name="form[rassr_f_kogda]"]').val();
                var mob=$('input[name="form[rassr_mob]"]').val();
                if (name == '' || fam == '' || otch == '' || birth == '' || seria == '' || numb == '' || kem == '' || kogda == '' || mob == '' ){
                    alert('Не все поля заполнены');return false;
                }
                if(sum > 100000){
                    var sseria=$('input[name="form[rassr_s_seria]"]').val();
                    var snumb=$('input[name="form[rassr_s_number]"]').val();
                    var skem=$('input[name="form[rassr_s_kem]"]').val();
                    var skogda=$('input[name="form[rassr_s_kogda]"]').val();
                    if (sseria == '' || snumb == '' || skem == '' || skogda == ''){
                        alert('Не все поля заполнены');return false;
                    }
                }
            */
			calculate();
			checkprice();
			$("#zakaz").submit();
		}
	});

    function checkprice(){
        var total_rassr = $("#rassr_total").val();
        if(total_rassr > 100000){
            $(".second_document").show("slow");
            $("#s_kem").addClass("required");
            $("#s_kogda").addClass("required");
            $("#s_seria").addClass("required");
            $("#s_number").addClass("required");
        }else{
            $(".second_document").hide("fast");
            $("#s_kem").removeClass("required");
            $("#s_kogda").removeClass("required");
            $("#s_seria").removeClass("required");
            $("#s_number").removeClass("required");
        }
    }
});

function checkmonth(){
	var n = $('select[name="rassr_vznos"]').val();
	$('select[name="rassr_srok"] option').remove();
	for(var i=0; i<p[n].length; i++) {
		$('select[name="rassr_srok"]').append('<option value="'+p[n][i]+'">'+month[p[n][i]]+'</option>');
	}
}

function calculate (){
     var sum = $('#rassr_total').val();
     var vznos = $('select[name="rassr_vznos"]').val()/10;
     var srok = $('select[name="rassr_srok"]').val();
     var platezh = Math.round(sum*(1-vznos)/srok);
     $('#platezh').text(platezh+' руб');
     var our_pay = Math.round(platezh*0.075);
     $('#our_pay').text(our_pay+' руб');
     $('#rassr_total_hidden').val(sum);
     $('#rassr_vznos_hidden').val(vznos*10);
     $('#rassr_srok_hidden').val(srok);
}

var month = new Object();
month['3'] = "3 месяца";
month['4'] = "4 месяца";
month['5'] = "5 месяцев";
month['6'] = "6 месяцев";
month['7'] = "7 месяцев";
month['8'] = "8 месяцев";
month['9'] = "9 месяцев";
month['10'] = "10 месяцев";
month['11'] = "11 месяцев";
month['12'] = "12 месяцев";
month['18'] = "18 месяцев";
var p = new Array();
p[0] = ["6"];
p[1] = ["3","4","7"];
p[2] = ["8"];
p[3] = ["5","9","10"];
p[4] = ["11","12"];
p[6] = ["18"];
</script>
<div class="sub_content">
	<div style="padding: 5px"></div>
	<div class="main_block_text">
	<?=$this->page->introText?>
	<a name="msg"></a>
	<h2>Калькулятор рассрочки</h2>
	<form action="" method="post" id="calc">
		<?$form = $this->form;?>
		<div class="search_form">
			<div class="top_s"><b></b></div>
			<div class="form">
			<?if($this->ok){?>
				<p style="color:green; font-size:16px; font-weight:bold;">Спасибо! Ваша заявка будет рассмотрена в кратчайшие сроки. Мы обязательно свяжемся с Вами.</p>
			<?}?>
				<div class="item input_text overflow">
					<label>Сумма <span class="red">*</span> </label><input name="rassr_total" value="" type="text" style="width:100px" id="rassr_total" class=" w_125 required number">
				</div>
				<div class="item select overflow">
					<label>Первоначальный взнос </label>
					<select name="rassr_vznos" id="vznos" class="w_130">
						<option value="0">0%</option>
						<option value="1">10%</option>
						<option value="2">20%</option>
						<option value="3">30%</option>
						<option value="4">40%</option>
						<option value="6">60%</option>
					</select>
				</div>
				<div class="item select overflow">
					<label>Срок рассрочки </label>
					<select name="rassr_srok" id="srok" class="w_130"></select>
				</div>
				<div class="item input_text overflow">
					<label>Ежемесячный платёж </label><span id="platezh" class="rassr_plata"></span>
				</div>
				<div class="item input_text overflow">
					<label>Процент, который мы платим за Вас</label><span id="our_pay" class="rassr_plata"></span>
				</div>
				<div class="item button_form overflow">
					<input name="" type="button" value="Рассчитать" id="calculate" onclick="return false" />
				</div>
			</div>
			<div class="bottom_s"><b></b></div>
		</div>
	</form>
		
		<p>Для рассмотрения банком вашей заявки на рассрочку, пожалуйста, заполните следующую форму:</p>
		<p><b>Предоставленные вами сведения строго конфиденциальны</b></p>
		<form action="#msg" method="post" id="zakaz">
			<input name="form[rassr_total]" value="" type="hidden" id="rassr_total_hidden">
			<input name="form[rassr_vznos]" value="" type="hidden" id="rassr_vznos_hidden">
			<input name="form[rassr_srok]" value="" type="hidden" id="rassr_srok_hidden">
			<div class="search_form">
			<div class="top_s"><b></b></div>
			<div class="form">
				<div class="rassrochka" id="rassrochka" style="">
					<strong class="p_l_120">Персональные Данные:</strong>
					<div class="item input_text overflow">
						<label>Фамилия <em>*</em></label><input name="form[rassr_fam]" value="<?php echo isset($form['rassr_fam']) ? $form['rassr_fam'] : '';?>" type="text" style="" class="required w_320">
					</div>
					<div class="item input_text overflow">
						<label>Имя <em>*</em></label><input name="form[rassr_name]" value="<?php echo isset($form['rassr_name']) ? $form['rassr_name'] : '';?>" type="text" style="" class="required w_320">
					</div>
					<div class="item input_text overflow">
						<label>Отчество <em>*</em></label><input name="form[rassr_otch]" value="<?php echo isset($form['rassr_otch']) ? $form['rassr_otch'] : '';?>" type="text" style="" class="required w_320">
					</div>
					<div class="item input_text overflow">
						<label>Дата рождения <em>*</em></label><input name="form[rassr_birth]" value="<?php echo isset($form['rassr_birth']) ? $form['rassr_birth'] : '';?>" type="text" style="" class="required w_320">
					</div>
					<strong class="p_l_120">Паспорт:</strong>
					<div class="item input_text overflow">
						<label> Серия<em>*</em></label><input name="form[rassr_f_seria]" value="<?php echo isset($form['rassr_f_seria']) ? $form['rassr_f_seria'] : '';?>" type="text" style="" class="w_105 required">
					</div>
					<div class="item input_text overflow">
						 <label>Номер<em>*</em></label><input name="form[rassr_f_number]" value="<?php echo isset($form['rassr_f_number']) ? $form['rassr_f_number'] : '';?>" type="text" style="" class="w_105 required number">
					</div>
					<div class="item input_text overflow">
						<label>Кем выдан <em>*</em></label><input name="form[rassr_f_kem]" value="<?php echo isset($form['rassr_f_kem']) ? $form['rassr_f_kem'] : '';?>" type="text" style="" class="required w_320">
					</div>
					<div class="item input_text overflow">
						<label>Когда выдан <em>*</em></label><input name="form[rassr_f_kogda]" value="<?php echo isset($form['rassr_f_kogda']) ? $form['rassr_f_kogda'] : '';?>" type="text" style="" class="required w_320">
						
					</div>
					<div class="second_document" style="display:none">
					<strong class="p_l_120">Второй документ:</strong>
				   <div class="item input_text overflow">
						<label>Серия<em>*</em></label><input name="form[rassr_s_seria]" value="<?php echo isset($form['rassr_s_seria']) ? $form['rassr_s_seria'] : '';?>" type="text" style="" class="w_105" id="s_seria">
					</div>
					<div class="item input_text overflow">
						 <label>Номер<em>*</em></label><input name="form[rassr_s_number]" value="<?php echo isset($form['rassr_s_number']) ? $form['rassr_s_number'] : '';?>" type="text" style="" class="w_105 number" id="s_number">
					</div>
					<div class="item input_text overflow">
						<label>Кем выдан <em>*</em></label><input name="form[rassr_s_kem]" value="<?php echo isset($form['rassr_s_kem']) ? $form['rassr_s_kem'] : '';?>" type="text" style="" class="w_320" id="s_kem">
					</div>
					<div class="item input_text overflow">
						<label>Когда выдан <em>*</em></label><input name="form[rassr_s_kogda]" value="<?php echo isset($form['rassr_s_kogda']) ? $form['rassr_s_kogda'] : '';?>" type="text" style="" class="w_320" id="s_kogda">
					</div>
					</div>
					<div class="item input_text overflow">
						<label>Место рождения (по паспорту) </label><input name="form[birthplace]" value="<?php echo isset($form['birthplace']) ? $form['birthplace'] : '';?>" type="text" style="" class="w_320">
					</div>
					<div class="item input_text overflow">
					<label >Место работы </label><input name="form[rassr_work]" value="<?php echo isset($form['rassr_work']) ? $form['rassr_work'] : '';?>" type="text" style="" class="w_320" >
					</div>
					<div class="item input_text overflow">
						<label>Адрес работы </label><input name="form[rassr_work_place]" value="<?php echo isset($form['rassr_work_place']) ? $form['rassr_work_place'] : '';?>" type="text" style="" class="w_320" >
					</div>
					<div class="item input_text overflow">
						<label>Должность </label><input name="form[rassr_dol]" value="<?php echo isset($form['rassr_dol']) ? $form['rassr_dol'] : '';?>" type="text" style="" class="w_320" >
					</div>
					<div class="item input_text overflow">
						<label>Период работы в организации  </label><input name="form[worktime]" value="<?php echo isset($form['worktime']) ? $form['worktime'] : '';?>" type="text" style="" class="w_320" >
					</div>
					Адрес регистрации по месту жительства (прописка):
					<div class="item input_text overflow">
						<label>&nbsp;</label><input name="form[rassr_prop]" value="<?php echo isset($form['rassr_prop']) ? $form['rassr_prop'] : '';?>" type="text" style="" class="w_320">
					</div>
					<div class="item input_text overflow">
						<label>Дата регистрации </label><input name="form[data_registr]" value="<?php echo isset($form['data_registr']) ? $form['data_registr'] : '';?>" type="text" style="" class="w_320">
					</div>
					<div class="item input_text overflow">
						<label>Адрес проживания </label><input name="form[rassr_prozh]" value="<?php echo isset($form['rassr_prozh']) ? $form['rassr_prozh'] : '';?>" type="text" style="" class="w_320">
					</div>
				<strong class="p_l_120">Контактные телефоны: </strong>
					<div class="item input_text overflow">
						<label>Мобильный <em>*</em></label><input name="form[rassr_mob]" value="<?php echo isset($form['rassr_mob']) ? $form['rassr_mob'] : '';?>" type="text" style="" class="required w_320" >
					</div>
					<div class="item input_text overflow">
						<label>Домашний </label><input name="form[rassr_dom]" value="<?php echo isset($form['rassr_dom']) ? $form['rassr_dom'] : '';?>" type="text" style="" class="w_320">
					</div>
					<div class="item input_text overflow">
						<label>Рабочий </label><input name="form[rassr_rab]" value="<?php echo isset($form['rassr_rab']) ? $form['rassr_rab'] : '';?>" type="text" style="" class="w_320">
					</div>
					<div class="item input_text overflow">
						<label>Комментарии </label><textarea name="form[comments]" style="width:320px"><?php echo isset($form['comments']) ? $form['comments'] : '';?></textarea>
					</div>
					Телефон контактного лица (любой городской номер знакомого лица не проживающего с лицом оформляющим рассрочку)
					<div class="item input_text overflow">
					<label>&nbsp;</label><input name="form[friend]" value="<?php echo isset($form['friend']) ? $form['friend'] : '';?>" type="text" style="" class="w_320">
					</div>
				</div>
				<div class="clear"></div>
				<div class="item button_form overflow">
					<input name="" type="button" value="Отправить" id="send" onclick="return false" />
				</div>
			</div>
			<div class="bottom_s"><b></b></div>
		</div>
	</form>
	<?=$this->page->content?>
	</div>
</div>