<script type="text/javascript">

    (function($){
        // очищаем select
        $.fn.clearSelect = function() {
            return this.each(function(){
                if(this.tagName=='SELECT') {
                    this.options.length = 0;
                    $(this).attr('disabled','disabled');
                }
            });
        }
        // заполняем select
        $.fn.fillSelect = function(dataArray) {
            return this.clearSelect().each(function(){
                if(this.tagName=='SELECT') {
                    var currentSelect = this;
                    var first_option = new Option('Выбрать', 0);
                    if($.browser.msie) {
                        currentSelect.add(first_option);
                    } else {

                        currentSelect.add(first_option,null);
                    }
                    $.each(dataArray,function(index,data){
                        var option = new Option(data.title,data.id);

                        if($.browser.msie) {
                            currentSelect.add(option);
                        } else {

                            currentSelect.add(option,null);
                        }
                    });
                }
            });
        }
    })(jQuery);
</script>
<script type="text/javascript">
    function set_material(){
        var id_material = "<?=isset($this->more_search['id_material']) ? $this->more_search['id_material'] : ''?>";
        $("#material_type option").each(function(){
            if($(this).val()==id_material){
                $(this).attr("selected", "selected");
            }
        });
    }

    function set_transform(){
        var id_transform = "<?=isset($this->more_search['id_transformer']) ? $this->more_search['id_transformer'] : ''?>";
        $("#id_transform option").each(function(){
            if($(this).val()==id_transform){
                $(this).attr("selected", "selected");
            }
        });
    }

    $(document).ready(function(){
        $("#material").hide("fast");
        $("#sleep").hide("fast");
        //$("#dryer_box").hide("fast");
        $("#transformer").hide("fast");

        // выбор обивки
        function getMaterials(){
            var mebel_type = $('#mebel_type').val();
            var tmpSelect = $('#material_type');
            if(mebel_type == 0) {
                tmpSelect.attr('disabled','disabled');
                tmpSelect.clearSelect();
                $("#material").hide("fast");
            } else {
                $.getJSON('/search',{act:'material', id_type:mebel_type},
                        function(data) {
                            if(data =='err'){
                                tmpSelect.clearSelect();
                                $("#material").hide();
                            } else {
                                tmpSelect.fillSelect(data).attr('disabled','');
                                set_material();
                                $("#material").show();
                            }
                        }
                );
            }
        };

        function getSleep(){
            var mebel_type = $('#mebel_type').val();

            if(mebel_type == 0) {
                $("#sleep").hide("fast");
            } else {
                $.getJSON('/search',{act:'sleep', id_type:mebel_type},
                        function(data) {
                            if(data !='err'){
                                $("#sleep").show();
                                $("#slip_search").attr("disabled","");
                            }
                            else{
                                $("#sleep").hide("fast");
                                $("#slip_search").attr("disabled","disabled");
                                //$('#slip_search').clearSelect();
                            }
                        }
                );
            }
        };

        function getTransform(){
            var mebel_type = $('#mebel_type').val();
            var tmpSelect = $('#id_transform');

            if(mebel_type == 0) {
                tmpSelect.attr('disabled','disabled');
                tmpSelect.clearSelect();
                $("#transformer").hide("fast");
            } else {

                $.getJSON('/search',{act:'transform', id_type:mebel_type},
                        function(data) {
                            //alert(data);
                            if(data =='err'){
                                tmpSelect.clearSelect();
                                $("#transformer").hide();
                            } else {
                                tmpSelect.fillSelect(data).attr('disabled','');
                                set_transform();
                                $("#transformer").show();
                            }
                        }
                );
            }
        };

        $('#mebel_type').change(function(){
            getMaterials();
            getSleep();
            getTransform();
            var value = $(this).val();
            if(value==1 || value==2 || value==3){
                $("#sp").show();
                //var height = $("#block .column").height();
                //$("#block .column").css('height', height+100+'px' );
            }else{
                $("#sp").hide();
            }
        }).change();
    });
</script>
<?$path = $this->layout()->page->path . '/'?>
<div class="main_content">
	<!--<div class="contacts">
        <div class="contacts_form">
        </div>
    </div>-->

    <br />
<?if ($this->error == 1) {?>
	Не выбраны параметры для поиска.
<?} else {?> 
<?if (count($this->products) == 0) {?>
	Поиск не дал результатов. Попробуйте изменить параметры поиска.
<?} else {?>
<?if (isset($this->products)) { $i=0; $old_product_id = 0;?>
    <?=$this->paginationLitSearch('/' . $path, (int)$this->total, (int)$this->onpage, $this->current_page, $this->more_search);?>
    <div class="division_tovars">
		<?foreach ($this->products as $product) {
        //$division_path = $product->getDivisionUrl();
        //$division = ($division_path) ? "/cat/$division_path" : "/product";
        $division_url = $product->division_url; //Catalog_Division::getInstance()->getDivisionUrlByProductId($product->id);
        $options = $product->getDefaultOptions();
		$product_id = $product->id;
		if ($product_id == $old_product_id) {
			continue;
		}
		$old_product_id = $product_id;
		?>
        <div class="division_tovar_one" style="padding: 10px 5px;">
            <div class="division_tovar_one_photo">
                <a href="/cat/<?=$division_url?>/<?=$product->url?>">
		    <?if ($options['akciya']->value){?>
		    <img class="action" src="/img/action.png" alt="Акция"/>
		    <?}?>
                    <center><img height="232" src="<?=$this->thumb('/pics/catalog/product/img/'.$product->img, 330, 232)?>" alt="<?=strip_tags($product->title)?>" /></center>
                </a>
            </div>
            <div class="division_tovar_one_description">
                <div class="division_tovar_one_name">
                    <a href="/cat/<?=$division_url?>/<?=$product->url?>"><?=$product->title_short?></a>
                </div>
                <div class="division_tovar_one_price">
                    <?if ($product->price > 0) {?>
                    Цена от: <span><?=number_format($product->price,0,',',' ')?> руб.</span>
		    <?} else {?>
			<?if ($product->price_with_tr > 0) {?>
				Цена от: <span><?=number_format($product->price_with_tr,0,',',' ')?> руб.</span>
			<?} else {?>
				Изучение спроса
			<?}?>
		    <?}?>
                </div>
            </div>
        </div>
        <?if ($i == 3) {?> <div class="clear"></div><? $i = 0; }?>
        <?}?>
    <div class="clear"></div>
    </div>
		<?=$this->paginationLitSearch('/' . $path, (int)$this->total, (int)$this->onpage, $this->current_page, $this->more_search, $up = 1);?>
<?}?>
<?}}?>
</div>
