
<div id="left_block" class="form_page">
<form method="post" id="edit_form" action="<?=$this->currentModule?>/edit/<?=$this->item->id ? 'id/' . $this->item->id . '/' : ''?><?=$this->peoples_id ? 'peoples_id/' . $this->peoples_id . '/' : ''?>" enctype="multipart/form-data">
	<?if ($this->ok == 1) {?>
		<p align="center"><font color="green"><b>Данные сохранены</b></font></p>
	<?}?>							
	<?if ($this->err == 1) {?>
		<p align="center"><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
	<?}?>	
	<div class="content_block">
		<p class="form_name">Название*</p>
		<?=$this->formText('title', $this->item->title)?>							
        <p class="form_name">Приоритет <span class="ser_text size11">(Чем больше значение, тем раньше элемент в списке)</span></p>
        <?=$this->formText('priority', $this->item->priority, array('style' => 'width:100px'))?>
	</div>
	<div class="right">
		<button class="orange" type="button" onclick="location.href='<?=$this->currentModule?>'"><span><em>Отменить</em></span></button>
		<button type="submit"><span><em>Сохранить</em></span></button>
	</div>
</form>
</div>
<div id="right_block">
<div class="block_r gray">
<h3><b>Действия</b></h3>
<ul>
	<li><a href="<?=$this->currentModule?>/edit/">Создать элемент</a></li>
	<li><a href="<?=$this->currentModule?>">Вернуться к списку</a></li>
</ul>
</div>
</div>
