<?
$towns = $this->towns;
?>

<script>
    $(document).ready(function(){
        var moskow_id = '-457';
        $("#town_0").change(function(){
            if ($(this).val() == moskow_id){
                $("#town_0_dop1").show();
                $("#town_0_dop2").show();
            } else {
                $("#town_0_dop1").hide();
                $("#town_0_dop2").hide();
            }
        });
        $("#town_1").change(function(){
            if ($(this).val() == moskow_id){
                $("#town_1_dop").show();
            } else {
                $("#town_1_dop").hide();
            }
        });
        $("#plombir").change(function(){
            if ($(this).attr("checked")){
                $("#plombir_span").show();
            } else {
                $("#plombir_span").hide();
                $("#plombir_val").val('');
            }
        });
        $("#strah").change(function(){
            if ($(this).attr("checked")){
                $("#strah_span").show();
            } else {
                $("#strah_span").hide();
                $("#strah_val").val('');
            }
        });
        $("#gruzcalc").click(function(e){e.preventDefault();
            var p = {};
            p.places = {};
            var i = 0;
            $(".gruz_row").each(function(){
                var gabarites = [];
                $(this).find('input').each(function(){
                    if ($(this).attr("type") == "checkbox"){
                        gabarites.push($(this).attr("checked") ? "1" : "0");
                    } else {
                        gabarites.push($(this).val());
                    }
                });
                p.places[i] = gabarites;
                i = i + 1;
            });
            p.take = {
                town: $("#town_0").val(),
                tent: $("#tent_0:checked").length,
                gidro: $("#gidro_0:checked").length,
                speed: $("#speed_0:checked").length,
                moscow: $(".moscow_0:checked").val()
            };
            p.deliver = {
                town: $("#town_1").val(),
                tent: $("#tent_1:checked").length,
                gidro: $("#gidro_1:checked").length,
                speed: $("#speed_0:checked").length,
                moscow: $(".moscow_1:checked").val()
            };
            p.plombir = $("#plombir_val").val();
            p.strah = $("#strah_val").val();
            p.ashan = $("#ashan:checked").length;

            $('#result-wrap').html('Ожидайте загрузки данных...');
            msg   = $.param(p);
            $.post("gruzcalc/", {
                    //act: 'gruzcalc',
                    //id_product: id_product,
                    msg: msg
                },
                function(data){
                    if(data !=''){
                        eval('var res = ('+data+')');
                        if (typeof(res['take']) != 'undefined' && res['take'][2] < 1000 && p.take['town'] == '-457') res['take'][2] = 1000;

                        function render_all(a,name){
                            if (typeof(res[a]) == 'undefined') return '';
                            a = ['take',a,'deliver','ADD'];
                            var sum = 0;
                            var html = '<div><h4>'+name+'</h4><table class="calc-result"><tr><th class=rez>Описание</th><th class=rez>Дополнительно</th><th class=rez>Стоимость</th></tr>';
                            for (i in a) {
                                res[a[i]][2] = Math.round(res[a[i]][2]*100)/100;
                                var val = res[a[i]][2];
                                if (val > 0){
                                    sum += val;
                                    html += render(res[a[i]]);
                                }
                            }
                            html += '<tr><th colspan="2">ВСЕГО</th><td><b>'+Math.round(sum*100)/100+' руб.</b></td></tr></table></div>';
                            return html;
                        }

                        function render(a){
                            return '<tr><td class="calc_1 calc_none">'+a[0]+'</td><td class="calc_2 calc_none">&nbsp;'+a[1]+'</td><td class="calc_3 calc_none">&nbsp;'+a[2]+' руб.</td></tr>';
                        }

                        var name = 'Перевозка';
                        if (typeof(res.FAULT) != 'undefined') {
                            html = '<p>'+res.FAULT+'</p>';
                        } else {
                            html = '';
                            html += render_all('auto','Перевозка');
                            html += res.periods;
                            var avia = render_all('avia','Авиаперевозка');
                            if (avia!='') {
                                html += avia + '<a href="http://www.pecom.ru/ru/services/aviaterms/">Сроки авиаперевозки</a>';
                            }
                            html += '<p>&nbsp;</p>'
                            for (i in res.error){
                                html += '<p class="error">'+res.error[i]+'</p>';
                            }
                        }
                        if (typeof(res.text)!='undefined')
                            html += '<p>&nbsp;</p>'+res.text;
                    }else{
                        html = '<p style="color:red;">Ошибка: проверьте правильно ли вы ввели параметры груза</p>';
                    }
                    $('#result-wrap').html(html);


                });
        });
    });
</script>

<?=$this->content?>
<div class="calc_cargo">
    <p class="calc_p14">Обращаем Ваше внимание, что результаты расчета калькулятора являются предварительными.<br> Окончательная стоимость формируется только после сдачи груза.</p>
    <h2>Отправка груза</h2>
    <div class="calc_select clearfix">
        <label>Город</label>
        <select name="town_0" id="town_0">
            <?foreach($towns as $key => $val):?>
                <option value="<?=$key?>"><?=$val?></option>
            <?endforeach?>
        </select>
    </div>
    <div class="chec_calc clearfix">
        <span class="niceCheck search_form" onclick="changeCheck(this)">
            <input type="checkbox" id="tent_0">
            <label for="tent_0">Растентовка при заборе груза (кроме городов Золотого кольца)</label>
        </span>
    </div>
    <p>Тентованный вариант грузового отсека предполагает возможность растентоваться и получить открытый грузовой отсек. Автомобиль может быть оборудован крепежными ремнями и другим дополнительным оборудованием (лифтом, жесткими бортами). Растентовка облегчает погрузку груза. Поэтому осуществляют либо боковую растентовку или верхнюю Полная растентовка полуприцепа позволяет производить загрузку сверху и сбоку.</p>
    <div class="chec_calc clearfix">
        <span class="niceCheck search_form" onclick="changeCheck(this)">
            <input type="checkbox" id="gidro_0">
            <label for="gidro_0">Использование гидролифта или другой спецтехники при заборе</label>
        </span>
    </div>
    <p>Вес груза не должен превышать 3000 кг, максимальный габарит не более 3 метров</p>
    <h2>получение груза</h2>
    <div class="calc_select clearfix">
        <label>Город</label>
        <select name="town_1" id="town_1">
            <?foreach($towns as $key => $val):?>
                <option value="<?=$key?>"><?=$val?></option>
            <?endforeach?>
        </select>

    </div>
    <div class="chec_calc clearfix">
                            <span class="niceCheck search_form">
                                <input type="checkbox" id="tent_1">
                                <label for="tent_1">Растентовка при доставке груза (кроме городов Золотого кольца)</label>
                            </span>
    </div>
    <p>Тентованный вариант грузового отсека предполагает возможность растентоваться и получить открытый грузовой отсек. Автомобиль может быть оборудован крепежными ремнями и другим дополнительным оборудованием (лифтом, жесткими бортами). Растентовка облегчает погрузку груза. Поэтому осуществляют либо боковую растентовку или верхнюю Полная растентовка полуприцепа позволяет производить загрузку сверху и сбоку.</p>
    <div class="chec_calc  clearfix">
                    <span class="niceCheck search_form" >
                        <input type="checkbox" id="gidro_1">
                        <label for="gidro_1">Использование гидролифта или другой спецтехники при доставке</label>
                    </span>
    </div>

    <p>Вес груза не должен превышать 3000 кг, максимальный габарит не более 3 метров</p>

    <div class="chec_calc clearfix">
        <span class="niceCheck search_form">
            <input type="checkbox" id="ashan">
            <label for="ashan">Требуется доставка груза в один из гипермаркетов</label>
        </span>
    </div>

    <p>Ашан, Лента, Леруа Марлен, Метро Кэш энд Керри, О`Кей, Перекрёсток, Детский мир, Бегемот, Эльдорадо, Медиа Маркт.</p>
    <h2>груз</h2>
<div class="table_overflow">
    <table class="calc_table small">

        <tr>
            <th style="width: 81px;">Длина (м)</th>
            <th style="width: 88px;">Ширина (м)</th>
            <th style="width: 86px;">Высота (м)</th>
            <th style="width: 86px;">Объем (м3)</th>
            <th style="width: 68px;">Вес (кг)</th>
            <th style="width: 126px;">Габаритный груз*</th>
            <th style="width: 117px;">Требуется Ж/У**</th>
            <th ><a class="table_a add" style="color: #e97606;" href="#">[+]</a></th>

        </tr>
        <tr class="gruz_row">
            <td style="text-align: center;"><input type="text" name="" value=""></td>
            <td style="text-align: center;"><input type="text" name="" value=""></td>
            <td style="text-align: center;"><input type="text" name="" value=""></td>
            <td style="text-align: center;"><input type="text" name="" value=""></td>
            <td style="text-align: center;"><input type="text" name="" value=""></td>
            <td style="text-align: center;"><input type="checkbox" name=""></td>
            <td style="text-align: center;"><input type="checkbox" name="" checked="checked"></td>
            <td><a class="table_a del" style="color: #414141;" href="#">[-]</a></td>
        </tr>

    </table>
</div>
    <script type="text/javascript">
        $('.calc_table.small .del').live('click',function(){
            var tr;
            if ((tr = $(this).parents('tr:first')).parent().children().length>2) {
                tr.remove();
            }
            return false;
        });
        $('.calc_table.small .add').click(function(e){e.preventDefault();
            var tr;
            (tr=$(this).parents('tr:first').next()).clone().insertAfter(tr).find('input').val('');
        });
    </script>

    <p class="calc_p14 calc_p1">Если у груза не введены ширина, высота,длина и вес, то он не учитывается.</p>
    <p>* - Если Вы ввели общие параметры Вашего груза (вес,объем), при этом ни одно из мест не превышает по весу 1000кг, а по габаритам 5м. - пожалуйста, поставьте галочку.<br>** Обязательным условием при грузоперевозке мебели является наличие жесткой упаковки. Она представляет собой деревянный ящик с крестообразными стенами. Стоимость изготовления жесткой упаковки составляет 600 руб/м3, минимальная сумма к оплате 150 руб.</p>
    <h2>Дополнительные параметры<br>(Распространяются на весь груз)</h2>
    <div class="chec_calc chec_calc1 clearfix">
        <span class="niceCheck search_form">
            <input type="checkbox" id="plombir">
            <label for="plombir">Требуется пломбировка груза</label>
            <span class="hidden" style="display: none; float: left; width: 300px; margin: 5px 0; font-size: 14px; font-weight: bold; line-height: 20px;" id="plombir_span"><input type="text" id="plombir_val"> пломбами</span>
        </span>
    </div>
    <div class="chec_calc chec_calc1 clearfix">
        <span class="niceCheck search_form">
            <input type="checkbox" id="strah">
            <label for="strah">Требуется страхование груза</label>
            <span class="hidden" style="display: none;float: left; width: 300px; margin: 5px 0; font-size: 14px; font-weight: bold; line-height: 20px;" id="strah_span"><input type="text" id="strah_val"> сумма руб.</span>
        </span>
    </div>
    <p>Дополнительное страхование груза – это двойная защита Вашего груза. Данная услуга распространяется практически на все страховые случаи.</p>
    <div class="calc_price_content align-centr">
        <button  class="calc_price" id="gruzcalc" type="submit">Рассчитать</button>
    </div>
    <div id="result-wrap"></div>
</div>
