<div class="main_content">
    <div style="padding: 5px"></div>
    <div class="main_block_text">
        <div class="main_block_descr"><?=$this->layout()->page->content?></div>
    </div>
    <div style="padding: 5px"></div>
</div>