<h1 class="inner_head"><span><?php echo $this->layout()->page->name?></span></h1>

<div class="content">
    <?php echo $this->layout()->page->content?>
</div>

<?php echo $this->action('optfeedback', 'forms', 'forms'); ?>
