
<div class="main_content">
	<div style="padding: 5px"></div>
	<div class="main_block_text">
		<?$page = $this->layout()->page;
		if ($page->show_childs==1 && $page->issetChild()){?>
			<div class="sort" style="padding-top:0px; padding-bottom:10px;">
		    <?foreach ($page->getChild() as $child) {?>
				<a href="/<?php echo $child->path?>"><?=$child->name?></a><br />
		    <?}?>
			</div>
			<div style="clear:both"></div>
		<?}?>

		<div class="main_block_descr"><?=$this->layout()->page->content?></div>
	</div>
	<div style="padding: 5px"></div>
</div>
