<div class="footer">
    <a href="/" class="logo_f"><img src="/img/logo_f.png" alt=""/></a>
    <div class="footer_left_side">
        <div class="footer_form">
            <p>Подпишись на рассылку и будь всегда в курсе акций, новинок и распродаж!</p>
            <form action="#" id="subscriptionForm">
                <input class="footer_form_mail" id="mailSubscript" name="mail" type="text" placeholder="Введите e-mail">
                <input class="footer_form_btn" id="btnSubscript" type="submit" value="Подписаться">
                <!--<a class="qwer" href="#subscription_content">fbgfdlndf</a>-->
            </form>
        </div>
    </div>
    <div class="footer_center">
        <div class=footer_menu>
            <div class="menu_left">
                <ul>
                    <?$left_menu = Catalog_Division::getInstance()->getMenu('left');?>
                    <?foreach ($left_menu as $menu) {?>
                    <li><a href="/cat/<?=$menu->url?>" title="<?=$menu->name;?>"><?=$menu->name;?></a></li>
                    <?}?>
                </ul>
            </div>
            <div class="menu_center">
                <ul>
                    <?$center_menu = Catalog_Division::getInstance()->getMenu('center');?>
                    <?foreach ($center_menu as $menu) {?>
                    <li><a href="/cat/<?=$menu->url?>" title="<?=$menu->name;?>"><?=$menu->name;?></a></li>
                    <?}?>
                </ul>
            </div>
            <div class="menu_right">
                <ul>
                    <?$right_menu = Catalog_Division::getInstance()->getMenu('right');?>
                    <?foreach ($right_menu as $menu) {?>
                    <li><a href="/cat/<?=$menu->url?>" title="<?=$menu->name;?>"><?=$menu->name;?></a></li>
                    <?}?>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer_right_side">
        <div class="footer_info">
            <?=$this->getBlockContent('footer_adress')?>
        </div>
        <div class="social_icons">
            <p>Мы в социальных сетях</p>
            <div style="margin-left: 36px;">
                <a target="_blank" href="http://www.facebook.com/PinskdrevMSK"><img src="/img/fb.png" alt="" /></a>
                <a target="_blank" href="http://vk.com/pinskdrev_msk"><img src="/img/vk.png" alt="" /></a>
                <a target="_blank" href="http://ok.ru/group/52034374336601"><img src="/img/ok.png" alt="" /></a>
                <a target="_blank" href="https://plus.google.com/+PinskdrevMskRus"><img src="/img/gl.png" alt="" /></a>
                <a target="_blank" href="https://www.instagram.com/pinskdrev.msk/"><img src="/img/inst.png" alt="" /></a>
                <a target="_blank" href="https://www.youtube.com/channel/UC5hsASZqsUimdv_5RsPzScg"><img src="/img/you.png" alt="" /></a>                
                <div class="clear"></div>
            </div>
        </div>

    </div>
    <div class="clear">
    </div>
</div>
</div>
</div>
<a id="back-top" style="display: block;" href="#top"></a>

        <div id="subscription_content" class="subscription_content">
            <div class="subscription_content_inner">
                <div class="subscription_close"></div>
                <p></p>
            </div>
        </div>




<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter20050684 = new Ya.Metrika({id:20050684,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/20050684" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- {literal} -->
<script type='text/javascript'>
    window['li'+'v'+'eTe'+'x'] = true,
    window['l'+'iv'+'e'+'Tex'+'ID'] = 104254,
    window['li'+'ve'+'Te'+'x_obje'+'ct'] = true;
    (function() {
        var t = document['cr'+'eateE'+'leme'+'n'+'t']('script');
        t.type ='text/javascript';
        t.async = true;
        t.src = '//cs15.liv'+'etex.ru/js/cli'+'ent.js';
        var c = document['getElement'+'sByTagN'+'am'+'e']('script')[0];
        if ( c ) c['pare'+'ntNo'+'de']['in'+'se'+'r'+'t'+'Befor'+'e'](t, c);
        else document['docu'+'mentEl'+'ement']['fi'+'rst'+'Chi'+'ld']['a'+'p'+'pend'+'Ch'+'ild'](t);
    })();
</script>
<!-- {/literal} -->

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="text/javascript" src="/js/jcar.js"></script>
<script type="text/javascript" src="/js/fancybox/jquery.fancybox.js"></script>
<!--<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>-->
<script type="text/javascript" src="/js/kwiks.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/product.js"></script>
<script type="text/javascript" src="/js/jquery.ui.touch-punch.js"></script>
<script type="text/javascript" src="/js/s_img.js"></script>
<script type="text/javascript" src="/js/jcarousellite.js"></script>
<script type="text/javascript" src="/js/sliders.js"></script>
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<script src="/js/selects.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/ui.ontouch.js"></script>

<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/js/select_search.js"></script>

<script type="text/javascript" src="/js/main.js?v=1.0.1"></script>

</body>
</html>
