<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="viewport" content="width=device-width">
    <title><?=$this->escape($this->placeholder('title'));?></title>
    <meta name="Keywords" content="<?=$this->escape($this->placeholder('keywords'));?>" />
    <meta name="Description" content="<?=$this->escape($this->placeholder('descriptions'));?>" />
    <link rel="canonical" href="<?=$this->placeholder('canonical')?>" />
    <!--[if IE 7]><link href="/css/ie7.css" rel="stylesheet"><![endif]-->
    <link href="/css/slick.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/selects.css" rel="stylesheet" type="text/css" media="all" />
    <!--<link href="/css/jcar.css" rel="stylesheet" type="text/css" media="all" />-->
    <link href="/css/ms_dd.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css" media="screen" />
    <!--<link href="/css/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css" media="screen" />-->
    <link href="/css/media-query.css" rel="stylesheet" type="text/css" media="screen" />

    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/js/jquery.js"></script>-->
    <!--<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/slick.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/jcar.js"></script>-->
    <!--<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>-->
    <!--<script type="text/javascript" src="/js/main.js"></script>-->
    <!--<script type="text/javascript" src="/js/kwiks.js"></script>-->
    <!--<script type="text/javascript" src="/js/scripts.js"></script>-->
    <!--<script type="text/javascript" src="/js/product.js"></script>-->
    <!-- <script type="text/javascript" src="/js/ontouch.js"></script>-->
    <!--<script type="text/javascript" src="/js/jquery.ui.touch-punch.js"></script>-->
    <!--<script type="text/javascript" src="/js/s_img.js"></script>-->
    <!--<script type="text/javascript" src="/js/tabs.js"></script>-->
    <!--<script type="text/javascript" src="/js/jcarousellite.js"></script>-->
    <!--<script type="text/javascript" src="/js/sliders.js"></script>-->
    <!--<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>-->
<link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
<style type="text/css">.lt-xbutton .lt-xbutton-icons .lt-xbutton-phone-icon{color:#ea8640!important}.lt-xbutton .lt-xbutton-icons{border:2px solid #ea8640!important}.lt-xbutton .lt-xbutton-wrapper .lt-xbutton-bttn{background:#ea8640!important}.lt-xbutton .lt-xbutton-wrapper .lt-xbutton-bttn .fa-check{color:#FFF!important}.lt-xbutton .lt-xbutton-dialler .lt-xbutton-dialler-half .lt-xbutton-dialler-pie{border-color:#ea8640!important}</style>
    <script type="text/javascript" src="/js/ui.ontouch.js"></script>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="/js/selects.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

	jQuery(document).ready(function() {
            jQuery('.div_carousel').jcarousel();
        });
        $(document).ready(function() {
	    slide(1);
            $('.squares').fadeIn(2500);
	     $("a.zoom").fancybox({
                'titleShow' : true,
                'titlePosition' : 'inside',
                'transitionIn'	: 'elastic',
                'transitionOut'	: 'elastic',
		'cache'	: false,
                'centerOnScroll' : true
            });
        });
    </script>
    <?$check = $_SERVER['REQUEST_URI'];?>
    <?if ($check == '/cart/complete') {?>
    <!--google Analytics-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38474114-1']);
	_gaq.push(["_addOrganic","google.ru", "q"]);
	_gaq.push(["_addOrganic","search.eim.ebay.ru", " kw"]);
	_gaq.push(["_addOrganic","search.qip.ru", "query"]);
	_gaq.push(["_addOrganic","search.sweetim.com", "q"]);
        _gaq.push(['_trackPageview']);
            <?$products = new Zend_Session_Namespace('transaction');?>
            <?$id_zakaz = 0;
            $price_for_all = 0;
            ?>
            <?foreach ($products->products as $product) {
            $id_zakaz = $product['order'];
            $total_price = $product['total_price'];
            $price_for_all = $price_for_all+$total_price;?>
            <?}?>
        _gaq.push(['_addTrans',
	    	'<?=$id_zakaz?>', // order ID - required
		'', // affiliation or store name
		'<?=$price_for_all?>', // total - required
		'0', // tax
		'0', // shipping
		'', // city
		'', // state or province
		'' // country

        ]);
            <?foreach ($products->products as $product) {
            $id = $product['id'];
            $title = $product['title'];
            $price = $product['price'];
            $count = $product['count'];
            $total_price = $product['total_price'];?>
        _gaq.push(['_addItem',
		'<?=$id_zakaz?>', // order ID - required
		'<?=$id?>', // SKU/code - required
		'<?=$title?>', // product name
		'', // category or variation
		'<?=$price?>', // unit price - required
		'<?=$count?>' // quantity - required
        ]);
            <?}?>
        _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script><!--/google Analytics-->
    <?Zend_Session::namespaceUnset('transaction');?>
    <?}
else {?>
    <!--google Analytics-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38474114-1']);
        _gaq.push(["_addOrganic","google.ru", "q"]);
        _gaq.push(["_addOrganic","search.eim.ebay.ru", " kw"]);
        _gaq.push(["_addOrganic","search.qip.ru", "query"]);
        _gaq.push(["_addOrganic","search.sweetim.com", "q"]);
        _gaq.push(['_addOrganic', 'images.yandex.ru', 'text', true]);
        _gaq.push(['_addOrganic', 'images.rambler.ru', 'query', true]);
        _gaq.push(['_addOrganic', 'blogs.yandex.ru', 'text', true]);
        _gaq.push(['_addOrganic', 'go.mail.ru', 'q']);
        _gaq.push(['_addOrganic', 'nova.rambler.ru', 'query', true]);
        _gaq.push(['_addOrganic', 'nigma.ru', 's']);
        _gaq.push(['_addOrganic', 'webalta.ru', 'q']);
        _gaq.push(['_addOrganic', 'aport.ru', 'r']);
        _gaq.push(['_addOrganic', 'poisk.ru', 'text']);
        _gaq.push(['_addOrganic', 'liveinternet.ru', 'q']);
        _gaq.push(['_addOrganic', 'quintura.ru', 'request']);
        _gaq.push(['_addOrganic', 'ru.search.yahoo.com', 'p', true]);
        _gaq.push(['_addOrganic', 'ru.ask.com', 'q', true]);
        _gaq.push(['_addOrganic', 'search.icq.com', 'q']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script><!--/google Analytics-->
    <?}?>
</head>
<body>
<?$history = new Zend_Session_Namespace('user_history'); $i=0;?>
<?if (count($history->products) > 0) {?>
<div class="history">
    <div class="history_img">
        <img src="/img/history.png" id="history_show"/>
    </div>
    <div class="history_content" style="display: none">
        <div class="history_content_title">
            История просмотра:
        </div>
        <div class="history_content_ul">
            <ul>
                <?foreach (array_reverse($history->products) as $product) { $i++;?>
                <li>
                    <div class="history_left">
                        <?if (isset($product['special_offer']) && !empty($product['special_offer'])):?>
                            <img class="action" src="/img/action_small.png" alt="Акция" style="position: absolute;width: 38px;margin: -2px 0px 0px -2px;"/>
                        <?endif?>
                        <a href="/cat/<?=$product['division_url']?>/<?=$product['product_url']?>"><img src="<?=$this->thumb('/pics/catalog/product/img/'.$product['img'], 85, 70)?>" style="max-width: 85px;" alt="" /></a>
                    </div>
                    <div class="history_right">
                        <a href="/cat/<?=$product['division_url']?>/<?=$product['product_url']?>"><?=$product['title']?></a><br />
                        <?if ($product['price'] > 0) {?>
                        Цена от: <span><?=number_format($product['price'],0,',',' ')?> руб.</span>
                        <?} else {?>
                        <?if ($product['price_with_tr'] > 0) {?>
                            Цена от: <span><?=number_format($product['price_with_tr'],0,',',' ')?> руб.</span>
                            <?} else {?>
                            <span>Изучение спроса</span>
                            <?}?>
                        <?}?>
                    </div>
                    <div class="clear"></div>
                </li>
                <?if ($i == 5) {?>
                    <li style="text-align: center;">
                        <a style="font-weight: bold" href="/history">Вся история</a>
                    </li>
                    <?break;?>
                    <?}?>
                <?}?>
                <li style="text-align: center;">
                    <a id="history_close">Закрыть</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<?}?>
<div class="all_wrapper">
<div class="body_bg">
    <div class="images">
        <img style="display: none" class="first" src="/pics/default/picsa_1291_img.jpg" align="center" alt=""/>   
        <img style="display: none" class="second" src="/pics/default/picsa_1286_img.jpg" align="center" alt=""/>
        <img style="display: none" class="third" src="/pics/default/picsa_1289_img.jpg" align="center" alt=""/>
        <img style="display: none" class="forth" src="/pics/default/picsa_1287_img.jpg" align="center" alt=""/>
        <img style="display: none" class="fifth" src="/pics/default/picsa_1288_img.jpg" align="center" alt=""/>
        <img style="display: none" class="sixth" src="/pics/default/picsa_1285_img.jpg" align="center" alt=""/>
        <img style="display: none" class="seventh" src="/pics/default/picsa_1258_img.jpg" align="center" alt=""/>
        <!--<img style="display: none" class="seven" src="/img/bg_1_tunis.jpg" align="center" alt=""/>-->
<!--        <img class="eight" src="/img/comfort.jpg" align="center" alt=""/>-->
    </div>
</div>

<div class="wrapper">
    <div  class="header">
        <div class="h_mob_bg"></div>
        <div class="mob_menu">Каталог</div>
        <div class="mob_menu_inner">
            <div class="mob_menu_block">
                <?$web_menu = Catalog_Division::getInstance()->getMenu('web_menu');?>
                <?foreach ($web_menu as $menu) {?>
                    <div class="mob_menu_item"><a href="/cat/<?=$menu->url?>" title="<?=$menu->name;?> из Белоруссии"><?=$menu->name;?></a></div>
                <?}?>     
            </div>
            <div class="mob_menu_close"></div>
        </div>
        <div class="h_mob_search"></div>
        <div class="h_search">
            <form class="form_search" action="/search">
                <input  type="text" id="search_sm" name="name" placeholder="Поиск">
                <input type="submit" id="search_btn_sm" value=""/>
                <input type="hidden" name="mobileSearch" value="1">
            </form>
        </div>
        <div class="header_left">
            <div class="logo logo_sub">
                <a href="/">
                    <img src="/img/Logo_Pinskdrev.png" alt="Белорусская мебель в Москве" title="Белорусская мебель в Москве"/>
                    <img class="logo_h_mob" src="/img/logo_h_mob.png" alt="Белорусская мебель в Москве" title="Белорусская мебель в Москве"/>
                    <!--<img src="/img/Logo.png" alt=""/>-->
                </a>
            </div>
	    <div class="form_zvonok" style="display:none;">
    <div class="feedback_sub">
        <div class="feedback_form">
            <div class="cont_f_z">
                <div id="callback">
			<div class="callback_call" ><a class="feedback_close" onclick="closeOZ()" style="cursor:pointer;"><img src="/img/callus.png" alt="" /></a></div>
                    <form action="" id="callb">
                        <div id="error_message"></div>
                        <p>Укажите Ваше имя и телефон и наш менеджер свяжется с Вами в ближайшее время</p>
                        <div class="item_f">
                            <label>Ваше имя <b>*</b></label><br />
                            <input type="text" class="required" id="fio" maxlength="200" name="fio">
                        </div>
                        <div class="item_f">
                            <label>Ваш телефон <b>*</b> (с кодом города)</label><br />
                            <input type="text" class="required" id="tel" maxlength="200" name="tel">
                        </div>
                        <div class="item_f">
                            <label>Комментарий</label><br />
                            <textarea rows="4" cols="" id="comment" maxlength="1000" name="comment"></textarea>
                        </div>
                        <?
                        $captcha_zvonok = $this->placeholder('captcha');
			$answer=0;
                        if(!$captcha_zvonok || $captcha_zvonok==''){
								$captcha = new Captcha();
								$captcha_zvonok = $captcha->getOperation();
								$answer = $_SESSION['answer']*2;
							}?>
							<input type="hidden" id="answer" value="<?=$answer?>">
							<div class="item_f">
								<label>Для защиты от спама посчитайте, пожалуйста:</label><br />
								<span class="ot"><?=$captcha_zvonok?>=</span><input type="text" class="required" id="zcaptcha" name="zcaptcha" style="width: 161px;">
							</div>
                    </form>
                </div>
                <div class="button_f">
                    <span><input type="image" src="/img/phone_form.png" class="open_zv" name="" id="button" onmouseover="document.getElementById('button').src='/img/phone_form_h.png';" onmouseout="document.getElementById('button').src='/img/phone_form.png';"></span>
                    <span class="p_l_10"><input type="image" src="/img/phone_form1.png" process="0" name="" value="Отправить" id="call_button" onmouseover="document.getElementById('call_button').src='/img/phone_form_h1.png';" onmouseout="document.getElementById('call_button').src='/img/phone_form1.png';"></span>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
        <div class="header_right">
            <div class="toggle-menu-btn"></div>
            <div class="menu_top">
                <?=$this->Menu('horizontal_menu','ru')?>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
	<div class="header_image">
		<img src="/img/top_top_text.png" alt=""> 
	</div>
    </div>