﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="p:domain_verify" content="fa54e222c73389167d60ebc8a07ff9f2"/>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="viewport" content="width=device-width">
    <title><?=$this->escape($this->placeholder('title'));?></title>
    <meta name="Keywords" content="<?=$this->escape($this->placeholder('keywords'));?>" />
    <meta name="Description" content="<?=$this->escape($this->placeholder('descriptions'));?>" />
    <meta name='yandex-verification' content='756c223e2ad1fb84' />
    <meta name="google-site-verification" content="6BN1UANURVeRDHmucN7bI0UsZO4m6Ha-IiA62PfQ6PI" />
    <link rel="canonical" href="http://pinskdrev.msk.ru/" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!--[if IE 7]><link href="/css/ie7.css" rel="stylesheet"><![endif]-->

    <link href="/css/slick.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style.css?v=1.0.1" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/selects.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/ms_dd.css" rel="stylesheet" type="text/css" media="all" />
    <!--<link href="/css/jcar.css" rel="stylesheet" type="text/css" media="all" />-->
    <link href="/css/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/css/media-query.css" rel="stylesheet" type="text/css" media="screen" />

    <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <style type="text/css">.lt-xbutton .lt-xbutton-icons .lt-xbutton-phone-icon{color:#ea8640!important}.lt-xbutton .lt-xbutton-icons{border:2px solid #ea8640!important}.lt-xbutton .lt-xbutton-wrapper .lt-xbutton-bttn{background:#ea8640!important}.lt-xbutton .lt-xbutton-wrapper .lt-xbutton-bttn .fa-check{color:#FFF!important}.lt-xbutton .lt-xbutton-dialler .lt-xbutton-dialler-half .lt-xbutton-dialler-pie{border-color:#ea8640!important}</style>

    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/jcar.js"></script>-->
    <!--<script type="text/javascript" src="/js/slick.min.js"></script>-->
    <!--<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>-->
    <!--<script type="text/javascript" src="/js/main.js"></script>-->
    <!--<script type="text/javascript" src="/js/kwiks.js"></script>-->
    <!--<script type="text/javascript" src="/js/scripts.js"></script>-->
    <!--<script type="text/javascript" src="/js/jquery.ui.touch-punch.js"></script>-->
    <!--<script type="text/javascript" src="/js/s_img.js"></script>-->
    <!--<script type="text/javascript" src="/js/sliders.js"></script>-->
    <!--<script type="text/javascript" src="/js/jcarousellite.js"></script>-->
    <!--<script type="text/javascript" src="/js/ui.ontouch.js"></script>-->
    <!--<script src="/js/selects.js" type="text/javascript" charset="utf-8"></script>-->

    <!--<script type="text/javascript">-->
        <!--(function($) {-->
            <!--$(function() {-->
                <!--$('select').selectbox();-->
            <!--})-->
        <!--})(jQuery);-->

	<!--$().ready(function() {-->
        <!--$('.kwicks').kwicks({-->
            <!--size: 193,-->
            <!--maxSize: 256,-->
            <!--spacing : 0,-->
            <!--behavior: 'menu'-->
        <!--});-->

        <!--$(".main_division_one_picture").hover(function () {-->
            <!--$(this).stop(true,true).animate({-->
                <!--marginTop: -10+"px"-->
            <!--},200);-->

        <!--},function () {-->
            <!--$(this).animate({-->
                <!--marginTop: 0+"px"-->
            <!--},200);-->

        <!--})-->

    <!--});-->
    <!--</script>-->

    <!--<script type="text/javascript">-->
        <!--$(document).ready(function() {-->
            <!--$('#mycarousel').jcarousel({-->
                <!--wrap: 'circular'-->
            <!--});-->
            <!--$("a.zoom").fancybox({-->
                <!--'titleShow' : true,-->
                <!--'titlePosition' : 'inside',-->
                <!--'transitionIn'	: 'elastic',-->
                <!--'transitionOut'	: 'elastic',-->
                <!--'centerOnScroll' : true-->
            <!--});-->
	    <!--slide(1);-->
            <!--$('.squares').fadeIn(2500);-->
        <!--});-->
    <!--</script>-->

    <!--google Analytics-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38474114-1']);
        _gaq.push(["_addOrganic","google.ru", "q"]);
        _gaq.push(["_addOrganic","search.eim.ebay.ru", " kw"]);
        _gaq.push(["_addOrganic","search.qip.ru", "query"]);
        _gaq.push(["_addOrganic","search.sweetim.com", "q"]);
        _gaq.push(['_addOrganic', 'images.yandex.ru', 'text', true]);
        _gaq.push(['_addOrganic', 'images.rambler.ru', 'query', true]);
        _gaq.push(['_addOrganic', 'blogs.yandex.ru', 'text', true]);
        _gaq.push(['_addOrganic', 'go.mail.ru', 'q']);
        _gaq.push(['_addOrganic', 'nova.rambler.ru', 'query', true]);
        _gaq.push(['_addOrganic', 'nigma.ru', 's']);
        _gaq.push(['_addOrganic', 'webalta.ru', 'q']);
        _gaq.push(['_addOrganic', 'aport.ru', 'r']);
        _gaq.push(['_addOrganic', 'poisk.ru', 'text']);
        _gaq.push(['_addOrganic', 'liveinternet.ru', 'q']);
        _gaq.push(['_addOrganic', 'quintura.ru', 'request']);
        _gaq.push(['_addOrganic', 'ru.search.yahoo.com', 'p', true]);
        _gaq.push(['_addOrganic', 'ru.ask.com', 'q', true]);
        _gaq.push(['_addOrganic', 'search.icq.com', 'q']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script><!--/google Analytics-->
</head>
<body>
<?$history = new Zend_Session_Namespace('user_history'); $i=0;?>
<?if (count($history->products) > 0) {?>
<div class="history">
    <div class="history_img">
        <img src="/img/history.png" id="history_show"/>
    </div>
    <div class="history_content" style="display: none">
        <div class="history_content_title">
            История просмотра:
        </div>
        <div class="history_content_ul">
            <ul>
                <?foreach (array_reverse($history->products) as $product) { $i++;?>
                <li>
                    <div class="history_left">
                        <a href="/cat/<?=$product['division_url']?>/<?=$product['product_url']?>"><img src="<?=$this->thumb('/pics/catalog/product/img/'.$product['img'], 85, 70)?>" style="max-width: 85px;" alt="" /></a>
                    </div>
                    <div class="history_right">
                        <a href="/cat/<?=$product['division_url']?>/<?=$product['product_url']?>"><?=$product['title']?></a><br />
                        <?if ($product['price'] > 0) {?>
                        Цена от: <span><?=number_format($product['price'],0,',',' ')?> руб.</span>
                        <?} else {?>
                        <?if ($product['price_with_tr'] > 0) {?>
                            Цена от: <span><?=number_format($product['price_with_tr'],0,',',' ')?> руб.</span>
                            <?} else {?>
                            <span>Изучение спроса</span>
                            <?}?>
                        <?}?>
                    </div>
                    <div class="clear"></div>
                </li>
                <?if ($i == 5) {?>
                    <li style="text-align: center;">
                        <a style="font-weight: bold" href="/history">Вся история</a>
                    </li>
                    <?break;?>
                    <?}?>
                <?}?>
                <li style="text-align: center;">
                    <a id="history_close">Закрыть</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<?}?>
<div class="all_wrapper">
<div class="body_bg">

    <!--<div class="images">-->
        <!--&lt;!&ndash;<img style="display: none" class="first" src="/img/bg_summer.jpg" align="center" alt=""/>&ndash;&gt;-->
        <!--<img style="display: none" class="first" src="/img/autumn.jpg" align="center" alt=""/>-->
        <!--<img style="display: none" class="second" src="/img/bg_1_tunis.jpg" align="center" alt=""/>-->
        <!--<img style="display: none" class="third" src="/img/bg_2_alezi.jpg" align="center" alt=""/>-->
        <!--<img style="display: none" class="forth" src="/img/bg_3_chester.jpg" align="center" alt=""/>-->
        <!--<img style="display: none" class="fifth" src="/img/bg_4_verdi.jpg" align="center" alt=""/>-->
        <!--<img style="display: none" class="six" src="/img/bg_5_milana.jpg" align="center" alt=""/>-->

        <!--<img style="display: none" class="seven" src="/img/third1_main.jpg" align="center" alt=""/>-->
        <!--&lt;!&ndash;<img style="display: none" class="seven" src="/img/seven.jpg" align="center" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;        <img class="eight" src="/img/comfort.jpg" align="center" alt=""/>&ndash;&gt;-->
    <!--</div>-->
</div>

<div class="wrapper">
    <div class="header">
        <?php $slider_info = Pages::getInstance()->getSliderInfo();?>
        <?if($slider_info):?>
            <div class="gallery_main_wrap">
                <div class="gallery_main">
                    <?foreach($slider_info as $key => $val):?>
                        <?if(file_exists("pics/default/picsa_" .$val['baner'])):?>
                            <a href="/<?=$val['path']?>" class="gallery_main_item">
                                <!--div class="gallery_main_title"><?=$val['name']?></div-->
                                <img src="pics/default/picsa_<?=$val['baner']?>" alt="<?=$val['name']?>"/>
                            </a>
                        <?endif?>
                    <?endforeach?>
                </div>
            </div>
        <?endif?>
        <!--<div class="gallery_main_wrap">
            <div class="gallery_main">
                <a href="#" class="gallery_main_item">
                    <div class="gallery_main_title">qwertyuiopasdfghjklzxcvbn</div>
                    <img src="/img/autumn.jpg" alt=""/></a>
                <a href="#" class="gallery_main_item">
                    <div class="gallery_main_title">dfsdfsdgs</div>
                    <img src="/img/bg_1_tunis.jpg" alt=""/></a>
                <a href="#" class="gallery_main_item">
                    <div class="gallery_main_title">dfsdfsdgs</div>
                    <img src="/img/bg_2_alezi.jpg" alt=""/></a>
                <a href="#" class="gallery_main_item">
                    <div class="gallery_main_title">dfsdfsdgs</div>
                    <img src="/img/bg_3_chester.jpg" alt=""/></a>
                <a href="#" class="gallery_main_item">
                    <div class="gallery_main_title">dfsdfsdgs</div>
                    <img src="/img/bg_4_verdi.jpg" alt=""/></a>
                <a href="#" class="gallery_main_item">
                    <div class="gallery_main_title">dfsdfsdgs</div>
                    <img src="/img/bg_5_milana.jpg" alt=""/></a>
                <a href="#" class="gallery_main_item">
                    <div class="gallery_main_title">dfsdfsdgs</div>
                    <img src="/img/third1_main.jpg" alt=""/></a>
            </div>
        </div>-->

        <div class="h_mob_bg"></div>
        <div class="mob_menu">Каталог</div>
        <div class="mob_menu_inner">
            <div class="mob_menu_block">
                <?$web_menu = Catalog_Division::getInstance()->getMenu('web_menu');?>
                <?foreach ($web_menu as $menu) {?>
                    <div class="mob_menu_item"><a href="/cat/<?=$menu->url?>" title="<?=$menu->name;?> из Белоруссии"><?=$menu->name;?></a></div>
                <?}?>                
            </div>
            <div class="mob_menu_close"></a></div>
        </div>
        <div class="h_mob_search"></div>
        <div class="h_search">
            <form class="form_search" action="/search">
                <input  type="text" id="search_sm" name="name" placeholder="Поиск">
                <input type="submit" id="search_btn_sm" value=""/>
                <input type="hidden" name="mobileSearch" value="1">
            </form>
        </div>
        <div class="toggle-menu-btn"></div>
        <div class="header_left">
            <div class="logo">
                <a href="/">
                    <img src="/img/Logo_Pinskdrev.png" alt="Белорусская мебель в Москве" title="Белорусская мебель в Москве"/>
                    <img class="logo_h_mob" src="/img/logo_h_mob.png" alt="Белорусская мебель в Москве" title="Белорусская мебель в Москве"/>
                    <!--<img src="/img/Logo.png" alt=""/>-->
                </a>
            </div>

        <!--<div class="titles">-->
        <!--&lt;!&ndash;<a href="http://pinskdrev.msk.ru/yarkoe_leto"><img style="display: none" class="title_first" src="/img/title_summer.png" alt=""/></a>&ndash;&gt;-->
            <!--<a href="http://pinskdrev.msk.ru/skidki_rascvetayut_-25_rasprodazha"><img style="display: none; right: 208px;" class="title_first" src="/img/autumn_title.png" alt=""/></a>-->


        <!--<a href="http://pinskdrev.msk.ru/cat/dlya_spalni_tunis/spalnya_tunis_2"><img style="display: none" class="title_second" src="/img/title_1_tunis.png" alt=""/></a>-->

        <!--<a href="http://pinskdrev.msk.ru/cat/mebel_dlya_gostinoj_Alezi/gostinaya_alezi_4"><img style="display: none;" class="title_third" src="/img/title_2_alezi.png" alt=""/></a>-->


            <!--<a href="http://pinskdrev.msk.ru/cat/trehmestnye_divany_kozanye/trehmestnyj_divan_chesterfild_v_kozhe"><img style="display: none" class="title_forth" src="/img/title_3_chester.png" alt=""/></a>-->

        <!--<a href="http://pinskdrev.msk.ru/search?name=%D0%B2%D0%B5%D1%80%D0%B4%D0%B8&type=0&width=%D0%A8%D0%B8%D1%80%D0%B8%D0%BD%D0%B0+%D0%B4%D0%BE&price_from=%D0%A6%D0%B5%D0%BD%D0%B0+%D0%BE%D1%82&price_to=%D0%A6%D0%B5%D0%BD%D0%B0+%D0%B4%D0%BE&x=-1159&y=-264"><img style="display: none" class="title_fifth" src="/img/title_4_verdi.png" alt=""/></a>-->
        <!---->
        <!--<a href="http://pinskdrev.msk.ru/search?name=%D0%BC%D0%B8%D0%BB%D0%B0%D0%BD%D0%B0&type=0&width=%D0%A8%D0%B8%D1%80%D0%B8%D0%BD%D0%B0+%D0%B4%D0%BE&price_from=%D0%A6%D0%B5%D0%BD%D0%B0+%D0%BE%D1%82&price_to=%D0%A6%D0%B5%D0%BD%D0%B0+%D0%B4%D0%BE&x=-1159&y=-264"><img style="display: none" class="title_six" src="/img/title_5_milana.png" alt=""/></a>-->
            <!--<a style="display: none;" href="#">-->
                <!--<img style="display: none" class="title_seven" src="/img/title_3_chester.png" alt=""/>-->
            <!--</a>-->
        <!--&lt;!&ndash; <a href="http://pinskdrev.msk.ru/search?name=%D0%BC%D0%B8%D0%BB%D0%B0%D0%BD%D0%B0&type=0&width=%D0%A8%D0%B8%D1%80%D0%B8%D0%BD%D0%B0+%D0%B4%D0%BE&price_from=%D0%A6%D0%B5%D0%BD%D0%B0+%D0%BE%D1%82&price_to=%D0%A6%D0%B5%D0%BD%D0%B0+%D0%B4%D0%BE&x=-1159&y=-264"><img style="display: none" class="title_six" src="/img/title6.png" alt=""/></a>    &ndash;&gt;-->
        <!--&lt;!&ndash;<a href="http://pinskdrev.msk.ru/bolshaya_rasprodazha_mebeli"><img style="display: none" class="title_seven" src="/img/title7.png" alt=""/></a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="http://pinskdrev.msk.ru/search?name=%D0%BA%D0%BE%D0%BC%D1%84%D0%BE%D1%80%D1%82&type=0&width=%D0%A8%D0%B8%D1%80%D0%B8%D0%BD%D0%B0+%D0%B4%D0%BE&price_from=%D0%A6%D0%B5%D0%BD%D0%B0+%D0%BE%D1%82&price_to=%D0%A6%D0%B5%D0%BD%D0%B0+%D0%B4%D0%BE&x=0&y=0"><img class="title_eight" src="/img/collect-comfort.png" alt=""/></a>&ndash;&gt;-->
        <!--</div>-->
        
		<div class="form_zvonok" style="display:none;">
	    <div class="feedback">
		<div class="feedback_form">
				<div class="cont_f_z">
					<div id="callback">
						<div class="callback_call" ><a class="feedback_close" onclick="closeOZ()" style="cursor:pointer;"><img src="/img/callus.png" alt="" /></a></div>
						<form action="" id="callb">
							<div id="error_message"></div>
							<p>Укажите Ваше имя и телефон и наш менеджер свяжется с Вами в ближайшее время</p>
							<div class="item_f">
								<label>Ваше имя <b>*</b></label><br />
								<input type="text" class="required" id="fio" maxlength="200" name="fio">
							</div>
							<div class="item_f">
								<label>Ваш телефон <b>*</b> (с кодом города)</label><br />
								<input type="text" class="required" id="tel" maxlength="200" name="tel">
							</div>
							<div class="item_f">
								<label>Комментарий</label><br />
								<textarea rows="4" cols="" id="comment" maxlength="1000" name="comment"></textarea>
							</div>
							<?
							$captcha_zvonok = $this->placeholder('captcha');
							if(!$captcha_zvonok || $captcha_zvonok==''){
								$captcha = new Captcha();
								$captcha_zvonok = $captcha->getOperation();
								$answer = $_SESSION['answer']*2;
							}?>
							<input type="hidden" id="answer" value="<?=$answer?>">
							<div class="item_f">
								<label>Для защиты от спама посчитайте, пожалуйста:</label><br />
								<span class="ot"><?=$captcha_zvonok?>=</span><input type="text" class="required" id="zcaptcha" name="zcaptcha" style="width: 161px;">
							</div>
						</form>
					</div>
					<div class="button_f">
						<span><input type="image" src="/img/phone_form.png" class="open_zv" name="" id="button" onmouseover="document.getElementById('button').src='/img/phone_form_h.png';" onmouseout="document.getElementById('button').src='/img/phone_form.png';" onclick="closeOZ()"></span>
						<span class="p_l_10"><input type="image" src="/img/phone_form1.png" process="0" name="" value="Отправить" id="call_button" onmouseover="document.getElementById('call_button').src='/img/phone_form_h1.png';" onmouseout="document.getElementById('call_button').src='/img/phone_form1.png';"></span>
					</div>
				</div>
			</div>
		</div>
		</div>
            <div class="phones_block">
                <div class="phones_title">
                    <a class="feedback_click" onclick="showOZ()" style="cursor:pointer;"><img src="/img/callus.png" alt="" /></a>
                </div>
                <div class="phones_phones">
                    <?=$this->getBlockContent('header_phones')?>
                </div>
                <div class="phones_works">
                    <p>Время работы</p>
                    <p>ежедневно</p>
                    <p class="bold">10:00 - 20:00</p>
                </div>
            </div>
        </div>
        <div class="header_right">
            <div class="menu_top">
                <?=$this->Menu('horizontal_menu','ru')?>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

