<?$i = 0?>
<ul class="horizontal_menu">
    <?foreach ($this->menu as $key => $data){ $i++?>
    <?if ($i != 1) {?>
        <li class="menu_li">
            <img class="menu_top_divider" src="/img/menu_top_divider.jpg" alt="" />
        </li>
        <?}?>
    <?if ($i == 2) {?>
        <li class="menu_li">
            <a class="url_top" href="/cat" title="Каталог">Каталог</a>
	    <ul class="submenu">
				<div class="menu_catalog">
				<?$left_menu = Catalog_Division::getInstance()->getMenu('left');?>
				<?foreach ($left_menu as $menu) {?>
					<li class="submenu_li"><a class="url_low" href="/cat/<?=$menu->url?>" title="<?=$menu->name;?> из Белоруссии"><?=$menu->name;?></a></li>
				<?}?>
				</div>
				<div class="menu_catalog">
				<?$center_menu = Catalog_Division::getInstance()->getMenu('center');?>
				<?foreach ($center_menu as $menu) {?>
					<li class="submenu_li"><a class="url_low" href="/cat/<?=$menu->url?>" title="<?=$menu->name;?> из Белоруссии"><?=$menu->name;?></a></li>
				<?}?>
				</div>
				<div class="menu_catalog">
				<?$right_menu = Catalog_Division::getInstance()->getMenu('right');?>
				<?foreach ($right_menu as $menu) {?>
					<li class="submenu_li"><a class="url_low" href="/cat/<?=$menu->url?>" title="<?=$menu->name;?> из Белоруссии"><?=$menu->name;?></a></li>
				<?}?>
				</div>
				<div class="clear"></div>
	    </ul>
        </li>

        <li class="menu_li">
            <img class="menu_top_divider" src="/img/menu_top_divider.jpg" alt="" />
        </li>
        <?}?>
    <li class="menu_li">
        <a class="url_top" <?if ($data['item']->name == 'Распродажа') {echo 'style="color:#F87F3D;"'; $url='cat/rasprodazha';} else { $url=$data['item']->path; }?> href="/<?=$url?>" title="<?=$data['item']->name?>"><?=$data['item']->name?></a>
        <?if (isset($data['childs']) && count($data['childs'])>0){?>
        <ul class="submenu">
            <?foreach($data['childs'] as $key2 => $data2){?>
            <li class="submenu_li">
                <a class="url_low" href="/<?=$data2->path?>" title="<?=$data2->name?>"><?=$data2->name?></a>
            </li>
            <?}?>
        </ul>
        <?}?>
    </li>
    <?}?>
</ul>
<div class="mob_menu_close_1"></div>
