<div class="menu">
    <ul><li><a href="#">Пицца
            </a></li>
        <li><a href="#">Бюргеры    </a></li>
        <li><a href="#">Шашлык    </a></li>
        <li><a href="#">Блины    </a></li>
        <li><a href="#">Салаты    </a></li>
        <li><a href="#" class="active">Закуски    </a></li>
        <li><a href="#">Десерты    </a></li>
        <li><a href="#">Напитки</a></li>
    </ul>
</div>