<data>
	<sofaLabel><![CDATA[Выберите в списке слева элемент мебели для наложения обивки]]></sofaLabel>
        <paletteLabel><![CDATA[Выберите в списке справа текстуру для обивки]]></paletteLabel>
	<?if (count($this->wood_groups)){ ?>
		<wood>
			<?foreach ($this->wood_groups as $wood_group){?>
				<category label="<?=$wood_group['name'] ?>">
					<?foreach ($wood_group['items'] as $item){ ?>
							<item fill_id="<?=$item['id']?>" fillLabel="<?=$item['name'] ?>" fill="/pics/catalog/bitmaps/<?=$item['img_big'] ?>" main="<?=$item['main'] ?>" price="<?=$item['price'] ?> руб" <?=($item['related']!='')? 'required="'.$item['related'].'"':''?>/>
					<?} ?>
					
				</category>			
			<?} ?>
		</wood>	
	<?} ?>
	<?if (count($this->cloth_groups)){ ?>
		<cloth>
			<?foreach ($this->cloth_groups as $cloth_group){?>
				<category label="<?=$cloth_group['name'] ?>">
					<?foreach ($cloth_group['items'] as $item){ ?>
					<item fill_id="<?=$item['id']?>" fillLabel="<?=$item['name'] ?>" fill="/pics/catalog/bitmaps/<?=$item['img_big'] ?>" main="<?=$item['main'] ?>" price="<?=$item['price'] ?> руб" <?=($item['price_mehanizm'])? 'price_t="'.$item['price_mehanizm'].' руб"':'' ?> <?=($item['related']!='')? 'required="'.$item['related'].'"':''?>/>
					<?} ?>
					
				</category>			
			<?} ?>
		</cloth>	
	<?} ?>
</data>