<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/messages_ru.js"></script>
<script type="text/javascript">
$().ready(function(){
	$("#form").validate({
		errorElement: "div"
	});
});
function show(id){
	$("#otvet_"+id).slideToggle("hide");
	return false;
}
</script>
<div class="main_content">
	<div style="padding: 5px"></div>
	<div class="main_block_text">
<?=$this->paginationFaq('/'.$this->layout()->page->path.'/', (int)$this->total, (int)$this->onpage, $this->current_page); ?>
		<div class="faq" style="padding-top: 15px">
<?foreach ($this->items as $item){
	$date = explode("-",$item->created_at);
	$new_date = (int)$date[2].' '.$this->month[(int)$date[1]].' '.$date[0];?>
			<div class="item">
				<!-- <div class="head overflow">
					<div class="f_left"><b><?=$item->name;?></b></div>
					<div class="f_right">добавлен <?=$new_date?></div>
				</div> -->
				<div id="div_<?=$item->id;?>" class="cont">
					<a class="vopros" href="javascript:" id="<?=$item->id;?>" onclick="javascript: show(this.id)"><?=$item->question;?></a>
					<div class="otvet" id="otvet_<?=$item->id;?>" style="display: none;">
						<i><?=$item->answer;?></i>
					</div>
				</div>
				<div class="bottom"><b></b></div>
			</div>
<?}?>
		</div>
<?=$this->paginationFaq('/'.$this->layout()->page->path.'/', (int)$this->total, (int)$this->onpage, $this->current_page, 1); ?>
	</div>
	<div style="padding: 5px"></div>

	<div class="contacts">
		<h2><?=$this->getBlockContent('faq_form')?></h2>
		<?if ($this->ok==1) {?>
		<div class="ok">
			<p>Спасибо!</p>
			<p><strong>Ваше сообщение отправлено администратору.</strong></p>
		</div>
		<?}?>
		<?if($this->err){?>
		<div class="errors">
			<p>Ошибка</p>
			<?
			if ($this->err == 1) $error = 'Заполните поля отмеченные звёздочкой';
			if ($this->err == 2) $error = 'Не верно подсчитано выражение';
			?>
			<p><strong><?=$error?></strong></p>
		</div>
		<?}?>
		<div class="contacts_form">
			Символом * отмечены поля, обязательные для заполнения
			<form enctype="multipart/form-data" action="#form" method="post" id="form">
				<label>Имя *</label><br />
				<?=$this->formText('form[fio]', isset($this->form['fio']) ? $this->form['fio'] : '', array('class'=>'w_320 required'))?><br />
				<label>Телефон</label><br />
				<?=$this->formText('form[phone]', isset($this->form['phone']) ? $this->form['phone'] : '', array('class'=>'w_320')) ?><br />
				<label>Город *</label><br />
				<?=$this->formText('form[city]', isset($this->form['city']) ? $this->form['city'] : '', array('class'=>'w_320 required')) ?><br />
				<label>E-mail *</label><br />
				<?=$this->formText('form[email]', isset($this->form['email']) ? $this->form['email'] : '', array('class'=>'w_320 email required')) ?><br />
				<label>Текст сообщения *</label><br />
				<?=$this->formTextarea('form[text]', isset($this->form['text']) ? $this->form['text'] : '', array('class'=>'width_320 required', 'cols' => '45', 'rows' => '5')) ?><br />
				<label>Для защиты от спама посчитайте пожалуйста *:</label><br />
				<span class="ot"> <?php echo $this->captcha?>=</span><?=$this->formText('form[captcha]', '', array('class'=>'w_65')) ?><br />
				<br />
				<input type="image" name="submit" src="/img/send.png" value="Отправить" onclick="$('#form').submit();" />
			</form>
		</div>
	</div>
</div>

