<?php


?>

 <link rel="stylesheet" type="text/css"  href="/css/admin/autocomplete.css" />

<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>

<script type="text/javascript">
<!--
	$(document).ready(function(){

		// --- Автозаполнение ---





		function liFormat (row, i, num) {

			var result = row[0];

			return result;

		}

		function selectItem(li) {

			if( li == null ) var sValue = 'А ничего не выбрано!';

			if( !!li.extra ) var sValue = li.extra;

			else var sValue = li.selectValue;

			//document.write(li.extra);

			if(0<sValue*1){

				$("#rel").val(sValue);

				$("#add").show("fast");			

			} else{

				$("#rel").val("");

				$("#add").hide("fast");	

			}

			

			//alert("Выбрана запись с ID: " + sValue);

		}

		

		// --- Автозаполнение2 ---

		$("#search").autocomplete("/catalog/ru/admin_product/ajaxsearch/id/<?=$this->tovar->id ?>", {

			delay:10,

			minChars:2,

			matchSubset:1,

			autoFill:false,

			matchContains:1,

			cacheLength:10,

			selectFirst:true,

			formatItem:liFormat,

			maxItemsToShow:500,

			onItemSelect:selectItem

		}); 

		// --- Автозаполнение2 ---

		

		

	});
//-->
</script>



<style>



table.item {border: solid 1px #CCCCCC; width:600px; border-collapse:collapse; }

.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }

.item td.main {text-align:left;}

.sel {width:425px;}

.text {width:425px;}

</style>

<div id="left_block"  class="form_page">
   <form method="post" action="" enctype="multipart/form-data" >
       <div class="content_block">
							

							

							

							<p style="color:red;"><?=$this->message?></p>

							<?php if (isset($this->ok)){?>

								<p><font color="green"><b><?=$this->ok?></b></font></p>

							<?php }?>	

							<div>Введите название товара</div>						
                                                       
							<table cellpadding="0" cellspacing="0" border="0" style ="width: 70%;" class="">

								<tr>

									

                                                                    <td class="" colspan="2">
                                                                            <div style="float:left; width: 460px;">
										<input type="text" id="search" name="search" style="width: 450px;" size="100" value="<?=isset($this->search) ? $this->search : '' ?>">
                                                                            </div>
                                                                            <div style="float:left; width: 110px;">
                                                                                <input type="submit" id="add" style="width: 100px; display: none; padding: 0;" value="Добавить">
                                                                            </div>
									</td>

								</tr>
                                                        </table>
    </div>
                            
							<input type="hidden" id="rel" name="rel_id" value="">

							</form>
    
</div>


<!------------------------------------------------------------->


<!------------------------------------------------------------->

<div id="right_block">
      <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>

         <li><a href="<?=$this->currentModule?>/edit/id/<?=$this->id?>/id_division/<?=$this->id_division?>">Вернутся к товару</a></li>
          <li><a href="<?=$this->currentModule?>/index/id_division/<?=$this->id_division?>">Вернутся к списку товаров</a></li>
           <li><a href="/catalog/<?=$this->lang?>/admin_division/">Вернутсья к дереву разделов</a></li>
        </ul>
      </div>
  </div>