

 <link rel="stylesheet" type="text/css"  href="/css/admin/autocomplete.css" />

<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>

<script type="text/javascript">
<!--
	$(document).ready(function(){

		// --- Автозаполнение ---





		function liFormat (row, i, num) {

			var result = row[0];

			return result;

		}

		function selectItem(li) {

			if( li == null ) var sValue = 'А ничего не выбрано!';

			if( !!li.extra ) var sValue = li.extra;

			else var sValue = li.selectValue;

			//document.write(li.extra);

			if(0<sValue*1){

				$("#rel").val(sValue);

				$("#add").show("fast");			

			} else{

				$("#rel").val("");

				$("#add").hide("fast");	

			}

			

			//alert("Выбрана запись с ID: " + sValue);

		}

		

		// --- Автозаполнение2 ---

		$("#search").autocomplete("/catalog/ru/admin_product/ajaxsearch/id/<?=$this->product->id ?>/act/complect", {

			delay:10,

			minChars:2,

			matchSubset:1,

			autoFill:false,

			matchContains:1,

			cacheLength:10,

			selectFirst:true,

			formatItem:liFormat,

			maxItemsToShow:500,

			onItemSelect:selectItem

		}); 

		// --- Автозаполнение2 ---

		

		

	});
//-->
</script>



<style>



table.item {border: solid 1px #CCCCCC; width:600px; border-collapse:collapse; }

.item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }

.item td.main {text-align:left;}

.sel {width:425px;}

.text {width:425px;}

</style>

<div id="left_block"  class="form_page">
   <form method="post" action="" enctype="multipart/form-data" >
       <div class="content_block">
							

							

							

							<p style="color:red;"><?=$this->message?></p>

							<?php if (isset($this->ok)){?>

								<p><font color="green"><b><?=$this->ok?></b></font></p>

							<?php }?>	

													
                                                       
							<table cellpadding="0" cellspacing="0" border="0" style ="width: 70%;" class="">

								<tr>

									

                                                                    <td class="" colspan="2">
                                                                            <div style="float:left; width: 460px;">
                                                                                Введите название товара для поиска по каталогу
										<input type="text" id="search" name="search" style="width: 450px;" size="100" value="<?=isset($this->search) ? $this->search : '' ?>">
                                                                                Введите название товара если его нет в каталоге
										<input type="text" name="title" style="width: 450px;" size="100" value="">
                                                                            </div>
                                                                        
                                                                            <div style="float: left;" >Количество <input type="text" value="" size="10" style="width: 140px;" name="count" id="count"></div>
                                                                            <div style="float: left; padding-left:10px;">Приоритет <input type="text" value="" size="10" style="width: 140px;" name="priority" id="count"></div>
                                                                            <div style="clear:both"></div>
                                                                            <div>Цена(для товаров не из каталога) <input type="text" value="" size="10" style="width: 140px;" name="price" id="price"></div>
                                                                            <div style="float:left; width: 110px;">
                                                                                <input type="submit" id="add" style="width: 100px; padding: 0;" value="Добавить">
                                                                            </div>
									</td>

								</tr>
                                                        </table>
    </div>
                                                            <div class="prava_dostupa">
                                                            <table cellpadding="0" cellspacing="0" border="0" style ="width: 100%;">
                                                                <tr class="head">
                                                                    <th>Название товара</th>
                                                                    <th>Цена</th>
                                                                    <th>Количество</th>
                                                                    <th>Приоритет</th>
                                                                    <th>Действия</th>
                                                                </tr>

								<?if (count($this->complect)){?>

								

								<?foreach ($this->complect as $item){ ?>

									<tr>

										<td class="" ><?=($item->title!='')?$item->title:$item->fixed_title.'(отсутствует в каталоге)' ?></td>
                                                                                <td class="" ><?=($item->price!='')?$item->price:$item->fixed_price ?></td>
                                                                                <td class="" >
                                                                                    <?=$this->formText("items_count[$item->id]",$item->count, array('size'=>5) )?>
                                                                                </td>
                                                                                <td class="" >
                                                                                    <?=$this->formText("items_priority[$item->id]",$item->priority, array('size'=>5) )?>
                                                                                </td>

								 		<td class="options"><a onclick="return confirm('Вы уверены?');" href="<?=$this->currentModule?>/compdelete/id_comp/<?=$item->id_complect_product ?>/id/<?=$this->product->id ?>"><img src="/img/admin/delete.gif"></a></td>

								 	</tr>	

								<?} ?>

										

								

								<?} ?>

							</table>
                                                        <?if (count($this->complect)){?>
                                                         <div class="right">

						        <button  type="submit"><span><em>Отправить</em></span></button>
						      </div>
                                                      <?}?>
                                                        </div>
							<input type="hidden" id="rel" name="comp_id" value="">

							</form>
    
</div>


<!------------------------------------------------------------->


<!------------------------------------------------------------->

<div id="right_block">
      <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>

         <li><a href="<?=$this->currentModule?>/edit/id/<?=$this->id?>">Вернуться к товару</a></li>
          
        </ul>
      </div>
  </div>