<?
if ($this->creating) {
    ?>
<script type="text/javascript" src="/js/translit.js"></script>
<script type="text/javascript">
    function ttEdit()
    {
        var input = document.getElementById('title');
        trans = translit(input.value, "R_TO_E");
        var url = document.getElementById('url');
        url.value = trans;
    }
</script>
<?
}
?>
<script type="text/javascript">
    $(document).ready(function() {
        var id_division;
        var id_element;
        var id_product;
        $('#add_element').click(function(){
            $('.categories select').each(function(){
                id_division = $(this).children('option:selected').attr('division');
                id_element = $(this).children('option:selected').val();
                id_product = <?=$this->item->id?>;
                $.get("<?=$this->currentModule?>/savedivisions/id_product/"+id_product+"/id_division/"+id_division+"/id_element/"+id_element, {},
                        function(data){
                            if(data != ''){	
				$('.show_ok_element').html('');
				$('.show_ok_element').html('Данные успешно сохранены!');
                            } else {
                                showAlertWindow('Ошибка','error');
                            }
                        }
                );
            })
        })
    });
</script>
<div id="left_block" class="form_page">
<form method="post" id="edit_form"
      action="<?=$this->currentModule?>/edit/<?=$this->item->id ? 'id/' . $this->item->id . '/' : ''?><?=$this->id_division ? 'id_division/' . $this->id_division . '/' : ''?>"
      enctype="multipart/form-data">
<?
if ($this->ok == 1) {
    ?>
<p align="center"><font color="green"><b>Данные сохранены</b></font></p>
    <?
}
?>
<?
if ($this->ok == 0) {
    ?>
<p align="center"><font color="red"><b><?=$this->message?></b></font></p>
    <?
}
?>
<div class="content_block">
    <h3><a href="#" title="Показать/Скрыть блок" class="show_hide"
           onclick="show_hide_block('id_block', 'id_block_img'); return false;"><span
            id="show-"><img src="/img/admin/ico_show+.gif" alt="" id="id_block_img" /></span>
        System Name</a></h3>
</div>
<div class="content_block">
    <p class="form_name">Название*</p>
    <?=$this->formText('title', $this->item->title, array('onBlur' => "fill_Blocks('title')" . ($this->creating ? "; ttEdit();" : "")))?>
    <p class="form_name">Краткое название</p>
    <?=$this->formText('title_short', $this->item->title_short)?>
    <p class="form_name">Системное имя</p>
    <?=$this->formText('system_name', $this->item->system_name)?>

    <p class="form_name">Не обновлять по прайсу</p>
    <p>
        <?=$this->formCheckbox('edit[noprice]', (int)$this->item->noprice, null, array(1, 0))?>
    </p>

    <p class="form_name">Экспортировать в яндекс</p>
    <p>
        <?=$this->formCheckbox('edit[export_yandex]', (int)$this->item->export_yandex, null, array(1, 0))?>
    </p>

    <p class="form_name">Отображать приписку об акции</p>
    <p>
        <?=$this->formCheckbox('edit[show_action_line]', (int)$this->item->show_action_line, null, array(1, 0))?>
    </p>

    <p class="form_name">Url*</p>
    <?=$this->formText('url', $this->item->url)?>
    <p>&nbsp;</p>
    <p class="form_name"><b>Габариты товара:</b><br />
        Длина(мм):
        <?=$this->formText('pr_length', $this->item->pr_length, array('style' => 'width:80px;'))?>
        Ширина(мм):
        <?=$this->formText('pr_width', $this->item->pr_width, array('style' => 'width:80px;'))?>
        Высота(мм):
        <?=$this->formText('pr_height', $this->item->pr_height, array('style' => 'width:80px;'))?><br />
        Длина разложенного состояния(мм):
        <?=$this->formText('pr_length2', $this->item->pr_length2, array('style' => 'width:80px;'))?>
    </p>
    <p>&nbsp;</p>
    <p class="form_name"><b>Спальное место:</b><br />
        Длина(мм):
        <?=$this->formText('sl_length', $this->item->sl_length, array('style' => 'width:80px;'))?>
        Ширина(мм):
        <?=$this->formText('sl_width', $this->item->sl_width, array('style' => 'width:80px;'))?></p>
    <p>&nbsp;</p>

    <p class="form_name">Тип мебели</p>
    <?=$this->formSelect('id_mebeltype', $this->item->id_mebeltype, null, $this->mebeltype_options)?>
    <p class="form_name">Тип мебели(глобальный)</p>
    <?
    $global_type = array("0" => "Нет", "1" => "Корпусная мебель", "2" => "Мягкая мебель");
    ?>
    <?=$this->formSelect('product_type', $this->item->product_type, null, $global_type)?>
    <p class="form_name">Производитель</p>
    <?=$this->formSelect('id_maker', $this->item->id_maker, null, $this->makers_options)?>
    <p class="form_name">Коллекции</p>
    <?=$this->formSelect('collection_id', $this->item->collection_id, null, $this->collections_options)?>
    <?php /*?> <p class="form_name">Лого</p>
										<?if ($this->img!=''){ ?>
											<p align="center" >
											<a href="/pics/catalog/product/<?=$this->img?>" target="_blank">
		                                		<img  src="/thumb.php?img=/pics/catalog/product/<?=$this->img?>&w=120&h=120" >
		                                	</a><br>
											
											
												<input type="checkbox" class="checkbox" name="delete_img" id="delete_img" value="1"><label for="delete_img">удалить изображение</label>
											
											</p>
										<?} ?>	
								 	
								<?=$this->formFile('img') ?>	
								<?*/													?>
    <p class="form_name">Приоритет</p>
    <?=$this->formText('priority', $this->item->priority, array('style' => 'width:80px;'))?>
    <p class="form_name">Активность <span class="ser_text size11">(На
сайте отображаются только активные элементы)</span></p>
    <?=$this->formCheckbox('active', null, array('class' => 'checkbox', 'checked' => $this->item->active))?> Да
    <p class="form_name">Приписка о крашениях <span
            class="ser_text size11"></span></p>
    <?=$this->formCheckbox('att_color', null, array('class' => 'checkbox', 'checked' => $this->item->att_color))?> Да
</div>
<?$item = $this->item; ?>
<div class="content_block">
    <p class="form_name">Материал - варианты изготовления/обивки</p>
    <p>
        <?$material_ids = explode(',', $item->material_ids);?>
        <?foreach($this->material_options as $material_key => $material_name){?>
        <?
        if ($material_key == 0)
            continue;
        $checked = in_array($material_key, $material_ids) ? 'checked="checked"' : '';
        ?>
        <input type="checkbox" class="checkbox" name="materials[]" value="<?=$material_key?>" <?=$checked?> /><label><?=$material_name?></label><br />
        <?}?>
    </p>
</div>
<!--<div class="content_block">
    <p class="form_name">Варианты цветов кожи</p>
    <p>
        <?$bitmaps_ids = explode(',', $item->bitmaps_ids);?>
        <?foreach($this->bitmaps_options as $bitmaps_key => $bitmaps_name){?>
        <?
        if ($bitmaps_key == 0)
            continue;
        $checked = in_array($bitmaps_key, $bitmaps_ids) ? 'checked="checked"' : '';
        ?>
        <input type="checkbox" class="checkbox" name="bitmaps[]" value="<?=$bitmaps_key?>" <?=$checked?> /><label><?=$bitmaps_name?></label><br />
        <?}?>
    </p>
</div>-->
<div class="content_block">
    <p class="form_name">Гаммы тканей</p>
    <p>
        <?$fabrics_ids = explode(',', $item->fabrics_ids);?>
        <?foreach($this->fabrics_options as $fabrics_key => $fabrics_name){?>
        <?
        if ($fabrics_key == 0)
            continue;
        $checked = in_array($fabrics_key, $fabrics_ids) ? 'checked="checked"' : '';
        ?>
        <input type="checkbox" class="checkbox" name="fabrics[]" value="<?=$fabrics_key?>" <?=$checked?> /><label><?=$fabrics_name?></label><br />
        <?}?>
    </p>
</div>
<div class="content_block">
    <p class="form_name">Варианты декоративных накладок</p>
    <p>
        <?$decor_ids = explode(',', $item->decor_ids);?>
        <?foreach($this->decor_options as $decor_key => $decor_name){?>
        <?
        if ($decor_key == 0)
            continue;
        $checked = in_array($decor_key, $decor_ids) ? 'checked="checked"' : '';
        ?>
        <input type="checkbox" class="checkbox" name="decors[]" value="<?=$decor_key?>" <?=$checked?> /><label><?=$decor_name?></label><br />
        <?}?>
    </p>
</div>
<div class="content_block">
    <p class="form_name">Варианты изготовления с механизмом трансформации</p>
    <p>
        <?$transformer_ids = explode(',', $item->transformer_ids);?>
        <?foreach($this->transformer_options as $transformer_key => $transformer_name){?>
        <?
        if ($transformer_key == 0)
            continue;
        $checked = in_array($transformer_key, $transformer_ids) ? 'checked="checked"' : '';
        ?>
        <input type="checkbox" class="checkbox" name="transformers[]" value="<?=$transformer_key?>" <?=$checked?> /><label><?=$transformer_name?></label><br />
        <?}?>
    </p>
</div>
<div class="content_block">
    <p class="form_name">Варианты крашения</p>
    <?$color_ids = explode(',', $item->color_ids)?>
    <?foreach ($this->color_options as $color_key => $color_name) {?>
    <?
    if ($color_key == 0)
        continue;
    $checked = in_array($color_key, $color_ids) ? 'checked="checked"' : '';
    ?>
    <input type="checkbox" class="checkbox" name="colors[]" value="<?=$color_key?>" <?=$checked?> /><label><?=$color_name?></label><br />
    <?}?>
    </p>
</div>
<!--<div class="content_block">

    <?$made_ids = explode(',', $this->item->made_ids)?>
    <p class="form_name">Варианты изготовления</p>
    <input type="checkbox" class="checkbox" name="made[]" value="1"
    <?=in_array(1, $made_ids) ? 'checked="checked"' : ''?> <label>Ткань</label>
    <br>
    <input type="checkbox" class="checkbox" name="made[]" value="2" <?=in_array(2, $made_ids) ? 'checked="checked"' : ''?>
    <label>Кожа</label><br>
    <input type="checkbox" class="checkbox" name="made[]" value="3" <?=in_array(3, $made_ids) ? 'checked="checked"' : ''?>
    <label>Комбинированный</label><br>

</div>-->


<div class="content_block">
    <p class="form_name">Типы акций</p>
    <p>
        <?$actions = explode(',', $item->action_types);?>

        <?foreach($this->action_types as $type){?>
        <?
        $checked = in_array($type['id'], $actions) ? 'checked="checked"' : '';
        ?>
        <input type="checkbox" class="checkbox" name="action_types[]" value="<?=$type['id']?>" <?=$checked?> /><label><?=$type['title']?></label><br />
        <?}?>
    </p>
</div>


<div class="content_block">
    <h3><a href="#" title="Показать/Скрыть блок" class="show_hide" onclick="show_hide_block('seo_block', 'seo_block_img'); return false;"><span id="show-" ><img src="/img/admin/ico_show+.gif" alt="" id="seo_block_img" /></span> Seo</a></h3>
    <div id="seo_block" style="display: none;">
        <p class="form_name">Title<span class="ser_text size11">(seo)</span></p>
        <?=$this->formText('seo_title', $this->item->seo_title)?>

        <p class="form_name">H1<span class="ser_text size11">(seo)</span></p>
        <?=$this->formText('seo_h1', $this->item->seo_h1)?>

        <p class="form_name">Keywords<span class="ser_text size11">(seo)</span></p>
        <?=$this->formText('seo_keywords', $this->item->seo_keywords)?>

        <p class="form_name">Description <span class="ser_text size11">(seo)</span></p>
        <?=$this->formText('seo_description', $this->item->seo_description)?>
    </div>
</div>

<div class="content_block">
    <p class="form_name">Краткое описание</p>

    <?
    $this->fck_intro->Value = $this->item->intro;
    $this->fck_intro->Create();
    ?>

    <p class="form_name">Полное описание</p>

    <?
    $this->fck_content->Value = $this->item->description;
    $this->fck_content->Create();
    ?>
</div>

<div class="content_block">
    <h3>Разделы каталога</h3>
    <p>Главный раздел *</p>
    <p><?php
        echo $this->formSelect('primary_id', $this->primary_id, array('style' => 'width:100%'), $this->divisions)?></p>
    <p>Дополнительные разделы</p>
    <p><?php
        echo $this->formSelect('other_div', null, array('style' => 'width:80%; float: left;'), $this->divisions)?>
        <button id="add_div"  type="submit" style="float:right;"><span><em>add</em></span></button>
    </p>
    <div class="clear"></div>
    <?php
    if (isset($this->other_divs)) {
        ?>
        <ul class="categories">
            <?php
            foreach ($this->other_divs as $div) {
		$elements = Catalog_Product_Units::getInstance()->getUnitsByProductToSelect($this->item->id, $div->id, $this->id_division);
                ?>
                <li><?php
                    echo $this->divisions[$div->id_division]?> 
		   <a href="<?=$this->currentModule?>/edit/<?=$this->item->id ? 'id/' . $this->item->id . '/' : ''?><?=$this->id_division ? 'id_division/' . $this->id_division . '/' : ''?>del_div/<?=$div->id?>" title="Delete" onclick="return confirm('are you sure?');"><img src="/img/admin/delete.gif"></a>
                    <?if (count($elements)>0) {?>
                        <select name="main_elements" id="main_elements">
                            <?foreach ($elements as $element) {?>
                            <?if ($element->color_ids != '') {
                                $color = Catalog_Product_Color::getInstance()->getNameById($element->color_ids);
                            }
                            else {
                                $color = Catalog_Fabrics_Groups::getInstance()->getNameById($element->fabrics_ids);
                            }?>
                            <option value="<?=$element->id?>" division="<?=$div->id?>" <?if ($element->id == $div->main_element) echo 'selected';?> > <?=$element->title?> / <?=$color?> </option>
                            <?}?>
                        </select>
                        <?}?>
		</li>
                <?php
            }
            ?>
        </ul>
	<a align="right" id="add_element" style="color:red; font-weight:bold; margin-left: 800px; font-size: 16px; cursor:pointer">Добавить</a>
	<div class="show_ok_element"></div>
        <?php
    }
    ?>

    <div class="clear"></div>
</div>

<div class="content_block">
    <h3>3d фото</h3>
    <p class="form_name">Название папки с 3d моделью</p>
    <?=$this->formText('link_3d_img', $this->item->link_3d_img, array('style' => 'width:200px;'))?>
    <p class="form_name">Отображать 3d модель </p>
    <?=$this->formCheckbox('img_3d', null, array('class' => 'checkbox', 'checked' => $this->item->img_3d))?> Да

</div>


<div class="content_block">
    <h3>Опции</h3>
    <?php
    if (isset($this->def_options)) {
        ?>
        <?php
        $i=0;
        foreach ($this->def_options as $option) {
            ?>
            <?if ($i == 0) {?>
                <p class="form_name"><?=$option->title?></p>
                <?php
                echo $this->formHtmlElement($option->form_type, $name = "option[$option->id]", isset($option->value) ? $option->value : '')?>
                <p></p>
                <?} else {?>
                <p class="form_name"><?=$option->title?></p>
                <?php
                echo $this->formHtmlElement($option->form_type, $name = "option[$option->id]", isset($option->value) ? $option->value : '')?>
                <?}?>

            <?php
            $i++;}
        ?>
        <?php
    }
    ?>




    <?php
    if ($this->item->id) {
        ?>
        <input type="hidden" name="id" value="<?=$this->item->id?>">
        <?php
    }
    ?>
</div>

<div class="right">
    <button class="orange" type="button" onclick="location.href='<?=$this->currentModule?>'"><span><em>Отменить</em></span></button>
    <button  type="submit"><span><em>Сохранить</em></span></button>
</div>



</form>
</div>
<div id="right_block">
    <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
            <li><a href="<?=$this->currentModule?>/edit/id_division/<?=$this->id_division?>">Создать элемент</a></li>
            <li><a href="<?=$this->currentModule?>/related/id/<?=$this->item->id?>">Похожие товары</a></li>
            <li><a href="<?=$this->currentModule?>/collection/id/<?=$this->item->id?>">Товары из коллекции</a></li>
            <li><a href="/catalog/<?=$this->layout()->lang?>/admin_product_package/index/id_product/<?=$this->item->id?>">Пакеты доставки</a></li>
            <?php
            if ($this->item->id) {
                ?>
                <li><a href="/catalog/<?=$this->layout()->lang?>/admin_product_units/index/id_product/<?=$this->item->id?>/id_division/<?=$this->id_division?>"><strong>Элементы</strong></a></li><li>
                <li><a href="<?=$this->currentModule?>/bitmaps/id/<?=$this->item->id?>">Текстуры</a></li>
                <li><a href="<?=$this->currentModule?>/flash/id/<?=$this->item->id?>">Flash</a></li>
                <!-- <li><a href="/catalog/<?=$this->layout()->lang?>/admin_product_options_enabled/index/id_product/<?=$this->item->id?>"><strong>Параметры</strong></a></li><li> -->
                <?php
            }
            ?>
            <li><a href="<?=$this->currentModule?>/index/id_division/<?=$this->id_division?>">Вернуться к списку товаров</a></li>
            <li><a href="/catalog/<?=$this->layout()->lang?>/admin_division/">Вернуться к дереву разделов</a></li>
        </ul>
    </div>

    <?
    if (isset($this->params) && count($this->params)) {
        ?>
        <div class="block_r gray">
            <h3><b>Опции</b></h3>
            <ul class="admin_option_ul">
                <?
                foreach ($this->params as $param) {
                    ?>
                    <li class="admin_product_options_li">
                    <span class="list_arrow">
                        <a href="/catalog/ru/admin_product_options_values/index/id_product/<?=$this->item->id?>/id_option/<?=$param['id_option']?>">
                            <?=$param['title']?>
                        </a>
                    </span>
                        <?
                        if (isset($param['values']) && count($param['values'])) {
                            ?>
                            <ul class="admin_option_ul">
                                <?
                                foreach ($param['values'] as $value) {
                                    ?>
                                    <li class="admin_product_options_li">
                                    <span class="list_arrow">
                                        <a href="/catalog/ru/admin_product_options_values/edit/id_product/<?=$this->item->id?>/id_option/<?=$param['id']?>/id/<?=$value['id']?>">
                                            <?=$value['title']?>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;(<?=$value['price']?>
                                    </span>
                                    </li>
                                    <?
                                }
                                ?>
                            </ul>
                            <?
                        }
                        ?>
                    </li>
                    <?
                }
                ?>
            </ul>
        </div>
        <?
    }
    ?>
</div>
							
