<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
        "\<a href='/admin/$this->lang/Catalog_Division/index/id_page/$this->id_page/' class='blue'>Каталог</a>";
$this->child_name = "Товар ";
$this->name =  " Flash ".$this->tovar->title;
?>


<style>

    table.item {border: solid 1px #CCCCCC; width:600px; border-collapse:collapse; }
    .item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
    .item td.main {text-align:left; }
    .sel {width:425px;}
    .text {width:425px;}
</style>

<div id="news_main_head">
    <div class="news_head">
        <div class="left_y"><!-- --></div>
        <div class="news_headbg_longer"><!-- --></div>
        <div class="right_y"><!-- --></div>
    </div>
    <div class="clear"><!-- --></div>
    <div id="left_block">
        

            <div class="clear"><!-- --></div>
            <?if($this->error) {?>
            <span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
                <?}?>
            <form method="post" action="" enctype="multipart/form-data" >

                <?if($this->message) {?>
                <p style="color:red;"><?=$this->message?></p>
                    <?}?>
                <?php if (isset($this->ok)) {?>
                <p><font color="green"><b><?=$this->ok?></b></font></p>
                    <?php }?>
                <div class="prava_dostupa">
                <table cellpadding="0" cellspacing="0" border="0" id="news_table">
                    <tr class="head">
                        <th>Значение</th>
                        <th>Действие</th>
                    </tr>
                    <tr>
                        <td class="main">Flash Файл <?if ($this->tovar->swf_file) { ?><b>(Загружен)</b><?} ?></td>
                        <td >
                            <?=$this->formFile('swf_file');?>
                        </td>
                    </tr>
                    <tr>
                        <td class="main">Файл конфигурации <?if ($this->tovar->swf_data_file) { ?><b>(Загружен)</b><?} ?></td>
                        <td >
                            <?=$this->formFile('swf_data');?>
                        </td>
                    </tr>

                    <tr>

                        
                    </tr>

                </table>
                    <div class="right">
                        <button  type="submit"><span><em>Сохранить</em></span></button>
                    </div>
                </div>
            </form>
            <?php if ($this->flash_exists) { ?>
            <div class="flash_buttons">
                <a style="text-decoration: none" href="<?=$this->currentModule?>/delete/id_flash/<?=$this->tovar->id?>" onclick="return confirm('Вы дествительно хотите удалить Flash?');"><button type="button" class="orange"><span><em>Удалить Flash</em></span></button></a>
            <!--<a href="<?=$this->currentModule?>/delete/id_flash/<?=$this->tovar->id?>/id_page/<?=$this->id_page?>" onclick="return confirm('Вы дествительно хотите удалить Flash?');">Удалить Flash</a>-->
            <button  type="submit" id="save_config"><span><em>Сохранить конфигурацию</em></span></button>
            </div>
             <?php } ?>
            <div class="tovar_flash">
                <script language="JavaScript" type="text/javascript">

                    function getMovie(movieName) {
                        var M$ =  navigator.appName.indexOf("Microsoft")!=-1
                        return (M$ ? window : document)[movieName];
                    }

                    function getConfiguration() {
                        //alert(getMovie("ConfiguratorMain").getConfiguration());
                        return getMovie("ConfiguratorMain").getConfiguration();
                    }
                    $(document).ready(function(){
                        $("#save_config").click(function(){
                            var config = getConfiguration();
                            //alert(config);
                            $.post("/catalog/<?=$this->lang ?>/admin_product/flash/id/<?=$this->tovar->id ?>/", { conf: config },
                            function(data){
                                if(data='saved'){
                                    alert('конфигурация сохранена');
                                    location.href="/catalog/<?=$this->lang ?>/admin_product/flash/id/<?=$this->tovar->id ?>/";
                                } else{
                                    alert("Ошибка");
                                }

                            });

                        });
                    });
                </script>
                <?if ($this->tovar->swf_file!='' && $this->tovar->swf_data_file!='') { ?>
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                        id="ConfiguratorMain" width="346" height="596"
                        codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
                    <param name="movie" value="/swf/ConfiguratorMain.swf" />
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#e2d4be" />
                    <param name="allowScriptAccess" value="sameDomain" />
                    <param name="flashVars" value="paletteLink=/catalog/ru/admin_product/palitte/id/<?=$this->tovar->id ?>/&swfLink=/files/catalog/tovar/swf/<?=$this->tovar->swf_file ?>&xmlLink=/files/catalog/tovar/data/<?=$this->tovar->swf_data_file ?>" />
                    <embed src="/swf/ConfiguratorMain.swf" quality="high" bgcolor="#e2d4be"
                           width="346" height="596" name="ConfiguratorMain" align="middle"
                           play="true"
                           loop="false"
                           quality="high"
                           allowScriptAccess="sameDomain"
                           type="application/x-shockwave-flash"
                           pluginspage="http://www.adobe.com/go/getflashplayer"
                           flashVars="paletteLink=/catalog/ru/admin_product/palitte/id/<?=$this->tovar->id ?>/&swfLink=/files/catalog/tovar/swf/<?=$this->tovar->swf_file ?>&xmlLink=/files/catalog/tovar/data/<?=$this->tovar->swf_data_file ?>">
                    </embed>
                </object>
                
                        
                 
                <!--<input type="button" value="Сохранить конфигурацию" id="save_config">-->
                    <?} ?>

            </div>

        
    </div>
    
  <div id="right_block">
    <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
            <li><a href="<?=$this->currentModule?>/index/id_division/<?=$this->id_division?>">Вернутся к списку товаров</a></li>
        </ul>
    </div>
</div>
</div>

