<div id="left_block">
<div class="prava_dostupa"></div>
<div class="prava_dostupa">
<form action="" method="post">
<table id="news_table" cellspacing="0" cellpadding="0" border="0">
	<tr class="head">
		<th width="40%">Название</th>
		<!--<th width="5%">Цена</th>-->
		<th width="5%">Приоритет</th>
		<th width="15%">Опции</th>
		<th width="3%"><a href="" id="select_all"><small>все</small></a></th>
		<th width="15%">Операции</th>
	</tr>
	<?foreach ($this->items as $key => $data) {
		$options = $data->getDefaultOptions();
		$main = Catalog_Product2Divisions::getInstance()->getMain($data->id, $this->id_division);
                $main == 1 ? $virtual = ' <font color=#8b0000>(Г)</font> ' : $virtual = ' <font color=#8b0000>(В)</font> ';
		?>
	<tr>
		<td>
			<a href="<?=$this->currentModule?>/edit/id/<?=$data->id?>/id_division/<?=$this->id_division?>" title="редактировать"><strong><?=$data->title?><?=$virtual?></strong></a>
		</td>
		<!--<td class="options">
			<?=$this->formText("prices[$data->id]", $data->price, array('size' => 7))?>
		</td>-->
		<td class="options">													
			<?=$this->formText("priority[$data->id]", $data->priority, array('size' => 3))?>
		</td>
		<td style="white-space: nowrap;">
		<?foreach($this->quick_options as $quick_option){?>
			<p><?=$this->formCheckbox("options[$data->id][$quick_option->id]", null, array('checked'=>(int)$options[$quick_option->system_name]->value), array(1,0))?><?=$quick_option->title?></p>
		<?}?>
		</td>
		<td width="20" align="center" style="text-align: center;">													
			<?=$this->formCheckbox('products[]', $data->id, array('class' => 'check_item'))?>
		</td>
		<td class="options" style="white-space: nowrap;">
			<a href='<?=$this->currentModule?>/active/id/<?=$data->id?>/id_division/<?=$this->id_division?>'><img src="/img/admin/active_<?=$data->active?>.gif" /></a>
			<a href='<?=$this->currentModule?>/edit/id/<?=$data->id?>/id_division/<?=$this->id_division?>' title="редактировать"><img src="/img/admin/redact.gif" /></a>
			<a href='<?=$this->currentModule?>/copy/id/<?=$data->id?>/id_division/<?=$this->id_division?>' title="создать копию"><img src="/img/admin/icon_copy.gif" /></a>
			<a href='/catalog/<?=$this->lang?>/admin_product_units/index/id_product/<?=$data->id?>/id_division/<?=$this->id_division?>' title="элементы"><img src="/img/admin/img.jpg" /></a>
			<a href='<?=$this->currentModule?>/delete/id/<?=$data->id?>/id_division/<?=$this->id_division?>' title="удалить"><img src="/img/admin/delete.gif" onclick="return confirm('Вы уверены?');"></a>
			<br />
			<a href="<?=$this->currentModule?>/bitmaps/id/<?=$data->id?>/id_division/<?=$this->id_division?>">Текстуры</a>
			<a href="<?=$this->currentModule?>/flash/id/<?=$data->id?>">Flash</a>
		</td>
	</tr>
	<?}?>
</table>
<div class="left">
    <strong>C отмеченными:</strong><br/>
    <?=$this->formRadio('operation', null, null, $this->options, '<br />');?>
    <br />
    <?=$this->formSelect('copying', null, null, $this->copying);?>
    <br /><br /><br />
</div>
<div class="right">
	<button type="submit"><span><em>Отправить</em></span></button>
</div>
</form>
</div>
<div style="padding-left: 20px; padding-top: 10px;">								
	<?=$this->Pagination($this->currentModule . '/index/id_division/' . $this->id_division . '/', (int)$this->total, (int)$this->onpage, $this->current_page);?>
</div>
</div>
<div id="right_block">
<div class="block_r gray">
<h3><b>Действия</b></h3>
<ul>
	<li><a href="<?=$this->currentModule?>/edit/id_division/<?=$this->id_division?>">Создать элемент</a></li>
	<li><a href="/catalog/<?=$this->lang?>/admin_division/">Вернутсья к дереву разделов</a></li>
	<?if ($this->id_division) {?>
		<li><a href="/catalog/<?=$this->lang?>/admin_division/edit/id/<?=$this->id_division?>">Редактироавть раздел</a></li>
	<?}?>
</ul>
</div>
</div>
<div style="float: right;" class="prava_dostupa" id="right_block">
<form action="<?=$this->currentModule?>/index/" method="post">
<table cellspacing="0" cellpadding="0" border="0" class="data"
	style="width: 370px; margin-left: 0px;">
	<tbody>
		<tr>
			<th colspan="2">Поиск</th>
		</tr>
		<tr>
			<td style="text-align: center;" colspan="2">Категория<br>
				<?=$this->formSelect('search[id_division]', $this->id_division, array('style' => 'width:100%'), $this->divisions)?>
			</td>
		</tr>
		<tr>
			<td>
				Цена от <?=$this->formText('search[price_from]', $this->price_from, array('style' => 'width:100%'))?>
			</td>
			<td>
				Цена до <?=$this->formText('search[price_to]', $this->price_to, array('style' => 'width:100%'))?>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;" colspan="2">
				Название <?=$this->formText('search[title]', $this->title, array('style' => 'width:100%'))?>
			</td>
		</tr>
		<tr>
			<td style="text-align: left;" colspan="2">Искать только в:<br>
			<?foreach ($this->defaults as $default) {
				$check = 0;
				if (in_array($default->id, $this->select_defaults))
					$check = 1;
				echo $this->formCheckbox('defaults[]', $default->id, array('checked' => $check));
				echo $default->title;
				?>
				<br>
			<?}?>
			<?=$this->formCheckbox('search[active]', 1, array('checked' => ($this->active == '1' ? 1 : 0)))?>
			Среди активных<br>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;" colspan="2">
				<a href="<?=$this->currentModule?>/index/clear/1">Сбросить параметры поиска</a>
				<button type="submit"><span><em>Искать</em></span></button>
			</td>
		</tr>
	</tbody>
</table>
</form>
</div>
