
<script type="text/javascript">
    <!--
    $(document).ready(function(){
        $("input[group_menu]").change(function(){
            var group_box = $(this).attr('group_menu');
            if($(this).attr("checked")==true){
                $("#group_box_"+group_box).show(400);
            } else{
                $("#group_box_"+group_box).hide("fast");
            }
        }).change();

        $("a[group_id]").toggle(
        function () {


            $('#'+$(this).attr('group_id')).find("input[type='checkbox']").attr('checked', 'checked');
        },
        function () {
            $('#'+$(this).attr('group_id')).find("input[type='checkbox']").attr('checked', false);
        }

    );

        $("a[big]").hover(function () {
            $("#"+$(this).attr("big")).show("slow");
        },
        function () {
            $("#"+$(this).attr("big")).hide("fast");
        }
    );

    });
    //-->
</script>

<style>

    table.item {border: solid 1px #CCCCCC; width:600px; border-collapse:collapse; }
    .item td {border: solid 1px #CCCCCC; vertical-align:middle;padding:3px; }
    .item td.main {text-align:left;}
    .sel {width:425px;}
    .text {width:425px;}
</style>
<div id="left_block">
    <div class="prava_dostupa">
        <div id="news_main_head">
            <div class="clear"><!-- --></div>

            <div class="clear"><!-- --></div>
            <div style="padding-left:20px;">
                <?if($this->error) {?>
                <span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
                    <?}?>
                <form id="editform" method="post" action="" enctype="multipart/form-data" >
                    <?php if (isset($this->ok)) {?>
                    <p align="center"><font  color="green"><b><?=$this->ok?></b></font></p>
                        <?php }?>
                    <table cellpadding="0" cellspacing="0" border="0" width="97%" class="textures">
                        <tr>
                            
                            <th><b>Текстуры</b></th>
                        </tr>
                        <tr>
                            
                            <td class="groups_content">
                                <?if (count($this->groups)) { ?>

                                    <?foreach ($this->groups as $group) { ?>
                                <div class="group_box" id="group_box_<?=$group->id ?>">
                                    <div class="group_list_name"><?=$group->name ?><?=$group->active==0 ? ' (скрыта)' : '' ?> <a href="#" group_id="group_box_<?=$group->id ?>"> все</a></div>
                                                                       
                                    <div class="clr" style="clear:both"></div>
                                            <?$items  = $group->getItems();?>
                                            <?if (count($items)) { ?>

                                    <ul class="texture_list">
                                                    <?foreach ($items as $item) { ?>
                                                        
                                        <li class="texture_item">
                                                            <?if ($item->img_big!='') { ?>
                                            <a href="#" big="img_big_<?=$item->id ?>">
                                                <div class="bitmap_small" style="background:url(/pics/catalog/bitmaps/<?=$item->img_big ?>) top left no-repeat"></div>
                                            </a>
                                                                <?} ?>
                                            <br />
                                            <input id="texture_<?=$item->id ?>" type="checkbox" name="textures[]" value="<?=$item->id ?>" <?=in_array($item->id, $this->selected_textures) ? 'checked' : '' ?>>
                                            <label for="texture_<?=$item->id ?>" <?=$item->active==0 ? 'class="red"' : '' ?> ><?=$item->name ?></label><br/>
                                            
                                           <?if ($item->img_big!=''){ ?>
						<div class="texture_img_big" id="img_big_<?=$item->id ?>"><img src="/pics/catalog/bitmaps/<?=$item->img_big ?>"></div>
                                            <?} ?>
                                        </li>
                                                        
                                                        <?} ?>
                                    </ul>
                                                <?} ?>
                                    <div class="clear">
                                        <hr class="group_box_line">
                                    </div>

                                </div>
                                        <?} ?>

                                    <?} ?>
                            </td>
                        </tr>
                    </table>
                    <div class="right">
                        <button onclick="location.href='<?=$this->currentModule?>/index/<?=$this->group_id ? 'group_id/'.$this->group_id.'/' : '' ?>'; return false;" class="orange"><span><em>Отменить</em></span></button>
                        <button onclick="getElementById('editform').submit()"><span><em>Сохранить</em></span></button>
                    </div>
                </form>
            </div>
            <div class="clear"><!-- --></div>

            <div class="redactor_footer">
                <div class="left_y"><!-- --></div>
                <div class="redactor_footerbg_longer">

                </div>
                <div class="right_y"><!-- --></div>
            </div>
        </div>
    </div>
</div>

<div id="right_block">
    <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
            <li class="active">Текстуры товара</li>
            <li><a href="<?=$this->currentModule?>/bitmaps/id/<?=$this->id?>/id_division/<?=$this->id_division?>">Вернуться к списку текстур</a></li>
            <li><a href="<?=$this->currentModule?>/index/id_division/<?=$this->id_division?>">Вернуться к списку товаров</a></li>
            <li><a href="<?=$this->currentModule?>/edit/id/<?=$this->id?>/id_division/<?=$this->id_division?>">Вернуться к товару</a></li>
            <!-- catalog/ru/admin_product/index/id_division/103 -->
        </ul>
    </div>
</div>

<div id="right_block">
    <div class="block_r gray">
        <h3><b><span class="red">Красным</span> цветом отмечены не активные текстуры</b></h3>
    </div>
</div>


<p></p>