
	<?if ($this->profiler) {
		$profiler = $this->profiler;
		echo '<div style="background-color: #000000; color: #ffffff;">';
		$totalTime    = $profiler->getTotalElapsedSecs();
		$queryCount   = $profiler->getTotalNumQueries();
		$longestTime  = 0;
		$longestQuery = null;
		$queries = array();
		foreach ($profiler->getQueryProfiles() as $query) {
			if ($query->getElapsedSecs() > $longestTime) {
				$longestTime  = $query->getElapsedSecs();
				$longestQuery = $query->getQuery();
			}
			$queries[] = $query->getQuery();
		}
		echo 'Executed ' . $queryCount . ' queries in ' . round($totalTime, 5) . ' seconds' . '<br />';
		echo 'Average query length: ' . round($totalTime / $queryCount, 5) . ' seconds' . '<br />';
		echo 'Queries per second: ' . round($queryCount / $totalTime) . '<br />';
		echo 'Longest query length: ' . round($longestTime, 5) . '<br />';
		echo 'Longest query: <br />' . $longestQuery . '<br />';
		echo '<br />';
		echo 'Queries: <br />';
		$i = 0;
		foreach ($queries as $query) {
			$i += 1;
			echo $i . '. ' . $query . ' <br />';
		}
		echo '</div>';
	}?>
	<?if (isset($_SESSION['debug_out'])){
		echo '<div style="background-color: #000000; color: #ffffff;">';
		echo '<br />Debug out:' . $_SESSION['debug_out'] . ' <br />';
		echo '</div>';
	}?>
