<script type="text/javascript">
 $(document).ready(function(){


    $("a[zoom]").fancybox({
				'titleShow' : true,
                                'titlePosition' : 'inside',
                                'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic',
                                'centerOnScroll' : true

			});
});
 </script>
<?php if (count($this->products)){?>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table sravn">
              <tr valign="top" align="center">
    <td valign="middle"><b class="descr">Изображение</b></td>
<? foreach($this->products as $id_product=> $product){?>  
<?$href = "/cat/".$product['division_url']."/".$product['product_url'];?>
<? if(isset($this->order_params[$id_product]['order_id'])) $href.='/order/'.$this->order_params[$id_product]['order_id']; ?>
    <td class="photo"><? if($product['img']){?> 
	<?if($product['img_big']!=''){?>
	<a zoom="true" href="protect.php?img=/pics/catalog/product/big/<?=$product['img_big']?>" class="img">
		<img src="<?=$this->thumb('/pics/catalog/product/img/'.$product['img'], 141, 92)?>" alt="" />
			<span class="zoom">
				<img src="/img/zoom.png" alt="" width="39" height="39" />
			</span>
	</a>
	<?}else{?>
	<a href="#" class="img">
		<img src="<?=$this->thumb('/pics/catalog/product/img/'.$product['img'], 141, 92)?>" alt="" />
			<span class="zoom">
				
			</span>
	</a>
	<?}?>
	<?} else {?><a href="#" class="img"><img src="/pics/nofoto.jpg" /></a><?}?><a class="title" href="<?=$href?>"><?=$product['title']?></a></td>
<?}?>  
  </tr>
  <tr align="center">
    <td><b class="descr">Производитель</b></td>
<? foreach($this->products as $id_product=> $product){?>
    <td><?=($product['maker'])? $product['maker']:'' ?></td>
    
<?}?>
  </tr>  
  <tr align="center">
      <td><b class="descr">Размер (Д х Ш х В)</b></td>
<? foreach($this->products as $id_product=> $product){?>
    <td>
	<? if($product['length'] && $product['width'] && $product['height']){?>
	<?=$product['length'].' х '.$product['width'].' х '.$product['height']?>
	<?}?>
	</td>
<?}?>
  </tr>
  <tr align="center">
    <td><b class="descr">Материал</b></td>
<? foreach($this->products as $id_product=> $product){?>
    <td><?=$product['material']?></td>
<?}?>
  </tr>
  <tr>
    <td><b class="descr">Описание</b></td>
<? foreach($this->products as $id_product=> $product){?>
    <td  class="text_sr"><?=$product['description']?></td>
<?}?>
  </tr>
  <tr>
    <td><b class="descr">Цена (руб.)</b></td>
<? foreach($this->products as $id_product=> $product){?>
    <td  class="text_sr"><?=$product['price']?></td>
<?}?>
  </tr>
  <tr>
    <td>&nbsp;</td>
<? foreach($this->products as $id_product=> $product){?>
    <td><a id_product="<?=$product['id_product']?>" division="<?=$product['division']?>" href="#" class="zakaz_button">Заказать</a></td>
<?}?>
  </tr>
  <tr>
    <td>&nbsp;</td>
<? foreach($this->products as $id_product=> $product){?>
    <td><a onclick="location.href='/comparison/act/remove/id_product/<?=$product['id_product']?>';" href="javascript:" class="del"><i>удалить</i></a></td>
<?}?>
  </tr>
</table>

<?}else{?>
Нет товаров для сравнения
<?}?>