<?if(count($this->makers)){?>
<?php $path = $this->path?>
<div class="company_logo">
            <div class="company_bg">
              <div class="company_l">
                <div class="company_r">
                    <? $i=0 ?>
                    <? foreach($this->makers as $maker){
                        $i++;
                        if($i == 1) $class='brdr_r';
                        elseif($i==3) $class= 'brdr_l';
                        else $class='';?>
                    <div class="block <?=$class?>"><a title="<?=htmlspecialchars($maker->title) ?>" href="/<?=$path?>/item/<?=$maker->id?>"><img src="<?=$this->thumb('/pics/makers/'.$maker->logo, 192, 72, 1)?>" alt=""  /></a></div>
                    <?}?>
                  
                </div>
              </div>
            </div>
          </div>
<?}?>