<?if(count($this->transformers)){?>
<?php $path = $this->path?>
<ul class="dropdown">
    <li>
       

            <a href="/<?=$path?>" class="sub"><span>Механизмы трансформации</span></a>
            <ul style="display: none;" class="dropdown">
                <?foreach($this->transformers as $transformer){?>
                <li>
                    <a href="/<?=$path?>/item/<?=$transformer->url?>"><span><?=$transformer->title?></span></a>
                </li>
                <?}?>
            </ul>

        
    </li>
</ul>
<?}?>