<div id="left_block"  class="form_page">
							
							<form method="post" id="edit_form" action="<?=$this->currentModule?>/edit/<?=$this->item->id ? 'id/'.$this->item->id.'/' : ''?><?=$this->peoples_id ? 'peoples_id/'.$this->peoples_id.'/' : ''?>" enctype="multipart/form-data"  >
							<?if ($this->ok==1) {?>
								<p align="center"><font color="green"><b>Данные сохранены</b></font></p>
							<?} ?>							
							<?if ($this->err==1) {?>
								<p align="center"><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
							<?} ?>	
							
							<div class="content_block">
						       	<p class="form_name">Название* </p>
								<?=$this->formText('title', $this->item->title, array('onBlur'=>"fill_seoBlock('title')")) ?>							
						        <p class="form_name">Активность</p>
						        <?php echo $this->formCheckbox('active', null, array('checked'=>$this->item->active), array(1,0))?>
								<p class="form_name">Показывать в меню</p>
						        <?php echo $this->formCheckbox('show_in_menu', null, array('checked'=>$this->item->show_in_menu), array(1,0))?>
                                <p class="form_name">Вынести логотип в футер</p>
						        <?php echo $this->formCheckbox('main', null, array('checked'=>(int)$this->item->main), array(1,0))?>
								
						        <p class="form_name">Проиоритет <span class="ser_text size11">(Чем больше значение, тем раньше элемент в списке)</span></p>
						        <?php echo $this->formText('priority', $this->item->priority, array('style'=>'width:100px'))?>
								<p class="form_name">Логотип</p>
								<?php if ($this->item->logo!=''){?>
										<p align="center">
											<a href="/pics/makers/<?=$this->item->logo?>" target="_blnk">
												<img src="<?=$this->thumb('/pics/makers/'.$this->item->logo, 100, 100)?>">
												
											</a>
											<br>
										     <?php echo $this->formCheckbox('delete_img')?> Удалить изображение
											
										</p>
								<?php }?>
								<?php echo $this->formFile('img')?>
							</div>
							   <div class="content_block">
								<h3><a href="#" title="Показать/Скрыть блок" class="show_hide" onclick="show_hide_block('seo_block', 'seo_block_img'); return false;"><span id="show-" ><img src="/img/admin/ico_show+.gif" alt="" id="seo_block_img" /></span> Seo</a></h3>
								<div id="seo_block" style="display: none;">
									 <p class="form_name">Title<span class="ser_text size11">(seo)</span></p>								
									 <?=$this->formText('seo_title', $this->item->seo_title) ?>
									
									 <p class="form_name">Keywords<span class="ser_text size11">(seo)</span></p>								
									<?=$this->formText('seo_keywords', $this->item->seo_keywords) ?>							
									
									
									 <p class="form_name">Description <span class="ser_text size11">(seo)</span></p>								
									<?=$this->formText('seo_description', $this->item->seo_description) ?>
								</div>
							</div> 	
							<div class="content_block">
								<p class="form_name">Краткое описание</p>
								<?php
													$this->intro->Value = $this->item->intro;
													$this->intro->Create();
												?>
							
								<p class="form_name">Полное описание</p>
								<?php
													$this->fck_content->Value = $this->item->description;
													$this->fck_content->Create();
												?>
							
								<?php if ($this->item->id){?>
									<input type="hidden" name="id" value="<?=$this->item->id ?>">
								<?php }?>	
						      </div>
						      
						      <div class="right">
						        <button class="orange" type="button" onclick="location.href='<?=$this->currentModule?>'"><span><em>Отменить</em></span></button>
						        <button  type="submit"><span><em>Сохранить</em></span></button>
						      </div>
														
													
														
							</form>
</div>
<div id="right_block">
      <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
          <li><a href="<?=$this->currentModule?>/add/">Создать элемент</a></li>
          <li><a href="<?=$this->currentModule?>">Вернутся к списку</a></li>
        </ul>        
      </div>      
  </div>							
							