<?php
$this->parent_name = "<a href='/admin/' class='blue'>ГЛАВНАЯ СТРАНИЦА</a>" . 
        "\<a href='/admin/".$this->lang."/catalog_fabrics_groups/' class='blue'>$this->caption</a>";
//$this->child_name = "Редактировать Элемент ";
//$this->name = "Редактировать Элемент";
?>


<style>

    table.item {border: solid 1px #CCCCCC; width:750px; border-collapse:collapse }
    .item td {border: solid 1px #CCCCCC; vertical-align:middle; padding: 5px; }
    .item input.text {width:90%; }
    .item textarea.text {width:100%; }
    .item td.main {text-align:center;}
</style>

<?if (isset($this->error)){?>
    <span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
<?}?>
    <div class="clear"><!-- --></div>
    <div id="left_block">
        <div class="prava_dostupa">

            <div class="clear"><!-- --></div>
            <div>
                <form name="editform" method="post" action="<?=$this->currentModule?>/edit/<?=$this->item->id ? 'id/'.$this->item->id.'/' : ''?><?=$this->group_id ? 'group_id/'.$this->group_id.'/' : ''?>" enctype="multipart/form-data"  >
                    <?if ($this->ok==1) {?>
                    <p align="center"><font color="green"><b>Данные сохранены</b></font></p>
                        <?} ?>
                    <?if ($this->err==1) {?>
                    <p align="center"><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
                        <?} ?>

                    <table class="item"  cellspacing="0" cellpadding="0" >
                        <tr >
                            <td class="main">Название*</td>
                            <td ><input type="text" id="name" class="text" size="90" name="edit[name]" value="<?=$this->item->name?>" /></td>

                        </tr>
                        <tr >
                            <td class="main">Иконка*</td>
                            <td >
                                <?if ($this->item->img_big!='') { ?>
                                <p align="center">
                                    <img src="/pics/catalog/fabrics/<?=$this->item->img_big ?>"><br>
                                    <input type="checkbox" name="delete_img_big" value="1" id="del_img_big">
                                    <label for="del_img_big">Удалить</label>
                                </p>
                                    <?} ?>
                                <input type="file"   name="img_big"   />
                            </td>
                        </tr>

                        <?/*<tr >
                            <td class="main">Картинка*</td>
                            <td >
                                    <?if ($this->item->img_small!=''){ ?>
                                    <p align="center">
                                            <img src="/pics/catalog/bitmaps/<?=$this->item->img_small ?>"><br>
                                            <input type="checkbox" name="delete_img_small" value="1" id="del_img_small">
                                            <label for="del_img_small">Удалить</label>
                                    </p>
                                    <?} ?>
                                    <input type="file"   name="img_small"   />
                            </td>
                    </tr>
                        */?>
                        <tr >
                            <td class="main">Приоритет</td>
                            <td ><input type="text"  size="10" name="edit[priority]" value="<?=$this->item->priority?>" /></td>

                        </tr>
                        <tr >
                            <td class="main">Группа</td>
                            <td ><?echo $this->formSelect('edit[id_group]', $this->item->id_group, array('style'=>'width:90%'), $this->groups_options)?></td>

                        </tr>

                        <tr >
                            <td class="main">Активна</td>
                            <td>
                                <?echo $this->formCheckbox('edit[active]', 1, $this->item->id!=0 && $this->item->active? array('checked' => 'checked') : null);?>
                            </td>

                        </tr>



                        <tr>
                            <td  colspan="2" align="right" >
                                <div class="right">
                                    <button onclick="location.href='<?=$this->currentModule?>/index/<?=$this->group_id ? 'group_id/'.$this->group_id.'/' : '' ?>'; return false;" class="orange"><span><em>Отменить</em></span></button>
                                    <button onclick="getElementById('editform').submit()"><span><em>Сохранить</em></span></button>
                                </div>
                            </td>
                        </tr>

                    </table>
                    <input type="hidden" name="id" value="<?=$this->item->id ?>">
                </form>
            </div>
        </div>
        <div class="clear"><!-- --></div>

        <div class="redactor_footer">
            <div class="left_y"><!-- --></div>
            <div class="redactor_footerbg_longer">

            </div>
            <div class="right_y"><!-- --></div>
        </div>
    </div>

<div id="right_block">
            <div class="block_r gray">
                <h3><b>Действия</b></h3>
                <ul>
                    <li class="active">Текстура</li>
                    <li><a href="<?=$this->currentModule?>/edit/<?=$this->group_id ? 'group_id/'.$this->group_id.'/' : '' ?>">Добавить</a></li>
                    <li><a href="<?=$this->currentModule?>/index/<?=$this->group_id ? 'group_id/'.$this->group_id.'/' : '' ?>">Вернуться к группе текстур</a></li>
                </ul>
            </div>
        </div>

