<div id="left_block">
	<div class="prava_dostupa">
		<form method="post" action="<?=$this->currentModule.'/index/'?>">
			<table style="width: 370px;" class="data" cellspacing="0" cellpadding="0" border="0">
				<th colspan="2"> 
					Поиск
				</th>
				<tr>
					<td>
						Поступил от
						<?=$this->formText('search[date_from]',$this->date_from , array('class'=>'datepicker'))?>
					</td>
					<td>
						Поступил до
						<?=$this->formText('search[date_to]',$this->date_to , array('class'=>'datepicker') )?>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;">
					Менеджер<br>
					<?=$this->formSelect('search[id_manager]', $this->id_manager, array('style'=>'width:100%'), $this->managers)?></td>
					
				</tr>
				<tr>
					<td>
						Цена от
						<?=$this->formText('search[price_from]',$this->price_from,array('style'=>'width:100%') )?>
					</td>
					<td>
						Цена до
						<?=$this->formText('search[price_to]',$this->price_to ,array('style'=>'width:100%') )?>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;">
						клиент
						<?=$this->formText('search[user]', $this->user, array('style'=>'width:100%'))?>
						 
					</td>
					
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;">
						<a href="<?=$this->currentModule.'/index/clear_search/1'?>">Очистить результаты</a>
						<input type="submit" value="Найти">
						
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="prava_dostupa">
	<table id="news_table" cellspacing="0" cellpadding="0" border="0">
								<tr class="head">
									<th>Номер заказа</th>
									<th>Сумма</th>
									<th>Менеджер</th>
									<th>Клиент</th>
									<th>Дата размещения</th>									
									<th>Статус</th>									
									<th>Операции</th>									
								</tr>
								<?php
									foreach ($this->all as $key => $data){
										$overdue = 0;
										if ($data->total_minutes>0 && $this->order_time>$data->total_minutes) {
											$overdue = 1;
										}
										?>
											<tr <?=$overdue? 'class="overdue"' : ''?> >	
												<td >
													<a  href ="<?=$this->currentModule?>/view/item_id/<?=$data->id?>/" title="редактировать"><strong><?=$data->id?></strong></a>
													
												</td >													
												<td class="options" >
													<strong>														
														<?=number_format($data->price, 0, ',', ' ');?>
													</strong>
												</td>																						
												<td class="options" >
													<strong><?=$data->manager ? $data->manager : '&nbsp;'?></strong>
												</td>																						
												<td class="options" >
													<strong><?=$data->user_login ? $data->user_login : '&nbsp;'?></strong>
												</td>																						
												<td class="options" >
													<strong><?=$data->added_time?></strong>
												</td>																						
												<td class="options" >
													<?=$this->status_titles[$data->status]?>
												</td>																						
												<td class="options">
													
													<a href = '<?=$this->currentModule?>/view/item_id/<?=$data->id?>'>Открыть</a>
													
												</td>
											</tr>
										<?php
									}
								?>
							</table>
		</div>					
							<div style="padding-left: 20px;padding-top: 10px;" >								
								<?=$this->Pagination($this->currentModule.'/index/', (int)$this->total, (int)$this->onpage, $this->current_page); ?>
							</div>
</div>

  <div id="right_block">
      <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
          <li><a href="<?=$this->currentModule?>/add/">Создать элемент</a></li>
        </ul>        
      </div>      
  </div>


				
