<script type="text/javascript" src="/js/jquery/ui.core.js"></script>
<script type="text/javascript" src="/js/jquery/ui.datepicker.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function()
    {
        $("#datepicker").datepicker({ dateFormat: 'dd.mm.yy' });
    });
</script>

<div class="description_page">
    <h2>Добавить</h2>
</div>

<div class="content">
    <div id="left_block" class="form_page">
        <form action="" id="editform" class="user_form" method="post" enctype="multipart/form-data">
            <div class="content_block">
                <p class="form_name">Название</p>
                <p>
                    <input type="text" id="name" name="new[name]" size="90" />
                </p>
                <p class="form_name">Title</p>
                <p>
                    <input type="text" id="seo_title" name="new[seo_title]" size="90" />
                </p>
                <p class="form_name">Keywords</p>
                <p>
                    <input type="text" id="seo_keywords" name="new[seo_keywords]" size="90" />
                </p>
                <p class="form_name">Description</p>
                <p>
                    <input type="text" id="seo_descriptions" name="new[seo_descriptions]" size="90" />
                </p>
                <p class="form_name">Дата:</p>
                <p>
                    <?=$this->formText('new[created_at]', '', array('class'=>'text', 'id' => 'datepicker')) ?>
                </p>
                <p class="form_name">Активна:</p>
                <p>
                    <input type="checkbox" name="new[pub]" checked="checked" />
                </p>
                <p class="form_name">Отображать на главной:</p>
                <p>
                    <input type="checkbox" name="new[main]" <? (isset($this->new->main) && $this->new->main==1) ? 'checked="checked"' : '' ?> />
                </p>

                <p class="form_name">Анонс:</p>
                <p>
                    <?php $this->fck_intro->Create();	?>
                </p>

                <p class="form_name">Тело:</p>
                <p>
                    <?php $this->fck_content->Create();	?>
                </p>
            </div>

			<input type="hidden" name="new[id_page]" value="<?=$this->id_page?>">
            <div class="right">
                <button onclick="location.href='<?=$this->currentModule ?>'; return false;" class="orange"><span><em>Отменить</em></span></button>
                <button onclick="getElementById('editform').submit()"><span><em>Сохранить</em></span></button>
            </div>
        </form>
    </div>
    <div id="right_block">
        <div class="block_r gray">
            <h3><b>Действия</b></h3>
            <ul>
                <li><a href="<?=$this->currentModul?>/index/id_page/<?=$this->id_page?>">Список элементов</a></li>                
            </ul>
        </div>
    </div>
</div>