 <div class="prava_dostupa">
 		
      <div class="right"><br class="clear" />    
   <button onclick="location.href='<?=$this->currentModule ?>edit/'"><span><em>Добавить пользователя</em></span></button>
    <br class="clear" />
  </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th scope="col">Пользователь</th>
            <th scope="col">Роль</th>
            <th scope="col">Email            
            <th scope="col">Операции</th>            
          </tr>
          <?foreach ($this->users as $user){ ?>
            <tr>
            <td><a href = '<?=$this->currentModule ?>edit/id/<?=$user->id?>/'><?=$user->username ?></a></td>
            <td><?=$user->role ?></td>
            <td><label>
              <div align="center">
                <?=$user->email ?>
              </div>
              </label>
            </td>            
            <td><div align="center">
            	<a href = '<?=$this->currentModule ?>active/id/<?=$user->id?>/'><img src="/img/admin/active_<?=$user->activity ?>.gif"></a>
                <a href = '<?=$this->currentModule ?>edit/id/<?=$user->id?>/'><img src="/img/admin/redact.gif" /></a>
                <a href = '<?=$this->currentModule ?>delete/id/<?=$user->id?>/' onclick="return confirm('Вы уверены?');"><img src="/img/admin/delete.gif"></a>
              </div></td>
            
          </tr>
          <?} ?>
          
          
        </table>
      
    </div>

