<?$path=$this->path?>
<?$catalog_path=$this->catalog_path?>
<div class="main_content">
	<div style="padding: 5px"></div>
	<div class="main_block_text">
		<div class="main_block_descr">
			<?=$this->layout()->page->content?>
		</div>
            <div class="proizv">
<? foreach($this->makers as $maker){?>               
              <div class="item_proizv">
                <div class="overflow">
                  <div class="logo_proizv">
		  <div class="logo_company"><a href="/<?=$path?>/item/<?=$maker->id?>"><img height="140" width="140" src="/pics/makers/<?=$maker->logo?>" alt="" /></a></div>
		  </div>
		  <div class="logo_right_side">
                    <h2><?=$maker->title?></h2>
                  <div class="text_intro">
                      <?=$maker->intro?>
                    <p align="right"><a  href="/<?=$path?>/item/<?=$maker->id?>" class="more">Подробнее</a></p>
                  </div>
		</div>
                </div>
                 <!-- <?/* $products = $maker->getProducts(9) */?>
                  <?/* if($products->count()){*/?>
                <div class="slider">
                  <div class="sl_l">
                    <div class="sl_r">
                      <div class="maincarousel">
                        
						<div class="showarea">
						<?/*$i=0;
						foreach($products as $product){
							$division_path = $product->getDivisionUrl(); 
							$division = ($division_path) ? "/cat/$division_path" : "/product";
							if(!($i%3) && $i!=0){ */?>
						</div>
						<div class="showarea">
							<?/*}$i++;*/?>
							<div class="photo"><a href="<?/*=$division*/?>/<?/*=$product->url*/?>" class="img"><img src="<?/*=$this->thumb('/pics/catalog/product/img/'.$product->img, 140, 140)*/?>" alt="" /></a><a class="title" href="<?/*=$division*/?>/<?/*=$product->url*/?>"><?/*=$product->title*/?></a></div>
						<?/*}*/?>
						</div>             

                        <a href="#carouselPrev" class="leftarrow" title="Previous">Previous</a> <a href="#carouselNext" class="rightarrow" title="Next">Next</a> </div>
                    </div>
                  </div>
                </div>
                  --><?/*}*/?>
<div class="clear"></div>  
              </div>  

<div class="clear"></div>            
<?}?>

            </div>

            <?=$this->paginationLit('/'.$path.'/', (int)$this->total, (int)$this->onpage, $this->current_page, 1); ?>
	</div>
	<div style="padding: 5px"></div>
</div>
