<div class="main_content">
	<div style="padding: 5px"></div>
	<div class="main_block_text">
		<div class="main_block_descr">
			<?=$this->maker->description?>
		</div>
	</div>
	<div style="padding: 5px"></div>
</div>
