
<div id="left_block" class="form_page">
    <form method="post" id="edit_form" action="<?=$this->currentModule?>/edit/<?=$this->item->id ? 'id/' . $this->item->id . '/' : ''?><?=$this->peoples_id ? 'peoples_id/' . $this->peoples_id . '/' : ''?>id_product/<?=$this->product!=null ?  $this->product :  $this->item->id_tovar?>
" enctype="multipart/form-data">

        <?if ($this->ok == 1) {?>
            <p align="center"><font color="green"><b>Данные сохранены</b></font></p>
        <?}?>
        <?if ($this->err == 1) {?>
            <p align="center"><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
        <?}?>
        <div class="content_block">
            <p class="form_name">Название*</p>
            <?=$this->formText('name', $this->item->name)?>
            <p class="form_name">Приоритет</p>
            <?=$this->formText('priority', $this->item->priority, array('style' => 'width:100px'))?>
            <p class="form_name">Глубина</p>
            <?=$this->formText('width_p', $this->item->width_p, array('style' => 'width:100px'))?>
            <p class="form_name">Ширина</p>
            <?=$this->formText('depth', $this->item->depth, array('style' => 'width:100px'))?>
            <p class="form_name">Высота</p>
            <?=$this->formText('height', $this->item->height, array('style' => 'width:100px'))?>
            <p class="form_name">Вес</p>
            <?=$this->formText('weight', $this->item->weight, array('style' => 'width:100px'))?>
        </div>
        <div class="right">
            <input type="hidden" value="<?=$this->product?>" name="id_tovar">
            <button class="orange" type="button" onclick="location.href='<?=$this->currentModule?>/index/id_product/<?=$this->product!=null ?  $this->product :  $this->item->id_tovar?>'"><span><em>Отменить</em></span></button>
            <button type="submit"><span><em>Сохранить</em></span></button>
        </div>
    </form>

</div>
<div id="right_block">
    <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
            <li><a href="<?=$this->currentModule?>/index/id_product/<?=$this->product!=null ?  $this->product :  $this->item->id_tovar?>">Вернуться к списку</a></li>
        </ul>
    </div>
</div>
