<script type="text/javascript">
    $(document).ready(function(){
        $('#update').click(function(){
            $.get("/import/ru/admin_index/gettable/", { table_name: '<?=$this->table?>'},
                function(data){
                    if(data=='ok'){
                        alert("Обновление успешно осуществлено");
                        location.href = "<?=$this->currentModule?>";
                    } else{
                        alert(data);
                    }
                });
        })

    })
</script>
<div id="left_block">
    <div class="prava_dostupa">
        <table id="news_table" cellspacing="0" cellpadding="0" border="0">
            <tr class="head">
                <th>Название</th>
                <th>Приоритет</th>
                <th>Операции</th>
            </tr>
            <?php
            foreach ($this->all as $key => $data) {

                ?>
                <tr>
                    <td><a href="<?=$this->currentModule?>/edit/id/<?=$data->id?>/id_product/<?=$data->id_tovar?>"
                           title="редактировать"><strong><?=$data->name?></strong></a></td>

                    <td class="options">
                        <?=$data->priority?>
                    </td>
                    <td class="options"><a
                            href='<?=$this->currentModule?>/edit/id/<?=$data->id?>/id_product/<?=$data->id_tovar?>'><img
                                src="/img/admin/redact.gif" /></a> <a
                            href='<?=$this->currentModule?>/delete/id/<?=$data->id?>'><img
                                src="/img/admin/delete.gif" onclick="return confirm('Вы уверены?');"></a>
                    </td>
                </tr>
            <?php
            }
            ?>
        </table>
    </div>
    <div style="padding-left: 20px; padding-top: 10px;">
        <?=$this->Pagination($this->currentModule . '/index/', (int)$this->total, (int)$this->onpage, $this->current_page);?>
    </div>
</div>

<div id="right_block">
    <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
            <li><a href="<?=$this->currentModule?>/edit/id_product/<?=$this->product?>">Создать элемент</a></li>
	    <li><a href="/catalog/<?=$this->lang?>/admin_product/edit/id/<?=$this->product?>">Вернуться к товару</a></li>

        </ul>
    </div>
</div>



