<?$path = $this->layout()->page->path;?>
<?php if (isset($this->division)){?>
        <?=$this->division->description?>
    <?php } else {?>
        <?=$this->layout()->page->content?>
    <?php }?>

<?if (isset($this->products)){?>
    <?$i=0;?>
<div class="division_tovars">
    <?foreach ($this->products as $product) {
    $options = $product->getDefaultOptions();
    $division_url = Catalog_Division::getInstance()->getDivisionUrlByProductId($product->id);
    $i++;
    ?>
    <div class="division_tovar_one">
        <div class="division_tovar_one_photo">
            <a href="/cat/<?=$division_url?>/<?=$product->url?>">
                <img class="action" src="/img/action.png" alt="Акция"/>
                <center><img height="232" src="<?=$this->thumb('/pics/catalog/product/img/'.$product->img, 330, 232)?>" alt="<?=strip_tags($product->title)?>" /></center>
            </a>
        </div>
        <div class="division_tovar_one_description">
            <div class="division_tovar_one_name">
                <a href="/cat/<?=$division_url?>/<?=$product->url?>"><?=$product->title_short?></a>
            </div>
            <div class="division_tovar_one_price">
                Цена от: <span><?=number_format($product->price,0,',',' ')?> руб.</span>
            </div>
        </div>
    </div>
    <?if ($i == 3) {?> <div class="clear"></div><? $i = 0; }?>
    <?}?>
    <div class="clear"></div>
</div>
<?}?>

	

	
