
<?$path = $this->layout()->page->path?>
<? if($this->current_page<2){?>
<?php if (isset($this->division)){?>
        <?=$this->division->description?>
    <?php } else {?>
        <?=$this->layout()->page->content?>
    <?php }?>
<?}?>

<?if (count($this->actions) > 0) {?>
    <?foreach ($this->actions as $action) {?>
        <div class="page_action">
            <div class="page_action_left">
		<?if ($action->baner != '') {?>
                <div class="page_action_image">
                    <a href="/<?=$action->path?>" title="<?=$action->name?>"><img height="200px" width="320px" src="/pics/default/<?=$action->baner;?>"/></a>
                </div>
		<?}?>
            </div>
            <div class="page_action_right">
                <div class="page_action_title">
                    <a href="/<?=$action->path?>" title="<?=$action->name?>">
                        <?=$action->name;?>
                    </a>
                </div>
                <div class="page_action_intro">
                    <?=$action->introText;?>
                </div>
		<div class="page_action_more" align="right" ><a href="/<?=$action->path?>">Подробнее</a></div>
            </div>
        </div>
	<div class="clear"></div>
        <?}?>
<?}?>
