<?$history = new Zend_Session_Namespace('user_history'); $i=0?>

<div class="division_tovars">
    <?foreach ($history->products as $key => $product) {
    $i++;
    $options = Catalog_Product::getInstance()->getActionIfExistenceIsWell($key);
    ?>
    <div class="division_tovar_one">
        <div class="division_tovar_one_photo">
            <a href="/cat/<?=$product['division_url']?>/<?=$product['product_url']?>">
		<?if ($options == 1){?>
		    <img class="action" src="/img/action.png" alt="Акция"/>
		<?}?>
                <center><img height="232" src="<?=$this->thumb('/pics/catalog/product/img/'.$product['img'], 330, 232)?>" alt="<?=$this->escape($product['title'])?>" /></center>
            </a>
        </div>
        <div class="division_tovar_one_description">
            <div class="division_tovar_one_name">
                <a href="/cat/<?=$product['division_url']?>/<?=$product['product_url']?>"><?=$product['title']?></a>
            </div>
            <div class="division_tovar_one_price">
                <?if ($product['price'] > 0) {?>
                Цена от: <span><?=number_format($product['price'],0,',',' ')?> руб.</span>
                <?} else {?>
                <?if ($product['price_with_tr'] > 0) {?>
                    Цена от: <span><?=number_format($product['price_with_tr'],0,',',' ')?> руб.</span>
                    <?} else {?>
                    <span>Изучение спроса</span>
                    <?}?>
                <?}?>
            </div>
        </div>
    </div>
    <?if ($i == 3) {?> <div class="clear"></div><? $i = 0; }?>
    <?}?>
    <div class="clear"></div>
</div>
