<?php
if($this->products){
    $products =array();

    foreach ($this->products as $product){

        $options = $product->getDefaultOptions();
        $price = 0;
        $price_with_tr = 0;
        $price_format = '';
        $discount = 0;
        $special_offer = 0;
        if ($product->price > 0 && $product->price_old == 0){
            $price = $product->price;
            $price_format = number_format($product->price,0,',',' ');
            $discount = 0;
        }else {
            if ($product->price_old > 0) {
                $price = $product->price_with_tr;
                $price_format = number_format($product->price_with_tr, 0, ',', ' ');
                $discount = 1;
            } else {
                $discount = 1;
                if ($product->price_with_tr > 0) {
                    $price = $product->price_with_tr;
                    $price_with_tr = 1;
                    $price_format = number_format($product->price_with_tr,0,',',' ');
                } else {
                    $price = 0;
                    $price_with_tr = 0;
                }
            }
        }
        if($options['akciya']->value){
            $special_offer = 1;
        }
        $products[] = array(
            'id'=>$product->id,
            'name'=>$product->title_short,
            'title_short'=>$product->title_short,
            'division_url'=>$this->division_url,
            'product_url'=>$product->url,
            'product_image_src'=>$this->thumb('/pics/catalog/product/img/'.$product->img, 330, 232),
            'alt_image_title'=>$this->escape($product->title),
            'price'=>$price,
            'price_with_tr'=>$price_with_tr,
            'price_format'=>$price_format,
            'discount'=>$discount,
            'special_offer'=>$special_offer,
            'is_new'=>$product->is_new,
        );
    }
}

$products = isset($products) && !empty($products) ? json_encode($products) : null;
?>
<div id="product-data" style="display: none"><?=$products?></div>
<?php
    $path = $this->layout()->page->path;
    $i=0;
    $count='';
?>
<?if($this->current_page<2):?>
    <?$block_descr = (isset($this->division)) ? $this->division->description : $this->layout()->page->introText;?>
    <div class="contentTextBlock">
        <?=$block_descr?>
    </div>
<?endif?>

<?if (isset($this->products) && count($this->products)>0):?>
<div class="division">
    <!-- begin sorting  -->
    <div id="catalog_sorter" class="sort" data-current="priceup">
        <span class="sort_title">Сортировать по:</span>
        <a id="price" class="sort_select" data-order="asc"><span>Цене</span> <i id="i-price" class='icon-down'></i></a>
        <a id="name" class="sort_select" data-order="asc"><span>Названию</span> <i id="i-name" class='icon-down'></i></a>
        <a id="id" class="sort_select" data-order="asc"><span>Новизне</span> <i id="i-id" class='icon-down'></i></a>
        <a id="reset_filter" href="javascript:void(0)"><span>Сброс фильтра</span></a>
    </div>
    <!-- end sorting -->
    <div class="division_tovars" id="catalog_listing"></div>
    <?if (isset($this->divs_parents) && count($this->divs_parents)>0) {?>
        <div class="additional_div_block">
            <div class="division_title" style="margin-left: -57px;">
                <div class="division_title_left"></div>
                <div class="division_title_middle">
                    <p><a>Соседние категории</a></p>
                </div>
                <div class="division_title_right"></div>
                <div class="clear"></div>
            </div>
            <?foreach ($this->divs_parents as $div_par) {?>
            <?if ($div_par->id != $this->id_div) {?>
                <div class="division_one_small">
                    <div class="division_one_photo_small">
                        <a href="/cat/<?=$div_par->url?>"><center><img src="<?=$this->thumb('/pics/catalog/division/'.$div_par->img, 170, 112)?>" height="112" alt="" /> </center></a>
                    </div>
                    <div class="division_one_description_small">
                        <div class="division_one_name_small">
                            <?if ($div_par->url == 'myagkaya_mebel_spec') {$style='style="font-size:14px;"';} else { $style='';}?>
                            <a <?=$style?> href="/cat/<?=$div_par->url?>"><?=strip_tags($div_par->name)?></a>
                        </div>
                    </div>
                </div>
                <?}?>
            <?}?>
            <div class="clear"></div>
        </div>
    <?}?>
<?endif?>

<?if(isset($this->childs)):
    $i = 0?>
    <?foreach ($this->childs as $child):
        $i++;?>
        <div class="divisions listing_divisions">
            <a class="listing_divisions_mob" href="/cat/<?=$child->url?>"></a>
            <div class="division_title" style="margin-left: -57px;">
            <div class="tips">
                    <div class="division_title_left"></div>
                    <div class="division_title_middle">
                        <p class="tip_p"><a class="tip_a" href="/cat/<?=$child->url?>"><?=$child->name?></a></p>
                        <div class="arrow_box"><p>Посмотреть все товары раздела</p></div>
                    </div>
                    <div class="division_title_right"></div>
                </div>
                <div class="clear"></div>
            </div>
            <?$tovars = Catalog_Division::getInstance()->getCategories($child->id)?>
            <!--new-->
            <div class="listing_slider_cell">
                <?foreach ($tovars as $tovar):
                    $division_path = $tovar->getDivisionUrl();
                    $options = $tovar->getDefaultOptions();
                    $division = ($division_path) ? "/cat/$division_path" : "/product";
                    $img = $tovar->img;?>
                    <div class="slider_item">
                        <div class="division_one_photo_small">
                            <a href="<?=$division?>/<?=$tovar->url?>">
                                <?if ($options['akciya']->value):?>
                                    <img class="action" src="/img/action_small.png" style="margin-top: -3px;" alt="Акция"/>
                                <?endif?>
                                <img src="<?=$this->thumb('/pics/catalog/product/img/'.$img, 170, 135)?>" alt="" height="112">
                            </a>
                        </div>
                        <div class="division_one_description_small">
                            <div class="division_one_name_small">
                                <a href="<?=$division?>/<?=$tovar->url?>"><?=$tovar->title_short?></a>
                            </div>
                            <div class="division_one_price_small">
                                <?if ($tovar->price > 0 && $tovar->price_old == 0):?>
                                    Цена от: <br><span><?=number_format($tovar->price,0,',',' ')?> руб.</span>
                                <?else:?>
                                <?if ($tovar->price_old > 0):?>
                                    Цена со скидкой: <br><span><?=number_format($tovar->price,0,',',' ')?> руб.</span>
                                    <?else:?>
                                        <?if ($tovar->price_with_tr > 0):?>
                                            Цена от: <br><span><?=number_format($tovar->price_with_tr,0,',',' ')?> руб.</span>
                                        <?else:?>
                                            <span>Изучение спроса</span>
                                        <?endif?>
                                    <?endif?>
                                <?endif?>
                          </div>
                        </div>
                    </div>
                <?endforeach?>
            </div>
            <!--end new-->
            <div class="clear"></div>
            <?$count = Catalog_Division::getInstance()->getCategoriesCount($child->id)?>
            <div class="view_more" align="right">
                <? $prod_string = 'товаров'; $a = 0;
                    $y = $count[0]['count_total'] % 10;
                    $x = $count[0]['count_total'] / 10 % 10;
                    if ($y == 5 || $y == 6 || $y == 7 || $y == 8 || $y == 9 || $y == 0)
                    { $prod_string = "товаров";
                        $a = 1;
                    }
                    if ($y == 1) {
                        $prod_string = 'товар';
                        $a = 1;
                    }
                    if ($a == 0) {
                        $prod_string = 'товара';
                    }
                ?>
                <span class="division_count_products"><?=$count[0]['count_total']?> <?=$prod_string?></span> <a href="/cat/<?=$child->url?>"><span>Посмотреть все модели</span> >></a>
            </div>
        </div>
    <?endforeach?>
<?endif?>
<?if($this->current_page<2):?>
    <?$block_descr = (isset($this->division)) ? $this->division->content_bottom : $this->layout()->page->content;?>
    <div class="contentTextBlock">
        <?=$block_descr?>
    </div>
<?endif?>
<script type="text/javascript" src="/js/sorting.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        if($('#product-data').text() != ''){
            var pd = $('#product-data').text();
            var pd = $.parseJSON(pd);
            var spd = sortByParameter(pd,'price', $('#price').attr('data-order'));

            generateContent(spd, $('#catalog_listing'));
        }

        $('.sort_select').click(function(){
            var spd = sortByParameter(pd,$(this).attr('id'),$(this).attr('data-order'));

            generateContent(spd, $('#catalog_listing'));
        });
        $('#reset_filter').click(function(){
            var spd = sortByParameter(pd,'price','asc');

            generateContent(spd, $('#catalog_listing'));

            $('.sort_select i').removeClass('icon-up');
            $('.sort_select i').addClass('icon-down');
        });
    });
</script>