<data>
	<sofaLabel><![CDATA[Выберите область на картинке и затем кликните по текстуре.]]></sofaLabel>
	<?if (count($this->wood_groups)){ ?>
		<wood>
			<?foreach ($this->wood_groups as $wood_group){?>
				<category label="<?=$wood_group['name'] ?>">
					<?foreach ($wood_group['items'] as $item){ ?>
							<item fillLabel="<?=$item['name'] ?>" fill="/pics/catalog/bitmaps/<?=$item['img_big'] ?>" price="<?=$item['price'] ?> руб"/>
					<?} ?>
					
				</category>			
			<?} ?>
		</wood>	
	<?} ?>
	<?if (count($this->cloth_groups)){ ?>
		<cloth>
			<?foreach ($this->cloth_groups as $cloth_group){?>
				<category label="<?=$cloth_group['name'] ?>">
					<?foreach ($cloth_group['items'] as $item){ ?>
					<item fillLabel="<?=$item['name'] ?>" fill="/pics/catalog/bitmaps/<?=$item['img_big'] ?>" price="<?=$item['price'] ?> руб"/>
					<?} ?>
					
				</category>			
			<?} ?>
		</cloth>	
	<?} ?>
</data>