﻿<?
$options = $this->options;
$i = 0;
$id = $this->unit->id;
$id_product = $this->unit->id_product;
$_cart = new Zend_Session_Namespace('cart');
$k = 0 ;

?>
<script language="javascript">
    $(document).ready(function(e) {
        try {
            $(".one_option select").msDropDown();
        } catch(e) {
            alert(e.message);
        }
    });
</script>
<script language="javascript">
function setImg(id)
{
    document.getElementById('img').src = '/thumb.php?img=/pics/catalog/product/img/' + id + '&h=320&w=440';
    document.getElementById('link').href = '/pics/catalog/product/big/' + id +'?image';
}
$(document).ready(function(){
    var $id_trans = $('select#transformers option:selected').val();
    $("#zakaz_button").attr("id_transformer", $id_trans);
    $('.dd').css({width: 230});
    $("#link").click(function(){
        $(this).attr('rel','group1');
        $("#link2").attr('rel','');
    });
    $("#link2").click(function(){
        $(this).attr('rel','group1');
        $("#link").attr('rel','');
    });

    var img_big = $('.big_img').attr('unit_image');
    $('.imageitem').each(function(){
        if ($(this).attr('id') == img_big) {$(this).attr('rel','')} else {$(this).attr('rel','group1')}
    });

    $("a[zoom]").fancybox({
        'titleShow' : true,
        'titlePosition' : 'inside',
        'transitionIn'	: 'elastic',
        'transitionOut'	: 'elastic',
        'centerOnScroll' : true
    });

    var bed_space = $('select#transformers option:selected').val();
    if (bed_space == 0) {
        $('.sleeping_place').hide();
    }

    $("a[img_lit]").click(function(){

        var img = $(this).attr('img');
        var img_big = $(this).attr('big_img');
        var title = $(this).attr("title");
        var unit = $(this).attr("id_unit");
        $("#zakaz_button").attr("id_unit", unit);
        $("#link").attr("title", title);
        $("#link2").attr("title", title);
        $('#img').attr('src','/thumb.php?img=/pics/catalog/product/img/'+img+'&h=320&w=440');

        $('#link').attr('href','/protect.php?img=/pics/catalog/product/big/'+img_big+'&wt=');
        $('#link2').attr('href','/protect.php?img=/pics/catalog/product/big/'+img_big+'&wt=');
        $('.imageitem').each(function(){
            if ($(this).attr('id') == img_big) {$(this).attr('rel','')} else {$(this).attr('rel','group1')}
        });
        $.get("/productunit/id/"+$(this).attr('id_unit')+"/cat/<?=$this->cat?>", {},
            function(data){
                if(data != '' && data != 'false'){
                    $('.additional_tovar_block').html(data);
                    var $unit = img_big.substr(0,4);
                    var $id_transformers = $('select#transformers option:selected').val();
                    if ($id_transformers == 0) {
                        $('.sleeping_place').hide();
                    }
                    else {
                        $('.sleeping_place').show();
                    }
                    $("#zakaz_button").attr("id_transformer", $id_transformers);


                    $.get("/prices/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data != '' && data != 'false'){
                                $('.tovar_price').html(data);
                            }
                        }
                    );

                    $.get("/pricesold/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data){
                                $('.unit_old_price').html(data);
                            }
                            if (data.charAt(1) != '!') {
                                $('.tovar_price').css('paddingTop', '5px');
                            }
                            else {
                                $('.tovar_price').css('padding', '20px');
                            }
                        }
                    );
                    $.get("/delivery/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data != '' && data != 'false'){
                                $('.tovar_delivery').html(data);
                            }
                        }
                    );
                } else {
                    showAlertWindow('Ошибка','error');
                }
            }
        );
    });

    $(document).on( 'change', '#material', function() {
        var $id_mat = $('select#material option:selected').val();
        var $id_transformers = $('select#transformers option:selected').val();
        var $unit=$('select#transformers option:selected').attr('unit');
        if ($unit === undefined) {
            $unit = 0;
        }
        if ($id_transformers == 0) {
            $('.sleeping_place').hide();
        }
        else {
            $('.sleeping_place').show();
        }
        $("#zakaz_button").attr("id_transformer", $id_transformers);
        $.get("/prices/id/"+$unit+"/transformer/"+$id_transformers, {},
            function(data){
                if(data != '' && data != 'false'){
                    $('.tovar_price').html(data);
                }
            }
        );
        $.get("/pricesold/id/"+$unit+"/transformer/"+$id_transformers, {},
            function(data){
                if(data){
                    $('.unit_old_price').html(data);
                }
                if (data.charAt(1) != '!') {
                    $('.tovar_price').css('paddingTop', '5px');
                }
                else {
                    $('.tovar_price').css('padding', '20px');
                }
            }
        );
        $.get("/productunit/id/"+$(this).attr('id_unit')+"/cat/<?=$this->cat?>"+"/mat/" + $id_mat + "/pr/" + $(this).attr('id_tovar'), {},
            function(data){
                if(data != '' && data != 'false'){
                    $('.additional_tovar_block').html(data);
                    var $unit=$('select#material option:selected').attr('unit');
                    var img = $unit+"_img.jpg";
                    var img_big = $unit+"_img.jpg";
                    var title = $(this).attr("title");
                    $("#zakaz_button").attr("id_unit", $unit);

                    $("#link").attr("title", title);
                    $("#link2").attr("title", title);
                    $('#img').attr('src','/thumb.php?img=/pics/catalog/product/img/'+img+'&h=320&w=440');

                    $('#link').attr('href','/protect.php?img=/pics/catalog/product/big/'+img_big+'&wt=');
                    $('#link2').attr('href','/protect.php?img=/pics/catalog/product/big/'+img_big+'&wt=');
                    $.get("/delivery/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data != '' && data != 'false'){
                                $('.tovar_delivery').html(data);
                            }
                        }
                    );
                } else {
                    showAlertWindow('Ошибка','error');
                }
            }
        );
    });

    $(document).on( 'change', '#color', function() {
        var $id_color = $('select#color option:selected').val();
        var $id_transformers = $('select#transformers option:selected').val();
        if ($id_transformers === undefined) {
            $id_transformers = 0;
        }
        var $unit=$('select#material option:selected').attr('unit');
        if ($unit === undefined) {
            $unit = 0;
        }
        if ($id_transformers == 0) {
            $('.sleeping_place').hide();
        }
        else {
            $('.sleeping_place').show();
        }
        $.get("/productunit/id/"+$(this).attr('id_unit')+"/cat/<?=$this->cat?>"+"/color/" + $id_color + "/pr/" + $(this).attr('id_tovar'), {},
            function(data){
                if(data != '' && data != 'false'){
                    $('.additional_tovar_block').html(data);
                    var $unit=$('select#color option:selected').attr('unit');
                    var img = $unit+"_img.jpg";
                    var img_big = $unit+"_img.jpg";
                    var title = $(this).attr("title");
                    $("#zakaz_button").attr("id_unit", $unit);

                    $("#link").attr("title", title);
                    $("#link2").attr("title", title);
                    $('#img').attr('src','/thumb.php?img=/pics/catalog/product/img/'+img+'&h=320&w=440');
                    $('#link').attr('href','/protect.php?img=/pics/catalog/product/big/'+img_big+'&wt=');
                    $('#link2').attr('href','/protect.php?img=/pics/catalog/product/big/'+img_big+'&wt=');
                    console.log($unit);
                    $.get("/delivery/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data != '' && data != 'false'){
                                $('.tovar_delivery').html(data);
                            }
                        }
                    );
                    $.get("/prices/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data != '' && data != 'false'){
                                $('.tovar_price').html(data);
                            }
                        }
                    );
                    $.get("/pricesold/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data){
                                $('.unit_old_price').html(data);
                            }
                            if (data.charAt(1) != '!') {
                                $('.tovar_price').css('paddingTop', '5px');
                            }
                            else {
                                $('.tovar_price').css('padding', '20px');
                            }
                        }
                    );
                } else {
                    showAlertWindow('Ошибка','error');
                }
            }
        );
    });

    $(document).on( 'change', '#decor', function() {
        var $id_decor = $('select#decor option:selected').val();
        var $id_transformers = $('select#transformers option:selected').val();
        var $unit=$('select#transformers option:selected').attr('unit');
        if ($unit === undefined) {
            $unit = 0;
        }
        if ($id_transformers == 0) {
            $('.sleeping_place').hide();
        }
        else {
            $('.sleeping_place').show();
        }
        $("#zakaz_button").attr("id_transformer", $id_transformers);
        $.get("/prices/id/"+$unit+"/transformer/"+$id_transformers, {},
            function(data){
                if(data != '' && data != 'false'){
                    $('.tovar_price').html(data);
                }
            }
        );
        $.get("/pricesold/id/"+$unit+"/transformer/"+$id_transformers, {},
            function(data){
                if(data){
                    $('.unit_old_price').html(data);
                }
                if (data.charAt(1) != '!') {
                    $('.tovar_price').css('paddingTop', '5px');
                }
                else {
                    $('.tovar_price').css('padding', '20px');
                }
            }
        );
        $.get("/productunit/id/"+$(this).attr('id_unit')+"/cat/<?=$this->cat?>"+"/decor/" + $id_decor + "/pr/" + $(this).attr('id_tovar'), {},
            function(data){
                if(data != '' && data != 'false'){
                    $('.additional_tovar_block').html(data);
                    var $unit=$('select#decor option:selected').attr('unit');
                    var img = $unit+"_img.jpg";
                    var img_big = $unit+"_img.jpg";
                    var title = $(this).attr("title");
                    $("#zakaz_button").attr("id_unit", $unit);

                    $("#link").attr("title", title);
                    $("#link2").attr("title", title);
                    $('#img').attr('src','/thumb.php?img=/pics/catalog/product/img/'+img+'&h=320&w=440');
                    $('#link').attr('href','/protect.php?img=/pics/catalog/product/big/'+img_big+'&wt=');
                    $('#link2').attr('href','/protect.php?img=/pics/catalog/product/big/'+img_big+'&wt=');
                    $.get("/delivery/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data != '' && data != 'false'){
                                $('.tovar_delivery').html(data);
                            }
                        }
                    );
                } else {
                    showAlertWindow('Ошибка','error');
                }
            }
        );
    });

    $(document).on( 'change', '#transformers', function() {
        console.log('trans');
        var $id_transformers = $('select#transformers option:selected').val();
        var $unit=$('select#transformers option').attr('unit_id');
        $("#zakaz_button").attr("id_transformer", $id_transformers);
        if ($id_transformers == 0) {
            $('.sleeping_place').hide();
        }
        else {
            $('.sleeping_place').show();
        }
        $.get("/prices/id/"+$unit+"/transformer/"+$id_transformers, {},
            function(data){
                if(data != '' && data != 'false'){
                    $('.tovar_price').html(data);
                }
            }
        );
        $.get("/pricesold/id/"+$unit+"/transformer/"+$id_transformers, {},
            function(data){
                if(data){
                    $('.unit_old_price').html(data);
                }
                if (data.charAt(1) != '!') {
                    $('.tovar_price').css('paddingTop', '5px');
                }
                else {
                    $('.tovar_price').css('padding', '20px');
                }
            }
        );
        $.get("/delivery/id/"+$unit+"/transformer/"+$id_transformers, {},
            function(data){
                if(data != '' && data != 'false'){
                    $('.tovar_delivery').html(data);
                }
            }
        );
    });

    $(document).on( 'change', '#clr', function() {
        var $id_clr = $('select#clr option:selected').val();
        var $type = $('select#clr option:selected').attr('just_type');
        $.get("/productunit/id/"+$(this).attr('id_unit')+"/cat/<?=$this->cat?>"+"/clr/" + $id_clr + "/pr/" + $(this).attr('id_tovar')+"/type/"+$type, {},
            function(data){
                if(data != '' && data != 'false'){
                    $('.additional_tovar_block').html(data);
                    var $unit=$('select#clr option:selected').attr('unit');
                    var img = $unit+"_img.jpg";
                    var img_big = $unit+"_img.jpg";
                    var title = $(this).attr("title");
                    $("#zakaz_button").attr("id_unit", $unit);
                    $("#link").attr("title", title);
                    $("#link2").attr("title", title);
                    $('#img').attr('src','/thumb.php?img=/pics/catalog/product/img/'+img+'&h=320&w=440');
                    $('#link').attr('href','/protect.php?img=/pics/catalog/product/big/'+img_big+'&wt=');
                    $('#link2').attr('href','/protect.php?img=/pics/catalog/product/big/'+img_big+'&wt=');
                    var $id_transformers = $('select#transformers option:selected').val();
                    $("#zakaz_button").attr("id_transformer", $id_transformers);
                    $.get("/prices/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data != '' && data != 'false'){
                                $('.tovar_price').html(data);
                            }
                        }
                    );
                    $.get("/pricesold/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data){
                                $('.unit_old_price').html(data);
                            }
                            if (data.charAt(1) != '!') {
                                $('.tovar_price').css('paddingTop', '5px');
                            }
                            else {
                                $('.tovar_price').css('padding', '20px');
                            }
                        }
                    );
                    $.get("/delivery/id/"+$unit+"/transformer/"+$id_transformers, {},
                        function(data){
                            if(data != '' && data != 'false'){
                                $('.tovar_delivery').html(data);
                            }
                        }
                    );
                } else {
                    showAlertWindow('Ошибка','error');
                }
            }
        );
    });

});

$(".zakaz_button").on('click', function(){
    $('.buy').hide();
    $('.zakaz_button').hide();
    $('.in_basket').show();
});



function getMat() {
    var $id_mat = $('select#material option:selected').val();
    $('.mat_block_'+$id_mat).show();
}

function hideMat() {
    var $id_mat = $('select#material option:selected').val();
    $('.mat_block_'+$id_mat).hide();
}

function getDec() {
    var $id_decor = $('select#decor option:selected').val();
    $('.dec_block_'+$id_decor).show();
}

function hideDec() {
    var $id_decor = $('select#decor option:selected').val();
    $('.dec_block_'+$id_decor).hide();
}

function getTrans() {
    var $id_transformers = $('select#transformers option:selected').val();
    $('.trans_block_'+$id_transformers).show();
}

function hideTrans() {
    var $id_transformers = $('select#transformers option:selected').val();
    $('.trans_block_'+$id_transformers).hide();
}

function getColor() {
    var $id_color = $('select#color option:selected').val();
    $('.color_block_'+$id_color).show();
}

function hideColor() {
    var $id_color = $('select#color option:selected').val();
    $('.color_block_'+$id_color).hide();
}

function getClr() {
    var $id_clr = $('select#clr option:selected').val();
    $('.clr_block_'+ $id_clr).show();
}

function hideClr() {
    var $id_clr = $('select#clr option:selected').val();
    $('.clr_block_'+ $id_clr).hide();
}
</script>

<style>
    .main_content_div .h1 {display:none;}
    .sub_content {padding: 0px;}
    .dropdown ul {padding: 0px;}
    .one_option .selectbox .dropdown {width: 274px;}
    .one_option .selectbox .select {width: 220px;}
    .in_basket {margin-left: 0px; margin-top: 0px;}
</style>

<div class="product_order">
    <div class="product_order_inner">
        <div class="close"></div>
        <p>Товар добавлен в корзину</p>
        <div class="product_order_name clearfix">
            <div class="product_order_name_l"><?=$this->product->title?></div>
            <div class="product_order_name_r">Кол. 1шт.</div>
        </div>
        <div class="product_order_button clearfix">
            <div class="product_order_button_1 order_button"><a href="/cart">Перейти в корзину</a></div>
            <div class="product_order_button_2 order_button">Продолжить покупки</div>
        </div>
    </div>
</div>


<div class="fast_buy_form">
    <div class="order_wrapper" style="padding: 0px;">
        <div class="order_form">
            <h1>Оформление заказа:</h1>
            <a class="fast_buy_close" align="right"><img style="margin-top: -32px;" src="/img/fast_buy_close.png"></a>
            <div class="contacts_form_wrapper">
                <div class="contacts_form">
                    Символом * отмечены поля, обязательные для заполнения
                    <form action="javascript:void(null);" method="post" id="zakaz" name="zakaz">
                        <div class="fast_buy_options">
                            <div class="order_option">
                                <label>Ваше имя *</label>
                                <input name="form[user_name]" maxlength="200" value="<?=(isset($order['user_name']))? $order['user_name']:''?>" type="text" class="w_320 required" id="form_name"/>
                                <div class="clear"></div>

                            </div>
                            <div class="order_option">

                                <label>Город</label>
                                <input name="form[user_city]" maxlength="200" type="text" value="<?=(isset($order['user_city']))? $order['user_city']:''?>" class="w_320 required" id="form_city" />
                                <div class="clear"></div>

                            </div>
                            <div class="order_option">

                                <label>Улица</label>
                                <input name="form[user_street]" maxlength="200" type="text" value="<?=(isset($order['user_street']))? $order['user_street']:''?>" class="w_320 required"  id="form_street"/>
                                <div class="clear"></div>

                            </div>
                            <div class="order_option">

                                <label>Дом</label>
                                <input name="form[user_house]" maxlength="200" type="text" value="<?=(isset($order['user_house']))? $order['user_house']: '' ?>" class="w_320 required"  id="form_house"/>
                                <div class="clear"></div>

                            </div>
                            <div class="order_option">

                                <label>Корпус</label>
                                <input name="form[user_block]" maxlength="200" type="text" value="<?=(isset($order['user_block']))? $order['user_block']:''?>" class="w_320" />
                                <div class="clear"></div>

                            </div>
                            <div class="order_option">

                                <label>Квартира</label>
                                <input name="form[user_flat]" maxlength="200" type="text" value="<?=(isset($order['user_flat']))? $order['user_flat']: ''?>" class="w_320" />
                                <div class="clear"></div>

                            </div>
                            <div class="order_option">

                                <label>Телефон *</label>
                                <input name="form[user_phone]" maxlength="200" type="text" value="<?=(isset($order['user_phone']))? $order['user_phone']:''?>" class="w_320 required"  id="form_phone"/>
                                <div class="clear"></div>
                            </div>
                            <div class="order_option">

                                <label>E-mail</label>
                                <input name="form[user_email]" type="text" value="<?=(isset($order['user_email']))? $order['user_email']:'' ?>" class="w_320 required email"  id="form_email"/>
                                <div class="clear"></div>
                            </div>
                            <div class="order_option">

                                <label>Промокод</label>
                                <input name="form[promokod]" maxlength="200" type="text" value="<?=(isset($order['promokod']))? $order['promokod']: ''?>" class="w_320" />
                                <div class="clear"></div>

                            </div>
                            <div class="order_option">

                                <label>Коментарий</label>
                                <textarea name="form[user_comment]" maxlength="1000" cols="45" rows="5" style="width: 200px;"><?=(isset($order['user_comment']))? $order['user_comment']: ''?></textarea>
                                <div class="clear"></div>
                            </div>
                            <div class="order_option">
                                Для защиты от спама посчитайте, пожалуйста:
                            </div>
                            <div class="order_option">
                                <label> <?=$this->captcha?> =</label>
                                <input name="form[captcha]" type="text" class="input" id="form-captcha"/>
                                <?$captcha_value = ($_SESSION['answer'])*2;?>
                                <div style="display: none" class="ans_ss"><?=$captcha_value?></div>
                                <input type="hidden" name="form[captch_res]" id="form_rslt" value="<?=$captcha_value?>"/>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="fast_buy_info">
                            <div class="fast_buy_image">
                                <center><img class="fast_buy_img" src="" /></center>
                            </div>
                            <div class="fast_buy_title" align="right">
                                <?=$this->product->title?>
                            </div>
                            <div class="fast_buy_count" align="right">
                                <img src="/img/minus.png" class="fast_buy_minus">
                                <div class="count_products">1</div>
                                <img src="/img/plus.png" class="fast_buy_plus">
                                <div class="count_title">Количество:</div>

                                <div class="clear"></div>
                            </div>
                            <div class="fast_buy_prices">
                                <div class="fast_buy_total_price"></div>
                                <div class="fast_buy_prices_title">Стоимость:</div>
                                <div class="clear"></div>
                            </div>
                            <div class="error_message" style="color:red"></div>
                            <input type="hidden" name="form[count_products]" id="count_products_form">
                            <input type="hidden" name="form[transformer]" id="transformer_form">
                            <input type="hidden" name="form[id_unit]" id="id_unit_form">
                            <input type="hidden" name="form[id_product]" value="<?=$this->product->id?>">
                        </div>
                        <div class="clear"></div>
                        <img style="position: absolute; margin-top: -30px; margin-left:480px;" src="/img/send.png" checking="1" id="send_fast_zakaz" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div itemscope itemtype="http://schema.org/Product">
<div class="tovar_right_side" >
<div class="top_tovar_block">
    <div class="tovar_h1">
        <h1 itemprop="name"><?=$this->product->title?></h1>
    </div>
    <div class="clear"></div>
</div>
<?if ($this->product->img_3d == 1) {?>
<script type="text/javascript" src="/js/360.js" >
</script><link rel="stylesheet" type="text/css" href="/css/360.css" />
<script type="text/javascript">
    Magic360.lang = {
        'hint-text': '3D'
        ,'mobile-hint-text': '3D'
        ,'loading-text': 'Загрузка…'
    }
    $(document).ready(function () {
        $('.bt3d').click(function () {
            $('.big_img_tovar').hide();
            $('.tovar_3d').show();
        });

        $('.not3d').click(function () {
            $('.big_img_tovar').show();
            $('.tovar_3d').hide();
        });
    });
</script>

<?}?>


<div class="tovar_image">
    <div class="tovar_image_big">

        <div class="tovar_3d" style="display: none;">
            <a class="Magic360" data-magic360-options="filename:{col}.jpg; magnify-filename:{col}.jpg; columns: 35;" href="/3d/<?=$this->product->link_3d_img?>/800/01.jpg"><img src="/3d/<?=$this->product->link_3d_img?>/360/01.jpg" /></a>
        </div>

        <div class="big_img_tovar">
            <?if($this->unit->img){
            if($this->unit->img_big){?>

                <!--<a id="link2" rel="" zoom="true" href="/cached_images/big/<?/*=$this->unit->img_big*/?>?image">-->
                <a id="link2" rel="" zoom="true" href="/protect.php?img=/pics/catalog/product/big/<?=$this->unit->img_big?>&wt=">
                    <?}?>
                    <?if ($options['akciya']->value){?>
                    <img class="action_tovar" style="width:auto;margin-top: 27px; margin-left: -7px" src="/img/action.png" alt="<?=$this->escape($this->product->title)?>"/>
                    <?}?>
                    <img itemprop="image" class="big_img" id="img" unit_image="<?=$this->unit->img?>" src="/thumb.php?img=/pics/catalog/product/img/<?=$this->unit->img?>&h=320&w=440" alt="<?=$this->escape($this->product->title)?>" />
                    <?if($this->unit->img_big){?>
                </a>

            <?}
            }?>
        </div>
    </div>
</div>

<div class="tovar_info">
    <div class="tovar_info_availability">
        <div class="tovar_delivery">
            <?=$this->partial('index/delivery.phtml',array(
            'delivery'	=> $this->delivery
            ))?>
        </div>
    </div>
    <center>
        <div  style="font-weight: bold;" class="unit_old_price">
            <?if ($this->unit['price_old'] != 0 && $this->unit['price_old'] != null) {?>
            <center>


                <p class="old_price">Старая цена: <span><?=number_format($this->unit['price_old'],0,',',' ');?> руб.</span></p>
                <p class="new_price">Новая цена:</p>


            </center>
            <style>.tovar_price {padding-top: 5px;}</style>
            <?}?>
        </div>
        <?if($this->product['product_type'] && $this->product['product_type']==2){?>
            <div class="price_from">Цена от </div>
        <?}?>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="tovar_price"><span itemprop="price">
                <?if (isset($this->unit['price']) && $this->unit['price']) {?>
            <?=number_format($this->unit['price'],0,',',' ');?> </span>руб.
            <?} else {?>
            <?if (isset($this->unit['price_with_tr']) && $this->unit['price_with_tr']) {?>
            <?=number_format($this->unit['price_with_tr'],0,',',' ');?> </span>руб.
            <?} else {?>
            <?if ($this->product['price'] > 0) {?>
            <?=number_format($this->product['price'],0,',',' ');?> </span>руб.
            <?} else {?>
            Изучение спроса</span>
            <?}?>
            <?}}?>
            <meta itemprop="priceCurrency" content="RUB">
        </div>
    </center>
    <div class="button_buy_right">
        <?
            if (isset($_cart->products)) {
        foreach($_cart->products as $key => $value)
        {
        if ($value['id_product'] == $id_product)
        {?>
        <a href="/cart">В корзине</a>
        <?$k=1;?>
        <?}
                }}?>
        <?if ($k !=1) {?>
        <a href="/cart" style="display:none;"  class="in_basket">В корзине</a>
        <a href="#" id="zakaz_button" id_unit="<?=$this->unit->id?>" division="<?=$this->id_division?>" class="zakaz_button" onclick="yaCounter20050684.reachGoal('korzina'); return true;">
            Добавить в корзину</a>
            <!--<span>В корзину</span>-->
        <?}?>
    </div>
    <a class="fast_buy" id_unit="<?=$this->unit->id?>" onclick="yaCounter20050684.reachGoal('Bzakaz'); return true;">Заказ в 1 клик</a>
    <center>
        <div class="guarantee">
            Гарантия 24 месяца
        </div>
        <div class="right_links">
            <p>
                <a target="_blank" href="http://pinskdrev.msk.ru/dostavka_mebeli_po_rossii">Услуги по доставке</a>
            </p>
            <p>
                <a target="_blank" href="http://pinskdrev.msk.ru/mebel_ot_proizvoditelya/item/17">Услуги по сборке</a>
            </p>
        </div>
    </center>
    <div style="height: 15px;"></div>
</div>
<div class="clear"></div>

<!--
    <?/*if ($this->product->img_3d == 1) {*/?>
    <div class="bt3d"><img style="max-width: 157px" src="/pics/catalog/product/img/<?/*=$this->unit->img*/?>" alt=""></div>
        --><?/*}*/?>
<div class="additional_photos">
    <?if(count($this->images)>1 || $this->product->img_3d == 1){?>
    <div class="carousel fingers product_color_cell">
        <?$count = count($this->images);

        if ($this->product->img_3d == 1) {
        $countImgI = 2;
        }else{
        $countImgI = 1;
        }

        //$countImgI = 1;
        $countImgJ = 1;
        ?>
        <?if ($count>4) {?>
        <!--<div class="arrowLeft2"></div>-->
        <!--<div class="arrowRight2"></div>-->
        <?}?>
        <!--<div id="gallery2" class="related_gal" style="overflow:hidden; width: 750px; height: 135px; margin-left: 5px;">-->
            <!--<ul class="slider2" style="padding-left: 0px;">-->
                <?if ($this->product->img_3d == 1) {?>
                <!--<li style="width: 188px; height: 135px; float:left;">-->
                <!--<li style="width: 760px; height: 135px; float:left;">-->
                    <?}?>
                    <?foreach($this->images as $images){?>
                    <?if ($countImgI==1){?>
                <!--<li style="width: 188px; height: 135px; float:left;">-->
                <!--<li style="width: 760px; height: 135px; float:left;">-->
                    <?}?>

                    <?if ($this->product->img_3d == 1 && $countImgJ == 1) {?>
                    <div class="photo bt3d"><div class="bt3d_ico"></div><center><img style="max-width: 120px" src="/pics/catalog/product/img/<?=$this->unit->img?>" alt=""></center></div>
                    <?}?>

                    <div class="photo not3d">
                        <center><a img_lit="true" id_unit="<?=$images->id?>" img="<?=$images->img?>" big_img="<?=$images->img_big?>" id="<?=$images->img?>" href="" onclick="return false">
                            <img src="<?=$this->thumb('/pics/catalog/product/img/'.$images->img, 120, 79)?>" alt="<?=$this->escape($images->title)?>" />
                        </a></center>
                    </div>
                    <?if ($count == $countImgJ) {?>
                <!--</li>-->
                <?}elseif($countImgI == 4){?>
                <!--</li>-->
                <?$countImgI=0;?>
                <?}?>

                <?$countImgI++;?>
                <?$countImgJ++;?>

                <?}?>

            <!--</ul>-->
            <?if ($count > 4) {?>
            <!--<script>-->
                <!--slider2();-->
            <!--</script>-->
            <?}?>
            <div class="clear"></div>
        </div>

    </div>
    <div style="display: none" class="imagelist">
        <?foreach($this->images as $key=>$image){
        $i++;?>
        <a class="imageitem" id="<?=$image->img_big?>" zoom="true" rel="<?=($this->product->img_big == $image->img_big)? '':'group1'?>" href="/protect.php?img=/pics/catalog/product/big/<?=$image->img_big ?>&wt=" alt="<?=$this->escape($image->title)?>"></a>
        <?}?>
    </div>
    <?}?>

</div>
</div>
<div class="tovar_left_side">
    <div class="additional_tovar_block">
        <?=$abew = $this->partial('index/productunit.phtml',array(
            'product'	=> $this->product,
            'unit'		=> $this->unit,
            'options'	=> $this->options,
            'id_division'=>$this->id_division,
            'complect'	=> $this->complect,
            'default_materials'	=> $this->default_materials,
            'default_bitmaps'	=> $this->default_bitmaps,
            'default_fabrics'	=> $this->default_fabrics,
            'default_decors'	=> $this->default_decors,
            'default_colors'	=> $this->default_colors,
            'default_transformers' => $this->default_transformers,
            'isSoft'	=> $this->isSoft,
            'mebeltypes' => $this->mebeltypes
        ))?>

    </div>
</div>

<div class="clear"></div>
<?if(count($this->elements)>0){?>
<div class="product_table">
    <table>
        <tr>
            <th class="table_cell_1">Фото</th>
            <th class="table_cell_2">Название элемента</th>    
            <th class="table_cell_2"></th>           
            <th class="table_cell_2">На складе в Москве</th>
            <th class="table_cell_2">На складе в Беларуси</th>
            <th class="table_price_product">Цена</th>
            <th class="table_cell_by"></th>
        </tr>
        <?$dataColors[] = null;?>
        
        <?foreach($this->elements as $key => $data){?>
            <?if($data->active){?>
                <?if ($this->product->product_type=='1'){?>                    
                    <?if(!in_array($data->color_ids,$dataColors) || !$data->color_ids){?>
                        <?if($this->product->transformer_ids == ''){?>
                            <tr>
                                <td class="table_cell_1">
                                    <img alt="<?=$data->title?>" src="/thumb.php?img=/pics/catalog/product/img/<?=$data->img?>&w=120&h=120">
                                </td>
                                <td class="table_cell_2">
                                    <?php
                                        echo $data->title;
                                        if($this->product->nomenclature != 'K') echo "</br>(механизм трансформации отсутствует)";
                                    ?>
                                </td>
                                <td class="table_cell_2">
                                </td>
                                <td class="table_cell_2">
                                    <?if ($data->in_stock_into_store > 0) {?>
                                            <?=$data->in_stock_into_store?> шт.    
                                    <?} else {?>
                                            уточняйте
                                    <?}?>
                                </td>
                                <td class="table_cell_2">
                                    <?if ($data->in_stock_to_factory > 0) {?>
                                            <?=$data->in_stock_to_factory?> шт.    
                                    <?} else {?>
                                            уточняйте
                                    <?}?>
                                </td>
                                <td class="table_price_product">
                                    <?if ($data->price > 0) {?>
                                    <?=number_format($data->price,0,',',' ');?> руб.
                                    <?} else {?>
                                    Изучение спроса
                                    <?}?>
                                </td>
                                <td><div class="btn_by">Купить</div></td>
                            </tr>
                        <?}elseif($data->only_transform){?>                            
                            <tr>
                                <td class="table_cell_1">
                                    <img alt="<?=$data->title?>" src="/thumb.php?img=/pics/catalog/product/img/<?=$data->img?>&w=120&h=120">
                                </td>
                                <td class="table_cell_2"><?=$data->title?></br>(с механизмом трансформации)</td>
                                <td class="table_cell_2">
                                </td>
                                <td class="table_cell_2">
                                    <?if ($data->in_stock_into_store_tr > 0) {?>
                                            <?=$data->in_stock_into_store_tr?> шт.    
                                    <?} else {?>
                                            уточняйте
                                    <?}?>
                                </td>
                                <td class="table_cell_2">
                                    <?if ($data->in_stock_to_factory_tr > 0) {?>
                                            <?=$data->in_stock_to_factory_tr?> шт.    
                                    <?} else {?>
                                            уточняйте
                                    <?}?>
                                </td>
                                <td class="table_price_product">
                                    <?if ($data->price_with_tr > 0) {?>
                                    <?=number_format($data->price_with_tr,0,',',' ');?> руб.
                                    <?} else {?>
                                    Изучение спроса
                                    <?}?>
                                </td>
                                <td><div class="btn_by">Купить</div></td>
                            </tr>
                        <?}else{?>
                            <tr>
                                <td  rowspan="2" class="table_cell_1">
                                    <img alt="<?=$data->title?>" src="/thumb.php?img=/pics/catalog/product/img/<?=$data->img?>&w=120&h=120">
                                </td>
                                <td rowspan="2" class="table_cell_2"><?=$data->title?></td>
                                <td class="table_cell_2">
                                без механизма
                                </td>
                                <td class="table_cell_2">
                                    <?if ($data->in_stock_into_store > 0) {?>
                                            <?=$data->in_stock_into_store?> шт.    
                                    <?} else {?>
                                            уточняйте
                                    <?}?>
                                </td>
                                <td class="table_cell_2">
                                    <?if ($data->in_stock_to_factory > 0) {?>
                                            <?=$data->in_stock_to_factory?> шт.    
                                    <?} else {?>
                                            уточняйте
                                    <?}?>
                                </td>
                                <td class="table_price_product">
                                    <?if ($data->price > 0) {?>
                                    <?=number_format($data->price,0,',',' ');?> руб.
                                    <?} else {?>
                                    Изучение спроса
                                    <?}?>
                                </td>
                                <td><div class="btn_by">Купить</div></td>
                            </tr>
                            <tr>
                                <td class="table_cell_2">
                                    с механизмом
                                </td>
                                <td class="table_cell_2">
                                    <?if ($data->in_stock_into_store_tr > 0) {?>
                                    <?=$data->in_stock_into_store_tr?> шт.
                                    <?} else {?>
                                    уточняйте
                                    <?}?>
                                </td>
                                <td class="table_cell_2">
                                    <?if ($data->in_stock_to_factory_tr > 0) {?>
                                    <?=$data->in_stock_to_factory_tr?> шт.
                                    <?} else {?>
                                    уточняйте
                                    <?}?>
                                </td>
                                <td class="table_price_product">
                                     <?if ($data->price_with_tr > 0) {?>
                                    <?=number_format($data->price_with_tr,0,',',' ');?> руб.
                                    <?} else {?>
                                    Изучение спроса
                                    <?}?>
                                </td>
                                <td><div class="btn_by">Купить</div></td>
                            </tr>
                        <?}?>
                    <?}?>
                    <?$dataColors[] = $data->color_ids?>
                <?}else{?>
                    <?if($this->product->transformer_ids == ''){?>
                        <tr>
                            <td class="table_cell_1">
                                <img alt="<?=$data->title?>" src="/thumb.php?img=/pics/catalog/product/img/<?=$data->img?>&w=120&h=120">
                            </td>
                            <td class="table_cell_2"><?=$data->title?></br>(механизм трансформации отсутствует)</td>
                            <td class="table_cell_2">
                            </td>
                            <td class="table_cell_2">
                                <?if ($data->in_stock_into_store > 0) {?>
                                        <?=$data->in_stock_into_store?> шт.    
                                <?} else {?>
                                        уточняйте
                                <?}?>
                            </td>
                            <td class="table_cell_2">
                                <?if ($data->in_stock_to_factory > 0) {?>
                                        <?=$data->in_stock_to_factory?> шт.    
                                <?} else {?>
                                        уточняйте
                                <?}?>
                            </td>
                            <td class="table_price_product">
                                <?if ($data->price > 0) {?>
                                <?=number_format($data->price,0,',',' ');?> руб.
                                <?} else {?>
                                Изучение спроса
                                <?}?>
                            </td>
                            <td><div class="btn_by">Купить</div></td>
                        </tr>
                    <?}elseif($data->only_transform){?>                            
                        <tr>
                            <td class="table_cell_1">
                                <img alt="<?=$data->title?>" src="/thumb.php?img=/pics/catalog/product/img/<?=$data->img?>&w=120&h=120">
                            </td>
                            <td class="table_cell_2"><?=$data->title?></br>(с механизмом трансформации)</td>
                            <td class="table_cell_2">
                            </td>
                            <td class="table_cell_2">
                                <?if ($data->in_stock_into_store_tr > 0) {?>
                                        <?=$data->in_stock_into_store_tr?> шт.    
                                <?} else {?>
                                        уточняйте
                                <?}?>
                            </td>
                            <td class="table_cell_2">
                                <?if ($data->in_stock_to_factory_tr > 0) {?>
                                        <?=$data->in_stock_to_factory_tr?> шт.    
                                <?} else {?>
                                        уточняйте
                                <?}?>
                            </td>
                            <td class="table_price_product">
                                <?if ($data->price_with_tr > 0) {?>
                                <?=number_format($data->price_with_tr,0,',',' ');?> руб.
                                <?} else {?>
                                Изучение спроса
                                <?}?>
                            </td>
                            <td><div class="btn_by">Купить</div></td>
                        </tr>
                    <?}else{?>
                        <tr>
                            <td rowspan="2" class="table_cell_1">
                                <img alt="<?=$data->title?>" src="/thumb.php?img=/pics/catalog/product/img/<?=$data->img?>&w=120&h=120">
                            </td>
                            <td rowspan="2" class="table_cell_2"><?=$data->title?></td>
                            <td class="table_cell_2">
                            без механизма
                            </td>
                            <td class="table_cell_2">
                                <?if ($data->in_stock_into_store > 0) {?>
                                        <?=$data->in_stock_into_store?> шт.    
                                <?} else {?>
                                        уточняйте
                                <?}?>
                            </td>
                            <td class="table_cell_2">
                                <?if ($data->in_stock_to_factory > 0) {?>
                                        <?=$data->in_stock_to_factory?> шт.    
                                <?} else {?>
                                        уточняйте
                                <?}?>
                            </td>
                            <td class="table_price_product">
                                <?if ($data->price > 0) {?>
                                <?=number_format($data->price,0,',',' ');?> руб.
                                <?} else {?>
                                Изучение спроса
                                <?}?>
                            </td>
                            <td><div class="btn_by">Купить</div></td>
                        </tr>
                        <tr>
                            <td class="table_cell_2">
                                с механизмом
                            </td>
                            <td class="table_cell_2">
                                <?if ($data->in_stock_into_store_tr > 0) {?>
                                <?=$data->in_stock_into_store_tr?> шт.
                                <?} else {?>
                                уточняйте
                                <?}?>
                            </td>
                            <td class="table_cell_2">
                                <?if ($data->in_stock_to_factory_tr > 0) {?>
                                <?=$data->in_stock_to_factory_tr?> шт.
                                <?} else {?>
                                уточняйте
                                <?}?>
                            </td>
                            <td class="table_price_product">
                                <?if ($data->price_with_tr > 0) {?>
                                <?=number_format($data->price_with_tr,0,',',' ');?> руб.
                                <?} else {?>
                                Изучение спроса
                                <?}?>
                            </td>
                            <td><div class="btn_by">Купить</div></td>
                        </tr>
                    <?}?>       
                <?}?>
            <?}?>
        <?}?>
    </table>
</div>
<div class="align-centr">
    <div class="see_more_table">посмотреть все элементы</div>
</div>
<?}?>
<div class="tovar_content_dostavka">
    <article itemprop="description">
        <?=$this->product->description?>
    </article>
    </div>
<div class="clear"></div>
<!--</div>-->
<?if (count($this->product_contacts) != 0) {
    $count = count($this->product_contacts);
    ?>
    <div class="related_contacts">
        <div class="division">
            <div class="division_title" style="margin-left: -17px;">
                <div class="division_title_left"></div>
                <div class="division_title_middle">
                    <p>Где купить</p>
                </div>
                <div class="division_title_right"></div>
                <div class="clear"></div>
            </div>
        </div>
        <div style="padding: 0px 20px;">
            <?if ($count>3) {?>
            <style>.division_one {margin-top: 5px;}</style>
            <div class="arrowLeft21"></div>
            <div class="arrowRight21"></div>
            <div id="gallery21" class="related_gal" style="overflow:hidden; width: 1210px; height: 210px; margin-left: 5px;">
                <ul class="slider21" style="padding-left: 0px;">
                    <?}?>
                    <?$i=0?>
                    <?foreach ($this->product_contacts as $contacts) {?>
                        <?$i++;?>
                        <?if ($count>3){?>
                            <li style="width: 380px; height: 210px; float:left;">
                        <?}?>
                        <div class="division_two">
                            <div class="division_two_left">
                                <div class="division_two_title">
                                    <?=$contacts->title?>
                                </div>
                                <div class="division_two_descr">
                                    <?=$contacts->intro?>
                                </div>
                            </div>
                            <div class="division_two_right">
                                <?if ($contacts->img !='') {?>
                                    <a class="zoom" href="/pics/catalog/contacts/<?=$contacts->img?>">
                                        <img src="/pics/catalog/contacts/<?=$contacts->img?>" width="155" height="145" alt="" />
                                    </a>
                                <?}?>
                            </div>
                        </div>
                        <?if ($i<=$count-1) {?>

                            <div class="contacts_divider"></div>

                        <?}?>
                        <?if ($count>3){?>
                            </li>
                        <?}?>
                    <?}?>
                    <div class="clear"></div>
                    <?if ($count > 3) {?>
                </ul>
                <script>
                    slider21();
                </script>
                <div class="clear"></div>
            </div>
        <?}?>
        </div>
    </div>
    <div class="clear"></div>
<?}?>
<?if (count($this->collection) > 0) {?>
<div class="related_tovars">
    <div class="division">
        <div class="division_title">
            <div class="division_title_left"></div>
            <div class="division_title_middle">
                <p>Модели из этой серии</p>
            </div>
            <div class="division_title_right"></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="divisions related_divs" style="min-height: 210px; padding-left: 40px;">
        <?foreach ($this->collection as $related) {?>
        <?$division_path = $related->getDivisionUrl();
        $options = $related->getDefaultOptions();
        $division = ($division_path) ? "/cat/$division_path" : "/product";?>
            <div class="division_one_small">
                <div class="division_one_photo_small">
                    <a class="division_one_photo_small_a" href="<?=$division?>/<?=$related->url?>">
                        <?if ($options['akciya']->value){?>
                            <img class="action" src="/img/action_small.png" style="margin-top: -3px;" alt="Акция"/>
                        <?}?>
                        <center><img src="<?=$this->thumb('/pics/catalog/product/img/'.$related->img, 170, 135)?>" height="112" alt="" /></center>
                    </a>
                </div>
                <div class="division_one_description_small">
                    <div class="division_one_name_small">
                        <a href="<?=$division?>/<?=$related->url?>" title="<?=$this->escape($related->title_short);?>"><?=$related->title_short;?></a>
                    </div>
                    <div class="division_one_price_small">
                        <?if ($related->price > 0) {?>
                            Цена от: <br><span><?=number_format($related->price,0,',',' ')?> руб.</span>
                        <?} else {?>
                            <?if ($related->price_with_tr > 0) {?>
                                Цена от: <br><span><?=number_format($related->price_with_tr,0,',',' ')?> руб.</span>
                            <?} else {?>
                                Изучение спроса
                            <?}?>
                        <?}?>
                    </div>
                </div>
            </div>
        <?}?>
        <div class="clear"></div>
    </div>
</div>
<?}?>
<?if (count($this->related) != 0) {?>
    <div class="related_tovars">
        <div class="division division_mob_none">
            <div class="division_title">
                <div class="division_title_left"></div>
                <div class="division_title_middle">
                    <p>Похожие товары</p>
                </div>
                <div class="division_title_right"></div>
                <div class="clear"></div>
            </div>
        </div>
        
        <div class="clear"></div>
        <div class="listing_slider_cell product_slider_cell">
            <?foreach ($this->related as $related) {?>
                        <?$division_path = $related->getDivisionUrl();
                        $options = $related->getDefaultOptions();
                        $division = ($division_path) ? "/cat/$division_path" : "/product";?>
            <div class="division_one_small">
                <div class="division_one_photo_small">
                    <a class="division_one_photo_small_a" href="<?=$division?>/<?=$related->url?>">
                        <?if ($options['akciya']->value){?>
                            <img class="action" src="/img/action_small.png" style="margin-top: -3px;" alt="Акция"/>
                        <?}?>
                        <img height="112" alt="" src="<?=$this->thumb('/pics/catalog/product/img/'.$related->img, 170, 135)?>">
                    </a>
                </div>
                <div class="division_one_description_small">
                    <div class="division_one_name_small">
                        <a title="Трехместный диван Йорк" href="<?=$division?>/<?=$related->url?>"><?=$related->title_short;?></a>
                    </div>
                    <div class="division_one_price_small">
                        <?if ($related->price > 0) {?>
                                Цена от: <br /><span><?=number_format($related->price,0,',',' ')?> руб.</span>
                            <?} else {?>
                            <?if ($related->price_with_tr > 0) {?>
                                Цена от: <br /><span><?=number_format($related->price_with_tr,0,',',' ')?> руб.</span>
                            <?} else {?>
                                Изучение спроса
                            <?}?>
                        <?}?>
                    </div>
                </div>
            </div>
            <?}?>
        </div>
    </div>
<?}?>
<?$content = Blocks::getInstance()->getContentBySystemName('dostavka');?>
<? if ($content != '') {?>
    <div class="division division_mob_none">
        <div class="division_title" style="margin-left: -19px;">
            <div class="division_title_left"></div>
            <div class="division_title_middle">
                <p>Доставка</p>
            </div>
            <div class="division_title_right"></div>
            <div class="clear"></div>
        </div>
    </div>
    <?if ($this->packages != null && count($this->packages)>0) {?>
        <div class="pageTovarBlock pageTovarBlock_all">
            <div class="tovarZvWrap tovar_inner"><h2 style="text-align: center;">Доставка</h2></div>
            <div class="calc_content">
                <table class="calc_table">
                    <caption style="margin-bottom: 6px;">Габариты и масса для перевозки</caption>
                    <tr>
                        <th class="calc_1">&nbsp;Пакет</th>
                        <th class="calc_2">&nbsp;Габариты, мм</th>
                        <th class="calc_3">&nbsp;Масса, кг</th>
                    </tr>
                    <?
                    $total_weight = null;
                    $total_width = null;
                    $total_depth = null;
                    foreach ($this->packages as $key => $package):?>
                        <?$total_weight += $package->weight;?>
                        <?$widths []= $package->width_p;?>
                        <?$heights []= $package->height;?>
                        <?$total_depth += $package->depth;?>
                        <tr>
                            <td class="calc_1">&nbsp;<?if($package->cnt>1){echo $package->cnt.' x ';}?><?=$package->name?></td>
                            <td class="calc_2">&nbsp;<?=$package->width_p?> x <?=$package->depth?> x <?=$package->height?></td>
                            <?if($key == count($this->packages)-1):?>
                                <td class="calc_3" rowspan="<?=$this->packages->count()?>"><span id="span-total-weight"><?=$total_weight?></span></td>
                            <?endif?>
                        </tr>
                    <?endforeach?>
                    <input id="total-weight" type="hidden" value="<?=$total_weight?>"/>
                    <input id="total-width" type="hidden" value="<?=max($widths)/1000?>"/>
                    <input id="total-height" type="hidden" value="<?=max($heights)/1000?>"/>
                    <input id="total-depth" type="hidden" value="<?=$total_depth/1000?>"/>
                    <input id="total-volume" type="hidden" value="<?=($total_depth/1000) * (max($heights)/1000) * (max($widths)/1000)?>"/>
                </table>
                <div class="calc_select">
                    <label>Город получения груза</label>
                    <?=$this->towns;?>
                </div>
                <div class="calc_price" id="gruzcalc">Рассчитать стоимость</div>
                <div class="cargo_table" id="result-wrap"></div>
            </div>
        </div>
    <?}?>
<?}?>
<script type="text/javascript">
$(document).ready(function(){
    $("#gruzcalc").click(function(){
        var params =
            'places[0][]='+$('#total-width').val()+'&'+
            'places[0][]='+$('#total-height').val()+'&'+
            'places[0][]='+$('#total-depth').val()+'&'+
            'places[0][]='+$('#total-volume').val()+'&'+
            'places[0][]='+$('#total-weight').val()+'&'+
            'places[0][]='+1+'&'+
            'places[0][]='+1+'&'+
            'take[town]='+174796+'&'+
            'take[tent]='+0+'&'+
            'take[gidro]='+0+'&'+
            'take[speed]='+0+'&'+
            'take[moscow]='+1+'&'+
            'deliver[town]='+$('#town_1').val()+'&'+
            'deliver[gidro]='+0+'&'+
            'deliver[speed]='+0+'&'+
            'deliver[moscow]='+0+'&'+
            'plombir='+0+'&'+
            'strah='+0+'&'+
            'ashan='+0+'';

        $.get('http://pecom.ru/bitrix/components/pecom/calc/ajax.php?'+params,function(response){
            var data = $.parseJSON(response);
            if(data){
                var error = (data.error) ? data.error[0] : '';
                var result_content =
                '<h2 style="text-align: center;">Перевозка</h2>'+
                '<table class="calc_table">'+
                    '<caption style="margin-bottom: 6px;">Примерная стоимость перевозки</caption>'+
                    '<tbody>'+
                        '<tr>'+
                            '<th class="calc_1">&nbsp;Описание</th>'+
                            '<th class="calc_2">&nbsp;Дополнительно</th>'+
                            '<th class="calc_3">&nbsp;Стоимость</th>'+
                        '</tr>'+
                        '<tr>'+
                            '<td class="calc_1">&nbsp;'+data.take[0]+'</td>'+
                            '<td class="calc_2">&nbsp;'+data.take[1]+'</td>'+
                            '<td class="calc_3">&nbsp;'+(data.take[2]).toFixed(2)+' руб.</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td class="calc_1">&nbsp;'+data.auto[0]+'</td>'+
                            '<td class="calc_2">&nbsp;'+data.auto[1]+'</td>'+
                            '<td class="calc_3">&nbsp;'+(data.auto[2]).toFixed(2)+' руб.</td>'+
                        '</tr>' +
                        '<tr>'+
                            '<td class="calc_1">&nbsp;'+data.deliver[0]+'</td>'+
                            '<td class="calc_2">&nbsp;'+data.deliver[1]+'</td>'+
                            '<td class="calc_3">&nbsp;'+(data.deliver[2]).toFixed(2)+' руб.</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td class="calc_1">&nbsp;'+data.ADD[0]+'</td>'+
                            '<td class="calc_2">&nbsp;'+data.ADD[1]+'</td>'+
                            '<td class="calc_3">&nbsp;'+(data.ADD[2]).toFixed(2)+' руб.</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<th class="calc_4 calc_2" colspan="2">&nbsp;ВСЕГО</td>'+
                            '<th class="calc_5 calc_3"><b>&nbsp;'+(data.take[2]+data.auto[2]+data.deliver[2]+data.ADD[2]).toFixed(2)+' руб.</b></td>'+
                        '</tr>'+
                    '</tbody>'+
                '</table>'+data.periods+'<p class="error">'+error+'</p>'

                $('#result-wrap').empty().append(result_content);
            }
            else{
                $('#result-wrap').empty().append('<p class="error">К сожалению мы не можем предоставить Вам данные расчета, но вы можете обратиться по этому вопросу по телефону +7(495) 740-05-85</p>');
            }
        })
    });
});
</script>

