<?
$_cart = new Zend_Session_Namespace('cart');
$k=0;
$id = $this->unit->id;

?>
<?
$options = $this->options;
$materials_title = $this->isSoft ? "Варианты изготовления" : "Варианты изготовления";
$krashenie_title = $this->isSoft ? "Варианты крашения каркаса" : "Варианты крашения";
$decor_title = $this->isSoft ? "Варианты декоративных накладок" : "";
$transform_title = $this->isSoft ? "Механизм трансформации": "";
?>
<script type="text/javascript">
(function($) {
    $(function() {
        //$('select').selectbox();
        $(".one_option select").msDropDown();
        $('.dd').css({width: 230});
    })
})(jQuery);

</script>
<form action="">
        <?if($this->default_materials){?>
    <div class="one_option">
        <label><?=$materials_title?></label><br />
        <select name="material" id="material" id_tovar="<?=$this->unit->id_product?>">
            
            <?foreach ($this->default_materials as $material=>$value) {?>
            
            <option value="<?=$value['0']?>" <?if ($this->unit->material_ids == $value['0']) {?>
                <?echo 'selected';?>
                    unit="<?=$this->unit->id?>"
                <?}?>>
                <?=$value['1']?></option>
            <?}?>
        </select>
        <div class="option_information">
            <a id="mat_tip_image">
                <img src="/img/information.jpg" id="mat_descr" onmouseover="getMat()" onmouseout="hideMat()" alt=""/>
            </a>
            <div class="information_block" style="display:block">  
                <?php
                foreach ($this->default_materials as $material=>$value) {?>
		<?php if ($value['2'] != '') { ?>
                <div class="tooltip mat_block_<?=$value['0']?>" style="display: none">
                    <?=$value['2']?>
                </div>
                <?}}?>
            </div>
        </div>
        <div class="clear"></div>
    </div>
        <?}?>

    <?if ($this->default_colors){?>
    <div class="one_option">
        <label><?=$krashenie_title?></label><br />
        <select name="color" id="color" id_tovar="<?=$this->unit->id_product?>">
            <?foreach ($this->default_colors as $color=>$value) {?>
            <option value="<?=$value['0']?>" data-image="/pics/color/<?=$value['3']?>" <?if ($this->unit->color_ids == $value['0']) {?>
                <?echo 'selected';?>
                    unit="<?=$this->unit->id?>"
                <?}?>>
                <?=$value['1']?></option>
            <?}?>
        </select>
        <div class="option_information">
            <a id="color_tip">
                <img src="/img/information.jpg" onmouseover="getColor()" onmouseout="hideColor()" alt=""/>
            </a>
            <div class="information_block" style="display:block">
                <?foreach ($this->default_colors as $color=>$value) {?>
		<? if ($value['2'] != '') { ?>
                <div class="tooltip color_block_<?=$value['0']?>" style="display: none">
                    <?=$value['2']?>
                </div>
                <?}}?>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <?}?>

    <?if ($this->isSoft) {?>
        <?if($this->default_fabrics || $this->default_bitmaps){?>
    <div class="one_option">
        <label>Цвет</label><br />
        <select name="clr" id="clr" id_tovar="<?=$this->unit->id_product?>">
	    <?if ($this->default_bitmaps != null && $this->default_bitmaps) {?>
            <?foreach ($this->default_bitmaps as $bitmaps=>$value) {?>
            <option value="<?=$value['0']?>" just_type="bitmap" data-image="/pics/catalog/bitmaps/<?=$value['2']?>" <?if ($this->unit->bitmaps_ids == $value['0']) {?>
                <?echo 'selected';?>
                    unit="<?=$this->unit->id?>"
                <?}?>>
                <?=$value['1']?></option>
            <?}?>
	    <?}?>
	    <?if ($this->default_fabrics != null && $this->default_fabrics) {?>
            <?foreach ($this->default_fabrics as $fabrics=>$value) {?>
            <option value="<?=$value['0']?>" just_type="fabric" data-image="/pics/catalog/fabrics_gammas/<?=$value['2']?>" <?if ($this->unit->fabrics_ids == $value['0']) {?>
                <?echo 'selected';?>
                    unit="<?=$this->unit->id?>"
                <?}?>>
                <?=$value['1']?></option>
            <?}?>
	    <?}?>
        </select>
        <div class="option_information">
            <a id="clr_tip_image">
                <img src="/img/information.jpg" onmouseover="getClr()" onmouseout="hideClr()" alt=""/>
            </a>
            <div class="information_block" style="display:block">
                <?foreach ($this->default_fabrics as $fabrics=>$value) {?>
		<? if ($value['3'] != '') { ?>
                <div class="tooltip clr_block_<?=$value['0']?>" style="display: none">
                    <?=$value['3']?>
                </div>
                <?}}?>

            </div>
        </div>

        <div class="clear"></div>
    </div>
        <?}?>

        <?if($this->default_decors){?>
    <div class="one_option">
        <label><?=$decor_title?></label><br />
        <select name="decor" id="decor" id_tovar="<?=$this->unit->id_product?>">
            <?foreach ($this->default_decors as $decor=>$value) {?>
            <option value="<?=$value['0']?>" data-image="/pics/decor/<?=$value['3']?>" <?if ($this->unit->decor_ids == $value['0']) {?>
                <?echo 'selected';?>
                    unit="<?=$this->unit->id?>"
                <?}?>>
                <?=$value['1']?></option>
            <?}?>
        </select>

        <div class="option_information">
            <a id="decor_tip_image">
                <img src="/img/information.jpg" onmouseover="getDec()" onmouseout="hideDec()" alt=""/>
            </a>
            <div class="information_block" style="display:block">
                <?foreach ($this->default_decors as $decor=>$value) {?>
		<? if ($value['2'] != '') { ?>
                <div class="tooltip dec_block_<?=$value['0']?> " style="display: none">
                    <?=$value['2']?>
                </div>
                <?}}?>

            </div>
        </div>
        <div class="clear"></div>
    </div>
        <?}?>

        <?if($this->default_transformers){?>
    <div class="one_option">
        <label><?=$transform_title?></label><br />
        <select name="transformers" id="transformers" id_tovar="<?=$this->unit->id_product?>">
            <?if ($this->unit->only_transform == 0) {?>
                <option value="0" unit_id="<?=$this->unit->id?>">Нет</option>
                <?}?>
            <?foreach ($this->default_transformers as $transformer=>$value) {?>
            <option value="<?=$value['0']?>" <?if ($this->unit->transformer_ids == $value['0']) {?>
                <?echo 'selected';?>
                    unit="<?=$this->unit->id?>"
                <?}?>>
                <?=$value['1']?></option>
            <?}?>
        </select>
        <div class="option_information">
            <a id="transform_tip_image">
                <img src="/img/information.jpg" onmouseover="getTrans()" onmouseout="hideTrans()" alt=""/>
            </a>
            <div class="information_block" style="display:block">
                <?foreach ($this->default_transformers as $transformer=>$value) {?>
		<? if ($value['2'] != '') { ?>
                <div class="tooltip trans_block_<?=$value['0']?> " style="display: none">
                    <?=$value['2']?>
                </div>
                <?}}?>

            </div>
        </div>

        <div class="clear"></div>
    </div>
        <?}?>
        <?}?>
</form>
<?if(count($this->complect)>0){?>
        <div class="one_option">
            <div class="complect_title">
                <label>Модули в комплекте:</label>
            </div>
            <div class="complect">
		<?$i=0;?>
                <?foreach ($this->complect as $complect_item){?>
                <div class="complect_option">
                    <center><a href="/cat/<?=$complect_item->div_url?>/<?=$complect_item->url?>">
                        <img height="95px" src="<?=$this->thumb('/pics/catalog/product/img/'.$complect_item->img, 157, 111)?>" alt="<?=$complect_item->title?>" />
                    </a></center>
                    <p style="text-align: center; text-indent: 0px;">
                        <a href="/cat/<?=$complect_item->div_url?>/<?=$complect_item->url?>"><?=$complect_item->title?></a>
                    </p>
                </div>
		<?$i++;?>
		<?if ($i%2 == 0) {?><div class="clear"></div><?}?>
                <?}?>
                <div class="clear"></div>
            </div>
        </div>
        <?}?>
<?if($this->product->pr_length && $this->product->pr_width && $this->product->pr_height){?>
            <div class="tovar_info_title">
                <p>Габаритные размеры:</p>
            </div>
            <div class="tovar_description">
                <div class="gab_width"><p>Ширина: <?=$this->product->pr_width?> мм</p></div>
                <div class="gab_height"><p>Высота: <?=$this->product->pr_height?> мм</p></div>
                <div class="gab_depth"><p>Длина: <?=$this->product->pr_length?> мм</p></div>
                <?if ($this->product->pr_length2 > 0){?>
                <div class="gab_depth"><p>Длина в разложенном состоянии: <?=$this->product->pr_length2?> мм</p></div>
                <?}?>
            </div>
            <?}?>
            <?if($this->product->sl_length && $this->product->sl_width){?>
	    <div class="sleeping_place">
            <div class="tovar_info_title">
                <p>Спальное место:</p>
            </div>
            <div class="tovar_description">
                <div class="gab_width2"><p>Ширина: <?=$this->product->sl_width?> мм</p></div>
                <div class="gab_depth2"><p>Длина: <?=$this->product->sl_length?> мм</p></div>
            </div>
	    </div>
            <?}?>
<?if (($this->mebeltypes == 14) || ($this->mebeltypes == 15) || ($this->mebeltypes == 16) || ($this->mebeltypes == 17) || ($this->mebeltypes == 18) || ($this->mebeltypes == 31)) {?>
	    <!--<div class="photo3d">
		<a href="/3d_modeli" title="Выбери свой диван"><img style="width: 320px; margin: 10px;" src="/img/3d.jpg" alt=""/></a>
	    </div>-->
	<?}?>
<div style="height: 15px;"></div>
