<div id="left_block"  class="form_page">
				
							
							
							
							<form method="post" id="edit_form" action="<?=$this->currentModule?>/edit/<?=$this->item->id ? 'id/'.$this->item->id.'/' : ''?><?=$this->peoples_id ? 'peoples_id/'.$this->peoples_id.'/' : ''?>" enctype="multipart/form-data"  >
							<?if ($this->ok==1) {?>
								<p align="center"><font color="green"><b>Данные сохранены</b></font></p>
							<?} ?>							
							<?if ($this->err==1) {?>
								<p align="center"><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
							<?} ?>	
							
							<div class="content_block">
						       	<p class="form_name">Название* </p>
								<?=$this->formText('title', $this->item->title, array('onBlur'=>"fill_Blocks('title')")) ?>							
						       
						       	<p class="form_name">Url* </p>
								<?=$this->formText('url', $this->item->url) ?>							
						       
								
						        <p class="form_name">Проиоритет <span class="ser_text size11">(Чем больше значение, тем раньше элемент в списке)</span></p>
						        <?php echo $this->formText('priority', $this->item->priority, array('style'=>'width:100px'))?>
						        
						        <p class="form_name">Активность</p>
						        <?php echo $this->formCheckbox('active', null, array('checked'=>$this->item->active), array(1,0))?>
                                 
							</div>
							
							<div class="content_block">
								<h3><a href="#" title="Показать/Скрыть блок" class="show_hide" onclick="show_hide_block('seo_block', 'seo_block_img'); return false;"><span id="show-" ><img src="/img/admin/ico_show+.gif" alt="" id="seo_block_img" /></span> Seo</a></h3>
								<div id="seo_block" style="display: none;">
									 <p class="form_name">Title<span class="ser_text size11">(seo)</span></p>								
									 <?=$this->formText('seo_title', $this->item->seo_title) ?>
									
									 <p class="form_name">Keywords<span class="ser_text size11">(seo)</span></p>								
									<?=$this->formText('seo_keywords', $this->item->seo_keywords) ?>							
									
									
									 <p class="form_name">Description <span class="ser_text size11">(seo)</span></p>								
									<?=$this->formText('seo_description', $this->item->seo_description) ?>
								</div>
							</div> 	
							<div class="content_block">	
								<p class="form_name">Краткое описание</p>	
								<?php echo $this->formFck('intro', $this->item->intro, array('type'=>'Basic', 'height'=>'150px'))?>			
							
								<p class="form_name">Полное описание</p>
								<?php echo $this->formFck('content', $this->item->content)?>	
								
                                <p class="form_name">Иконка</p>
                            <p>
                                <?if ($this->item->img!='') { ?>
                                <p align="center">
                                    <img src="/pics/catalog/transformers/<?=$this->item->img ?>"><br>
                                    <input type="checkbox" name="delete_img" value="1" id="del_img">
                                    <label for="del_img">Удалить</label>
                                </p>
                                <?} ?>
                                <input type="file"   name="img"   />
                                </p>
							</div>
						
						      <div class="right">
						        <button class="orange" type="button" onclick="location.href='<?=$this->currentModule?>'"><span><em>Отменить</em></span></button>
						        <button  type="submit"><span><em>Сохранить</em></span></button>
						      </div>
														
													
														
							</form>
</div>
<div id="right_block">
      <div class="block_r gray">
        <h3><b>Действия</b></h3>
        <ul>
          <li><a href="<?=$this->currentModule?>/edit/">Создать элемент</a></li>
          <li><a href="<?=$this->currentModule?>">Вернутся к списку</a></li>
        </ul>        
      </div>      
  </div>							
							
