<?if(count($this->news)) {?>
        <?foreach($this->news as $new) {?>
    <div class="simple_news">
        <div class="news_date">
            <?=$this->dateFromDb($new['created_at']);?>
        </div>
        <div class="simple_news_title">
            <a href="/novosti/item/<?=$new['id']?>" class="head_news"><?=$new['name']?></a>
        </div>
        <div class="clear"></div>
        <div class="news_content">
            <?=$new['intro']?>
        </div>
    </div>
  <?}?>
<?}?>