<?if(count($this->item)) {?>
<style>
.h1 {margin-top: 40px;}
.ya_share {margin-top: 40px;}
</style>
<div class="review_title">
            <p><a href="/novosti">Новости</a></p>
</div>
<div class="single_news">
        <div class="text_news clearfix">
            <?=$this->item['content']?>
        </div>
        <div align="right" style="margin-top: 10px;">
            <?=$this->dateFromDb($this->item['created_at']);?>
        </div>
</div>
<?}?>
