<div class="news">
    <div class="width relative">
        <div class="head"><h3>Новости</h3></div>
        <div class="overflow">
            <?foreach($this->mainnews as $new){?>
            <div class="block">
                <div class="inner">
                    <b class="date"><?=$this->dateFromDb($new['created_at'])?></b>
                    <a class="zagl"  href="/newslist/item/<?=$new['id']?>"><?=$new['name']?></a>
                    <div class="text"><?=$new['intro']?></div>
                </div>
            </div>
            <?}?>
            <div class="clear"></div>
            <div class=" all_news"><a href="/newslist">Все новости</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>