<script type="text/javascript" src="/js/jquery/ui.core.js"></script>
<script type="text/javascript" src="/js/jquery/ui.datepicker.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function()
    {
        $("#datepicker").datepicker({ dateFormat: 'dd.mm.yy' });
    });
</script>

<script type="text/javascript" src="/js/translit.js"></script>

<div class="content">
    <div id="left_block" class="form_page">
        <?php if ($this->error) { ?>
        <span style="color:red; margin-left: 16px"><strong><?=$this->error?></strong></span>
            <?php } ?>
        <form class="user_form" id="editform" method="post" action="" enctype="multipart/form-data">
            <?if ($this->ok==1) {?>
            <p align="center"><font color="green"><b>Данные сохранены</b></font></p>
                <?} ?>
            <?if ($this->err==1) {?>
            <p align="center"><font color="red"><b>Заполните поля помеченные звездочкой</b></font></p>
                <?} ?>
            <?$item = $this->new; ?>
            <div class="content_block">
                <p class="form_name">Название *</p>
                <p>
                    <?=$this->formText('edit[name]', $this->item->name, array('class'=>'text', 'size'=>'90')) ?>
                </p>
				<p class="form_name">Системное имя</p>
                <p>
                    <?=$this->formText('edit[system_name]', $this->item->system_name, array('class'=>'text', 'size'=>'90')) ?>
                </p>
                <p class="form_name">Описание</p>
                <p>
                <?php echo $this->formFck('edit[intro]', $this->item->intro, array('type'=>'Basic', 'height'=>'150px'))?>
                </p>
                <p class="form_name">Приоритет</p>
                <p>
                    <?=$this->formText('edit[priority]', $this->item->priority, array('class'=>'text', 'size'=>'10')) ?>
                </p>
                <p class="form_name">Активна</p>
                <p>
                    <?=$this->formCheckbox('edit[active]', (int)$this->item->active, null, array(1,0)) ?>
                </p>
                <p class="form_name">Декор</p>
                <p>
                    <?=$this->formCheckbox('edit[is_decor]', (int)$this->item->is_decor, null, array(1,0)) ?>
                </p>
                <input type="hidden" name="id" value="<?=$this->item->id ?>">
            </div>

            <input style="display: none;" name="edit[id_page]" value="<?=$this->id_page ?>">
            <div class="right">
                <button onclick="location.href='<?=$this->currentModule ?>'; return false;" class="orange"><span><em>Отменить</em></span></button>
                <button onclick="getElementById('editform').submit()"><span><em>Сохранить</em></span></button>
            </div>
        </form>
    </div>
    <div id="right_block">
        <div class="block_r gray">
            <h3><b>Действия</b></h3>
            <ul>
                <li><a href="/catalog/ru/admin_bitmaps_items/index/group_id/<?=$this->item->id?>">Список элементов</a></li>
                <li><a href="<?=$this->currentModule?>/index/add/item">Добавить</a></li>
            </ul>
        </div>
    </div>
</div>
<br class="clear"/>


