<script>
    var delid;
    var pageid

    function go(id,page){

        delid=id;
        pageid = page;

        var sure = confirm("Вы действительно хотите удалить страницу?");
        if (sure) {
            window.location = "<?=$this->currentModul?>/delete/id/"+delid+"/id_page/"+"<?=$this->id_page?>";
            alert("Страница удалена");
        }
    }
</script>
<div id="company_main_head">
    <div class="clear"><!-- --></div>
    <div id="content">


        <div class="clear"><!-- --></div>
        <div id="left_block">
            <div class="prava_dostupa">
            <table id="news_table" cellspacing="0" cellpadding="0" border="0">
                <tr class="head">
                    <th>Картинка</th>
                    <th>Название</th>
                    <th style="width: 150px;">Приоритет</th>
                    <th style="width: 150px;"><b>Операции</b></th>

                </tr>
                <?php
                foreach ($this->all as $key => $data) {

                    ?>
                <tr>
                    <td><?if($data->img_big!='') {?>
                        <img src="/pics/catalog/bitmaps/<?=$data->img_big?>">
                                <?}?>
                    </td>
                    <td class="le_config">
                        <a  href ="<?=$this->currentModule?>/edit/id/<?=$data->id?>/<?=$this->group_id ? 'group_id/'.$this->group_id.'/' : '' ?>" title="редактировать"><strong><?=$data->name?></strong></a>
                    </td>
                    <td><?=$data->priority ?></td>
                    <td class="edit_config">
                        <a href = '<?=$this->currentModule?>/active/id/<?=$data->id?>/<?=$this->group_id ? 'group_id/'.$this->group_id.'/' : '' ?>page/<?=$this->current_page ?>' title="<?=$data->active==0 ? 'Опубликовать' : 'Скрыть' ?>"><img src="/img/admin/active_<?=$data->active ?>.gif" /></a>&nbsp;
                        <a href = '<?=$this->currentModule?>/edit/id/<?=$data->id?>/<?=$this->group_id ? 'group_id/'.$this->group_id.'/' : '' ?>'><img src="/img/admin/redact.gif" /></a>
                        <a href = '<?=$this->currentModule?>/delete/id/<?=$data->id?>/<?=$this->group_id ? 'group_id/'.$this->group_id.'/' : '' ?>page/<?=$this->current_page ?>' onclick="return confirm('Вы Уверены?');"><img src="/img/admin/delete.gif"></a>
                    </td>
                </tr>
                    <?php
                }
                ?>
            </table>
        </div>
            <div>Всего <?=$this->total?></div>
            <?=$this->pagination($this->currentModule.'/index/id_page/'.$this->id_page.'/group_id/'.$this->group_id.'/', (int)$this->total, (int)$this->onpage, $this->current_page); ?>

            <!-- / Навигация по страницам -->
        </div>
        <div id="right_block">
            <div class="block_r gray">
                <h3><b>Действия</b></h3>
                <ul>
                    <li class="active">Тестура</li>
                    <li><a href="<?=$this->currentModule?>/edit/<?=$this->group_id ? 'group_id/'.$this->group_id.'/' : '' ?>">Добавить</a></li>
                    <li><a href="/catalog/ru/admin_bitmaps_groups">Вернуться к списку групп</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

