<div id="left_block" style="width: 98%">
	<div class="block_r gray sync">
		<h3>Обновить наличие</h3>
		<p class="download">
			<input id="update-availability" type="button" value="Обновить">
			<img id="update-availability-img" src="/img/admin/download.gif">
			<span id="update-availability-result"></span>
		</p>
		<br/>
		<h3>Обновить цены</h3>
		<p class="download">
			<input id="update-price" class="empty" type="button" value="Выбрать файл">
			<img id="update-price-img" src="/img/admin/download.gif">
			<span id="update-price-result"></span>
		</p>
		<div id="modal-dialog" style="display: none">
			<a id="modal-dialog-close" href="<?=$this->currentModule?>">x</a>
			<div id="modal-reference-wrapper">
				<ul id="modal-references">
					<?php
					if($this->priceFiles){
						foreach($this->priceFiles as $link){
							if($link == '.' or $link == '..')continue;
							echo "<li><a href=\"#\">$link</a></li>";
						}
					}
					else{
						echo "<p style=\"margin-left:10px\">Папка не содержит необходимых файлов!</p>";
					}
					?>
				</ul>
			</div>
			<input id="get-reference" type="button" value="Выбрать" disabled="disabled" style="margin-left: 29px;padding: 3px;">
		</div>
	</div>
</div>

<script type="text/javascript">
	(function($) {
		$('#update-availability').click(function(){
			$('#update-availability-img').show();
			var condition = 'availability';
			$.get("<?=$this->currentModule?>/update-data?condition="+condition,function(result){
				var data = JSON.parse(result)
				$('#update-availability-img').hide();
				$('#update-availability-result').text(data.message);
			});
		});
		$('#update-price').click(function(){
			if($(this).hasClass('empty')){
				$('#update-price-result').empty();
				$('body').append('<div class="modal-dialog-wrapper"></div>');
				$('#modal-dialog').show();
			}
			else{
				$('#update-price-img').show();
				var file = $('#update-price-result').text();
				var condition = 'prices';
				$.get("<?=$this->currentModule?>/update-data?file="+file+"&condition="+condition,function(result){
					var data = JSON.parse(result)
					$('#update-price-img').hide();
					$('#update-price-result').text(data.message);
					$('#update-price').addClass('empty').val('Выбрать файл');
				});
			}
		});

		$('#modal-references li').hover(
			function(){
				$(this).children().addClass('white');
			},
			function(){
				$(this).children().removeClass('white');
			}
		);

		$('#modal-references li').click(function(){
			$('#modal-references li a').removeClass('selected');
			$(this).children().addClass('selected');
			$('#get-reference').attr({'disabled':false});
		});
		$('#modal-references li').dblclick(function(){
			$('#modal-dialog').hide();
			$('.modal-dialog-wrapper').hide();
			$('#update-price-result').text($('.selected').text());
			$('#update-price').removeClass('empty').val('Обновить цены');
		});

		$('#get-reference').click(function(){
			$('#modal-dialog').hide();
			$('.modal-dialog-wrapper').hide();
			$('#update-price-result').text($('.selected').text());
			$('#update-price').removeClass('empty').val('Обновить цены');
		});
	})(jQuery);
</script>